<%
var url = locals.url ? locals.url : '../../';
%>

    <div class="cptFooterEn">
        <div class="addressGroup">
            <div class="alignL">
                <div class="adressBox">
                    <div class="adressLine"><span>721, Gwangmyeong-ro, Gwangmyeong-si, Gyeonggi-do, Republic of Korea</span></div>
                </div>
            </div>
            <div class="alignR">
                <div class="siteBox">
                    <button type="button" class="siteSltBtn">Family site</button>
                    <ul class="siteGroup">
                        <li class="item"><a href="http://www.kspo.or.kr" target="_blank">국민체육진흥공단</a></li>
                        <li class="item"><a href="http://www.kboat.or.kr" target="_blank">KBOAT 경정</a></li>
                        <li class="item"><a href="http://www.parktel.co.kr" target="_blank">서울올림픽파크텔</a></li>
                        <li class="item"><a href="http://gs.ecolian.or.kr/intro/html/intro.asp" target="_blank">에콜리안골프장</a></li>
                        <li class="item"><a href="http://www.sports.re.kr" target="_blank">한국스포츠정책과학원</a></li>
                        <li class="item"><a href="http://www.ksponco.or.kr" target="_blank">한국체육산업개발(주)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="copyGroup">
            <span class="copy">© K-Cycling K-Boating. ALL RIGHT RESERVED.</span>
        </div>
    </div>