
<style>
@font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.guideBox {margin-top:40px;}
.guideTitle {font-size:18px; font-weight:500;}
.guideCont {margin-top:10px;}
.gGroup {margin-top:20px;}
.gText {font-size:14px;}
.gView {padding:10px; border:1px solid #bbbbbb; background:#fff;}
</style>

<div class="cptPubGuide">
<div class="guideArea">

<!-- 가이드 그룹 -->
<div class="guideBox">
<div class="guideTitle">게시판 상세보기</div>
<div class="guideCont">
<div class="gText">
    일반 게시판 상세보기 공통 콤포넌트 입니다.
    <br>
</div>
<div class="gGroup">
<div class="gView"></div>
<div class="gCode">
<pre><code class="xml" style="font-size:14px; letter-spacing:1.5px; font-family: 'D2Coding'"></code></pre>
<textarea class="codeGuide" style="display:none;">


<div class="cptBoardView">
    <div class="boardViewArea">
        <div class="viewTop">
            <i class="noti">
                <span class="mark">공지</span>
                <span class="mark ing">진행중</span>
                <span class="mark">종료</span>
            </i>
            <h2 class="viewTitle">24년 전반기 경정 최강자를 가린다. 체육 공단 이사장배 왕중왕전 19~20일 양일간 열려</h2>
            <ul class="info">
                <li class="item">2024.07.05</li>
                <li class="item">경륜심판팀</li>
                <li class="item">조회수 : 200</li>
            </ul>

        </div>
        <div class="comFileDownload">
            <dl class="fileGroup">
                <dt class="fileTitle">첨부파일</dt>
                <dd class="fileArea">
                    <ul class="fileList">
                        <li class="download"><a href="#">(공지용) 경륜 선수단 리스트.hwp</a></li>
                        <li class="download"><a href="#">경륜자전거 업사이클링 디자인 공모전 개최 안내.pdf</a></li>
                        <li class="download"><a href="#">(공지용) 경륜 선수단 리스트.hwp</a></li>
                        <li class="download"><a href="#">(공지용) 경륜 선수단 리스트리스트리스트.hwp</a></li>
                        <li class="download"><a href="#">(공지용) 경륜 선수단 리스트.hwp</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="viewBody">
            <div class="viewContArea">
                컨텐츠 영역입니다.
            </div>
        </div>

        <div class="comPrevNext">
            <dl>
                <dt>이전글</dt>
                <dd><a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 한글50자 까지 나열됩니다뉴스 한글50자 까지 나열됩니다 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스</a> </dd>
            </dl>
            <dl>
                <dt>다음글</dt>
                <dd><a href="#">스포츠동아배 대상경륜 기념 고객 사은행사 '예상지 드림2' 안내</a></dd>
            </dl>
        </div>

        <div class="comBtnGroup">
            <div class="alignR">
                <div class="btnBox min">
                    <button class="btn dkLine">목록보기</button>
                </div>
            </div>
        </div>

    </div>
</div>



</textarea>
</div>
</div>
</div>
</div>
<!-- //가이드 그룹 -->

</div>
</div>

    
<script>
    run();
</script>
    
        