
<style>
@font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.guideBox {margin-top:40px;}
.guideTitle {font-size:18px; font-weight:500;}
.guideCont {margin-top:10px;}
.gGroup {margin-top:20px;}
.gText {font-size:14px;}
.gView {padding:10px; border:1px solid #bbbbbb; background:#fff;}
</style>

<div class="cptPubGuide">
<div class="guideArea">

<!-- 가이드 그룹 -->
<div class="guideBox">
<div class="guideTitle">서브 콘텐츠 상단 공통</div>
<div class="guideCont">
<div class="gText">
    서브 콘텐츠 상단 공통 부분입니다.
</div>
<div class="gGroup">
<div class="gView"></div>
<div class="gCode">
<pre><code class="xml" style="font-size:14px; letter-spacing:1.5px; font-family: 'D2Coding'"></code></pre>
<textarea class="codeGuide" style="display:none;">
     
<div class="cptSubTop">
    <div class="subTopArea">
        <ul class="location">
            <li class="item"><a href="#">홈</a></li>
            <li class="item"><a href="#">경륜 라이브러리</a></li>
            <li class="item"><a href="#">경륜가이드</a></li>
            <li class="item"><a href="#">경륜 알아보기</a></li>
        </ul>
        <div class="subTitle"><h1>경륜 경주 규칙</h1></div>
        <div class="subText"><p>새로운 참여형 레저 스포츠, <b>경륜</b>에 대해 알려드릴게요</p></div>
        <ul class="addFunc">
            <li class="item print">
                <button class="btnPrint">프린트</button>
            </li>
            <li class="item share">
                <button class="btnShare">공유</button>
            </li>
        </ul>
    </div>
</div>

</textarea>
</div>
</div>
</div>
</div>
<!-- //가이드 그룹 -->

</div>
</div>

    
<script>
    run();
</script>
    