/* ----------------------------------- 모드 탭 ----------------------------------- */
//모바일, 태블릿, PC 모두 100%인경우  noClass
//모바일만 슬라이드                   toMob
//모바일, 태블릿만 슬라이드           toTab
//모바일, 태블릿, PC 모두 슬라이드    toAll

.modTab {
    width: 100%; margin-top: 60px; position: relative;
    &:first-child {margin-top:0;}
    .tabMenuGroup{
        width: 100%; padding: 0 20px; overflow: hidden;
        .tabMenu {
            width: 100%; display: flex;
            .tabItem {
                width: 100%; flex-shrink: 1; display: flex; justify-content: center;
                .tabName {
                    width: 100%; height: 56px; padding: 0 40px; color: var(--Gray-600); font-size: rem(18px); font-weight: 400; line-height: 1.6; background:#fff;
                    border-bottom: 2px solid var(--Gray-150); align-content: center; position: relative; 
                }
                .tabName.on {
                    font-weight: 700;  color: var(--Gray-800);
                    &::before {content:''; width: 100%; height: 4px; background: var(--Gray-800); position: absolute; left: 0; bottom: -2px; }
                }
                .tabName.outlink {
                    &::after {content:''; width: 16px; height: 16px; margin-left: 4px; vertical-align: middle; background: url(../../images/common/ic_link_blank.svg) center no-repeat; display: inline-block; }
                }
            }
        }
        &.toAll {
            .tabMenu {
                .tabItem {
                    width: max-content; min-width: auto; white-space: nowrap;
                }
            }
            & ~ .tabDirection {display: block;}
        }
        @include media('pcs') {      
            &.toAll {
                .tabMenu {
                    .tabItem {
                        //가로길이 변경
                    }
                }
            } 
            &.toTab {
                .tabMenu {
                    .tabItem {
                        width: 250px; min-width: 240px;
                    }
                }
                & ~ .tabDirection {display: block;}
            }
        }
        @include media('mobile') {   
            &~ .tabDirection button {opacity: 0; transition: opacity 0.3s; transition-delay: 0.5s;}
            &.on ~ .tabDirection button {opacity: 1; transition: opacity 0.1s; transition-delay: 0;}
            .tabMenu {
                .tabItem {
                    .tabName {
                        padding: 0 16px; font-size: rem(16px); border-bottom: 1px solid var(--Gray-150);
                    }
                    .tabName.on {
                        &::after {height: 2px; bottom: -1px; }
                    }
                }   
            }
            &.toAll {
                .tabMenu {
                    .tabItem {
                        width: 180px;
                    }
                }
            } 
            &.toTab {
                .tabMenu {
                    .tabItem {
                        width: 180px; min-width: 180px;
                    }
                }
            }
            &.toMob {
                .tabMenu {
                    .tabItem {
                        width: 180px; min-width: 180px;
                    }
                }
                & ~ .tabDirection {display: block;}
            }
        }
    }
    .tabDirection {
        width: 100%; position: absolute; left: 0; top: 0; z-index: 1; display: none;
        .tabBtn {
            width: 32px; height: 56px; padding-top:12px; position: absolute; top: 0;
            &::before {content:''; width: 77px; height: 56px; position: absolute; top: 0; pointer-events: none;}
            &.alignL {
                left: -5px;
                &::before {left: 0; background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 11.84%, #FFF 66.94%);}
            }
            &.alignR {
                right: -5px;
                &::before {right: 0; background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 11.84%, #FFF 66.94%);}
            }
            button {
                width: 32px; height: 32px; font-size: 0; border-radius: 8px; border: 1px solid var(--Bg-Line-line-100); position: relative; z-index: 1;
                &.prev {
                    background:#fff url(../../images/common/ic_20_tab_left.svg) center no-repeat;
                }
                &.next {
                    background:#fff url(../../images/common/ic_20_tab_right.svg) center no-repeat;
                }
            }
        }
        @include media('mobile') {
            pointer-events: none;
            .tabBtn {
                padding-top:18px;
                &::before {content:''; width: 50px; height: 54px;}
                &.alignL {
                    padding-left: 12px; left: 0;
                }
                &.alignR {
                    padding-right: 12px; right: 0;
                }
                button {
                    width: 20px; height: 20px; border-radius: 4px;
                    &.prev {
                        background:#fff url(../../images/common/ic_16_tab_left.svg) center no-repeat;
                    }
                    &.next {
                        background:#fff url(../../images/common/ic_16_tab_right.svg) center no-repeat;
                    }
                }
            }
        }
    }
    .tabContianer {
        margin-top: 60px;
        .tabCont {display:none;}
        .tabCont.on {display:block;}
    }

    // 모바일 조건 추가
    @include media('mobile') {
        &.mView_mgH40 { // margin-top: 40px 인 경우 적용
            margin-top: 40px;
            .tabContianer {margin-top: 40px;}
        } 
    }
    
}