/* --------------------------- 팝업 --------------------------- */
.modPopup {
    width:100%; height:100%; display:none; justify-content:center; align-items:center; position:fixed; left:50%; top:50%; z-index:1000; transform:translate(-50%,-50%); 

    *:hover::-webkit-scrollbar-thumb {
        background: rgba(87, 87, 87, 0.54);
    }
    *::-webkit-scrollbar {width:30px; padding:10px}
    *::-webkit-scrollbar-thumb {padding:10px; border: 12px solid #fff; border-radius: 15px; background: rgba(87, 87, 87, 0.2);/* box-shadow: inset 6px 6px 0 rgba(87, 87, 87, 0.54); */ }
    *::-webkit-scrollbar-track{background-color: rgba(0,0,0,0);}
    &.on {
        display:flex;
        .popupDim {
            opacity:0; animation: popOpenDimd 0.2s linear forwards;
            @keyframes popOpenDimd { 0% {opacity:0;} 100% {opacity:1;} }
        }

        .popupArea {
            .popupInMotion {
                opacity:1; transform:scale(0.7); animation: popOpenScale 0.3s linear forwards;
                @keyframes popOpenScale { 0% {opacity:0; transform:scale(0.7);} 100% {opacity:1; transform:scale(1);} }
            }
        }
    }
    .popupDim {
        width:100%; height:100%; font-size:0; background:rgba(0,0,0,0.8); position:fixed; left:0; top:0;
    }
    .popupArea {
        width: 100%; height: auto; max-height: calc(100% - 64px);
        .popupInMotion {width:100%; height: 100%;}
        .popupContainer {width:100%; height: 100%; max-height: calc(100vh - 64px); border-radius: 16px; overflow:hidden;}
        .popupContArea {
            width: 100%; height: 100%; max-height: calc(100vh - 64px); padding-bottom: 32px; position:relative; background:#fff; display: flex; flex-direction: column;
            .btnPopClose {
                width:44px; height:44px; font-size:0; border:0; background:url(../../images/common/ic_24_pop_close.svg) center no-repeat; 
                position:absolute; right:22px; top:10px; z-index:10;
            }
            .popTitle {
                width:100%; min-height:64px; padding:20px 88px 20px 32px; font-size:rem(18px); font-weight:700; color: var(--Gray-900, #111); line-height: 1.3;
                border-bottom: 1px solid var(--Bg-Line-line-100); position:relative; word-break:keep-all;
                &.shadow {box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);}
            }
            .popCont {width:100%; max-height:calc(100vh - 214px); padding:32px 2px 0 32px; overflow:auto; overflow-y: scroll;}
            .popBtm {
                padding:20px 40px 0; display:flex; justify-content:flex-end;
                &.division {justify-content:space-between;}
                .btn {padding:0 10px; height: 30px; margin-left:2px; font-size: 14px; font-weight: 400; white-space: nowrap; border-radius: 4px;}
            }
        }
    }
    &.md .popupArea {max-width:600px;}
    &.lg .popupArea {max-width:960px;}
}
