/* --------------------------- 팝업 Large --------------------------- */
.modPopup {
    width:100%; height:100%; display:none; justify-content:center; align-items:center; position:fixed; left:0; top:0; z-index:1000;

    @include minWidth('mobile'){
        *:hover::-webkit-scrollbar-thumb {
            background: rgba(87, 87, 87, 0.54);
        }
        *::-webkit-scrollbar {width:30px; padding:10px; background-color: #fff;}
        *::-webkit-scrollbar-thumb {padding:10px; border: 12px solid #fff; border-radius: 15px; background: rgba(87, 87, 87, 0.2);/* box-shadow: inset 6px 6px 0 rgba(87, 87, 87, 0.54); */ }
        *::-webkit-scrollbar-track{background-color: rgba(0,0,0,0);}
    }
    &.on {
        display:flex;
        .popupDim {
            opacity:0; animation: popOpenDimd 0.2s linear forwards;
            @keyframes popOpenDimd { 0% {opacity:0;} 100% {opacity:1;} }
        }

        .popupArea {
            .popupInMotion {
                opacity:1; //transform:scale(0.7); animation: popOpenScale 0.3s linear forwards;
                @keyframes popOpenScale { 0% {opacity:0; transform:scale(0.7);} 100% {opacity:1; transform:scale(1);} }
            }
        }
    }
    .popupDim {
        width:100%; height:100%; font-size:0; background:rgba(0,0,0,0.8); position:fixed; left:0; top:0;
    }
    .popupArea {
        width: 100%; height: auto; max-height: calc(100% - 200px);
        .popupInMotion {width:100%; height: 100%;}
        .popupContainer {width:100%; height: 100%; max-height: calc(100vh - 200px); border-radius: 16px; overflow:hidden;}
        .popupContArea {
            width: 100%; height: 100%; max-height: calc(100vh - 200px); padding-bottom: 40px; position:relative; background:#fff; display: flex; flex-direction: column;
            .btnPopClose {
                width:44px; height:44px; font-size:0; border:0; background:url(../../images/common/ic_24_pop_close.svg) center no-repeat; 
                position:absolute; right:22px; top:10px; z-index:10;
            }
            .popTitle {
                width:100%; min-height:64px; padding:20px 88px 20px 32px; font-size:rem(18px); font-weight:700; color: var(--Gray-900, #111); line-height: 1.3;
                border-bottom: 1px solid var(--Bg-Line-line-100); position:relative; word-break:keep-all;
                &.shadow {box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);}
            }
            .popCont {
                width:100%; max-height:calc(100vh - 304px); padding:28px 2px 0 32px; overflow:auto; overflow-y: scroll;
                .popSubTitle {
                    color: var(---Primary, #078B7B);font-size: rem(20px);font-weight: 700;line-height: 140%; /* 28px */
                    & + .comFormTable {margin-top: 12px;}
                }     
                .comPrivacyBox {
                    margin-top: 48px;
                    .infoBox .boxCont {
                        .comNumList {
                            > .listGroup {
                                margin-top: 0;
                                > .item {
                                    padding-left: 0;
                                    font-weight: 400;
                                    &:before {display: none;}
                                    .txt {margin-top: -4px;}
                                    &.space {
                                        padding-left: 24px;margin-top: 0;
                                        .anno {margin-top: 0;}
                                    }
                                    .listGroup {margin-top: 8px;}
                                }
                            }
                        }
                    }
                }
            }
            .popBtm {
                padding:20px 40px 0; display:flex; justify-content:flex-end;
                &.division {justify-content:space-between;}
                .btn {padding:0 10px; height: 30px; margin-left:2px; font-size: 14px; font-weight: 400; white-space: nowrap; border-radius: 4px;}
            }
        }
        @media screen and (min-width: 768px) {
            .comFormTable {
                & + .popSubTitle {margin-top: 48px;}
                .tableArea table tbody {
                    th {
                        padding: 16px 0 16px 24px;
                        &.interval {padding-top: 30px;}
                    }
                    td {
                        padding: 16px 24px 16px 0px;
                    }
                    .iptTextArea {line-height: 140%;}
                }
            }
        }
    }
    &.md .popupArea {max-width:600px;}
    &.lg .popupArea {max-width:960px;}

    @include media('mobile') {
        .popupArea {
            height: 100%; max-height: none;
            .popupInMotion {
                animation: none;
            }
            .popupContainer {
                max-height: none; border-radius: 0;
            }
            .popupContArea {
                max-height: none; padding-bottom: 0;
                .btnPopClose {

                }
                .popTitle {
                    min-height:65px; padding:20px 40px 20px 16px; font-size:rem(20px); line-height: 1.4;
                }                
            }
        }
        .comFormTable {
            .tableArea table tbody tr:last-child {padding-bottom:32px;border-bottom: 1px solid var(--Bg-Line-line-200, #EDEDED);}
            & + .popSubTitle {margin-top: 40px;}
            *::placeholder,
            select.iptSlt {font-size: rem(18px);}
            .iptTextArea {line-height: 160%;}
        }

    }
}

/* --------------------------- 팝업 midium --------------------------- */
.modMdPopup {
    width:100%; height:100%; display:none; justify-content:center; align-items:center; position:fixed; left:50%; top:50%; z-index:1000; transform:translate(-50%,-50%); 
    
    @include minWidth('mobile'){
        *:hover::-webkit-scrollbar-thumb {
            background: rgba(87, 87, 87, 0.54);
        }
        *::-webkit-scrollbar {width:30px; padding:10px; background-color: #fff;}
        *::-webkit-scrollbar-thumb {padding:10px; border: 12px solid #fff; border-radius: 15px; background: rgba(87, 87, 87, 0.2);/* box-shadow: inset 6px 6px 0 rgba(87, 87, 87, 0.54); */ }
        *::-webkit-scrollbar-track{background-color: rgba(0,0,0,0);}
    }

    &.on {
        display:flex;
        .popupDim {
            opacity:0; animation: popOpenDimd 0.2s linear forwards;
            @keyframes popOpenDimd { 0% {opacity:0;} 100% {opacity:1;} }
        }
    }
    .popupDim {
        width:100%; height:100%; font-size:0; background:rgba(0,0,0,0.8); position:fixed; left:0; top:0;
    }
    .popupArea {
        width: 600px; height: auto; max-height: calc(100% - 200px);
        .popupContainer {width:100%; height: 100%; max-height: calc(100vh - 200px); border-radius: 16px; overflow:hidden;}
        .popupContArea {
            width: 100%; height: 100%; max-height: calc(100vh - 200px); padding-bottom: 40px; position:relative; background:#fff; display: flex; flex-direction: column;
            .btnPopClose {
                width:24px; height:24px; font-size:0; border:0; background:url(../../images/common/ic_24_pop_close_w.svg) center no-repeat; 
                position:absolute; right:32px; top:16px; z-index:10;
            }
            .popTitle {
                width:100%; min-height:60px; padding:16px 56px 16px 32px; font-size:rem(20px); font-weight:700; color: #fff; line-height: 1.4;
                background: var(--Point-Primary2); position:relative; word-break:keep-all;
            }
            .popCont {
                width:100%; max-height:calc(100vh - 304px); padding:32px 2px 0 32px; overflow:auto; overflow-y: scroll;
                // 지점정보 위치보기 추가
                .modMdPopupBranch {
                    .addrTxt {font-size: rem(18px); line-height: 1.6; color: var(--Gray-800); margin-top: 12px;}
                    .comTitH2.bk h2 {
                        display: flex; align-items: center; gap: 8px;
                        &::before {content:''; display: block; width: 20px; height: 24px; background: url(../../images/contents/cont08_03_01_branchIcon.svg) no-repeat center;}
                    }
                    .mapInfo {
                        margin-top: 16px;
                        img {max-width: 100%; height: auto; display: block;} // 예시 이미지
                    }
                }
                // 시설안내 위치보기 추가
                .modPopupFacInfo {
                    img {max-width: 100%; height: auto; display: block;}
                }          
                // 시설안내 안내 팝업 중 font-size:20px인 타이틀
                .modMdPopup_Tit20 {font-size: rem(20px); font-size: 700; line-height: 1.4; margin-bottom: 32px; color: var(---Primary); font-weight: 700;} 
            }
            .popBtm {
                padding:20px 32px 0; display:flex; justify-content:flex-end;
                &.division {justify-content:space-between;}
            }
        }
    }
    @include media('mobile') {
        &.on {
            .popupArea {
                animation: 0.5s upPop; animation-fill-mode: forwards;
                @keyframes upPop { 0% { bottom:-100%;} 100% { bottom: 0;  }}
            }
        }
        .popupArea{
            width: 100%; max-height: calc(100dvh - 160px); display: flex; justify-content: center; position: absolute; left: 0; bottom: -100%; z-index: 10;
            animation: 0.5s downPop; animation-fill-mode: forwards;
            @keyframes downPop {0% { bottom:0; } 100% { bottom:-100%; }}

            .popupContainer {max-height: calc(100dvh - 160px); border-radius: 16px 16px 0 0;}
            .popupContArea {
                max-height: calc(100dvh - 160px); padding-bottom: 16px;
                .btnPopClose {
                    background:url(../../images/common/ic_24_pop_close.svg) center no-repeat; right:24px; top:20px;
                }
                .popTitle {
                    min-height:64px; padding:20px 24px 0; font-size:rem(18px); font-weight:600; color: var(--font-900); line-height: 1.3;
                    border-bottom: 1px solid var(--Bg-Line-line-200); background: #fff; 
                }
                .popCont {
                    width:100%; max-height:calc(100dvh - 224px); padding:20px 24px 0; overflow:auto;
                    // 지점정보 위치보기 추가
                    .modMdPopupBranch {
                        .addrTxt {font-size: rem(16px); margin-top: 8px;}
                        .mapInfo {margin-top: 20px;}
                    }
                    // 시설안내 안내 팝업 중 font-size:20px인 타이틀
                    .modMdPopup_Tit20 {font-size: rem(18px); margin-bottom: 24px;}
                }
                .popBtm {
                    padding:24px 24px 0; display:flex; justify-content:flex-end;
                    &.division {justify-content:space-between;}
                }
            }
        } 
    }
}
/* --------------------------- 로딩중 --------------------------- */
.modSmPopup {
    width:100%; height:100%;
    display:none; justify-content:center; align-items:center;
    position:fixed; left:50%; top:50%; z-index:1000; transform:translate(-50%,-50%); 
    &.on {
        display:flex;
        .popupDim {
            opacity:0; animation: popOpenDimd 0.2s linear forwards;
            @keyframes popOpenDimd { 0% {opacity:0;} 100% {opacity:1;} }
        }
    }
    .popupDim {
        width:100%; height:100%; font-size:0;
        position:fixed; left:0; top:0;
        background: rgba(0, 0, 0, 0.25);
    }
    .popupArea {
        width: 312px;
        .popupContainer {
            overflow:hidden;position:relative;background:#fff;border-radius: 16px;
            .popupContArea {
                display: flex;align-items: end;justify-content: center; width: 100%;height: 100%;min-height: 312px;
                .popCont {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap:28px;
                    padding-bottom: 28px;
                    .popTitle {
                        text-align: center;
                        h2 {
                            color: var(--Gray-800, #2C2C2C);font-size: rem(18px);font-weight: 500;line-height: normal;letter-spacing: -0.36px;
                            & + p {margin-top: 12px;}
                        }
                        p {color: var(--Gray-600, #58595F);font-size: rem(15px);font-weight: 400;line-height: 160%; /* 24px */}
                    }
                }
            }
        }
    }
    @include media('mobile') {
        
    }
}

/* --------------------------- 팝업 Alert --------------------------- */
.modAlertPopup {
    width:100%; height:100%; display:none; justify-content:center; align-items:center; position:fixed; left:0; top:0; z-index:1000;

    &.on {
        display:flex;
        .popupDim {
            opacity:0; animation: popOpenDimd 0.2s linear forwards;
            @keyframes popOpenDimd { 0% {opacity:0;} 100% {opacity:1;} }
        }

        .popupArea {
            .popupInMotion {
                opacity:1; //transform:scale(0.7); animation: popOpenScale 0.3s linear forwards;
                @keyframes popOpenScale { 0% {opacity:0; transform:scale(0.7);} 100% {opacity:1; transform:scale(1);} }
            }
        }
    }
    .popupDim {
        width:100%; height:100%; font-size:0; background:rgba(0,0,0,0.8); position:fixed; left:0; top:0;
    }
    .popupArea {
        width: calc(100% - 32px); max-width: 360px; height: auto; max-height: calc(100% - 200px); margin: 0 auto;
        .popupInMotion {width:100%; height: 100%;}
        .popupContainer {width:100%; height: 100%; max-height: calc(100vh - 200px); border-radius: 16px; overflow:hidden;}
        .popupContArea {
            width: 100%; height: 100%; max-height: calc(100vh - 200px); padding-bottom: 40px; position:relative; background:#fff; display: flex; flex-direction: column;
            .btnPopClose {
                width:44px; height:44px; font-size:0; border:0; background:url(../../images/common/ic_24_pop_close.svg) center no-repeat; 
                position:absolute; right:22px; top:10px; z-index:10;
            }
            .popCont {
                width:100%; max-height:calc(100vh - 304px); padding:40px 16px 0; overflow:auto; overflow-y: scroll;
                .alertTit {margin-bottom: 16px; font-size: rem(20px); font-weight: 700; color: var(--Gray-800); text-align: center;}
                .alertDt {font-size: rem(16px); color: var(--Gray-800);text-align: center;}
            }
            .popBtm {
                padding:36px 40px 0; display:flex; justify-content:center;
                &.division {justify-content:space-between;}
                .btn {padding:0 24px; height: 48px; margin-left:2px; font-size: rem(16px); font-weight: 400; white-space: nowrap; border-radius: 8px;}
            }
        }
    }
}