
/* -------------------------------- 이전글/다음글 -------------------------------- */
.comPrevNext {
    width: 100%; padding: 24px 32px; border-bottom: 1px solid var(--Bg-Line-line-100); display: flex; flex-wrap: wrap; gap: 20px;
    &.addLine {margin-top: 40px; border-top: 1px solid var(--Bg-Line-line-100);}
    dl {
        width: 100%; display: flex;
        dt {
            width: 160px; min-width: 160px; height: 26px; color: var(--Gray-800); font-size: rem(16px); font-weight: 700; line-height: 1.6; display: flex;
            &::after {content:""; width: 16px; height: 16px; margin-left: 12px; background: url(../../images/common/ic_16_page_prev.svg) center no-repeat; display: inline-block; align-self: center;}
        }
        dd {
            width: calc(100% - 160px); display: flex; justify-content: space-between;
            a {width: calc(100% - 110px); color: var(--Gray-700); font-size: rem(16px); font-weight: 400; line-height: 1.6; @include line1();}
            .date {width: 110px; color: var(--Gray-600); font-size: rem(16px); font-weight: 300; font-style: normal; text-align: right; line-height: 1.6; display: block;}
        }
        &:last-child {
            dt {
                &::after {background: url(../../images/common/ic_16_page_next.svg) center no-repeat;}
            }
        }
    }
    @include media('mobile') {
        padding: 20px 16px; gap: 16px;
        dl {
            dt {
                width: 90px; min-width: 90px; height: 24px; font-size: rem(15px); font-weight: 500;
            }
            dd {
                width: calc(100% - 90px); font-size: rem(15px);
                a {width: calc(100% - 90px); font-size: rem(15px);}
                .date {width: 90px; font-size: rem(15px);}
            }
        }
    }
}