.comNoneData {
    padding: 100px 0;
    .noneTxt {padding-top: 84px; text-align: center; font-size: rem(18px); font-weight: 700; color: var(--Gray-800); line-height: 1.4; background: url(../../images/common/ic_64_none_data.svg) top center no-repeat;}
}