/* --------------------------- 서브페이지 안내 --------------------------- */
.comSubInfo {
    min-height: 48px; padding: 0 0 40px 80px; margin-top: 60px; border-bottom: 1px solid var(--Gray-150); position: relative;
    &:first-child {margin-top: 0;}
    &::after {display: block; content: ""; width: 48px; height: 48px; border-radius: 4px; background: var(--Primary) url(../../images/common/ico_info_bicycle.svg) center no-repeat; position: absolute; top: 0; left: 0;}
    .infoTit { color: var(--Gray-800); font-size: rem(18px); font-weight: 700; line-height: 1.4;}
    .info {margin-top: 6px;color: var(--Gray-800); font-size: rem(16px); line-height: 1.6;}
    .infoEtc {margin-top: 8px; font-size: rem(16px); color: var(--Primary); font-weight: 600;line-height: 1.6;}
    .btn {
        margin-top: 20px;
        img {vertical-align: middle;}
    }

    @include media("mobile"){
        min-height:auto; margin-top: -20px; padding: 60px 0 20px 0;
        &:first-child {margin-top: -20px;}
        &::after {border-radius: 18px;}
        .infoTit {font-size: rem(16px); }
        .info {font-size: rem(15px); }
        .infoEtc {font-size: rem(15px);}
        .btn {margin-top: 12px;}

        //조건
        & + .cptBoardList {
            margin-top:0;
        }
    }
}