.comFaqSch {
    height: 48px; border-bottom: 2px solid var(--Gray-800); position: relative;
    input {font-size: rem(20px); font-weight: 600; color: var(--Gray-900); width: 100%; border: 0; border-radius: 0; height: 100%; padding-right: 48px;}
    input::placeholder {color: var(--Gray-900);}
    button {width: 40px; height: 40px; position: absolute; top: 4px; right: 0; border-radius: 0; font-size: 0; background: url(../../images/common/ic_40_search.svg) no-repeat center;}

    @include media("mobile"){
        input {font-size: rem(18px); padding-right: 40px;}
        button {background-size: 32px;}
    }
}