.comNumList {
    margin-top: 12px;
    &:first-child {margin-top: 0;}

    &.space {padding-left: 16px;}

    .listGroup {
        .item {
            margin-top: 8px; display: flex; align-items: flex-start;
            &:first-child {margin-top: 0;}
            .number {width: 18px; height: 18px; border-radius: 50%; border: 1px solid var(--Gray-300); margin-right: 6px; text-align: center; line-height: 17px; font-size: rem(11px); color: var(--Gray-600); font-weight: 700; line-height: 1.6; display: inline-block; vertical-align: middle; flex: 0 0 auto;}
            .txt {margin-top: -4px; font-size: rem(16px); color: var(--Gray-800); line-height: 1.6; display: inline-block; vertical-align: middle;}
            &.space {padding-left: 22px;margin-top: 0;}
            .addList {
                @extend .comBasicList;
                width: 100%; margin-top: 8px;
                .item {
                    display: block; padding-left: 23px;
                    &::after {left: 12px;}
                    .orderList {padding-left: 2px; margin-bottom: 10px;}
                }
                & > .orderList {margin-top: 0;}
            }
            &:has(.addList) {
                flex-wrap: wrap;
                .txt {width: calc(100% - 24px);}
            }
        }
    }
    .orderedList {
        padding-left: 24px;
        > li {list-style-type: decimal;}
        li {color: var(--Gray-800, #2C2C2C);font-size: rem(15px);font-weight: 400;line-height: 160%; /* 24px */}
        $korean-markers: ('가', '나', '다', '라', '마', '바', '사', '아', '자', '차', '카', '타', '파', '하');
        .korean > li {
            @for $i from 1 through length($korean-markers) {
                &:nth-child(#{$i})::marker {
                content: nth($korean-markers, $i) + '. ';
                }
            }
        }
    }
    @include media("mobile"){
        margin-top: 8px;
    
        &.space {padding-left: 12px;}
    
        .listGroup {
            .item {
                .number {width: 16px; height: 16px; margin-right: 4px; line-height: 15px; font-size: rem(10px); }
                .txt {margin-top: -4px; font-size: rem(15px);}
                &.space {padding-left: 20px;margin-top: 0;}
            }
        }

        .orderedList {
            padding-left: 20px;
            > li {font-size: rem(14px);}
        }
    }

    @at-root {
        .termsPopArea .comNumList {
            .listGroup {
                .item {
                    .txt {
                        font-size: rem(15px);
                    }
                }
            }
            @include media('mobile') {
                .listGroup {
                    .item {
                        .txt {
                            font-size: rem(14px);
                        }
                    }
                }
            }
        }
    }
}