/* --------------------------- 하단 버튼 그룹 --------------------------- */
.comBtnGroup {
    width: 100%; margin-top: 40px; display: flex; justify-content: space-between;
    &:first-child {margin-top: 40px;}
    .alignL {width: 100%; display: flex; justify-content: flex-start;}
    .alignC {width: 100%; display: flex; justify-content: center;}
    .alignR {width: 100%; display: flex; justify-content: flex-end;}
    .btnBox {
        display: flex; gap: 12px;
    }
    
    @include media('mobile') {
        flex-wrap: wrap; gap: 12px;
        .btnBox {
            width: 100%; display: flex; flex-wrap: wrap; gap: 12px;
            .btn {width:100%;}

            &.m30 {
                flex-wrap: nowrap;
                .btn:first-child {width: 30%; min-width: 30%;}
            }
            &.m50 {
                flex-wrap: nowrap;
            }
            &.m70 {
                flex-wrap: nowrap;
                .btn:last-child {width: 30%; min-width: 30%;}
            }
        }
    }

}