.comTitH2 {
    margin-top: 40px;display: flex; align-items: center;
    &:first-child {margin-top: 0;} 
    h2 {font-size: rem(24px); color: var(---Primary); font-weight: 700; line-height: 1.4; word-break: keep-all;}
    .etcAdds {margin-left: 16px; font-size: rem(18px); color: var(--Gray-800); align-self: flex-end;}
    .right {
        margin-left: auto;
        .frmBox {
            width: 160px; max-width: 160px;
            .iptSlt {height: 36px; font-size: 14px; background-position: right 16px center;}
        }
    }

    // 컴포넌트 변경 Class
    &.bk {
        h2 {color: var(--Grey-900);}
    }

    @include media("mobile"){
        margin-top: 24px;
        h2 {font-size: rem(20px);}
        .etcAdds {font-size: rem(16px);}
        .right {
            .frmBox {
                width: 120px; max-width: 120px;
                .iptSlt {padding: 0 12px; border-radius: 6px; font-size: rem(14px); background-size: 14px; background-position: right 12px center;}
            }
        }
        &.mRow {
            flex-wrap: wrap;
            .etcAdds {margin-left: 0;}
        }
    }
}