.comFloatImg {
    margin-top: 20px; display: flex;  column-gap: 40px; align-items: flex-start;
    .imgArea {
        flex: 0 0 calc(50% - 20px);
        img {width: 100%;}
    }
    .descArea {
        flex: 0 0 calc(50% - 20px);
        .descTit {margin-bottom: 12px;font-size: rem(20px); color: var(--Gray-900); font-weight: 700;}
        .desc { font-size: rem(16px); color: var(--Gray-800); line-height: 1.6;}
    }
    @include media("mobile"){
        margin-top: 16px; row-gap: 12px; flex-wrap: wrap;
    
        & > div {
            &:first-child {order: 2;}
            &:nth-child(2) {order: 1;}
        }
        .imgArea {
            flex: 0 0 100%;
        }
        .descArea {
            flex: 0 0 100%;
            .descTit {font-size: rem(18px);font-weight: 600;}
            .desc {font-size: rem(15px);}
        }
    }
}