.comGroupTop {
    width: 100%; margin-bottom:20px; display: flex; justify-content: space-between;
    .alignL {
        width: 100%; display: flex; justify-content: flex-start; align-items: center;
    }
    .alignR {
        width: 100%; display: flex; justify-content: flex-end; align-items: center;
    }
    .unit {
        margin-left: 5px; display:inline-block;
        &:first-child {margin-left: 0;}
        .text {font-size:rem(16px); line-height:1.6; vertical-align:bottom; color: var(--font-700);}
        .total {font-size:rem(16px); color: var(---Primary); font-weight: 700;}
    }
    .opList {
        display: flex; gap: 12px;
        .item {
            .frmBox {width: 210px; min-width: 210px;}
            .frmSearch {width: 400px; min-width: 400px;}
        }
    }
    @include media('mobile'){
        margin-bottom:8px; flex-wrap: wrap; flex-direction: column-reverse;
        .alignR {
            padding: 40px 0 20px;
        }
        .unit {
            .text {font-size:rem(15px);}
            .total {font-size:rem(15px); font-weight: 600;}
        }
        .opList {
            width: 100%; flex-wrap: wrap;
            .item {
                width: 100%; margin: 5px 0 0;
                &:first-child {margin: 0;}
                .frmBox {width: 100%; min-width: 100%;}
                .frmSearch {width: 100%; min-width: 100%;}
            }
        }
    }
}