/* --------------------------- 데이터 테이블 --------------------------- */
.comDataTable {
    width:100%; margin-top: 12px; background:#fff;
    &:first-child {margin-top:0;}
    .tableArea {
        width:100%; border-top: 2px solid var(--Gray-900); overflow: auto;
        &.sizeS table {min-width: 600px;}
        &.sizeM table {min-width: 800px;}
        &.sizeL table {min-width: 1000px;}
        &.sizeXL table {min-width: 1200px;}
        table {
            width:100%; border-spacing: 0; border-collapse: separate; /*table-layout: fixed;*/
            thead {
                tr {
                    th { 
                        padding: 20px 5px; color: var(--Gray-900); font-size: rem(15px); font-weight: 600; line-height: 1.3; border-right: 1px solid var(--Bg-Line-line-200);
                        border-bottom: 1px solid var(--Bg-Line-line-100); background: var(--Bg-Line-bg-100); position: sticky; top: 0;
                        &:last-child {border-right: 0;}
                        &.btmLine {border-bottom: 1px solid var(--Gray-900);}
                    }
                    &:last-child {
                        th {
                            border-bottom: 1px solid var(--Gray-900);
                        }
                    }
                }
            }
            tbody {
                tr {
                    th {
                        padding: 20px 5px; color: var(--Gray-900); font-size: rem(15px); font-weight: 600; line-height: 1.3; border-right: 1px solid var(--Gray-300); 
                        border-bottom: 1px solid var(--Bg-Line-line-100); background: var(--Bg-Line-bg-100);
                        &:last-child {border-right: 0;}
                        .txtBtn {text-decoration: underline; text-underline-position: under;}
                    }
                    td {
                        padding: 20px 5px; color: var(--Gray-700); text-align: center; font-size: rem(15px); font-weight: 400; line-height: 1.3; 
                        border-right: 1px solid var(--Bg-Line-line-200); border-bottom: 1px solid var(--Bg-Line-line-100);
                        &:last-child {border-right: 0;}
                        .txtBtn {text-decoration: underline; text-underline-position: under;}
                    }
                    &:nth-child(2n) {
                        td {background: var(--Gray-50);}
                    }
                    .left {text-align:left;}
                    .center {text-align:center;}
                    .right {text-align:right;}
                }
            }
        }
        .tbGreen {background: #ECF8F6;}
        .tbBlue {background: #ECF1F8;}
        .tbRed {background: #F6ECF8;}
        .tbYellow {background: #F5F2DD45;}
        .tbGray {background: #EDF4F8;}
        .bdrBold {border-right: 1px solid var(--Gray-300) !important;}
    }
    &.colLineDel {
        .tableArea {
            &.player01 { 
                table tbody th {color:var(--font-700); background: #F1FCFB;} 
            }
            &.player02 { 
                table tbody th {color:var(--font-900); background: #FBFBFB;} 
            }
            &.player03 { 
                border-top: 2px solid #FF2828;
                table tbody th {color:#FF2828; background: #FFF9F9;} 
            }
            &.player04 { 
                border-top: 2px solid #2A7DDF;
                table tbody th {color:#2A7DDF; background: #F9FAFF;} 
            }
            &.player05 { 
                border-top: 2px solid #FFB907;
                table tbody th {color:#FF9533; background: #FFFCF9;} 
            }
            &.player06 { 
                border-top: 2px solid #55B965;
                table tbody th {color:#55B965; background: #F9FFFA;} 
            }
            &.player07 { 
                border-top: 2px solid #FF66AF;
                table tbody th {color:#FF66AF; background: #FFF9FC;} 
            }
            table {
                thead {
                    tr {
                        &.row1Line {
                            th {
                                border-right: 1px solid var(--Gray-300);
                                &:last-child {border-right: 0;}
                            }
                        }
                        &.row2Line {
                            th:nth-child(2n) {
                                border-right: 1px solid var(--Gray-300);
                                &:last-child {border-right: 0;}
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            background: none;
                            &.empty {background: #F2FFFB;}
                        }
                        &.row1Line {
                            th {
                                border-right: 1px solid var(--Gray-300);
                                &:last-child {border-right: 0;}
                            }
                            td {
                                border-right: 1px solid var(--Gray-300);
                                &:last-child {border-right: 0;}
                            }
                        }
                        &.row2Line {
                            th {border-right: 1px solid var(--Bg-Line-line-200)}
                            th:nth-child(2n) {
                                border-right: 1px solid var(--Gray-300);
                                &:last-child {border-right: 0;}
                            }
                            td:nth-child(2n) {
                                border-right: 1px solid var(--Gray-300);
                                &:last-child {border-right: 0;}
                            }
                        }
                    }
                }
            }
        }
    }
    &.both {
        .tableArea {
            table {
                thead {
                    tr {
                        th {
                            &:first-child {border-right: 1px solid var(--Gray-300); z-index: 10; left: 0;}
                            &.noStand {border-right: 1px solid var(--Bg-Line-line-200); left: auto; z-index: 0;}
                        }
                    }
                }
                tbody {
                    tr {
                        th {
                            border-right: 1px solid var(--Gray-300); position: sticky; left: 0; z-index: 5;
                        }
                    }
                }
            }
        }
    }
    &.row {
        .tableArea {
            table {
                tbody {
                    tr {
                        th {
                            border-right: 1px solid var(--Gray-900); position: sticky; left: 0; z-index: 5;
                        }
                    }
                }
            }
        }
    }
    @include media("tablet"){

    }
    @include media("mobile"){
        .tableArea {
            width: calc(100% + 32px); margin-left: -16px;
            table {
                thead {
                    tr {
                        th { 
                            padding: 10px 5px; font-size: rem(14px);
                        }
                    }
                }
                tbody {
                    tr {
                        th {
                            padding: 10px 5px; font-size: rem(14px);
                            .txtBtn {font-size: rem(14px);}
                        }
                        td {
                            padding: 10px 5px; font-size: rem(14px);
                            .txtBtn {font-size: rem(14px);}
                        }
                    }
                }
            }
        }
    }
    .profile {
        width: max-content; display: inline-flex;
        .img {
            width: 40px; height: 40px; border-radius: 50%; overflow: hidden; flex-shrink: 0; background: #fff; display: flex; justify-content: center;
            img {height: 40px;}
        }
        .info {
            margin-left: 8px; display: block; 
            .name {justify-content: flex-start;}
            .other {margin-top: 4px; display: flex; white-space: nowrap;}
        }
    }
    .pinkLine {
        padding: 0 2px; font-size: rem(14px); font-weight: 600; line-height: 1.3; display: inline-block; position: relative; z-index: 1;
        &::before {content: ""; width: 100%; height: 50%; background: #FFD9DE; display: block; position: absolute; left: 0; bottom: 0; z-index: -1;}
    }
    .mark {
        width: 68px; height: 30px; padding: 6px 12px; font-size: rem(15px); font-weight: 600; line-height: 1.2; white-space: nowrap; border-radius: 20px; background: #FFF; display: inline-block;
        &.blue {color: var(--zone-blue); border: 1px solid var(--zone-blue);}
        &.pink {color: var(--zone-pink); border: 1px solid var(--zone-pink);}
        &.green {color: var(--zone-green); border: 1px solid var(--zone-green);}
    }
    .sign {
        width: 16px; height: 16px; font-size: rem(11px); font-weight: 700; line-height: 1.5; border-radius: 50%; display: inline-block;
        &.num01 {color: var(--Gray-300); border: 1px solid var(--Gray-200); background: #FFF;}
        &.num02 {color: #fff; border: 1px solid #111111; background: #111111;}
        &.num03 {color: #fff; border: 1px solid #FF2828; background: #FF2828;}
        &.num04 {color: #fff; border: 1px solid #2A7DDF; background: #2A7DDF;}
        &.num05 {color: #fff; border: 1px solid #FFB907; background: #FFB907;}
        &.num06 {color: #fff; border: 1px solid #55B965; background: #55B965;}
        &.num07 {color: #fff; border: 1px solid #FF66AF; background: #FF66AF;}
    }
    .name {display: flex; align-items: center; justify-content: center;}
    .player {
        margin-left: 4px; font-size: rem(15px); color: var(--font-800); font-weight: 600; line-height: 1.4; white-space: nowrap; display: inline-block;
        &[href] {line-height: 18px; border-bottom: 1px solid var(--Gray-300);}
    }

    //지역, 등급, 범례
    .zone {
        &.green {color: var(--zone-green); font-weight: 600;} //광명
        &.pink {color: var(--zone-pink); font-weight: 600;}  //부산
        &.blue {color: var(--zone-blue); font-weight: 600;}  //창원
    }
    .rating {                               //선발, 우수 특선
        &.bold {font-weight: 600;}          //특준, 선준, 우준
        &.mint {color: var(--Point-Primary2); font-weight: 600;}    //선결
        &.blue {color: var(--Point-Blue); font-weight: 600;}        //우결
        &.orange {color: var(--Point-Orange); font-weight: 600;}    //결승
        &.red {color: #f00; font-weight: 600;}                    //특우
    }
    .legend {
        width: 16px; height: 16px; margin-bottom: 1px; color: #fff; font-size: rem(11px); font-weight: 700; line-height: 16px; border-radius: 4px; vertical-align: middle; display: inline-block;
        &.type01 {background: #2C77BC;} //선행
        &.type02 {background: #34ADA8;} //젖히기
        &.type03 {background: #F07E3F;} //추입
        &.type04 {background: #92BA2B;} //마크
    }
}
