/* ------------------------------- 기본 폼 ------------------------------- */
/* ----- 폼 그룹 ----- */
.frmGroup {
    margin-top:12px; display:flex; align-items:flex-start; gap: 12px;
    &:first-child {margin-top:0;}
    &.error, .error {
        .iptText {padding-left: 16px; border: 1px solid var(--system-danger-50);}
        .errMsg {display: block;}
    }
    .errMsg {
        width: 100%; margin-top:10px; padding-left: 24px; color: var(--system-danger-50); font-size: rem(15px); font-weight: 400; line-height: 1.5; 
        background: url(../../images/common/ic_20_danger.svg) left center no-repeat; display: none;
        &.line {
            margin-left: 5px; margin-top:0; height: 48px; align-content: center;
            &:first-child {margin-left: 0;}
        }
    }
    .textBox {margin-left: 5px; height: 48px; align-content: center;}
}

/* ----- 폼 박스 ----- */
.frmBox {
    width: 100%; display: flex; flex-wrap: wrap;
    &.maxCont {width: max-content;}
    &.frmTini {width:auto; min-width:auto;}
    &.frmXs {width:auto; min-width:auto;}
    &.frmSm {width:auto; min-width:auto;}
    &.frmMd {
        width: 300px; min-width: 300px;
        @include media ('mobile') {
            width: 100%; min-width: 100%;
        }
    }
    &.frmLg {width:auto; min-width:auto;}
    &.frmXL {width:auto; min-width:auto;}
}

/* ----- 입력필드 ----- */
.iptText {
    width: 100%; height: 48px; padding: 0 16px; color: var(--Gray-800); font-size: rem(16px); font-weight: 400; line-height: normal; border-radius: 8px; 
    border: 1px solid var(--Gray-300); background-color: #FFF; 
    &::placeholder {color: var(--Gray-300);}
    &:focus {padding: 0 15px; border: 2px solid var(--Gray-800); outline: none;;}
    &:read-only {padding: 0 16px; color: var(--Gray-600); border: 1px solid var(--Gray-200); background: #F5F5F8;}
    &:disabled {color: var(--Gray-400); border: 1px solid var(--gray-gray-40); background: #E3E3E3;}
    @include media ('mobile') {
        padding: 0 12px;
    }
    &.lg {
        height: 58px; 
        @include media ('mobile') {
            padding: 0 16px;
        }
    }
    &.sm {
        height: 38px; 
    }
}
/* ----- 검색 필드 ----- */
.frmSearch {
    width: 100%; position: relative;
    .btnSearch {
        width: 24px; height: 24px; font-size: 0; background: url(../../images/common/ic_24_search.svg) center no-repeat; position: absolute; right: 16px; top: 12px;
        @include media ('mobile') {
            width: 20px; height: 20px; background: url(../../images/common/ic_20_search.svg) center no-repeat; right: 12px; top: 14px;
        }
    }
    
    &.typeLine {
        .iptText {
            padding: 0; color: var(--Gray-900); font-size: rem(20px); font-weight: 600; border-radius: 0; border: 0; border-bottom: 2px solid var(--Gray-800); 
            &::placeholder {color: var(--Gray-900);}
        }
        .btnSearch {
            width: 40px; height: 40px; background: url(../../images/common/ic_40_search.svg) center no-repeat; position: absolute; right: 0; top: 4px;
        }
        @include media ('mobile') {
            .iptText {
                font-size: rem(18px);
            }
            .btnSearch {
                width: 32px; height: 32px; background: url(../../images/common/ic_32_search.svg) center no-repeat; right: 0; top: 8px;
            }
        }
    }
}
/* ----- 라디오/체크박스 ----- */
/* checkbox */
.iptChk {
    &+ .iptLbl {background:url(../../images/common/ic_20_chk_off.svg) left center no-repeat;}
    &:checked + .iptLbl {background:url(../../images/common/ic_20_chk_on.svg) left center no-repeat;}
    &:indeterminate + .iptLbl {background:url(../../images/common/ic_20_chk_ind.svg) left center no-repeat;}
    &:disabled + .iptLbl {color: var(--Gray-600); background:url(../../images/common/ic_20_chk_off_dis.svg) left center no-repeat;}
    &:disabled:checked + .iptLbl {color: var(--Gray-600); background:url(../../images/common/ic_20_chk_on_dis.svg) left center no-repeat;}
    &:disabled:indeterminate + .iptLbl {color: var(--Gray-600); background:url(../../images/common/ic_20_chk_ind_dis.svg) left center no-repeat;}
}

/* radio */
.iptRdo {
    &+ .iptLbl {background:url(../../images/common/ic_20_rdo_off.svg) left center no-repeat;}
    &:checked + .iptLbl {background:url(../../images/common/ic_20_rdo_on.svg) left center no-repeat;}
    &:disabled + .iptLbl {color: var(--Gray-600); background:url(../../images/common/ic_20_rdo_off_dis.svg) left center no-repeat;}
    &:disabled:checked + .iptLbl {color: var(--Gray-600); background:url(../../images/common/ic_20_rdo_on_dis.svg) left center no-repeat;}
}
.iptLbl {
    min-height:20px; margin-right:10px; padding-left: 28px; color: var(--Gray-800); font-size: rem(17px); font-weight: 400; word-break: keep-all; line-height: 20px;
    &:last-child {margin-right:0;}
    &.noText {padding-left: 20px; font-size: 0;}
}
.iptLblBtn {
    min-height:20px; margin-right:10px; padding-left: 28px; color: var(--Gray-800); font-size: rem(17px); font-weight: 400; word-break: keep-all; line-height: 20px;
    &:last-child {margin-right:0;}
}

/* ----- 셀렉트 ----- */
select.iptSlt {
    width: 100%; height: 48px; padding: 0 16px; color: var(--Gray-600); border-radius: 8px; border: 1px solid var(--Gray-300); 
    background:#fff url(../../images/common/ic_24_down_arr.svg) right 18px center no-repeat;
    &.typeLine {
        padding: 0 26px 0 2px; color: var(--Gray-900); font-size: 1.25rem; font-weight: 600; border-radius: 0; border: 0; border-bottom: 2px solid var(--Gray-800);
        background:#fff url(../../images/common/ic_24_down_arr.svg) right 2px center no-repeat;
    }
}

/* ----- 디자인셀렉트/드롭다운 ----- */
.iptSlt {
    width: 100%; height: 48px; position: relative;
    &.on {
        .sltBox {
            border: 1px solid var(--Gray-800);
            .sltTitle {
                &::after {transform: rotate(180deg);}
            }
            .optionGroup {
                display: block;
            }
        }
    }
    .sltBox {
        width: 100%; height: auto; border-radius: 8px; border: 1px solid var(--Gray-300); background-color: #FFF; position: absolute; left: 0; top: 0; z-index: 80; overflow: hidden;
        .sltTitle {
            width: 100%; height: 46px; padding: 0 16px; color: var(--Gray-600); font-size: rem(16px); font-weight: 400; line-height: normal; align-content: center; position: relative;
            &::after {
                content:""; width: 24px; height: 24px; display: block; position: absolute; right: 16px; top: calc(50% - 12px);
                background-image: url(../../images/common/ic_24_down_arr.svg); background-position: center; background-repeat: no-repeat;
            }
        }
        .optionGroup {
            width: 100%; padding: 5px 0 7px; border-top: 1px solid var(--Gray-800); display: none;
            background: #fff; overflow: hidden;
            .option {
                width: 100%; height: 39px; padding: 0 16px; color: var(--Gray-600); font-size: rem(16px); font-weight: 400; line-height: normal; align-content: center;
                &:hover {color: var(--Gray-900); font-weight: 500; background: #F5F5F5;}
            }
        }
        @include media('mobile') {
            .sltTitle {
                padding: 0 12px;
                &::after {
                    content:""; width: 20px; height: 20px; display: block; position: absolute; right: 12px; top: calc(50% - 10px);
                    background-image: url(../../images/common/ic_20_down_arr.svg); background-position: center; background-repeat: no-repeat;
                }
            }
        }
    }
    &.typeLine {
        .sltBox {
            border-radius: 0; border: 0; border-bottom: 2px solid var(--Gray-800); overflow: visible;
            .sltTitle {
                padding: 0 26px 0 2px; color: var(--Gray-900); font-size: rem(20px); font-weight: 600;
                &::after {
                    right: 2px; top: calc(50% - 10px);
                }
            }     
            .optionGroup {
                padding: 0; border-top: 1px solid var(--Gray-800); background: #fff; box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.10); overflow: visible;
                .option {
                    height: 47px; padding: 0 12px; border: 1px solid var(--Bg-Line-line-100); border-top: 0;
                    &:hover {color: #fff; font-weight: 600; background: var(--Point-Primary2);}
                }
            }  
            @include media('mobile') {
                .sltTitle {font-size: rem(18px);} 
            }
        }
    }
    &.lg {
        height: 56px; 
        .sltBox {
            .sltTitle {
                height: 54px; font-size: rem(19px);
            }
            .optionGroup {
                .option {
                    height: 45px; font-size: rem(19px);
                }
            }
        }
    }
    &.sm {
        height: 36px; 
        .sltBox {
            .sltTitle {
                height: 34px; font-size: rem(14px);
            }
            .optionGroup {
                .option {
                    height: 30px; font-size: rem(14px);
                }
            }
        }
    }
}
/* ----- 버튼 ----- */
.btn {
    width: max-content; height: 48px; padding: 0 24px; font-size: rem(16px); font-weight: 500; border-radius: 8px; line-height: 46px; display: inline-block;
    
    //크기별 (사용 미정)
    &.lg {height: 56px; padding: 0 32px; font-size: rem(20px);}
    &.md {height: 48px; padding: 0 24px; font-size: rem(16px);}
    &.sm {height: 36px; padding: 0 20px; font-size: rem(14px);}
    &.xs {height: 32px; padding: 0 12px; font-size: rem(14px);}

    //색깔별
    &.Primary {
        color: #fff; border: 1px solid var(---Primary); background: var(---Primary);
        &:hover {border: 1px solid #077265; background: #077265;}
        &:active {border: 1px solid #05665B; background: #05665B;}
        &:disabled {color: var(--Gray-300); border: 1px solid var(--Gray-150); background: var(--Gray-150);}
    }
    &.gray {
        color: #fff; border: 1px solid var(--Gray-400); background: var(--Gray-400);
        &:hover {border: 1px solid var(--Gray-600); background: var(--Gray-600);}
        &:active {border: 1px solid var(--Gray-600); background: var(--Gray-600);}
        &:disabled {color: var(--Gray-300); border: 1px solid var(--Gray-150); background: var(--Gray-150);}
    }
    &.dkLine {
        color: var(--Gray-800); border: 1px solid var(--Gray-800); background: #fff;
        &:hover {color: #000; border: 1px solid #000;}
        &:active {border: 1px solid #000; background: var(--Bg-Line-bg-100);}
        &:disabled {color: var(--Gray-300); border: 1px solid var(--Gray-200); background: var(--Gray-100);}
    }
    &.gLine {
        color: var(--Gray-600); border: 1px solid var(--Gray-300); background: #fff;
        &:hover {color: #111; border: 1px solid var(--Gray-500);}
        &:active {border: 1px solid var(--Gray-500); background: var(--Bg-Line-bg-100);}
        &:disabled {color: var(--Gray-300); border: 1px solid var(--Gray-200); background: var(--Gray-100);}
    }
}


