//프린트 시

@media print {
    .lytLayout {
        .layoutArea{
            .layoutTop {display: none;}
            .layoutFooter{display: none;}
        }
    }
    .sampleDel {
        width: 100%; height: 100%;
    }
}

