<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytMypage">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 마이페이지 LNB -->
				<div class="layoutLnbArea">
					<div class="lnbArea">
						<h1 class="lnbTit">마이페이지</h1>
						<ul class="lnbMenu">
							<li><a href="#"><span>나의 모의베팅</span></a></li>
							<li class="on"><a href="#"><span>나의 활동지수</span></a></li>
							<li><a href="#"><span>나의 게시글</span></a></li>
							<li><a href="#"><span>나의 스크랩</span></a></li>
							<li><a href="#"><span>내알림</span></a></li>
							<li><a href="#"><span>내정보 수정</span></a></li>
							<li><a href="#"><span>회원탈퇴</span></a></li>
						</ul>
					</div>
				</div>

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<div class="layoutContArea">
                    <!-- 서브 탑 (타이틀) -->
                    <div class="cptSubTop">
                        <div class="subTopArea">
                            <ul class="location">
                                <li class="item"><a href="#">홈</a></li>
                                <li class="item"><a href="#">마이페이지</a></li>
                            </ul>
							<div class="subTitle">
								<h1>나의 활동지수</h1>
                                <div class="right">
									<!--20241112 툴팁 수정-->
									<div class="comTooltip">
										<button type="button" class="popIcon tipBtn" onclick="openPopup('tip1')">팝업 열기</button>

										<div class="comInfoLayerPop" id="tip1">
											<div class="popWrap">
												<div class="popHead">
													<div class="popTit"></div>
													<button type="button" class="popClose" onclick="closePopup('tip1')">팝업 닫기</button>
												</div>
												<div class="popBody" style="height: auto;">
													<div class="comBasicTxt">
														<p class="txt"><em>활동지수 적립/사용 조회</em></p>
														<p class="txt">최근 6개월까지 적립 사용내역을 조회할 수 있어요.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--// 20241112 툴팁 수정-->
                                    <div class="frmBox">
                                        <select class="iptSlt">
                                            <option value="">2024년</option>
                                            <option value="">2023년</option>
                                        </select>
                                    </div>
                                </div>
							</div>
                        </div>
                    </div>

					<div class="cptDataSum">
						<div class="dataSum mRow">
							<ul class="inner">
								<li>
									<div class="item">현재 보유 활동지수
										<!--20241112 툴팁 수정-->
										<div class="comTooltip">
											<button type="button" class="popIcon tipBtn" onclick="openPopup('tip2')">팝업 열기</button>
	
											<div class="comInfoLayerPop" id="tip2">
												<div class="popWrap">
													<div class="popHead">
														<div class="popTit"></div>
														<button type="button" class="popClose" onclick="closePopup('tip2')">팝업 닫기</button>
													</div>
													<div class="popBody" style="height: auto;">
														<div class="comBasicTxt">
															<p class="txt"><em>활동지수란?</em></p>
															<p class="txt">활동지수는 사이트 내 활동을 통해 얻을 수 있는 마일리지를 뜻해요.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--// 20241112 툴팁 수정-->
									</div>
									<div class="val">2,000,000 <i class="unit">P</i></div>
								</li>
								<li>
									<div class="item">8월 적립 활동지수</div>
									<div class="val tBlue">+3,000,500 <i class="unit">P</i></div>
								</li>
								<li>
									<div class="item">8월 사용 활동지수</div>
									<div class="val tRed">-1,000,500 <i class="unit">P</i></div>
								</li>
							</ul>
						</div>
                    </div>

					<div class="cptDataList">
						<div class="comTabData">
							<div class="tabMenuGroup tabDataSwiper">
								<ul class="tabMenu swiper-wrapper">
									<li class="tabItem swiper-slide">
										<button type="button" class="tabName on">전체</button>
									</li>
									<li class="tabItem swiper-slide">
										<button type="button" class="tabName">적립</button>
									</li>
									<li class="tabItem swiper-slide">
										<button type="button" class="tabName">사용</button>
									</li>
								</ul>
							</div>
							
							<div class="right">
								<p class="txtS">활동지수는 매월 1일에 초기화 됩니다.</p>
							</div>
						</div>
						
						<div class="comNoneData">
                            <p class="noneTxt">활동지수 적립/사용 내역이 없습니다.</p>
                        </div>
					</div>
					
				</div>
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>