<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytMypage">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 마이페이지 LNB -->
				<div class="layoutLnbArea">
					<div class="lnbArea">
						<h1 class="lnbTit">마이페이지</h1>
						<ul class="lnbMenu">
							<li><a href="#"><span>나의 모의베팅</span></a></li>
							<li><a href="#"><span>나의 활동지수</span></a></li>
							<li><a href="#"><span>나의 게시글</span></a></li>
							<li class="on"><a href="#"><span>나의 스크랩</span></a></li>
							<li><a href="#"><span>내알림</span></a></li>
							<li><a href="#"><span>내정보 수정</span></a></li>
							<li><a href="#"><span>회원탈퇴</span></a></li>
						</ul>
					</div>
				</div>

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<div class="layoutContArea">
                    <!-- 서브 탑 (타이틀) -->
                    <div class="cptSubTop">
                        <div class="subTopArea">
                            <ul class="location">
                                <li class="item"><a href="#">홈</a></li>
                                <li class="item"><a href="#">마이페이지</a></li>
                            </ul>
							<div class="subTitle">
								<h1>나의 스크랩</h1>
							</div>
                        </div>
                    </div>

                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">선호선수</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">경륜 동영상</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                <div class="cptPersonList">
                                    <div class="sectArea">
                                        <!-- 리스트 상단 -->
                                        <div class="comGroupTop">
                                            <div class="alignL">
                                                <div class="unit"><span class="text">나의 선호선수 <span class="total">1,500</span></span></div>
                                            </div>
                                            <div class="alignR">
                                                <ul class="opList">
                                                    <li class="item">
                                                        <div class="frmGroup">
                                                            <div class="frmSearch">
                                                                <input type="text" class="iptText" placeholder="선수명을 입력해주세요.">
                                                                <button class="btnSearch">검색</button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- 선수 리스트 -->
                                        <ul class="prsnList mt0">
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <!-- to Dev : 이미지 자료 없을 시에는 하단의 basic 이미지가 들어가도록 해주세요 -->
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span> <!--기본 gray / class : 'blue', 'mint', 'orange'-->
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/thum/thum_person_list.png" alt="선수 강동국 사진">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate mint">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate orange">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="prsnItem">
                                                <a href="#" class="prsn">
                                                    <div class="thumWrap">
                                                        <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                                    </div>
                                                    <div class="txtWrap">
                                                        <b class="name">강동국</b>
                                                        <div class="cateGroup">
                                                            <span class="cate blue">A1</span>
                                                            <span class="cate">06기</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                        <!-- 페이징 -->
                                        <div class="comPaging">
                                            <a class="start" href="#"></a>
                                            <a class="prev" href="#"></a>
                                            <ul class="numList">
                                                <li><a href="#">1</a></li>
                                                <li class="on"><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                            </ul>
                                            <a class="next" href="#"></a>
                                            <a class="end" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCont">
                                <div class="cptGalleryList">
                                    <div class="galleryListArea">
                                        <!-- 게시판 리스트 상단 -->
                                        <div class="comGroupTop">
                                            <div class="alignL">
                                                <div class="unit"><span class="text">나의 경륜 동영상 <span class="total">1,500</span></span></div>
                                            </div>
                                            <div class="alignR">
                                                <ul class="opList">
                                                    <li class="item">
                                                        <div class="frmGroup">
                                                            <div class="frmSearch">
                                                                <input type="text" class="iptText" placeholder="동영상 제목을 입력해주세요.">
                                                                <button class="btnSearch">검색</button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
            
                                        <!-- 리스트 영역 -->
                                        <div class="listBoard col3_1">
                                            <ul class="listGroup">
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">스피드온_챔피언십_시즌1_1주차</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">도박 중독의 과정 알아가기</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">잘못된 신념 사례를 잘못된 신념으로 잘못된 신념을 알아보기</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">이용자 10계명</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">중독에서 벗어나 회복으로!</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">도박 중독의 과정 알아가기</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">잘못된 신념 사례를 잘못된 신념으로 잘못된 신념을 알아보기</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">이용자 10계명</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">중독에서 벗어나 회복으로!</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">도박 중독의 과정 알아가기</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">잘못된 신념 사례를 잘못된 신념으로 잘못된 신념을 알아보기</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="listItem">
                                                    <a href="#" class="itemLink">
                                                        <div class="imgBox">
                                                            <div class="bg" style="background-image: url(../../images/thum/thum_16_9_video.png);"></div>
                                                        </div>
                                                        <div class="infoBox">
                                                            <div class="title">이용자 10계명</div>
                                                            <ul class="info">
                                                                <li class="item date">2024.07.24</li>
                                                                <li class="item">조회수 : 200</li>
																<li class="item cate">
																	<span>플레이존</span>
																	<span>예상과후기</span>
																</li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                        <!-- 페이징 -->
                                        <div class="comPaging">
                                            <a class="start" href="#"></a>
                                            <a class="prev" href="#"></a>
                                            <ul class="numList">
                                                <li><a href="#">1</a></li>
                                                <li class="on"><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                            </ul>
                                            <a class="next" href="#"></a>
                                            <a class="end" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

				</div>
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>