<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytMypage">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 마이페이지 LNB -->
				<div class="layoutLnbArea">
					<div class="lnbArea">
						<h1 class="lnbTit">마이페이지</h1>
						<ul class="lnbMenu">
							<li><a href="#"><span>나의 모의베팅</span></a></li>
							<li><a href="#"><span>나의 활동지수</span></a></li>
							<li><a href="#"><span>나의 게시글</span></a></li>
							<li class="on"><a href="#"><span>나의 스크랩</span></a></li>
							<li><a href="#"><span>내알림</span></a></li>
							<li><a href="#"><span>내정보 수정</span></a></li>
							<li><a href="#"><span>회원탈퇴</span></a></li>
						</ul>
					</div>
				</div>

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<div class="layoutContArea">
                    <!-- 서브 탑 (타이틀) -->
                    <div class="cptSubTop">
                        <div class="subTopArea">
                            <ul class="location">
                                <li class="item"><a href="#">홈</a></li>
                                <li class="item"><a href="#">마이페이지</a></li>
                            </ul>

							<div class="comTitH2 bk">
								<h2>나의 게시글</h2>
							</div>
                        </div>
                    </div>

					<div class="cptDataSum">
						<div class="dataSum mRow">
							<ul class="inner">
								<li>
									<span class="item">나의 전체 게시글 수</span>
									<span class="val">70</span>
								</li>
								<li>
									<span class="item">오늘 조회 수</span>
									<span class="val">15</span>
								</li>
								<li>
									<span class="item">전체 누적 조회 수</span>
									<span class="val">2,500</span>
								</li>
							</ul>
						</div>
                    </div>

					<div class="cptBoardList">
                        <div class="boardListArea">
                            <!-- 게시판 리스트 상단 -->
                            <div class="comGroupTop reverse">
                                <div class="alignL">
									<div class="tit">내가 쓴 예상과 후기</div>
                                </div>
                                <div class="alignR">
                                    <ul class="opList">
                                        <li class="item">
                                            <div class="frmGroup">
                                                <div class="frmSearch">
                                                    <input type="text" class="iptText" placeholder="내용을 입력하세요">
                                                    <button class="btnSearch">검색</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 게시판 리스트 -->
                            <div class="listTable">
                                <table>
                                    <caption></caption>
                                    <colgroup>
                                        <col style="width:93px;">
                                        <col style="width:auto;">
                                        <col style="width:100px;">
                                        <col style="width:120px;">
                                        <col style="width:120px;">
                                        <col style="width:140px;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="num">01</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                    <span class="icons">
                                                        <span class="read">[130]</span>
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">0</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">02</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                    <span class="icons">
                                                        <span class="read">[130]</span>
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">03</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 목록 리스트 총 15개 노출</a>
                                                    <span class="icons">
                                                        <span class="read">[130]</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">04</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">05</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">06</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">07</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">08</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">09</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">10</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">11</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">12</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">13</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 2024 상반기 경륜 7대 뉴스, 한글50자 까지 나열됩니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">123</span></td>
                                            <td>2024.07.05</td>
                                            <td>abcd1234</td>
                                            <td class="views">35125</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //게시판 리스트 -->
                            
                            <!-- 페이징 -->
                            <div class="comPaging">
                                <a class="start" href="#"></a>
                                <a class="prev" href="#"></a>
                                <ul class="numList">
                                    <li><a href="#">1</a></li>
                                    <li class="on"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <a class="next" href="#"></a>
                                <a class="end" href="#"></a>
                            </div>
                        </div>
                    </div>
					
				</div>
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>