<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytMypage">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 마이페이지 LNB -->
				<div class="layoutLnbArea">
					<div class="lnbArea">
						<h1 class="lnbTit">마이페이지</h1>
						<ul class="lnbMenu">
							<li><a href="#"><span>나의 모의베팅</span></a></li>
							<li><a href="#"><span>나의 활동지수</span></a></li>
							<li><a href="#"><span>나의 게시글</span></a></li>
							<li><a href="#"><span>나의 스크랩</span></a></li>
							<li><a href="#"><span>내알림</span></a></li>
							<li class="on"><a href="#"><span>내정보 수정</span></a></li>
							<li><a href="#"><span>회원탈퇴</span></a></li>
						</ul>
					</div>
				</div>

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<div class="layoutContArea">
                    <!-- 서브 탑 (타이틀) -->
                    <div class="cptSubTop">
                        <div class="subTopArea">
                            <ul class="location">
                                <li class="item"><a href="#">홈</a></li>
                                <li class="item"><a href="#">마이페이지</a></li>
                            </ul>
							<div class="subTitle">
								<h1>내정보 수정</h1>
							</div>
						</div>
                    </div>

                    <div class="cptSection mt0">
						<div class="sectArea">
                            <div class="comBoardInfoBox">
                                <div class="comTitH3 mRow">
                                    <h3>경륜경정총괄본부는 사용자의 소중한 개인정보보호를 위해 최선의 노력을 기울이고 있습니다.</h3>
                                </div>
                                <div class="comBasicTxt">
                                    <p class="txt">
                                        회원님의 정보는 동의 없이 공개되지 않으며, 개인정보처리방침에 의해 보호 받고 있습니다.<br>
                                        개인정보 중 변경된 내용이 있으면 아래 내용을 수정해주시기 바랍니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptJoinTable">
                        <div class="joinArea">
                            <div class="joinTitle">
                                <h2>기본정보</h2>
                            </div>
                            <dl class="tbBox">
                                <dt class="tbTitle">
                                    이름
                                </dt>
                                <dd class="tbCont">
                                    <div class="frmGroup">
                                        <div class="frmBox"> <!-- addClass - error : 에러메시지 노출 -->
                                            <input type="text" class="iptText" placeholder="이름을 입력해주세요" value="홍길동" readonly />
                                            <span class="errMsg">메시지 내용</span>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="tbBox">
                                <dt class="tbTitle">
                                    아이디
                                </dt>
                                <dd class="tbCont">
                                    <div class="frmGroup">
                                        <div class="frmBox"><!-- addClass - error : 에러메시지 노출 -->
                                            <input type="text" class="iptText" placeholder="아이디를 입력하세요" value="Kboat" readonly  />
                                            <span class="errMsg">메시지 내용</span>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="tbBox">
                                <dt class="tbTitle">
                                    새로운 비밀번호
                                </dt>
                                <dd class="tbCont">
                                    <div class="frmGroup">
                                        <div class="frmBox error">
                                            <input type="password" class="iptText" placeholder="비밀번호를 입력해주세요" value="012345678" />
                                            <span class="errMsg">기존 비밀번호는 사용할 수 없어요.</span>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="tbBox">
                                <dt class="tbTitle">
                                    비밀번호 확인
                                </dt>
                                <dd class="tbCont">
                                    <div class="frmGroup">
                                        <div class="frmBox">
                                            <input type="password" class="iptText" placeholder="비밀번호를 다시 한번 입력해주세요." value="987654321" />
                                            <span class="errMsg">비밀번호가 일치하지 않아요.</span>
                                        </div>
                                    </div>
                                    <div class="comBasicList">
                                        <ul class="listGroup">
                                            <li class="item">비밀번호는 최소 9 ~ 최대 12 자 이내로 입력해주세요.</li>
                                            <li class="item">영문, 숫자, 특수문자를 각 1자리 이상 반드시 포함해주세요.</li>
                                            <li class="item">특수문자 중 <,>,(,(,#,’,| 는 사용할 수 없어요.</li>
                                            <li class="item">3자리 이상 동일하거나 연속되는 숫자 또는 문자열은 사용할 수 없어요.</li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="tbBox">
                                <dt class="tbTitle">
                                    휴대폰 번호
                                </dt>
                                <dd class="tbCont">
                                    <div class="frmGroup">
                                        <div class="frmBox"> <!-- addClass - error : 에러메시지 노출 -->
                                            <input type="text" class="iptText" placeholder="휴대폰 번호를 입력해주세요" value="010-0987-1234" readonly />
                                            <span class="errMsg">메시지 내용</span>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="tbBox">
                                <dt class="tbTitle">
                                    이메일주소
                                </dt>
                                <dd class="tbCont">
                                    <div class="frmGroup email">
                                        <!-- 20241217 수정 -->
                                        <div class="frmBox">
                                            <input type="text" class="iptText" placeholder="이메일을 입력해주세요." value="honggildong" />
                                        </div>
                                        <!-- <div class="frmBox">
                                            <select class="iptSlt">
                                                <option value="">gmail.com</option>
                                                <option value="">직접입력</option>
                                            </select>
                                        </div>
                                        <div class="frmBox" style="display: none;">
                                            <input type="text" class="iptText" placeholder="직접입력" />
                                        </div> -->
                                        <!-- //20241217 수정 -->
                                    </div>
                                </dd>
                            </dl>

                            <div class="comPrivacyBox">
                                <dl class="infoBox">
                                    <dt class="boxTop">
                                        <div class="frmGroup">
                                            <div class="frmBox maxCont">
                                                <input id="chk101" type="checkbox" class="iptChk"><label for="chk101" class="iptLbl">[선택] 서비스 정보 수신 전체 동의</label>
                                            </div>
                                        </div>
                                    </dt>
                                    <dd class="boxCont">
                                        <ul class="miniCheckList">
                                            <li class="miniItem">
                                                <div class="listTxt">경륜 자료수신여부</div>
                                                <div class="miniCheck">
                                                    <div class="alignL">
                                                        <div class="frmBox">
                                                            <input id="chk105" type="checkbox" class="iptChk"><label for="chk105" class="iptLbl">휴대폰</label>
                                                        </div>
                                                        <div class="frmBox">
                                                            <input id="chk106" type="checkbox" class="iptChk"><label for="chk106" class="iptLbl">이메일</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="miniItem">
                                                <div class="listTxt">경정 자료수신여부</div>
                                                <div class="miniCheck">
                                                    <div class="alignL">
                                                        <div class="frmBox">
                                                            <input id="chk107" type="checkbox" class="iptChk"><label for="chk107" class="iptLbl">휴대폰</label>
                                                        </div>
                                                        <div class="frmBox">
                                                            <input id="chk108" type="checkbox" class="iptChk"><label for="chk108" class="iptLbl">이메일</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignC">
                                    <div class="btnBox m50"> <!-- 20250109 class 수정 -->
                                        <button class="btn lg gLine pcW200">다음에 변경</button>
                                        <button class="btn lg Primary pcW200">수정하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					
				</div>
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>