<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytMypage">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 마이페이지 LNB -->
				<div class="layoutLnbArea">
					<div class="lnbArea">
						<h1 class="lnbTit">마이페이지</h1>
						<ul class="lnbMenu">
							<li><a href="#"><span>나의 모의베팅</span></a></li>
							<li><a href="#"><span>나의 활동지수</span></a></li>
							<li><a href="#"><span>나의 게시글</span></a></li>
							<li><a href="#"><span>나의 스크랩</span></a></li>
							<li><a href="#"><span>내알림</span></a></li>
							<li><a href="#"><span>내정보 수정</span></a></li>
							<li><a href="#"><span>회원탈퇴</span></a></li>
						</ul>
					</div>

					<div class="userArea">
						<div class="info user">
							<span class="grade">일반회원</span><br>
							<strong>홍길동</strong>
							<span class="id">(user1234)</span>
						</div>
						<div class="info">
							가입일 : <span>2024.09.15</span>
							<span class="state tRed">경고 : <span>1</span>회</span>
						</div>
						
						<span class="shortcut"><a href="" class="txtBtn">내정보수정</a></span>
					</div>
				</div>

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<div class="layoutContArea myMain">
					<!-- 서브 탑 (타이틀) -->
                    <div class="cptSubTop">
                        <div class="subTopArea">
                            <ul class="location">
                                <li class="item"><a href="#">홈</a></li>
                            </ul>
                        </div>
                    </div>

					<div class="cptDataSum bg01">
						<div class="dataSum mRow">
							<ul class="inner">
								<li>
									<!--20241112 모바일 아이콘 추가-->
									<div class="icon">
										<div class="pcView"><img src="../../images/common/ic_mypage_sum_betting.svg" alt=""></div>
										<div class="mView"><img src="../../images/common/ic_mypage_sum_betting_m.svg" alt=""></div>
									</div>
									<!--// 20241112 모바일 아이콘 추가-->
									<div class="item">모의베팅 순위</div>
									<div class="val">158위</div>
								</li>
								<li>
									<!--20241112 모바일 아이콘, 툴팁 추가-->
									<div class="icon">
										<div class="pcView"><img src="../../images/common/ic_mypage_sum_activity.svg" alt=""></div>
										<div class="mView"><img src="../../images/common/ic_mypage_sum_activity_m.svg" alt=""></div>
									</div>
									<div class="item">현재 보유 활동지수
										<!--20241116 모달팝업으로 변경-->
										<button type="button" class="popIcon" onclick="openPopup('infoActivityGuide')">팝업 열기</button>
										<!--// 20241116 모달팝업으로 변경-->
									</div>
									<!--// 20241112 모바일 아이콘, 툴팁 추가-->
									<div class="val">350,000 <i class="unit">P</i></div>
								</li>
								<li>
									<!--20241112 모바일 아이콘 추가-->
									<div class="icon">
										<div class="pcView"><img src="../../images/common/ic_mypage_sum_notify.svg" alt=""></div>
										<div class="mView"><img src="../../images/common/ic_mypage_sum_notify_m.svg" alt=""></div>
									</div>
									<!--// 20241112 모바일 아이콘 추가-->
									<div class="item">새알림</div>
									<div class="val">30</div>
								</li>
							</ul>
						</div>
						<div class="addInfo">
							<button type="button" class="btnRefresh alignR" title="새로고침">2024.10.15 20:00 기준</button>
						</div>
					</div>

					<!--20241112 모의베팅 목록 추가 : cptDataList으로 클래스 변경 div.sectArea 삭제 -->
					<div class="cptDataList">
						<div class="comTitH2 bk">
							<h2>나의 모의베팅</h2>
							<div class="right">
								<button type="button" class="txtBtn">더 보기</button>
							</div>
						</div>
						
                        <div class="comNoneData inline">
                            <p class="noneTxt">활동지수 내역이 없습니다.</p>
                        </div>
					</div>
					<!--// 20241112 모의베팅 목록 추가-->

					<div class="cptDataList">
						<div class="comTitH2 bk">
							<h2>나의 활동지수</h2>
							<div class="right">
								<button type="button" class="txtBtn">더 보기</button>
							</div>
						</div>
						
                        <div class="comNoneData inline">
                            <p class="noneTxt">활동지수 내역이 없습니다.</p>
                        </div>
					</div>

					<div class="cptBoardList">
                        <div class="boardListArea">
							<div class="comTitH2 bk">
								<h2>나의 게시글</h2>
								<div class="right">
									<button type="button" class="txtBtn">더 보기</button>
								</div>
							</div>
						
                            <div class="comNoneData inline">
                                <p class="noneTxt">게시글이 없습니다.</p>
                            </div>
                        </div>
                    </div>

					<div class="cptSection">
                        <div class="sectArea">
							<div class="comTitH2 bk mb0">
								<h2>나의 스크랩</h2>
								<div class="right">
									<button type="button" class="txtBtn">더 보기</button>
								</div>
							</div>
						</div>
					</div>

					<div class="modTab">
                        <div class="tabMenuGroup tabSwiper">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">선호선수</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">경륜 동영상</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                <div class="cptPersonList">
                                    <div class="sectArea">
                                        <div class="comNoneData inline">
                                            <p class="noneTxt">선호선수 목록이 없습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCont">
                                <div class="cptGalleryList">
                                    <div class="galleryListArea">
                                        <div class="comNoneData inline">
                                            <p class="noneTxt">경륜 동영상 목록이 없습니다.</p>
                                        </div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                    
					<!--20241116 모달팝업 추가-->
                    <div id="infoActivityGuide" class="modMdPopup"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('infoActivityGuide');">닫기</button>
                                    <div class="popTitle">활동지수 이용안내</div>
                                    <div class="popCont">
                                        <!-- 팝업 컨텐츠 영역 -->
                                        <div class="cptQuickMove">
											<div class="boxArea bgKey">
												<div class="quickBox">
													<div class="txtArea">
														<em class="point">경륜경정 홈페이지 이용활성화를 위해 아래 회원활동에 따라 <br class="pcView">
														활동지수가 적립되고 이용할 수 있습니다.</em>
													</div>
												</div>
											</div>

											<div class="comTitH2 mRow">
												<h2>활동지수는 아래 활동 항목에 따라 제공합니다.</h2>
												<p class="rightTxt">* 단위는 P(포인트)라고 합니다.</p>
											</div>

											<div class="comTitH3">
												<h3>가입</h3>
											</div>
											<div class="comBasicList space">
												<ul class="listGroup">
													<li class="item">신규회원가입 시 <em class="tBold">50,000P</em>를 제공</li>
													<li class="item">기존회원은 홈페이지 오픈 시 일괄 <em class="tBold">100,000P</em>를 제공</li>
													<li class="item">신규회원가입 후 첫 로그인 시 <em class="tBold">50,000P</em>를 일일 1회 제공</li>
													<li class="item">매일 로그인 시 <em class="tBold">10,000P</em>를 일일 1회 제공</li>
												</ul>
											</div>

											<div class="comTitH3">
												<h3>참여</h3>
											</div>
											<div class="comBasicList space">
												<ul class="listGroup">
													<li class="item">예상과 후기의 게시글 작성 시 <em class="tBold">10,000P</em>를 일일 최대 5회 제공</li>
													<li class="item">예상과 후기의 댓글 작성 시 <em class="tBold">5,000P</em>를 일일 최대 10회 제공</li>
													<li class="item">예상과 후기의 게시글 추천 시 <em class="tBold">1,000P</em>를 일일 최대 10회 제공</li>
												</ul>
											</div>
										</div>

										<div class="cptEtcInfo">
											<div class="infoBox">
												<div class="comBasicList">
													<ul class="listGroup">
														<li class="item">
															<b class="sTit">포인트 사용 규정</b>
															<i class="sTxt">활동지수 포인트는 모의베팅 사용 시 적립된 포인트로 사용이 가능합니다.</i>
														</li>
														<li class="item">
															<b class="sTit">포인트 유효 기간</b>
															<i class="sTxt">경륜경정 홈페이지에서 진행되는 활동지수이벤트를 통해 당첨자 선정 후 모든 회원은 일괄 초기화되며 활동에 따라 재적립 됩니다.</i>
														</li>
														<li class="item">
															<b class="sTit">포인트 소멸 기준</b>
															<i class="sTxt">회원탈퇴 시 보유한 활동지수는 즉시 소멸됩니다.</i>
														</li>
														<li class="item">
															<b class="sTit">포인트 지급 정지</b>
															<i class="sTxt">부정행위/경고/신고 대상 회원은 활동지수 지급이 해제 시까지 정지됩니다.</i>
														</li>
														<li class="item">
															<b class="sTit">포인트 확인 및 관리</b>
															<i class="sTxt">회원은 활동지수현황에서 활동지수 내역을 실시간으로 확인합니다.</i>
														</li>
													</ul>
												</div>
											</div>
										</div>
                                        <!-- //팝업 컨텐츠 영역 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<!--// 20241116 모달팝업 추가-->
				</div>
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>