<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytMypage">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 마이페이지 LNB -->
				<div class="layoutLnbArea">
					<div class="lnbArea">
						<h1 class="lnbTit">마이페이지</h1>
						<ul class="lnbMenu">
							<li class="on"><a href="#"><span>나의 모의베팅</span></a></li>
							<li><a href="#"><span>나의 활동지수</span></a></li>
							<li><a href="#"><span>나의 게시글</span></a></li>
							<li><a href="#"><span>나의 스크랩</span></a></li>
							<li><a href="#"><span>내알림</span></a></li>
							<li><a href="#"><span>내정보 수정</span></a></li>
							<li><a href="#"><span>회원탈퇴</span></a></li>
						</ul>
					</div>
				</div>

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<div class="layoutContArea">
                    <!-- 서브 탑 (타이틀) -->
                    <div class="cptSubTop">
                        <div class="subTopArea">
                            <ul class="location">
                                <li class="item"><a href="#">홈</a></li>
                                <li class="item"><a href="#">마이페이지</a></li>
                            </ul>
							<div class="subTitle">
								<h1>나의 모의베팅</h1>
                                <div class="right">
                                    <div class="selectDate">
										<div class="val">2024년 9월 2주</div>
										<button type="button" class="prev">이전</button>
										<button type="button" class="next">다음</button>
									</div>
                                </div>
							</div>
                        </div>
                    </div>

					<div class="cptDataSum">
						<div class="dataSum totalSum mRow">
                            <div class="total">
                                <div class="item">현재 보유 활동지수
									<!--20241116 모달팝업으로 변경-->
									<button type="button" class="popIcon" onclick="openPopup('infoActivityGuide')">팝업 열기</button>
									<!--// 20241116 모달팝업으로 변경-->
                                </div>
                                <div class="val">2,000,000 <i class="unit">P</i></div>
                            </div>
                            
							<ul class="inner">
								<li>
									<span class="item">나의 랭킹</span>
									<span class="val">1,223 <i class="unit">위</i></span>
								</li>
								<li>
									<span class="item">획득한 활동지수</span>
									<span class="val">123,456 <i class="unit">P</i></span>
								</li>
								<li>
									<span class="item">참여한 경주수</span>
									<span class="val">123,456 <i class="unit">개</i></span>
								</li>
								<li>
									<span class="item">나의 적중률
										<!--20241116 모달팝업으로 변경 20231213 삭제
										<button type="button" class="popIcon" onclick="openPopup('infoAccuracy')">팝업 열기</button>
										-->
										<!-- 20241213 다시 툴팁으로 변경 -->
										<button type="button" class="popIcon" onclick="ttOpen('tooltip01')">팝업 열기</button>
										<div class="tooltipBox point01" id="tooltip01">
											<button type="button" class="btnClose" onclick="ttClose('tooltip01')">툴팁 닫기</button>
											<p class="txt">적중한 베팅건수를 참여한 총 베팅 건수로 나누어 백분율로 나타낸 것입니다.</p>
										</div>
										<!-- //20241213 다시 툴팁으로 변경 -->
									</span>
									<span class="val">99.99 <i class="unit">%</i></span>
								</li>
							</ul>
						</div>
                    </div>

					<div class="cptDataList">
						<div class="comTabData">
							<div class="tabMenuGroup tabDataSwiper">
								<ul class="tabMenu swiper-wrapper">
									<li class="tabItem swiper-slide">
										<button type="button" class="tabName on">전체</button>
									</li>
									<li class="tabItem swiper-slide">
										<button type="button" class="tabName">구매</button>
									</li>
									<li class="tabItem swiper-slide">
										<button type="button" class="tabName">환급</button>
									</li>
									<li class="tabItem swiper-slide">
										<button type="button" class="tabName">기타</button>
									</li>
								</ul>
							</div>
						</div>
						
						<ul class="dataListBox">
							<li>
								<a href="#" class="block">
									<div class="tit">[광명05] 연승 5-1</div>
									<div class="date">2024-09-08</div>
									<div class="val tRed">
										<span class="state">구매</span>
										-50,000 <i class="unit">P</i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="block">
									<div class="tit">[부산01] 삼복승 2-4-5</div>
									<div class="date">2024-09-09</div>
									<div class="val tBlue">
										<span class="state">환급</span>
										+1,050,000 <i class="unit">P</i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="block">
									<div class="tit">이벤트 적립</div>
									<div class="date">2024-09-09</div>
									<div class="val tBlue">
										<span class="state">환급</span>
										+500 <i class="unit">P</i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="block">
									<div class="tit">[광명05] 연승 5-1</div>
									<div class="date">2024-09-08</div>
									<div class="val tRed">
										<span class="state">구매</span>
										-50,000 <i class="unit">P</i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="block">
									<div class="tit">[모의베팅] 24회차 05경주 환급</div>
									<div class="date">2024-09-09</div>
									<div class="val tBlue">
										<span class="state">환급</span>
										+1,050,000 <i class="unit">P</i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="block">
									<div class="tit">[모의베팅] 24회차 05경주 환급</div>
									<div class="date">2024-09-08</div>
									<div class="val tBlue">
										<span class="state">환급</span>
										+1,050,000 <i class="unit">P</i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="block">
									<div class="tit">[부산01] 삼복승 2-4-5</div>
									<div class="date">2024-09-09</div>
									<div class="val tBlue">
										<span class="state">환급</span>
										+1,050,000 <i class="unit">P</i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="block">
									<div class="tit">[광명05] 연승 5-1</div>
									<div class="date">2024-09-08</div>
									<div class="val tRed">
										<span class="state">구매</span>
										-50,000 <i class="unit">P</i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="block">
									<div class="tit">[광명05] 연승 5-1</div>
									<div class="date">2024-09-08</div>
									<div class="val tRed">
										<span class="state">구매</span>
										-50,000 <i class="unit">P</i>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="block">
									<div class="tit">[광명05] 연승 5-1</div>
									<div class="date">2024-09-08</div>
									<div class="val tRed">
										<span class="state">구매</span>
										-50,000 <i class="unit">P</i>
									</div>
								</a>
							</li>
						</ul>
						
						<!-- 페이징 -->
						<div class="comPaging">
							<a class="start" href="#"></a>
							<a class="prev" href="#"></a>
							<ul class="numList">
								<li><a href="#">1</a></li>
								<li class="on"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
							</ul>
							<a class="next" href="#"></a>
							<a class="end" href="#"></a>
						</div>
					</div>
                    
					<!--20241116 모달팝업 추가-->
                    <div id="infoActivityGuide" class="modMdPopup"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('infoActivityGuide');">닫기</button>
                                    <div class="popTitle">활동지수 이용안내</div>
                                    <div class="popCont">
                                        <!-- 팝업 컨텐츠 영역 -->
                                        <div class="cptQuickMove">
											<div class="boxArea bgKey">
												<div class="quickBox">
													<div class="txtArea">
														<em class="point">경륜경정 홈페이지 이용활성화를 위해 아래 회원활동에 따라 <br class="pcView">
														활동지수가 적립되고 이용할 수 있습니다.</em>
													</div>
												</div>
											</div>

											<div class="comTitH2 mRow">
												<h2>활동지수는 아래 활동 항목에 따라 제공합니다.</h2>
												<p class="rightTxt">* 단위는 P(포인트)라고 합니다.</p>
											</div>

											<div class="comTitH3">
												<h3>가입</h3>
											</div>
											<div class="comBasicList space">
												<ul class="listGroup">
													<li class="item">신규회원가입 시 <em class="tBold">50,000P</em>를 제공</li>
													<li class="item">기존회원은 홈페이지 오픈 시 일괄 <em class="tBold">100,000P</em>를 제공</li>
													<li class="item">신규회원가입 후 첫 로그인 시 <em class="tBold">50,000P</em>를 일일 1회 제공</li>
													<li class="item">매일 로그인 시 <em class="tBold">10,000P</em>를 일일 1회 제공</li>
												</ul>
											</div>

											<div class="comTitH3">
												<h3>참여</h3>
											</div>
											<div class="comBasicList space">
												<ul class="listGroup">
													<li class="item">예상과 후기의 게시글 작성 시 <em class="tBold">10,000P</em>를 일일 최대 5회 제공</li>
													<li class="item">예상과 후기의 댓글 작성 시 <em class="tBold">5,000P</em>를 일일 최대 10회 제공</li>
													<li class="item">예상과 후기의 게시글 추천 시 <em class="tBold">1,000P</em>를 일일 최대 10회 제공</li>
												</ul>
											</div>
										</div>

										<div class="cptEtcInfo">
											<div class="infoBox">
												<div class="comBasicList">
													<ul class="listGroup">
														<li class="item">
															<b class="sTit">포인트 사용 규정</b>
															<i class="sTxt">활동지수 포인트는 모의베팅 사용 시 적립된 포인트로 사용이 가능합니다.</i>
														</li>
														<li class="item">
															<b class="sTit">포인트 유효 기간</b>
															<i class="sTxt">경륜경정 홈페이지에서 진행되는 활동지수이벤트를 통해 당첨자 선정 후 모든 회원은 일괄 초기화되며 활동에 따라 재적립 됩니다.</i>
														</li>
														<li class="item">
															<b class="sTit">포인트 소멸 기준</b>
															<i class="sTxt">회원탈퇴 시 보유한 활동지수는 즉시 소멸됩니다.</i>
														</li>
														<li class="item">
															<b class="sTit">포인트 지급 정지</b>
															<i class="sTxt">부정행위/경고/신고 대상 회원은 활동지수 지급이 해제 시까지 정됩니다.</i>
														</li>
														<li class="item">
															<b class="sTit">포인트 확인 및 관리</b>
															<i class="sTxt">회원은 활동지수현황에서 활동지수 내역을 실시간으로 확인합니다.</i>
														</li>
													</ul>
												</div>
											</div>
										</div>
                                        <!-- //팝업 컨텐츠 영역 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="infoAccuracy" class="modMdPopup"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('infoAccuracy');">닫기</button>
                                    <div class="popTitle">나의 적중률</div>
                                    <div class="popCont">
                                        <!-- 팝업 컨텐츠 영역 -->
                                        <div class="tempArea">내용없음</div>
                                        <!-- //팝업 컨텐츠 영역 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<!--// 20241116 모달팝업 추가-->
					
				</div>
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>