<!-- Header -->
<%- include('../../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">
        <!-- 서브 탑 (타이틀) -->
        <%- include('../../_ejs/sub_top.ejs', {
            location: ['경륜 라이브러리', '경륜가이드', '경륜 알아보기'],
            subTitle: '경륜기초안내',
            subText: '경륜이 <b>처음이신가요?</b> <br/>지금부터 경륜에 대해 알아봐요.',
            url: "../../../",
            visualClass : "bg01",
        }) %>

        <!-- jsj component List -->
        <div class="tempWrap" style="padding: 60px 20px;">
            <div class="cptSection">
                <div class="sectArea">
                    <div class="comTitH3">
                        <h3>유니폼 상의 · 헬멧 색상 별 번호</h3>
                    </div>

                    <div class="comImgBox">
                        <div class="pcView">
                            <img src="../../../images/contents/cont01_01_001.png" alt="유니폼 색상 별 번호: 1번 하양, 2번 검정, 3번 빨강, 4번 파랑, 5번 노랑">
                            <img src="../../../images/contents/cont01_01_002.png" alt="유니폼 색상 별 번호: 6번 초록, 7번 분홍, 8번 주황, 선수유도원 검정-하양 모자이크">
                        </div>
                        <div class="mView">
                            <img src="../../../images/contents/cont01_01_001_m.png" alt="유니폼 색상 별 번호: 1번 하양, 2번 검정, 3번 빨강, 4번 파랑, 5번 노랑, 6번 초록, 7번 분홍, 8번 주황, 선수유도원 검정-하양 모자이크">
                        </div>
                    </div>
                    
                    <div class="comTitH3">
                        <h3>등급별 유니폼 하의 선수 등급 표시</h3>
                    </div>

                    <div class="comImgBox">
                        <div class="pcView">
                            <img src="../../../images/contents/cont01_01_003.png" alt="유니폼 하의 선수 등급: 슈퍼특선 무지개 별 라인, 특선급 빨간색 배경 별라인, 우수급 민트색 배경 별라인, 선발급 하얀색 배경에 검은 별 라인">
                        </div>
                        <div class="mView">
                            <img src="../../../images/contents/cont01_01_003_m.png" alt="유니폼 하의 선수 등급: 슈퍼특선 무지개 별 라인, 특선급 빨간색 배경 별라인, 우수급 민트색 배경 별라인, 선발급 하얀색 배경에 검은 별 라인">
                        </div>
                    </div>
                </div>
            </div>

            <div class="cptSection">
                <div class="sectArea">
                    <div class="comTitH2">
                        <h2>기어배수</h2>
                    </div>

                    <div class="comFomulBox">
                        <div class="pcView">
                            <img src="../../../images/contents/cont01_01_004.png" alt="수식: (1착횟수/출추횟수) * 100%">
                        </div>
                        <div class="mView">
                            <img src="../../../images/contents/cont01_01_004_m.png" alt="수식: (1착횟수/출추횟수) * 100%">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="cptSection">
                <div class="sectArea">
                    <div class="comTitH3">
                        <h3>대기어 소기어</h3>
                    </div>

                    <div class="comBasicTxt">
                        <p class="txt">
                            이것은 선수의 각력이나 컨디션, 날씨 등에 따라 선수가 직접 정하는 것으로 <em>경주 전에 신고한 기어배수는 변경할 수 없습니다.</em>
                        </p>
                    </div>

                    <div class="comImgBox narrow">
                        <div class="pcView">
                            <img src="../../../images/contents/cont01_01_005.png" alt="자전거의 대기어와 소기어 사진. 대기어는 자전거 페달이 달린 커다란 기어 / 소기어는 자전거 앞바퀴에 달린 작은 기어를 의미함">
                        </div>
                        <div class="mView">
                            <img src="../../../images/contents/cont01_01_005_m.png" alt="자전거의 대기어와 소기어 사진. 대기어는 자전거 페달이 달린 커다란 기어 / 소기어는 자전거 앞바퀴에 달린 작은 기어를 의미함">
                        </div>
                    </div>
                </div>
            </div>

            <div class="cptSection">
                <div class="sectArea">
                    <div class="comTitH3">
                        <h3>경주전일 자전거 확정검사</h3>
                    </div>

                    <div class="comBasicTxt space">
                        <p class="txt">
                            자전거 확정검사는 선수가 경주개최 전일 입소하여 실시하는 자전거 검사를 뜻하며, 검사종류로는 순차적으로 <em>가력검사, 시각검사, 조임 및 측정검사</em>로 구분되며, 확정검사에 합격한 자전거에 한하여 경주에 출전자격을 획득할 수 있습니다.
                        </p>
                    </div>
                    <div class="comImgWrap col3">
                        <div class="imgGroup">
                            <div class="imgArea">
                                <img src="../../../images/contents/cont01_01_03_01_001.png" alt="자전거 확정 검사를 진행 중인 모습1">
                            </div>
                            <div class="imgArea">
                                <img src="../../../images/contents/cont01_01_03_01_002.png" alt="자전거 확정 검사를 진행 중인 모습2">
                            </div>
                            <div class="imgArea">
                                <img src="../../../images/contents/cont01_01_03_01_003.png" alt="자전거 확정 검사를 진행 중인 모습3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cptSection"></div>
                <div class="sectArea">
                    <div class="comTitH3">
                        <h3>전력질주 의무위반(제72조 제2호)</h3>
                    </div>

                    <div class="comBasicList space">
                        <ul class="listGroup">
                            <li class="item">특별 승급은 3회 연속 1,2위(결승경주 포함) 기록 시 상위 등급으로 승급됩니다.</li>
                            <li class="item">특별 강급은 2회 연속 6, 7위 기록 시 하위 등급으로 강급됩니다.</li>
                        </ul>
                    </div>

                    <div class="comNumList space">
                        <ul class="listGroup">
                            <li class="item">
                                <span class="number">1</span>
                                <span class="txt">폭주하여 승기를 놓쳤다고 인정되는 경우</span>
                            </li>
                            <li class="item">
                                <span class="number">2</span>
                                <span class="txt">과도한 견제로 승기를 놓쳤다고 인정되는 경우</span>
                            </li>
                            <li class="item">
                                <span class="number">3</span>
                                <span class="txt">정당한 이유없이 경주를 포기한 경우</span>
                            </li>
                            <li class="item">
                                <span class="number">4</span>
                                <span class="txt">태만경주가 인정되는 경우</span>
                            </li>
                        </ul>
                    </div>
                    <div class="comImgWrap col4">
                        <div class="imgGroup">
                            <div class="imgArea">
                                <img src="../../../images/contents/cont01_01_03_02_005.png" alt="폭주하여 선수그룹보다 5차신 정도 이상 뒤떨어져 골인한 경우의 이미지">
                                <p class="imgTxt">폭주하여 선수그룹보다 5차신 정도 이상 뒤떨어져 골인한 경우</p>
                            </div>
                            <div class="imgArea">
                                <img src="../../../images/contents/cont01_01_03_02_006.png" alt="과도한 견제로 승기를 놓쳤다고 인정되는 경우의 이미지">
                                <p class="imgTxt">과도한 견제로 승기를 놓쳤다고 인정되는 경우</p>
                            </div>
                            <div class="imgArea">
                                <img src="../../../images/contents/cont01_01_03_02_007.png" alt="정당한 이유없이 경주를 포기한 경우의 이미지">
                                <p class="imgTxt">정당한 이유없이 경주를 포기한 경우</p>
                            </div>
                            <div class="imgArea">
                                <img src="../../../images/contents/cont01_01_03_02_008.png" alt="태만경주가 인정되는 경우의 이미지">
                                <p class="imgTxt">태만경주가 인정되는 경우</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bottom -->
<%- include('../../_ejs/bottom.ejs', { }) %>