<!-- Header -->
<%- include('../../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../../_ejs/header.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜가이드', '경륜 알아보기'],
                    subTitle: '각종 상단',
                    subText: '여러가지 <b>상단 부분 모음</b> 입니다',
                    url: "../../../",
                }) %>

                <!-- 콤포넌트 템플릿 메뉴 -->
                <%- include('./tp_menu.ejs', { }) %>

                <div class="layoutContArea">

                    
                    <!-- 게시판 리스트 상단 -->
                    <div class="comGroupTop">
                        <div class="alignL">
                            <div class="unit"><span class="text">전체 <span class="total">999</span> 건</span></div>
                        </div>
                        <div class="alignR">
                            <ul class="opList">
                                <li class="item">
                                    <div class="frmGroup">
                                        <div class="frmBox">
                                            <select class="iptSlt">
                                                <option value="">전체</option>
                                                <option value="">드롭다운</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="frmGroup">
                                        <div class="frmSearch">
                                            <input type="text" class="iptText" placeholder="내용을 입력하세요">
                                            <button class="btnSearch">검색</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- 검색 박스 -->
                    <div class="comSearchBox">
                        <div class="searchLine col2">
                            <dl class="condition">
                                <dt class="title">구분</dt>
                                <dd class="conBox">
                                    <div class="frmGroup">
                                        <div class="frmBox">
                                            <select class="iptSlt">
                                                <option value="">이벤트 전체</option>
                                                <option value="">드롭다운</option>
                                            </select>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="condition">
                                <dt class="title">지점</dt>
                                <dd class="conBox">
                                    <div class="frmGroup">
                                        <div class="frmBox">
                                            <select class="iptSlt">
                                                <option value="">지점별</option>
                                                <option value="">드롭다운</option>
                                            </select>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="searchLine col4">
                            <dl class="condition">
                                <dt class="title">선수</dt>
                                <dd class="conBox">
                                    <div class="frmGroup">
                                        <div class="frmBox">
                                            <select class="iptSlt">
                                                <option value="">현역선수</option>
                                                <option value="">드롭다운</option>
                                            </select>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="condition">
                                <dt class="title">등급</dt>
                                <dd class="conBox">
                                    <div class="frmGroup">
                                        <div class="frmBox">
                                            <select class="iptSlt">
                                                <option value="">조회</option>
                                                <option value="">드롭다운</option>
                                            </select>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="condition">
                                <dt class="title">기수</dt>
                                <dd class="conBox">
                                    <div class="frmGroup">
                                        <div class="frmBox">
                                            <select class="iptSlt">
                                                <option value="">조회</option>
                                                <option value="">드롭다운</option>
                                            </select>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="condition">
                                <dt class="title">훈련지</dt>
                                <dd class="conBox">
                                    <div class="frmGroup">
                                        <div class="frmBox">
                                            <select class="iptSlt">
                                                <option value="">선택하세요</option>
                                                <option value="">드롭다운</option>
                                            </select>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="searchLine">
                            <dl class="condition">
                                <dt class="title">검색어</dt>
                                <dd class="conBox">
                                    <div class="frmGroup">
                                        <div class="frmBox">
                                            <input type="text" class="iptText" placeholder="내용을 입력하세요">
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            <button class="btn Primary search">검색</button>
                        </div>
                    </div>   
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../../_ejs/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '차룡',
                    phone: '02-2067-5711',
                    url: "../../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../../_ejs/footer.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../../_ejs/bottom.ejs', { }) %>