<!-- Header -->
<%- include('../../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../../_ejs/header.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜가이드', '경륜 알아보기'],
                    subTitle: '완료 페이지',
                    subText: '각종 처리 <b>완료 안내문</b>입니다.',
                    url: "../../../",
                }) %>

                <!-- 콤포넌트 템플릿 메뉴 -->
                <%- include('./tp_menu.ejs', { }) %>

                <div class="layoutContArea">
                    
                    <div class="cptComplete">
                        <div class="compArea">
                            <h3 class="title">명예심판 신청이 완료되었습니다.</h3>
                            <p class="titleDesc">신청일자 : 2024.05-25 15:34:25</p>
                            <p class="msg">명예심판 당첨 시 담당자가<br>
                                <em>등록하신 휴대폰번호로 연락</em>드립니다.</p>
                        </div>
                    </div>

                    <div class="comBtnGroup section">
                        <div class="alignC">
                            <div class="btnBox min">
                                <button class="btn dkLine">메인으로 이동</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptComplete mgh"> <!-- addClass - mgh : margin-top pc-40px, mo-0 -->
                        <div class="compArea">
                            <h3 class="title">비밀번호 재설정이 완료 되었어요.</h3>
                            <p class="msg">새로운 비밀번호로 로그인 해주세요.</p>
                        </div>
                    </div>

                    <div class="comBtnGroup section">
                        <div class="alignC">
                            <div class="btnBox m50">
                                <button class="btn dkLine pcW140">메인으로 이동</button>
                                <button class="btn Primary pcW140">로그인</button>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../../_ejs/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '차룡',
                    phone: '02-2067-5711',
                    url: "../../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../../_ejs/footer.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../../_ejs/bottom.ejs', { }) %>