<!-- Header -->
<%- include('../../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../../_ejs/header.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜가이드', '경륜 알아보기'],
                    subTitle: '서브 상단 공통 정보 상자',
                    subText: '서브 상단에 있는 <b>공통 정보 상자</b> 입니다',
                    url: "../../../",
                }) %>

                <!-- 콤포넌트 템플릿 메뉴 -->
                <%- include('./tp_menu.ejs', { }) %>

                <div class="layoutContArea">

                    <div class="comGroupTop">
                        <div class="alignL">
                            <div class="unit"><span class="text">전체<span class="total">999</span>건</span></div>
                        </div>
                        <div class="alignR">
                            <ul class="opList">
                                <li class="item">
                                    <div class="frmGroup">
                                        
                                        <div class="frmSearch">
                                            <input type="text" placeholder="검색어를 입력해주세요">
                                            <button class="btnSearch">검색</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="comBoardList">
                        <table>
                            <caption></caption>
                            <colgroup>
                                <col style="width:8%;">
                                <col style="width:auto;">
                                <col style="width:10%;">
                                <col style="width:8%;">
                                <col style="width:8%;">
                                <col style="width:9%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td class="bdType left"><span class="listType">기타문의</span></td>
                                    <td class="bdTitle left">
                                        <div class="link">
                                            <div class="title">
                                                <a href="#">경륜선수와 함께하는 자전거 안전교실 재능기부 활동 경륜선수와 함께하는 자전거 안전교실 재능기부 활동 경륜선수와 함께하는 자전거 안전교실 재능기부 활동</a>
                                                <span class="num">[2]</span>
                                                <span class="icons">
                                                    <span class="icon new">새로운 글</span>
                                                    <span class="icon file">첨부파일</span>
                                                    <span class="icon secret">비밀글</span>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="bdState"><span class="state pink">접수완료</span></td> <!-- blue : 진행중, pink : 접수완료, gray : 답변완료 -->
                                    <td>홍길동</td>
                                    <td>35125</td>
                                    <td class="right">0000.00.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../../_ejs/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '차룡',
                    phone: '02-2067-5711',
                    url: "../../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../../_ejs/footer.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../../_ejs/bottom.ejs', { }) %>