<!-- Header -->
<%- include('../../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../../_ejs/header.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜가이드', '경륜 알아보기'],
                    subTitle: '기타 01',
                    subText: '특정 페이지만 사용되는 <b>독립 콤포넌트 모음</b>입니다',
                    url: "../../../",
                }) %>

                <!-- 콤포넌트 템플릿 메뉴 -->
                <%- include('./tp_menu.ejs', { }) %>

                <div class="layoutContArea">
                    
                    <div class="cptDescList">
                        <div class="listArea">
                            <ul class="thumList">
                                <li class="thumItem">
                                    <div class="thumArea">
                                        <img src="../../../images/contents/cont01_01_01_02_006.png" alt="경주 중 1위 체크">
                                    </div>
                                    <dl class="descArea">
                                        <dt>
                                            <em class="tit">단승식</em>
                                            <div class="ballon">적중확률 : <span class="detail">1/7</span></div>
                                        </dt>
                                        <dd>
                                            <ul class="listGroup">
                                                <li class="item">1, 2위 선수 2명을 순위에 상관없이 맞추는 방식입니다.</li>
                                                <li class="item">가장 기본적인 승식이며, 비교적 적은 금액으로 배당금을 기대할 수 있습니다.</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="thumItem">
                                    <div class="thumArea">
                                        <img src="../../../images/contents/cont01_01_01_02_007.png" alt="경주 중 1, 2위 체크">
                                    </div>
                                    <dl class="descArea">
                                        <dt>
                                            <em class="tit">연승식</em>
                                            <div class="ballon">적중확률 : <span class="detail">2/7</span></div>
                                        </dt>
                                        <dd>
                                            <ul class="listGroup">
                                                <li class="item">1위 혹은 2위 선수 중 1명을 맞추는 방식입니다.</li>
                                                <li class="item">8인 이상의 경우는 3위 이내,&nbsp;출주 선수 4인 이하로 열리는 경기에서는 진행하지 않습니다.</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="thumItem">
                                    <div class="thumArea">
                                        <img src="../../../images/contents/cont01_01_01_02_008.png" alt="경주 중 1, 2위 순서 무관 체크">
                                    </div>
                                    <dl class="descArea">
                                        <dt>
                                            <em class="tit">복승식</em>
                                            <div class="ballon">적중확률 : <span class="detail">1/21</span></div>
                                        </dt>
                                        <dd>
                                            <ul class="listGroup">
                                                <li class="item">1, 2위 선수 2명을 순위에 상관없이 맞추는 방식입니다.</li>
                                                <li class="item">연승보다 어렵지만 더 높은 배당금을 기대할 수 있습니다.</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="thumItem">
                                    <div class="thumArea">
                                        <img src="../../../images/contents/cont01_01_01_02_009.png" alt="경주 중 1, 2위 체크">
                                    </div>
                                    <dl class="descArea">
                                        <dt>
                                            <em class="tit">쌍승식</em>
                                            <div class="ballon">적중확률 : <span class="detail">1/42</span></div>
                                        </dt>
                                        <dd>
                                            <ul class="listGroup">
                                                <li class="item">1, 2위 선수 2명을 순위에 맞게 맞추는 방식입니다.</li>
                                                <li class="item">복승식보다 어렵지만, 더 높은 배당금을 기대할 수 있습니다.</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="thumItem">
                                    <div class="thumArea">
                                        <img src="../../../images/contents/cont01_01_01_02_010.png" alt="경주 중 1, 2, 3위 체크">
                                    </div>
                                    <dl class="descArea">
                                        <dt>
                                            <em class="tit">삼복승식</em>
                                            <div class="ballon">적중확률 : <span class="detail">1/35</span></div>
                                        </dt>
                                        <dd>
                                            <ul class="listGroup">
                                                <li class="item">1, 2, 3위의 선수 3명을 순위에 상관없이 맞추는 방식입니다.</li>
                                                <li class="item">쌍승식에 비해 간단한 승식입니다.</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="thumItem">
                                    <div class="thumArea">
                                        <img src="../../../images/contents/cont01_01_01_02_011.png" alt="경주 중 1, 2, 3위 체크">
                                    </div>
                                    <dl class="descArea">
                                        <dt>
                                            <em class="tit">쌍복승식</em>
                                            <div class="ballon">적중확률 : <span class="detail">1/105</span></div>
                                        </dt>
                                        <dd>
                                            <ul class="listGroup">
                                                <li class="item">1위 선수를 순위에 맞게, 2, 3위 선수 2명은 순위에 상관없이 맞추는 방식입니다.</li>
                                                <li class="item">쌍승식보다 어렵지만 높은 배당금을 기대할 수 있습니다.</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="thumItem">
                                    <div class="thumArea">
                                        <img src="../../../images/contents/cont01_01_01_02_012.png" alt="경주 중 1, 2, 3위 체크">
                                    </div>
                                    <dl class="descArea">
                                        <dt>
                                            <em class="tit">삼쌍승식</em>
                                            <div class="ballon">적중확률 : <span class="detail">1/210</span></div>
                                        </dt>
                                        <dd>
                                            <ul class="listGroup">
                                                <li class="item">1, 2, 3위 선수 3명을 순위에 맞게 맞추는 방식입니다.</li>
                                                <li class="item">가장 어려운 승식이지만, 가장 높은 배당금을 기대할 수 있습니다.</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="cptCol2Section">
                        <div class="sectArea">
                            <ul class="sectGroup">
                                <li class="sectItem">
                                    <div class="comTitH2 bk">
                                        <h2>단승식</h2>
                                    </div>
                    
                                    <div class="comBasicTxt">
                                        <p class="txt">
                                            1번 선수에 2,000원을 투표하고, <em>1번 선수가 1위</em>를 하였다면 배당률은 1.2으로 <br> <em>환급금은 2,000 × 1.2 =2,400원</em> 입니다.
                                        </p>
                                    </div>
        
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <div class="pcView"><img src="../../../images/contents/cont01_01_02_03_001.png" alt="단승식 표 이미지"></div>
                                                <div class="mView"><img src="../../../images/contents/cont01_01_02_03_001_m.png" alt="단승식 표 이미지"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="sectItem">
                                    <div class="comTitH2 bk">
                                        <h2>연승식</h2>
                                    </div>
                    
                                    <div class="comBasicTxt">
                                        <p class="txt">
                                            2번 선수에 3,000원을 투표한 경우, <em>2번 선수가 1위 또는 2위</em>를 하였다면 배당률은 1.9로 <br>
                                            <em>환급금은 3,000 × 1.9=5,700원</em> 입니다.
                                        </p>
                                    </div>
        
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <div class="pcView"><img src="../../../images/contents/cont01_01_02_03_002.png" alt="연승식 표 이미지"></div>
                                                <div class="mView"><img src="../../../images/contents/cont01_01_02_03_002_m.png" alt="연승식 표 이미지"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="sectItem">
                                    <div class="comTitH2 bk">
                                        <h2>복승식</h2>
                                    </div>
                    
                                    <div class="comBasicTxt">
                                        <p class="txt">
                                            3번 선수와 4번 선수에 5,000원을 투표한 경우, <em>3번 선수와 4번 선수가 순위에 관계없이 
                                            1위 또는 2위</em>를 하였다면 배당률은 2.4으로 <br>
                                            <em>환급금은 5,000 × 2.4=12,000원</em> 입니다.
                                        </p>
                                    </div>
        
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <div class="pcView"><img src="../../../images/contents/cont01_01_02_03_003.png" alt="복승식 표 이미지"></div>
                                                <div class="mView"><img src="../../../images/contents/cont01_01_02_03_003_m.png" alt="복승식 표 이미지"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="sectItem">
                                    <div class="comTitH2 bk">
                                        <h2>쌍승식</h2>
                                    </div>
                    
                                    <div class="comBasicTxt">
                                        <p class="txt">
                                            5번 선수와 6번 선수에 5,000원을 투표한 경우 <em>5번 선수가 1위를, 6번 선수가 2위</em>로 
                                            적중하였다면 배당률은 3.3으로 <br>
                                            <em>환급금은 5,000 × 3.3=16,500원</em> 입니다.
                                        </p>
                                    </div>
        
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <div class="pcView"><img src="../../../images/contents/cont01_01_02_03_004.png" alt="쌍승식 표 이미지"></div>
                                                <div class="mView"><img src="../../../images/contents/cont01_01_02_03_004_m.png" alt="쌍승식 표 이미지"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="sectItem">
                                    <div class="comTitH2 bk">
                                        <h2>삼복승식</h2>
                                    </div>
                    
                                    <div class="comBasicTxt">
                                        <p class="txt">
                                            2, 5, 6번 선수에 5,000원을 투표한 경우 <em>2, 5, 6번 선수가 순위에 상관없이 1, 2, 3위</em>를 
                                            하였다면 배당률은 3.1으로<br>
                                            <em>환급금은 5,000 × 3.1=15,500원</em> 입니다.
                                        </p>
                                    </div>
        
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <div class="pcView"><img src="../../../images/contents/cont01_01_02_03_005.png" alt="삼복승식 표 이미지"></div>
                                                <div class="mView"><img src="../../../images/contents/cont01_01_02_03_005_m.png" alt="삼복승식 표 이미지"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="sectItem">
                                    <div class="comTitH2 bk">
                                        <h2>쌍복승식</h2>
                                    </div>
                    
                                    <div class="comBasicTxt">
                                        <p class="txt">
                                            2, 1, 5번 선수에 5,000원을 투표한 경우 <em>2번 선수가 1위를 하고 1,5번 선수가 순위에 상관
                                            없이 2,3위</em>를 하였다면 배당률은 36.6으로<br>
                                            <em>환급금은 5,000 × 36.6=183,000원</em>이 됩니다.
                                        </p>
                                    </div>
        
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <div class="pcView"><img src="../../../images/contents/cont01_01_02_03_006.png" alt="쌍복승식 표 이미지"></div>
                                                <div class="mView"><img src="../../../images/contents/cont01_01_02_03_006_m.png" alt="쌍복승식 표 이미지"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="sectItem">
                                    <div class="comTitH2 bk">
                                        <h2>삼쌍승식</h2>
                                    </div>
                    
                                    <div class="comBasicTxt">
                                        <p class="txt">
                                            1, 2, 5번 선수에 5,000원을 투표한 경우 <em>1번 선수가 1위를, 2번 선수가 2위를, 5번 선수가 
                                            3위</em>로 적중하였다면 배당률은 9.1이므로<br>
                                            <em>환급금은 5,000 × 9.1=45,500원</em>이 됩니다.
                                        </p>
                                    </div>
        
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <div class="pcView"><img src="../../../images/contents/cont01_01_02_03_007.png" alt="삼쌍승식 표 이미지"></div>
                                                <div class="mView"><img src="../../../images/contents/cont01_01_02_03_007_m.png" alt="삼쌍승식 표 이미지"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../../_ejs/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '차룡',
                    phone: '02-2067-5711',
                    url: "../../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../../_ejs/footer.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../../_ejs/bottom.ejs', { }) %>