<!-- Header -->
<%- include('../../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../../_ejs/header.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜가이드', '경륜 알아보기'],
                    subTitle: '박스처리 된 콤포넌트',
                    subText: '전체 영역에서 사용되는 <b>각종 박스처리 된 콤포넌트 모음</b> 입니다',
                    url: "../../../",
                }) %>

                <!-- 콤포넌트 템플릿 메뉴 -->
                <%- include('./tp_menu.ejs', { }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경륜만의 스릴과 매력을 즐기기 위해 다양한 경륜의 기초정보를 알아봅시다</h2>
                        <p class="info">경륜은 자전거를 이용해 속도를 즐기는 스포츠로 결과를 예측 할 수 없어 더욱 짜릿합니다.<br>
                            경륜의 기초정보를 이용하여 경륜을 더욱 재밌게 즐겨보세요.</p>
                    </div>

                    <div class="comSubInfo">
                        <h2 class="infoTit">경주 시작 전에 예상 배당률을 기반으로 실제 승률과 베팅 금액에 따라 조정된 최종 배당률을 말합니다.</h2>
                        <p class="info">단승, 연승, 복승, 쌍승, 삼복승, 쌍복승, 삼쌍승 등 다양한 베팅 방식에 따라 최종배당률이 달라집니다.</p>
                        <p class="infoEtc">인기배당률은 <span class="tRed">빨간색</span>으로 표시됩니다.</p>
                    </div>

                    <div class="comSubInfo">
                        <h2 class="infoTit">경주종료 직후 1착, 2착, 3착 선수 및 승식 별 확정배당률 정보가 제공되며 심판판정 확정 직후 상세한 경주기록이 표시됩니다.</h2>
                        <p class="info">경주 착순판정사진이 제작되는 과정을 애니메이션으로 안내해드립니다.</p>
                        <a href="#" class="btn xs dkLine" title="새창열림">착순판정 완성과정 안내 <img src="../../../images/common/ic_12_arr_right_g.svg" alt="바로가기"></a>
                    </div>

                    <!-- 궁금한 정보 풀이 박스 -->
                    <div class="cptEtcInfo">
                        <div class="infoBox">
                            <dl class="info">
                                <dt>
                                    <em class="tit">기어배수를 높게 올릴수록 경주에서 좋은가요?</em>
                                    <span class="subTit">기어배수로 보는 경주이야기</span>
                                </dt>
                                <dd>
                                    <div class="infoList">
                                        <ul class="listGroup">
                                            <li class="item">
                                                일렬로 달리는 선수들을 관찰해 보면 같은 스피드로 달릴 때 높은 기어인 선수의 다리회전이 낮은 기어의 선수보다 느린 것을 알 수 있습니다.<br>그것은 기어배수의 차에 의한 것으로 똑같이 한 번 페달을 밟아도 달리는 거리는 다르기 때문입니다.
                                            </li>
                                            <li class="item">
                                                기어배수는 수치가 높아질수록 페달을 밟은데 큰 힘이 필요하며 반대로 낮아질수록 힘은 적게 소모됩니다. <br>
                                                또한 근력이 일정하다고 가정했을 때 큰 기어배수를 사용하는 경우에는 일정한 속도를 얻기까지 시간은 많이 걸리지만, 일단 속도를 얻고나면 오래 유지할 수 있는 장점이 있습니다.<br>
                                                반대로 작은 기어배수를 사용할 경우에는 동일 주행속도를 얻기까지 시간은 적게 걸리지만, 상대적으로 그 속도를 오래 유지하기가 어려운 단점이 있습니다.
                                            </li>
                                            <li class="item">
                                                일반적인 관점에서 말한다면 기어배수를 올리는 선수는 자신의 힘이 떨어지는 것을 방지하기 위해서나 혹은 일발을 노리기 위해서 입니다. <br>
                                                따라서 작전변화가 예상되므로 기어배수는 그 선수의 전법과 함께 고려해야 하며, 단순히 높은 기어는 안된다든지, 표준기어가 강하다는지 하는 극단적인 판단은 피해야 합니다.
                                            </li>
                                            <li class="item">
                                                베팅은 손실을 감수할 수 있는 범위 내에서 진행하세요.<br>
                                                <em>도박 중독 위험과 법적 제한 사항을 충분히 인지하고 책임감 있게 참여해야 합니다.</em>
                                            </li>
                                        </ul>
                                    </div> 
                                    <div class="comAddGuide"> 
                                        <p class="guide">출처 : 소득세법 제84조(기타소득의 과세최저한)</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="cptEtcInfo">
                        <div class="infoBox">
                            <dl class="info">
                                <dt>
                                    <em class="tit">무인 발매기로 발권하면 잔액이 안나와요!</em>
                                    <span class="subTit">무인 발매기 주의사항</span>
                                </dt>
                                <dd>
                                    <div class="infoList">
                                        <ul class="listGroup">
                                            <li class="item">무인 발매기에서 경주권 발권 시에는 잔액은 현금이 아닌 <em>구매권</em>으로 지급됩니다. <br>
                                                환급을 원하시는 경우에는 발권창구에서 가능합니다.</li>
                                        </ul>
                                    </div> 
                                </dd>
                            </dl>
                            <dl class="info">
                                <dt>
                                    <em class="tit">과도한 베팅은 안돼요!</em>
                                    <span class="subTit">삼진아웃제</span>
                                </dt>
                                <dd>
                                    <div class="infoList">
                                        <ul class="listGroup">
                                            <li class="item">구매상한액을 위반한 고객은 퇴장조치 및 입장제한됩니다.
                                                <ul class="boxStep">
                                                    <li class="stepItem">
                                                        <em>1차적발</em>
                                                        <i>가벼운 경고를 합니다.</i>
                                                    </li>
                                                    <li class="stepItem">
                                                        <em>2차적발</em>
                                                        <i>퇴장조치를 당합니다.</i>
                                                    </li>
                                                    <li class="stepItem">
                                                        <em>3차적발</em>
                                                        <i>1개월 이상 입장제한이 됩니다.</i>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="item">
                                                최초 적발일부터 <em>1년간 3차 적발 시 3진 아웃</em>이 진행됩니다. <br>
                                                퇴장 고객은 과거 연발매 여부 기타 위반사항 등에 따라 입장거부 기간이 가중 적용되니 참고해주세요!
                                            </li>
                                        </ul>
                                    </div> 
                                    <div class="comAddGuide">
                                        <p class="guide">경륜시행규정 – 제 48조, 49조 / 경정시행규정 – 제 38조, 39조</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="cptEtcInfo">
                        <div class="infoBox">
                            <dl class="info">
                                <dt>
                                    <em class="tit">제재대상에 대해 알고싶어요.</em>
                                    <span class="subTit">제재사례 Q&amp;A</span>
                                </dt>
                                <dd>
                                    <ul class="qnaList">
                                        <li class="qnaItem">
                                            <p class="qTit">
                                                <b class="num">Q1. </b>
                                                <span class="txt">경주 중 다른 선수를 낙차시킨 선수는 어떤 제재를 받게 되나요?</span>
                                            </p>
                                            <div class="aTxt">
                                                <p class="pharse">경주중 본인 귀책사유로 낙차사고를 일으킨 경우 경주규칙 위반사항에 차이는 있을 수 있지만 기본적으로 해당 낙차사고 인원에 비례하여 제재를 받게 됩니다. <br> (심판판정규칙에 따른 출전정지)</p>
                                                <p class="pharse"><b>사례1) 2인 이상 낙차사고 :</b> 출전정지 2회차</p>
                                                <p class="pharse"><b>사례2) 5인 이상 낙차사고 :</b> 출전정지 3회차</p>
                                                <p class="pharse">다만, 다량의 낙차사고를 일으켜 경주불성립 또는 승식불성립 등 경주의 중대한 영향을 준 경우는 더욱 무거운 제재처분을 받을 수 있습니다.</p>
                                            </div>
                                        </li>
                                        <li class="qnaItem">
                                            <p class="qTit">
                                                <b class="num">Q2. </b>
                                                <span class="txt">낙차사고를 일으키지 않았는데 출전정지 제재를 받는 경우가 있나요?</span>
                                            </p>
                                            <div class="aTxt">
                                                <p class="pharse">경주중 낙차사고를 일으키지 않았지만 다른 선수에게 고의적으로 지장을 반복해서 주는 행위나 경주에 중대한 영향을 준 경우는 사안에 따라 제재를 받을 수 있습니다.</p>
                                                <p class="pharse"><b>사례1) :</b> A선수는 경주에 출전하여 해당경주에만 규칙위반 경고4건, 주의 2건 등 다른 선수에게 지장을 주는 난폭경주로 경주결과에 중대한 영향을 끼쳐 출전정지 처분을 받은 사례가 있습니다.</p>
                                                <p class="pharse"><b>사례2) :</b> AB선수는 경주에 출전하여 다른 선수에게 “야 자리좀 줘”, “뒤에 있어” 등 의 발성으로 공정한 경주에 중대한 영향을 주어 경주관여정지 1년 처분을 받은 사례가 있습니다.</p>
                                            </div>
                                        </li>
                                        <li class="qnaItem">
                                            <p class="qTit">
                                                <b class="num">Q3. </b>
                                                <span class="txt">품위손상행위로 제재처분을 받는 선수가 있다고 하는데 품위손상은 어떤 경우가 해당되나요?</span>
                                            </p>
                                            <div class="aTxt">
                                                <p class="pharse">경주에 출전하여 선수 준수사항을 위반하거나 경주출전일 외에 현행법을 위반하여 사법처분을 받은 경우 제재를 받을 수 있습니다. <br> 대표적인 위반사례로 음주운전, 폭행, 성매매(비위), 불법도박, 고객모욕 등이 있습니다.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <!-- 퀵 박스 -->
                    <div class="cptQuickMove">
                        <div class="boxArea">
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">문화교실은 이렇게 운영되고 있어요.</em>
                                    <p class="desc">
                                        기금조성총괄본부는 문화강좌 선정에 있어 지역주민들의 관심과 호응도를 첫째 기준으로 삼고 있으며 시설 대여료와 수강료 없이 모든 문화교실을 운영하고 있어요.<br>
                                        <span class="tKey">경륜과 경정을 공동으로 운영하는 지점의 경우,문화교실 운영요일과 시간이 변경될 수 있어요.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptQuickMove">
                        <div class="boxArea">
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">경주권을 분실한 경우 신고접수하세요</em>
                                    <p class="desc">도난 되거나 분실된 경주권은 <b>고객센터 &gt; 경륜경정 신고센터 &gt; 분실경주권 신고</b>를 이용해주세요.</p>
                                </div>
                                <div class="btnArea">
                                    <a href="#" class="btn Primary">분실경주권 신고하기</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptQuickMove">
                        <div class="boxArea">
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">삼쌍승식은 스피드온 전용 승식으로 <img src="../../../images/common/logo_speedon.svg" alt="스피드온"> 앱에서 베팅할 수 있습니다.</em>
                                </div>
                                <div class="btnArea">
                                    <a href="#" class="btn Primary">스피드온 바로가기</a>
                                </div>
                            </div>
                            
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">경륜 경기의 짜릿함을 한층 더 높여줄 승식! 조금 더 알고싶다면!</em>
                                </div>
                                <div class="btnArea">
                                    <a href="#" class="btn Primary">승식종류안내</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptQuickMove">
                        <div class="boxArea bgWhite">
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">국민체육진흥공단 고객센터 운영정책</em>
                                    <p class="desc">운영정책을 확인하시고 이용에 참고 하시기 바랍니다. 고객의 소리는 3년 이내의 내용만 조회됩니다.</p>
                                </div>
                                <div class="btnArea">
                                    <a href="#" class="btn gLine">운영정책 보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptQuickMove">
                        <div class="boxArea">
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">온라인 신고하기</em>
                                    <p class="desc">경륜·경정 홈페이지에서도 부정·불법신고가 가능합니다.</p>

                                    <div class="comAddGuide point">
                                        <p class="guide">팩스, 이메일, 온라인의 경우 첨부된 신고접수 양식을 작성하셔서 보내주세요.</p>
                                    </div>
                                </div>
                                <div class="btnArea multiBtn">
                                    <button type="button" class="btn gLine download"><span>신고서 다운로드</span></button>
                                    <a href="#" class="btn Primary"><span>온라인 신고서 작성하기</span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 이용약관 박스 -->
                    <div class="comPrivacyBox">
                        <dl class="infoBox">
                            <dt class="boxTop">
                                <div class="frmGroup">
                                    <div class="frmBox maxCont">
                                        <input id="chk101" type="checkbox" class="iptChk" checked><label for="chk101" class="iptLbl">개인정보이동동의</label>
                                    </div>
                                </div>
                            </dt>
                            <dd class="boxCont">
                                <p class="txt">
                                    선수의 등급은 상ㆍ하반기(6개월단위)마다 경주 성적에 따라 등급 심사를 통하여 조정됩니다. 수급반은 매회차 변경됩니다.(S1↔S2)
                                </p>
                                <ul class="listGroup">
                                    <li class="item">
                                        <b class="lineTit">수집 및 이용항목</b>
                                        <i class="lineTxt">회원가입 필수정보 외 성별, 나이, 이용지점</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">수집 및 이용목적</b>
                                        <i class="lineTxt">일일명예심판 행사 진행 관련</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">보유 및 이용기간 : 3년</b>
                                        <i class="lineTxt">(단, 법령에 따로 정하는 경우는 해당 기간까지 보관)</i>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../../_ejs/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '차룡',
                    phone: '02-2067-5711',
                    url: "../../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../../_ejs/footer.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../../_ejs/bottom.ejs', { }) %>