<!-- Header -->
<%- include('../../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../../_ejs/header.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜가이드', '경륜 알아보기'],
                    subTitle: '서브 상단 공통 정보 상자',
                    subText: '서브 상단에 있는 <b>공통 정보 상자</b> 입니다',
                    url: "../../../",
                }) %>

                <!-- 콤포넌트 템플릿 메뉴 -->
                <%- include('./tp_menu.ejs', { }) %>

                <div class="layoutContArea">
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>탭메뉴</h2>
                            </div>
            
                            <div class="comTitH3">
                                <h3>Tab : 기본형</h3>
                            </div>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">
                                PC~모바일까지 Swiper가 필요없을 때 사용
                            </p>
                        </div>
                    </div>

                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">출주표</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">최근성적</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                contents 0-1
                            </div>
                            <div class="tabCont">
                                contents 0-2
                            </div>
                        </div>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH3">
                                <h3>Tab : .toAll (swiper : mobile, tablet, PC)</h3>
                            </div>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">
                                PC부터 모바일까지 모두 Swiper기능을 쓸 때 사용
                            </p>
                        </div>
                    </div>

                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toAll swiper-initialized swiper-horizontal swiper-backface-hidden">
                            <ul class="tabMenu swiper-wrapper" id="swiper-wrapper-d73cad9b8c9d4fef" aria-live="polite">
                                <li class="tabItem swiper-slide swiper-slide-active" role="group" aria-label="1 / 10"><button class="tabName on" title="선택 된 탭메뉴">출주표</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide swiper-slide-next" role="group" aria-label="2 / 10"><button class="tabName" title="탭메뉴">최근성적</button></li>
                                <li class="tabItem swiper-slide" role="group" aria-label="3 / 10"><button class="tabName" title="탭메뉴">연도별기록</button></li>
                                <li class="tabItem swiper-slide" role="group" aria-label="4 / 10"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide" role="group" aria-label="5 / 10"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide" role="group" aria-label="6 / 10"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide" role="group" aria-label="7 / 10"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide" role="group" aria-label="8 / 10"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide" role="group" aria-label="9 / 10"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide" role="group" aria-label="10 / 10"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                            </ul>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev swiper-button-disabled" disabled="" tabindex="-1" aria-label="Previous slide" aria-controls="swiper-wrapper-d73cad9b8c9d4fef" aria-disabled="true">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-d73cad9b8c9d4fef" aria-disabled="false">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                contents 0-1
                            </div>
                            <div class="tabCont">
                                contents 0-2
                            </div>
                            <div class="tabCont">
                                contents 0-3
                            </div>
                            <div class="tabCont">
                                contents 0-4
                            </div>
                            <div class="tabCont">
                                contents 0-5
                            </div>
                            <div class="tabCont">
                                contents 0-6
                            </div>
                            <div class="tabCont">
                                contents 0-7
                            </div>
                            <div class="tabCont">
                                contents 0-8
                            </div>
                            <div class="tabCont">
                                contents 0-9
                            </div>
                            <div class="tabCont">
                                contents 0-10
                            </div>
                        </div>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH3">
                                <h3>Tab : .toMob (swiper : mobile)</h3>
                            </div>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">
                                mobile만 Swiper기능을 쓸 때 사용
                            </p>
                        </div>
                    </div>

                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toMob">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">출주표</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">최근성적</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">연도별기록</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                contents 0-1
                            </div>
                            <div class="tabCont">
                                contents 0-2
                            </div>
                            <div class="tabCont">
                                contents 0-3
                            </div>
                            <div class="tabCont">
                                contents 0-4
                            </div>
                        </div>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH3">
                                <h3>Tab : .toTab (swiper : mobile, tablet)</h3>
                            </div>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">
                                mobile~tablet까지 Swiper기능을 쓸 때 사용
                            </p>
                        </div>
                    </div>

                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toTab">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">출주표</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">최근성적</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">연도별기록</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                contents 0-1
                            </div>
                            <div class="tabCont">
                                contents 0-2
                            </div>
                            <div class="tabCont">
                                contents 0-3
                            </div>
                            <div class="tabCont">
                                contents 0-4
                            </div>
                            <div class="tabCont">
                                contents 0-5
                            </div>
                            <div class="tabCont">
                                contents 0-6
                            </div>
                            <div class="tabCont">
                                contents 0-7
                            </div>
                            <div class="tabCont">
                                contents 0-8
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../../_ejs/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '차룡',
                    phone: '02-2067-5711',
                    url: "../../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../../_ejs/footer.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../../_ejs/bottom.ejs', { }) %>