<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
    title: "KCYCLE",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: [],
                    subTitle: 'Company',
                    subText: 'Introduction to General Headquarters for<br><b>K-Cycle Racing and K-Motorboat Racing</b>>',
                    url: "../../",
                    visualClass: "bg06",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptContSpeedom eng">
                        <div class="contArea">
                            <div class="list">
                                <div class="img"><img src="../../images/contents/cont101_01_01.png" alt="K-Cycling photo"></div>
                                <div class="cont">
                                    <div class="comTitH2 mRow">
                                        <h2>K-Cycle Racing (Korean Cycle Racing)</h2>
                                    </div>
                                    <div class="comBasicTxt">
                                        <p class="txt">
                                            Official Olympic Event (KEIRIN): A cycling race where 7 riders compete for rankings by completing 5 laps on a 333.33 meter velodrome.
                                            <br><br>
                                            It has been stably operated as a betting sport in Korea for about 30 years, generating over $1.2 billion in annual revenue.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="list bt">                                
                                <div class="cont">
                                    <div class="comTitH2 mRow">
                                        <h2>K-Motorboat Racing (Korean Motorboat Racing)</h2>
                                    </div>
                                    <div class="comBasicTxt">
                                        <p class="txt">
                                            Motorboat racing, held on water, features 6 participants competing for rankings by completing 2 to 3 laps on a 600-meter racecourse.
                                            <br><br>
                                            Since 2002, it has been operating as a stable betting sport in Korea, generating annual revenue of over $ 470 million.
                                        </p>
                                    </div>
                                </div>
                                <div class="img"><img src="../../images/contents/cont101_01_02.png" alt="K-Boating image"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->

                <!-- 서브 바텀 (담당자) -->
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>