<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
    title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['General Headquarters'],
                    subTitle: 'Gwangmyeong Speedom Information',
                    subText: 'The Korea Sports Promotion Foundation&rsquo;s KCYCLE and KBOAT Headquarters is accelerating the arrival of a <br><b>healthier world</b>.',
                    url: "../../",
                    visualClass: "bg06",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptContSpeedom">
                        <div class="contArea">
                            <div class="list">
                                <div class="img"><img src="../../images/contents/cont08_04_01.jpg" alt="광명스피돔"></div>
                                <div class="cont">
                                    <div class="comTitH2 mRow">
                                        <h2>Gwangmyeong Speedom</h2>
                                        <p class="rightTxt">Cycle Stadium Speedome</p>
                                    </div>
                                    <div class="comBasicTxt">
                                        <p class="txt">Introducing the Gwangmyeong Speedom, an international-standard racetrack. <br /> This indoor racetrack operates year-round and is constructed to meet the standards set by the International Cycling Union. It is a source of pride for South Korea, excelling in both scale and facilities on a global level. <br /> Spectators can enjoy the races from general seating, specialised viewing areas, premium TV rooms, and membership lounges. The venue seamlessly combines leisure and recreation under an elegant interior design that enhances customer convenience.<br /> Facilities include a third-floor cafeteria and a fourth-floor restaurant, as well as amenities such as children&apos;s playrooms, beginner classrooms, outdoor terraces, large-scale lounges, meeting spaces, and other rest areas&mdash;creating an environment where families can enjoy their visit together.</p>
                                    </div>
                                    <div class="infoTxt">
                                        <dl>
                                            <dt>Location</dt>
                                            <dd>Gwangmyeong Speedom, 721 Gwangmyeong-ro (Gwangmyeong-dong), Gwangmyeong-si, Gyeonggi-do, Republic of Korea</dd>
                                        </dl>
                                        <dl>
                                            <dt>Area</dt>
                                            <dd>Building Area: 39,670㎡<br />Total Floor Area: 76,033㎡</dd>
                                        </dl>
                                        <dl>
                                            <dt>Track Specifications</dt>
                                            <dd>Track Length: 333.3m<br />Track Width: 9.8m<br />Gradient: 4° on straights, 34.45° on curves</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list bt">                                
                                <div class="cont">
                                    <div class="comTitH2 mRow">
                                        <h2>Gwangmyeong Speedom VR Tours and Videos</h2>
                                    </div>
                                    <div class="comBasicTxt">
                                        <p class="txt">Explore the Central Arena, second-floor lobby, Gwangmyeong Speedom Lounge, third-floor lobby, promotional hall, fourth-floor lobby, and membership rooms.</p>
                                    </div>
                                    <div class="btnGrp">
                                        <a href="https://nareum1318.synology.me/speedom/tour.html" target="_blank">Watch VR Tour</a> 
                                        <a href="https://www.youtube.com/watch?v=YHbssY57_kg" target="_blank">Watch VR Video</a>
                                    </div>
                                    <dl class="vrInfo">
                                        <dt>For enhanced realism, enjoy the VR experience using dedicated VR goggles.</dt>
                                        <dd>This VR tour and video production are the result of a collaborative effort between the Korea Sports Promotion Foundation&apos;s Cycling and Boatng General Headquarters and the Gwangmyeong Youth Foundation&rsquo;s Nareum Youth Activity Centre. Local youth actively participated in the planning, filming, and creation process to promote the local landmark, the &ldquo;Gwangmyeong Speedom.&rdquo;</dd>
                                    </dl>
                                </div>
                                <div class="img"><img src="../../images/contents/cont08_04_02.jpg" alt="Gwangmyeong Speedom VR Tours and Videos"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs_eng/sub_btm.ejs', {
                    team: 'Cycling Services Team',
                    name: 'Shin Dong-heon',
                    phone: '+82 2 2067 5822',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>