<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['총괄본부','경륜훈련원'],
                    subTitle: '선수로드맵',
                    subText: '경륜과 함께<br><b>희망찬 미래</b>를 설계하세요!',
                    url: "../../",
                    visualClass: "bg01",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경륜 선수는 엄청난 체력과 기술, 그리고 강한 정신력을 필요로 하는 매력적인 직업입니다.</h2>
                        <p class="info">
                            스피드 대 스피드! 작전 대 작전! 체력, 두뇌! 오직 하나의 목표를 향하여 젊음과 투혼을 불사르는 진정한 프로의 세계! 경륜과 함께 희망찬 미래를 설계하십시오! 여러분의 꿈을 실현할 수 있는 경륜선수가 되는 길을 안내합니다.
                        </p>
                    </div>

                    <div class="cptRoadMap">
                        <div class="stepGrp">
                            <ul>
                                <li class="li1">
                                    <dl class="inTxt">
                                        <dt>01</dt>
                                        <dd>경륜선수 후보생 선발</dd>
                                    </dl>
                                </li>
                                <li class="li2">
                                    <dl class="inTxt">
                                        <dt>02</dt>
                                        <dd>준비안내</dd>
                                    </dl>
                                </li>
                                <li class="li3">
                                    <dl class="inTxt">
                                        <dt>03</dt>
                                        <dd>교육 및 훈련</dd>
                                    </dl>
                                </li>
                                <li class="li4">
                                    <dl class="inTxt">
                                        <dt>04</dt>
                                        <dd>선수자격시험</dd>
                                    </dl>
                                </li>
                                <li class="li5">
                                    <dl class="inTxt">
                                        <dt>05</dt>
                                        <dd>선수등록</dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                        <div class="contArea">
                            <div class="list">
                                <div class="subject">
                                    <div class="comTitH2">
                                        <div class="num">01.</div>
                                        <h2>경륜선수 <span class="blk"></span>후보생 선발</h2>
                                    </div>
                                </div>
                                <div class="txtInfo">
                                    <div class="comTitH3">
                                        <h3>선발인원</h3>
                                    </div>
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            00명
                                        </p>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>응시자격</h3>
                                    </div>
                                    <div class="comBasicList space">
                                        <ul class="listGroup">
                                            <li class="item">대한민국 남자로서 병역의무를 필하였거나 면제된자</li>
                                            <li class="item">시력, 청력, 혈압이 정상인자</li>
                                            <li class="item">경주에 지장을 초래할 정도의 장애 또는 질환이 없는자</li>
                                            <li class="item">정신이상, 간질 기타 신경장애가 없는 자</li>
                                            <li class="item">경륜경정법 제7조 1항 각 호의 1에 해당되지 아니한 자</li>
                                        </ul>
                                    </div>
                                    <div class="hipTxt">
                                        <p class="hip">피성년후견인 피한정후견인 또는 파산선고를 받고 복권되지 아니한 자</p>
                                        <p class="hip">이 법을 위반하여 벌금 이상의 형을 선고받지 아니한 자</p>
                                        <p class="hip">금고 이상의 형을 선고받고 그 집행이 끝나거나 집행이 면제된 날로부터 5년이 지나지 아니한 자</p>
                                        <p class="hip">금고 이상의 형의 집행유예를 선고받고 그 유예기간 중에 있는 자</p>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>응시원서 교부 및 접수방법</h3>
                                    </div>
                                    <div class="comBasicList space">
                                        <ul class="listGroup">
                                            <li class="item">기간 : 9~10월 시행<span class="tKey">※ 일정은 선수수급상황에 따라 변경가능</span></li>
                                            <li class="item">응시원서 교부 : 홈페이지(www.kcycle.or.kr) 공지사항에서 다운로드</li>
                                            <li class="item">접수방법 : 등기우편 및 훈련원 방문접수</li>
                                        </ul>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>시험과목</h3>
                                    </div>
                                    <div class="comContTable">
                                        <table class="basic">
                                            <caption>시험과목 : 과목, 시험내용, 시험장소 항목을 포함한 표</caption>
                                            <colgroup>
                                                <col style="width:33.333333%;">
                                                <col style="width:33.333333%;">
                                                <col style="width:33.333333%;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>과목</th>
                                                    <th>시험내용</th>
                                                    <th>시험장소</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>주행능력(자전거실기)</td>
                                                    <td>벨로드롬 200m ⦁ 500m ⦁ 1000m 주행기록</td>
                                                    <td>경륜훈련원</td>
                                                </tr>
                                                <tr>
                                                    <td>필기시험</td>
                                                    <td>일반상식, 인 ⦁ 적성검사</td>
                                                    <td>경륜훈련원</td>
                                                </tr>
                                                <tr>
                                                    <td>전문체력측정 면접</td>
                                                    <td>Wingate Test, 등속성 각근력, 배근력, 악력</td>
                                                    <td>한국스포츠과학원(서울 공릉동)</td>
                                                </tr>
                                                <tr>
                                                    <td>신체검사</td>
                                                    <td>경륜선수로서의 신체상태 적격여부 검사</td>
                                                    <td>국·공립 병원</td>
                                                </tr>
                                                <tr>
                                                    <td>도핑검사</td>
                                                    <td>금지약물 복용 여부 검사</td>
                                                    <td>경륜훈련원</td>
                                                </tr>
                                                <tr>
                                                    <td>면접시험</td>
                                                    <td>면접시험(1차선발시험 합격자에 한함)</td>
                                                    <td>경륜훈련원 또는 지정장소</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="comAddGuide"> 
                                        <p class="guide">자전거실기 측정 시 기어배수는 제한 없음</p>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>기타</h3>
                                    </div>
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            응시자에 대해 범죄 경력, 개인정보수집동의, 도핑검사 실시
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="subject">
                                    <div class="comTitH2">
                                        <div class="num">02.</div>
                                        <h2>선수후보생 <span class="blk"></span>준비안내</h2>
                                    </div>
                                </div>
                                <div class="txtInfo">
                                    <div class="comTitH3">
                                        <h3>경륜선수 후보생이 되기위한 기본적인 준비물</h3>
                                    </div>
                                    <div class="comBasicList space">
                                        <ul class="listGroup">
                                            <li class="item">경륜용(트랙) 자전거</li>
                                            <li class="item">도로용 자전거</li>
                                            <li class="item">헬멧(경륜용) 원형</li>
                                            <li class="item">스파이크(사이클용 신발)</li>
                                            <li class="item">사이클 유니폼 등</li>
                                            <li class="item">롤-러(자전거 실내훈련기구, 개인 필요시 선택사항)</li>
                                        </ul>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>자전거 실기 준비</h3>
                                    </div>
                                    <div class="comBasicList space">
                                        <ul class="listGroup">
                                            <li class="item">가. 저온에서는 철저한 준비운동 및 스트레칭으로 준비운동을 행한 후에 주훈련에 들어가야 한다</li>
                                            <li class="item">나. 도로용 자전거로 장거리 지구력 훈련</li>
                                            <li class="item">다. 트랙용으로 도로에서 내리막 회전력 훈련 및 오르막 각근력 향상 훈련</li>
                                            <li class="item">라. 주변에 가까운 벨로드롬 경기장을 찾아서 트랙용 자전거로 회전력 보강, 피스타 상단에서 내리막 댓쉬훈련, 순발력 훈련, 지구력 훈련을 실시하고 후보생 선발시험을 대비한 200m 후라잉 대쉬훈련, 500m, 1km 스탠팅 스타트 훈련을 지속적으로 행함</li>
                                        </ul>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>기초체력강화 준비</h3>
                                    </div>
                                    <div class="comBasicList space">
                                        <ul class="listGroup">
                                            <li class="item">기초체력측정 4개 종목인 악력(쥐는 힘), 배근력, 등속성 각근력, Wingate Test에 대비하여 체력강화 연습을 하여야 한다.</li>
                                            <li class="item">경륜선수후보생이 되는 지름길은 조금이라도 빨리 자전거와 인연을 맺고 기존 경륜선수 또는 아마추어 사이클선수를 찾아 조언을 구하는 방법과 경륜훈련원으로 연락하여 안내를 받는 것이 후보생이 되는 제일 좋은 방법이다.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="subject">
                                    <div class="comTitH2">
                                        <div class="num">03.</div>
                                        <h2>선수후보생 <span class="blk"></span>교육 및 훈련</h2>
                                    </div>
                                </div>
                                <div class="txtInfo">
                                    <div class="comTitH3">
                                        <h3>교육과정 안내</h3>
                                    </div>
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            선수후보생의 교육과정은 경륜경정총괄본부 경륜훈련원에서 약11개월간의 합숙훈련을 통해 선수로서 갖추어야 할 경주기술과 건전한 직업윤리 및 교양 확립에 중점을 두고 실시하고 있습니다. (교육기간 : 10~11개월)
                                        </p>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>교육안내</h3>
                                    </div>
                                    <div class="comBasicList space">
                                        <ul class="listGroup">
                                            <li class="item">훈련원생활관 합숙교육</li>
                                            <li class="item">교육비(식비, 피복비 등 실비 일부) 및 전형료 징수</li>
                                            <li class="item">교육과정 수료 후 선수자격시험을 통과하면 선수로 등록되어 광명, 창원, 부산 경륜장에서 시행하는 경주에 경륜선수로 참가</li>                                            
                                        </ul>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>교육과목 및 내용</h3>
                                    </div>
                                    <div class="comContTable">
                                        <table class="basic">
                                            <caption>교육과목 및 내용 : 구분, 교육과목, 내용 항목을 포함한 표</caption>
                                            <colgroup>
                                                <col style="width:33.333333%;">
                                                <col style="width:33.333333%;">
                                                <col style="width:33.333333%;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>구분</th>
                                                    <th>교육과목</th>
                                                    <th>내용</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="rowLineR" rowspan="5">학과교육</td>
                                                </tr>
                                                <tr>
                                                    <td>경륜관련법규</td>
                                                    <td>경륜 관련 제도 및 시행규칙</td>
                                                </tr>
                                                <tr>
                                                    <td>자전거 이론 및 정비</td>
                                                    <td>자전거 특성 및 분해 ⦁ 조립</td>
                                                </tr>
                                                <tr>
                                                    <td>스포츠의학</td>
                                                    <td>응급처치 ⦁ 처방교육 및 신체구조</td>
                                                </tr>
                                                <tr>
                                                    <td>공정교육 및 직업윤리</td>
                                                    <td>직업선수 윤리 및 교양</td>
                                                </tr>
                                                <tr>
                                                    <td class="rowLineR" rowspan="5">실기교육</td>
                                                </tr>
                                                <tr>
                                                    <td>기초훈련</td>
                                                    <td>롤러연습, 수평 ⦁ 등판 ⦁ 훈련</td>
                                                </tr>
                                                <tr>
                                                    <td>피스타 경주훈련</td>
                                                    <td>경주주행, 경기전법, 댓쉬 훈련</td>
                                                </tr>
                                                <tr>
                                                    <td>도로훈련</td>
                                                    <td>지구력강화 및 회전력향상교육</td>
                                                </tr>
                                                <tr>
                                                    <td>체력훈련</td>
                                                    <td>웨이트트레이닝, 기초체력 강화</td>
                                                </tr>
                                                <tr>
                                                    <td>적응훈련</td>
                                                    <td>현지적응훈련</td>
                                                    <td>3개 경륜장(광명, 창원, 부산) 적응훈련</td>
                                                </tr>
                                                <tr>
                                                    <td>기타</td>
                                                    <td>평가 및 체험활동 등</td>
                                                    <td>실기측정, 특별활동 등</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>선수 후보생 일과표</h3>
                                    </div>
                                    <div class="comContTable">
                                        <table class="basic">
                                            <caption>교육과목 및 내용 : 구분, 시간, 비고 항목을 포함한 표</caption>
                                            <colgroup>
                                                <col style="width:25%;">
                                                <col style="width:25%;">
                                                <col style="width:25%;">
                                                <col style="width:25%;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>구분</th>
                                                    <th>시간</th>
                                                    <th>소요시간</th>
                                                    <th>비고</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>아침점호/체조 및 런닝</td>
                                                    <td>06:30 ~ 07:30</td>
                                                    <td>1.0</td>
                                                    <td>훈련원 2Km 순환도로 걷기</td>
                                                </tr>
                                                <tr>
                                                    <td>조식 및 교육준비</td>
                                                    <td>07:30 ~ 09:00</td>
                                                    <td>1.5</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>오전 교육훈련</td>
                                                    <td>09:00 ~ 12:00</td>
                                                    <td>3.0</td>
                                                    <td>학과교육, 체력강화교육</td>
                                                </tr>
                                                <tr>
                                                    <td>중식(휴식 및 교육준비)</td>
                                                    <td>12:00 ~ 14:00</td>
                                                    <td>2.0</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>오후 교육훈련</td>
                                                    <td>14:00 ~ 18:00</td>
                                                    <td>4.0</td>
                                                    <td>피스타 경주훈련</td>
                                                </tr>
                                                <tr>
                                                    <td>석식</td>
                                                    <td>18:00 ~ 19:00</td>
                                                    <td>1.0</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>자율훈련 및 취미활동</td>
                                                    <td>19:00 ~ 21:30</td>
                                                    <td>2.5</td>
                                                    <td>헬스, 롤러 훈련, 취미활동</td>
                                                </tr>
                                                <tr>
                                                    <td>야간점호/취침준비</td>
                                                    <td>21:30 ~ 22:00</td>
                                                    <td>0.5</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>취침</td>
                                                    <td>22:00 ~ 06:30</td>
                                                    <td>8.5</td>
                                                    <td>-</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="subject">
                                    <div class="comTitH2">
                                        <div class="num">04.</div>
                                        <h2>선수자격시험</h2>
                                    </div>
                                </div>
                                <div class="txtInfo">
                                    <div class="comTitH3">
                                        <h3>선수자격시험 응시 자격</h3>
                                    </div>
                                    <div class="comBasicList space">
                                        <ul class="listGroup">
                                            <li class="item">경륜선수로 등록신청을 하고자하는 사람은 공단이 실시하는 자격시험에 합격하여야 함</li>
                                            <li class="item">경륜훈련원에서 경륜선수후보생 교육을 이수하고 졸업인정기준을 통과한 선수후보생</li>                                            
                                        </ul>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>선수자격시험 방법</h3>
                                    </div>
                                    <div class="comBasicList space">
                                        <ul class="listGroup">
                                            <li class="item">필기시험(경륜관계법규, 자전거 구조 및 기능의 이론, 스포츠에 관한 의학적 지식, 일반상식)</li>
                                            <li class="item">실기시험(벨로드롬 경주로의 1km, 500m, 200주행 기록·자전거 정비기능), 면접시험, 신체검사</li>                                            
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="list">
                                <div class="subject">
                                    <div class="comTitH2">
                                        <div class="num">05.</div>
                                        <h2>선수등록</h2>
                                    </div>
                                </div>
                                <div class="txtInfo">
                                    <div class="comTitH3">
                                        <h3>자격시험 합격 후 선수 등록</h3>
                                    </div>
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            자격시험에 합격한 사람은 경륜선수로 등록하여 3개 시행체(광명, 창원, 부산 경륜장)에서 시행하는 경륜경기에 참가할 수 있음
                                        </p>
                                    </div>                                                                      
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜훈련원',
                    name: '박성호',
                    phone: '054-630-1615',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>