<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정정보','통계데이터'],
                    subTitle: '매출액 통계',
                    subText: '<b>회차별, 일차별, 경주별로 <br>최대 매출</b>을 알려드려요 ',
                    url: "../../",
                    visualClass: "bg02",
                }) %>
                

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">경주의 최고 매출액을 통계내어 순위로 안내합니다.</h2>
                        <p class="info">연도를 선택하셔서 회차별, 일차별, 경주별로 최고 매출액을 확인하세요.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2 mRow"><!--20241031 class 추가-->
                                <h2>매출액 통계</h2>
                                <div class="right">
                                    <div class="frmBox">
                                        <select class="iptSlt">
                                            <option value="">통계 연도 전체</option>
                                            <option value="">2024년</option>
                                            <option value="">2023년</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>회차별 최고 매출액</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea sizeS">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:33.3333%">
                                            <col style="width:33.3333%">
                                            <col style="width:33.3333%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>순위</th>
                                                <th>회차</th>
                                                <th>매출액(단위 : 원)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>2017년 38회차(2017-10-06~2017-10-09)</td>
                                                <td><b>75,171,317,800</b></td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>2017년 50회차(2017-10-06~2017-10-09)</td>
                                                <td><b>75,171,317,800</b></td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>2017년 49회차(2017-10-06~2017-10-09)</td>
                                                <td><b>75,171,317,800</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            
                            <div class="comTitH3">
                                <h3>일차별 최고 매출액</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea sizeS">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:33.3333%">
                                            <col style="width:33.3333%">
                                            <col style="width:33.3333%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>순위</th>
                                                <th>회차</th>
                                                <th>매출액(단위 : 원)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>2017년 38회차(2017-10-06~2017-10-09)</td>
                                                <td><b>75,171,317,800</b></td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>2017년 50회차(2017-10-06~2017-10-09)</td>
                                                <td><b>75,171,317,800</b></td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>2017년 49회차(2017-10-06~2017-10-09)</td>
                                                <td><b>75,171,317,800</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            
                            <div class="comTitH3">
                                <h3>경주별 최고 매출액</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea sizeS">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:33.3333%">
                                            <col style="width:33.3333%">
                                            <col style="width:33.3333%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>순위</th>
                                                <th>회차</th>
                                                <th>매출액(단위 : 원)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td><a href="#" class="player" onclick="openPopup('raceResult01');">2017년 38회차(2017-10-06~2017-10-09)</a></td>
                                                <td><b>75,171,317,800</b></td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td><a href="#" class="player" onclick="openPopup('raceResult01');">2017년 38회차(2017-10-06~2017-10-09)</a></td>
                                                <td><b>75,171,317,800</b></td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td><a href="#" class="player" onclick="openPopup('raceResult01');">2017년 38회차(2017-10-06~2017-10-09)</a></td>
                                                <td><b>75,171,317,800</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 경주결과 팝업 -->
                    <div id="raceResult01" class="modPopup lg"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupInMotion">
                                <div class="popupContainer">
                                    <div class="popupContArea">
                                        <button class="btnPopClose" onclick="closePopup('raceResult01');">닫기</button>
                                        <div class="popTitle">경주결과</div>
                                        <div class="popCont">
                                            <!-- 팝업 컨텐츠 영역 -->
                                            <div class="cptSection">
                                                <div class="sectArea">
                                                    <div class="comTitH2 mRow">
                                                        <h2>제 06경주 (출발시간 11:40)</h2>
                                                        <p class="etcAdds">2024년 08월 22일 34회 2일차</p>
                                                    </div>

                                                    <div class="comDataTable">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:auto;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>경정종류</th>
                                                                        <th>경주등급</th>
                                                                        <th>출발시간</th>
                                                                        <th>거리</th>
                                                                        <th>경주상황</th>
                                                                        <th>특이사항</th>
                                                                        <th>결과</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>대상경정</td>
                                                                        <td>일반</td>
                                                                        <td>11:40</td>
                                                                        <td>1200m</td>
                                                                        <td>성립</td>
                                                                        <td>-</td>
                                                                        <td>확정</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comDataTable">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:auto;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>날씨</th>
                                                                        <th>기온</th>
                                                                        <th>풍향</th>
                                                                        <th>풍속</th>
                                                                        <th>습도</th>
                                                                        <th>수온</th>
                                                                        <th>수위</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>비</td>
                                                                        <td>32℃</td>
                                                                        <td>동</td>
                                                                        <td>4㎧</td>
                                                                        <td>76%</td>
                                                                        <td>30℃</td>
                                                                        <td>249㎝</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comDataTable">
                                                        <div class="tableArea">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:auto;">
                                                                    <col style="width:33.3333%;">
                                                                    <col style="width:33.3333%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>1주회</th>
                                                                        <th>2주회</th>
                                                                        <th>3주회</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>0:37.85</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comTitH3">
                                                        <h3>경주영상</h3>
                                                    </div>
                                                    
                                                    <div class="comMovieBox">
                                                        <div class="boxArea">
                                                            <ul class="movieList">
                                                                <li class="movieItem">
                                                                    <a href="#" target="_blank" title="새창열림">전체 경주 영상 보기</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="comTitH3 mRow">
                                                        <h3>착순</h3>
                                                    </div>

                                                    <div class="comDataTable both">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>착순</th>
                                                                        <th>선수정보</th>
                                                                        <th>모터</th>
                                                                        <th>보트</th>
                                                                        <th>소개항주</th>
                                                                        <th>진입코스</th>
                                                                        <th>ST</th>
                                                                        <th>항주시간</th>
                                                                        <th>위반행위</th>
                                                                        <th>틸트각</th>
                                                                        <th>전법</th>
                                                                        <th>비고</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>1</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num01">1</span><a href="#none" class="player">김상인</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>휘감기</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>2</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num02">2</span><a href="#none" class="player">강동진</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>휘감기</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>3</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num03">3</span><a href="#none" class="player">김광진</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>휘감기</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>4</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num04">4</span><a href="#none" class="player">곽훈신</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>휘감기</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>5</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num05">5</span><a href="#none" class="player">정언열</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>휘감기</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>6</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num06">6</span><a href="#none" class="player">오성균</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>휘감기</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comTitH3">
                                                        <h3>심판판정내용</h3>
                                                    </div>

                                                    <div class="comDataTable both colLineDel">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width: 11%;">
                                                                    <col style="width: 11%;">
                                                                    <col style="width: 11%;">
                                                                    <col style="width: 15%;">
                                                                    <col style="width: 11%;">
                                                                    <col style="width: auto;">
                                                                    <col style="width: 11%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>선수</th>
                                                                        <th>주회수</th>
                                                                        <th>장소</th>
                                                                        <th>적용조항</th>
                                                                        <th>판정</th>
                                                                        <th>판정내용</th>
                                                                        <th>사고종류</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num01">1</span><a href="#" class="player">김상인</a></div>
                                                                        </th>
                                                                        <td>1주</td>
                                                                        <td>1턴마크</td>
                                                                        <td>60조(접촉금지)</td>
                                                                        <td>경고</td>
                                                                        <td class="left">1주회 1턴마크 선회시 조타불량 실속 4,6호정 방해.</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comTitH3">
                                                        <h3>배당률 안내</h3>
                                                    </div>

                                                    <div class="comDataTable both">
                                                        <div class="tableArea">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width: 33.3333%;">
                                                                    <col style="width: 33.3333%;">
                                                                    <col style="width: 33.3333%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>승식</th>
                                                                        <th>승자</th>
                                                                        <th>평균확정배당률</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>단승식</th>
                                                                        <td><span class="sign num02">2</span></td>
                                                                        <td>1.3</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>연승식</th>
                                                                        <td><span class="sign num02">2</span></td>
                                                                        <td>1.0</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>연승식</th>
                                                                        <td><span class="sign num03">3</span></td>
                                                                        <td>2.1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>복승식</th>
                                                                        <td>
                                                                            <span class="sign num02">2</span> · <span class="sign num03">3</span>
                                                                        </td>
                                                                        <td>2.6</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>쌍승식</th>
                                                                        <td>
                                                                            <span class="sign num02">2</span> · <span class="sign num03">3</span>
                                                                        </td>
                                                                        <td>2.3</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>삼복승식</th>
                                                                        <td>
                                                                            <span class="sign num02">2</span> · <span class="sign num03">3</span> · <span class="sign num05">5</span>
                                                                        </td>
                                                                        <td>4.2</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>쌍복승식</th>
                                                                        <td>
                                                                            <span class="sign num02">2</span> · <span class="sign num03">3</span> · <span class="sign num05">5</span>
                                                                        </td>
                                                                        <td>4.4</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>삼쌍승식</th>
                                                                        <td>
                                                                            <span class="sign num02">2</span> · <span class="sign num03">3</span> · <span class="sign num05">5</span>
                                                                        </td>
                                                                        <td>6.1</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- //팝업 컨텐츠 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정기획팀',
                    name: '최동훈',
                    phone: '031-790-8306',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>