<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정 정보', '모터/보트정보'],
                    subTitle: '경주기록',
                    subText: '<b>모터와 보트의 경주기록</b>을<br>확인해보세요.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>
                

                <div class="layoutContArea">
                    

                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">모터</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">보트</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <!-- 검색 박스 -->
                                        <div class="comSearchBox">
                                            <div class="searchLine col21Sch">
                                                <dl class="condition">
                                                    <dt class="title">연도</dt>
                                                    <dd class="conBox">
                                                        <div class="frmGroup">
                                                            <div class="frmBox">
                                                                <select class="iptSlt">
                                                                    <option value="">2024(신형)</option>
                                                                    <option value="">드롭다운</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </dd>
                                                </dl>
                                                <dl class="condition">
                                                    <dt class="title">모터번호</dt>
                                                    <dd class="conBox">
                                                        <div class="frmGroup">
                                                            <div class="frmBox">
                                                                <input type="text" class="iptText" placeholder="모터번호를 입력해주세요.">
                                                            </div>
                                                        </div>
                                                    </dd>
                                                </dl>
                                                <button class="btn Primary search">검색</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comGroupTop">
                                            <div class="alignR">
                                                <div class="btnList">
                                                    <div class="alignR moL">
                                                        <div class="btnBox min">
                                                            <button type="button" class="btn xs gLine">엑셀저장 <img src="../../images/common/ic_16_file_download.svg" alt="파일 다운로드"> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="comDataTable">
                                            <div class="tableArea sizeM">
                                                <table>
                                                    <caption></caption>
                                                    <colgroup>
                                                        <col style="width:auto;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:8.8%;">
                                                        <col style="width:8.8%;">
                                                        <col style="width:8.8%;">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="2" class="btmLine">모터번호</th>
                                                            <th rowspan="2" class="btmLine">출전회차<br>(년도 / 회차)</th>
                                                            <th rowspan="2" class="btmLine">출주횟수</th>
                                                            <th rowspan="2" class="btmLine">1착</th>
                                                            <th rowspan="2" class="btmLine">2착</th>
                                                            <th rowspan="2" class="btmLine">3착</th>
                                                            <th rowspan="2" class="btmLine">평균착순점</th>
                                                            <th rowspan="2" class="btmLine">연대율</th>
                                                            <th colspan="3">최고타임</th>
                                                        </tr>
                                                        <tr>
                                                            <th>3주회</th>
                                                            <th>2주회(온라인)</th>
                                                            <th>2주회(플라잉)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>10</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>11</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>13</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>14</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>15</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                
                                        <!-- 페이징 -->
                                        <div class="comPaging">
                                            <a class="start" href="#"></a>
                                            <a class="prev" href="#"></a>
                                            <ul class="numList">
                                                <li><a href="#">1</a></li>
                                                <li class="on"><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                            </ul>
                                            <a class="next" href="#"></a>
                                            <a class="end" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCont">
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <!-- 검색 박스 -->
                                        <div class="comSearchBox">
                                            <div class="searchLine col21Sch">
                                                <dl class="condition">
                                                    <dt class="title">연도</dt>
                                                    <dd class="conBox">
                                                        <div class="frmGroup">
                                                            <div class="frmBox">
                                                                <select class="iptSlt">
                                                                    <option value="">2024(신형)</option>
                                                                    <option value="">드롭다운</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </dd>
                                                </dl>
                                                <dl class="condition">
                                                    <dt class="title">보트번호</dt>
                                                    <dd class="conBox">
                                                        <div class="frmGroup">
                                                            <div class="frmBox">
                                                                <input type="text" class="iptText" placeholder="보트번호를 입력해주세요.">
                                                            </div>
                                                        </div>
                                                    </dd>
                                                </dl>
                                                <button class="btn Primary search">검색</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comGroupTop">
                                            <div class="alignR">
                                                <div class="btnList">
                                                    <div class="alignR moL">
                                                        <div class="btnBox min">
                                                            <button type="button" class="btn xs gLine">엑셀저장 <img src="../../images/common/ic_16_file_download.svg" alt="파일 다운로드"> </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="comDataTable">
                                            <div class="tableArea sizeM">
                                                <table>
                                                    <caption></caption>
                                                    <colgroup>
                                                        <col style="width:auto;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:9%;">
                                                        <col style="width:8.8%;">
                                                        <col style="width:8.8%;">
                                                        <col style="width:8.8%;">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="2" class="btmLine">보트번호</th>
                                                            <th rowspan="2" class="btmLine">출전회차<br>(년도 / 회차)</th>
                                                            <th rowspan="2" class="btmLine">출주횟수</th>
                                                            <th rowspan="2" class="btmLine">1착</th>
                                                            <th rowspan="2" class="btmLine">2착</th>
                                                            <th rowspan="2" class="btmLine">3착</th>
                                                            <th rowspan="2" class="btmLine">평균착순점</th>
                                                            <th rowspan="2" class="btmLine">연대율</th>
                                                            <th colspan="3">최고타임</th>
                                                        </tr>
                                                        <tr>
                                                            <th>3주회</th>
                                                            <th>2주회(온라인)</th>
                                                            <th>2주회(플라잉)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>7</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>8</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>9</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>10</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>11</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>12</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>13</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>14</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                        <tr>
                                                            <td>15</td>
                                                            <td>2024 / 36</td>
                                                            <td>37</td>
                                                            <td>7</td>
                                                            <td>6</td>
                                                            <td>5</td>
                                                            <td>5.38</td>
                                                            <td>35.1%</td>
                                                            <td>-</td>
                                                            <td>1:33.058</td>
                                                            <td>1:13.909</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                
                                        <!-- 페이징 -->
                                        <div class="comPaging">
                                            <a class="start" href="#"></a>
                                            <a class="prev" href="#"></a>
                                            <ul class="numList">
                                                <li><a href="#">1</a></li>
                                                <li class="on"><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                            </ul>
                                            <a class="next" href="#"></a>
                                            <a class="end" href="#"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정기획팀',
                    name: '손창권',
                    phone: '031-790-8509',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>