<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정정보','심판판정'],
                    subTitle: '심판/심의방송',
                    subText: '<b>심의 결과를 영상</b>으로 <br>확인해보세요.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>
                

                <div class="layoutContArea">
                    
                    <div class="cptBoardView">
                        <div class="boardViewArea">
                            <div class="viewTop">
                                <h2 class="viewTitle">2024년 27회차 3일자 14경주</h2>
                                <ul class="info">
                                    <li class="item">2024.07.05</li>
                                    <li class="item">경정심판팀</li>
                                    <li class="item">조회수 : 2000</li>
                                </ul>

                            </div>

                            <div class="viewBody">
                                <div class="viewContArea">
                                    <img src="../../images/thum/board_temp_img02.png" alt="착순판정 이미지 자료">
                                    <p>
                                        ■ 제15경주 <br/>
                                         ○ 대상선수 : 5번(김세준), 6번(김만섭)<br/>
                                         ○ 적용규정 : 경주규칙 제72조3호(주행주의 의무), 제74조2항(주행방해 금지)<br/>
                                         ○ 판정내용 : 제4주회 1코너부근에서 6번선수의 진로변경과, 5번선수의 과실주행 등이 상호복합적으로 작용하여 그 영향으로 5번 선수가 낙차된 상황으로, 5번 제72조3호 및 6번 제74조2항에 의거 각각 경고로 판정.
                                    </p>
                                </div>
                            </div>
                            
                            <div class="comPrevNext">
                                <dl>
                                    <dt>이전글</dt>
                                    <dd><a href="#">결장속보 (광명 제25회 1일차)</a> </dd>
                                </dl>
                                <dl>
                                    <dt>다음글</dt>
                                    <dd>다음 글이 없습니다.</dd>
                                </dl>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignR">
                                    <div class="btnBox min">
                                        <button class="btn dkLine">목록보기</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
					
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정심판팀',
                    name: '송승숙',
                    phone: '031-790-8611',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>