<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
				<%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜가이드', '경륜 알아보기'],
                    subTitle: '경륜안내',
                    subText: '새로운 <b>참여형 레저 스포츠,</b> <br>경륜에 대해 알려드릴게요.',
					url: "../../",
				}) %>
				
				<div class="layoutContArea">

					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2 bk lg">
                                <h2>경륜은 기록 경주가 아닌 <b>순위를 다투는 경주</b>로,새로운 <b>참여형 레저 스포츠</b>입니다.</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">경륜은 가장 빠른 선수를 가리는 기록경주가 아니며, 능력과 기량이 비슷한 선수들이 벨로드롬에서 각자 전법을 구사하여 결승선에 도착하는 순위경주입니다.<br>
                                선수들의 기량, 컨디션, 작전등을 분석하여 우승 예상 선수를 추리한 뒤 경주권을 구입한 후 승자를 적중시킬 경우 환급금을 교부 받는 참여형 레저스포츠입니다.</p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <div class="pcView"><img src="../../../images/contents/cont01_01_01_01_001.png" alt="경륜 이미지"></div>
                                        <div class="mView"><img src="../../../images/contents/cont01_01_01_01_001_m.png" alt="단승식 표 이미지"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH2">
                                <h2>경륜의 종류</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>일반경륜</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">경륜은 가장 빠른 선수를 가리는 기록경주가 아니며, 능력과 기량이 비슷한 선수들이 벨로드롬에서 각자 전법을 구사하여 결승선에 도착하는 순위경주입니다.<br>
                                선수들의 기량, 컨디션, 작전등을 분석하여 우승 예상 선수를 추리한 뒤 경주권을 구입한 후 승자를 적중시킬 경우 환급금을 교부 받는 참여형 레저스포츠입니다.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>대상경륜</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt"><b>특정 타이틀이 걸려있는 경륜</b>을 말하며 각 등급별 성적 상위자들이 참가합니다. <br>
                                1, 2, 3위에 입상한 선수에게는 입상 트로피 등 부상이 수여됩니다.</p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>그랑프리 경륜</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">매년 경륜훈련원을 졸업하고 선수 자격을 득한 신인선수들만 출전하는 경주를 말합니다. <br>
                                신인경륜이 끝나면 신인경주 성적을 토대로 선수등급 조정이 있고 그 이후에는 기존선수들과 함께 본 경주에 출전하게 됩니다. <br>
                                신인경륜선수 상금은 일반경륜 상금의 70%가 지급됩니다.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>특별경륜</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">특별한 사업 목적을 가지고 개최되는 경륜으로서 지금까지 시드니 올림픽 출전선수 선발경륜, 수해의연금 모금 경륜, 한.일 친선경륜 등이 개최된 바 있습니다.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>기타경륜</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">당해 신인졸업선수 중 최우수선수를 가리는 신인왕전 등이 있습니다.</p>
                            </div>
						</div>
					</div>

					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2">
                                <h2>경륜의 시행방식</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>선두고정경주</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">선두고정경주는 바람에 의한 선두선수의 불리함을 피하기 위해 선두유도원이 경주에 임하는 선수들을 앞에서 일정구간 끌어주는 방법으로 결승선 약 700m를 남기고 선수들이 스퍼트를 낼 때 레이스에서 퇴피합니다. (선두유도원은 승자투표의 대상이 되지 않음)</p>
                            </div>
                            <div class="comAddGuide space">
                                <p class="guide">이외에도 보통경주와 스프린트 경주, 제외경주가 있지만 현재는 시행되고 있지 않습니다.</p>
                            </div>
						</div>
					</div>

                </div><!-- // layoutContArea -->
                
                <div class="cptContFull addBg01">
                    <div class="sectArea">
                        <div class="comTitH2 bk lg">
                            <h2>경륜은 수익금 모두를 사회에 환원하는 <b>공익사업</b>입니다.</h2>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">매출액 중 고객 환급금과 법정세금을 제외한 나머지 수득금을 개최경비를 제외하고 국민체육진흥기금, 지방재정지원 등 모두 사회에 환원하는 공익사업입니다.</p>
                        </div>
                        <div class="comImgBox">
                            <div class="imgWrap">
                                <img src="../../../images/contents/cont01_01_01_01_002.png" alt="매출액 사용 그래프 이미지. 상세 하단 참조">
                            </div>
                        </div>
                        <div class="comBasicList">
                            <ul class="listGroup">
                                <li class="item">고객들이 경륜 경주에 베팅한 <b>매출액의 72%는 적중고객에게 환급금</b>으로 지급되고, <b>매출액의 16%는 레저세, 교육세, 농어촌특별세 등으로 국가 및 지방재정 확충에 사용</b>에 사용됩니다.</li>
                                <li class="item"><b>매출액의 12%는 경주 개최 비용을 제외한 수익금 전액은 국민체육진흥기금, 문화예술진흥기금, 청소년육성기금 등에 배분</b>되어 국민들의 건강하고 행복한 삶을 위해 쓰이고 있습니다.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
				<div class="layoutContArea">

					<div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2 bk lg">
                                <h2>경륜은 <b>그린스포츠</b>로서 <b>사회공헌과 자전거 활성화에 기여</b>합니다.</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">경륜은 사이클경기의 경기력 향상은 물론 자전거타기 운동을 널리 확산시켜 국민건강 증진 도모와 도심환경, 교통문제 해결에 크게 이바지하는 그린스포츠 입니다.<br>
                                아마추어 사이클 선수 육성 지원, 소외계층 아동 청소년  자전거 안전 교실 운영, 장애인 사이클 지원 등 나눔과  상생을 위한 다양한 사회공헌 활동 시행합니다.</p>
                            </div>

                            <div class="comImgWrap col4_2">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../../images/contents/cont01_01_01_01_003.png" alt="">
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../../images/contents/cont01_01_01_01_004.png" alt="">
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../../images/contents/cont01_01_01_01_005.png" alt="">
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../../images/contents/cont01_01_01_01_006.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="comBasicList">
                                <ul class="listGroup">
                                    <li class="item">체육 꿈나무 특기 개발 지원, 자전거 라이딩을 병행한 청소년 자전거 힐링 프로젝트 등 나눔과 상생을 위한 다양한 사회공헌 활동을 시행합니다.</li>
                                    <li class="item">KSPO 백두대간 그란폰도, 스피돔 챌린지  페스트 등 전국 규모의 자전거 동호인 대회 운영하고  국민체육진흥공단 이사장배 전국 사이클 대회 개최 등  자전거 활성화 사업을 전개합니다.</li>
                                    <li class="item">펜싱선수 지원 등 비인기 종목 스포츠팀을 운영해 지원선수들이 2016 리우올림픽에서 메달 획득을 하였습니다. (펜싱, 사이클, 마라톤, 카누, 여자축구, 다이빙, 장애인스키)</li>
                                </ul>
                            </div>
						</div>
					</div>

                </div><!-- // layoutContArea -->
					
				<!-- 서브 바텀 (담당자) -->
				<%- include('../_ejs/sub_btm.ejs', {
					team: '경륜기획팀',
					name: '조준호',
					phone: '02-2067-5711',
					url: "../../",
				}) %>
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>