<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜 가이드', '경륜 지식쌓기'],
                    subTitle: '경륜심판장비',
                    subText: '<b>공정한 경기</b>를 위한 눈과 귀,<br/><b>경륜 심판장비</b>에 대해 알려드려요.',
                    url: "../../",
                    visualClass: "bg01",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">공정한 경주운영을 위해서는 정확한 심판판정을 지원하는 심판장비가 필요합니다.</h2> <!--20241031 텍스트 수정-->
                        <p class="info">공정한 경주운영을 위해 경륜에는 엄격한 규칙과 이를 집행하는 심판, 그리고 정확한 판정을 가능하게 하는 다양한 장비들이 존재합니다.</p> <!--20241031 텍스트 수정-->
                    </div>
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>착순판정 장비</h2>
                            </div>

                            <!--20241031 순서 수정, 텍스트 수정 -->
                            <div class="comTitH3">
                                <h3>착순판정 시스템구조</h3>
                            </div>
            
                            <div class="comImgBox">
                                <div class="imgWrap">
                                    <img src="../../images/contents/cont01_03_04_001.png" alt="착순판정 시스템 구조 이미지"> <!--20241031 이미지 파일명 수정-->
                                </div>

                                <!-- 20241031 추가 -->
                                <div class="btnGroup cameraEquip">
                                    <button type="button" class="ballon num01" onclick="openPopup('equip01')">착순판정카메라<img src="../../images/common/ic_16_glass.svg" alt="자세히 보기"></button>
                                    <button type="button" class="ballon num02" onclick="openPopup('equip02')">허상거울<img src="../../images/common/ic_16_glass.svg" alt="자세히 보기"></button>
                                    <button type="button" class="ballon num03" onclick="openPopup('equip03')">광센서<img src="../../images/common/ic_16_glass.svg" alt="자세히 보기"></button>
                                </div>
                                <!-- //20241031 추가 -->
                            </div>
            
                            <div class="comTitH3">
                                <h3>착순판정시스템 촬영원리</h3>
                            </div>
            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    0.01mm의 미세한 틈으로 빛이 통과하는 '슬릿 렌즈'를 장착한 라인스캔 카메라가 <em>4cm 두께의 결승선만을 1/2,000초 단위(1초당 2,000장)로 디지털 영상으로 촬영</em>합니다.
                                </p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <!--애니메이션 반영 임시 영역-->
                                        <img src="../../images/contents/cont01_03_04_001.png" alt="착순판정 과정 애니메이션">
                                    </div>
                                </div>
                            </div>
                            <!--//20241031 순서 수정, 텍스트 수정, 이미지 영역 추가 -->

                        </div>
                    </div>
                    
                    <div class="cptSection"> <!--20241031 class 변경-->
                        <div class="sectArea">
                            
                            <div class="comTitH2">
                                <h2>착순판정 기준</h2>
                            </div>
                            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    경륜경기에서 선수의 결승선 도달시점을 판정하는 기준으로는 낙차사고 등의 이유로 선수와 자전거가 완전히 분리되어 결승선을 통과하게 된 경우를 제외한 모든 상황에 대해 <em>바퀴의 최전부가 결승선 수직면에 맞닿은 시점으로 규정</em>하고 있습니다. <em>(경륜시행규정 제106조 제1호)</em>
                                </p>
                            </div>
                            
                            <!-- 20241031 삭제 -->
                            <!-- <ul class="sectGroup">
                                <li class="sectItem">
                                    <div class="comTitH3">
                                        <h3>낙차 후 신체와 자전거가 일체로 결승선 도달</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            낙차하였으나 신체와 자전거가 완전 분리되지 않은 상태로 결승선에 도달한 경우에는 바퀴의 최전부를 결승선 도달시점으로 판정합니다.
                                        </p>
                                    </div>

                                    <div class="comAddGuide point space">
                                        <p class="guide">전, 후륜 구분없이 먼저 도달한 바퀴에 적용</p>
                                    </div>

                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../images/contents/conc01_01_03_04_002.png" alt="경주를 심판하는 심판 판정실의 전경1">
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="sectItem">
                                    <div class="comTitH3">
                                        <h3>낙차 후 신체와 자전거가 분리되어 결승선 도달</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            낙차로 신체와 자전거가 완전 분리되어 결승선에 도달한 경우에는 신체와 자전거중 후착한 쪽의 최전부를 결승선에 도달한 시점으로 판정합니다.
                                        </p>
                                    </div>

                                    <div class="comAddGuide point space">
                                        <p class="guide">단, 후착한 쪽이 자전거일 경우 바퀴로 적용</p>
                                    </div>

                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../images/contents/conc01_01_03_04_003.png" alt="경주를 심판하는 심판 판정실의 전경1">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul> -->
                            <!-- //20241031 삭제 -->

                            <!-- 20241031 추가 -->
                            <div class="comTitH3">
                                <h3>결승선 도달시기의 판정</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    선수와 자전거가 일체로 결승선에 도달한 경우 바퀴의 최전부를 수직면에 도달한 순간으로 판정합니다.
                                </p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <!--20241031 이미지 파일명 수정 / 추가-->
                                        <img src="../../images/contents/cont01_03_04_002.png" alt="결승선 도달 시기의 판정 예시 이미지" class="pcView">
                                        <img src="../../images/contents/cont01_03_04_002_m.png" alt="결승선 도달 시기의 판정 예시 이미지" class="mView">
                                        <!--//20241031 이미지 파일명 수정 / 추가-->
                                    </div>
                                </div>
                            </div>
                            <!-- //20241031 추가 -->
                        </div>
                    </div>

                    <!-- 20241031 추가 -->
                    <div class="cptSection">
                        <div class="sectArea">
                            
                            <div class="comTitH2">
                                <h2>착순판정 특이사례</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>낙차 후 신체와 자전거가 일체로 결승선 도달</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    낙차하였으나 신체와 자전거와 분리되지 않은 상태로 결승선에 도달한 경우에는 바퀴의 최전부를 결승선 도달시점으로 판정합니다.
                                </p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <!--20241031 이미지 파일명 수정 / 추가-->
                                        <img src="../../images/contents/cont01_03_04_003.png" alt="낙차 후 신체와 자전거가 일체로 결승선 도달한 판정 예시 이미지" class="pcView">
                                        <img src="../../images/contents/cont01_03_04_003_m.png" alt="낙차 후 신체와 자전거가 일체로 결승선 도달한 판정 예시 이미지" class="mView">
                                        <!--//20241031 이미지 파일명 수정 / 추가-->
                                    </div>
                                </div>
                            </div>

                            
                            <div class="comTitH3">
                                <h3>낙차 후 신체와 자전거가 분리되어 결승선 도달</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    낙차 후 신체와 자전거가 분리되어 결승선에 도달한 경우에는 신체와 자전거 중 후착한 쪽의 최전부를 결승선에 도달한 시점으로 판정합니다.
                                </p>
                            </div>

                            <div class="comImgWrap col2">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_03_04_004.png" alt="낙차 후 선수가 후착한 판정 예시 이미지">
                                        <p class="imgTxt center"><em class="tKey">선수가 후착</em>한 경우 <em>신체 최전부</em>로 판정</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_03_04_005.png" alt="낙차 후 자전거가 후착한 판정 예시 이미지">
                                        <p class="imgTxt center"><em class="tKey">자전거가 후착</em>한 경우 전, 후륜 구분 없이 <em>바퀴 최전부</em>로 판정</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>동착</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    결승선에 도착한 선수의 시간차가 1,000분의1초 이상의 근소차는 순위를 구분하여 판정하고, 1,000분의 1초미만 (2,000분의 1초이하)의 경우는 동착으로 판정합니다.
                                </p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <!--20241031 이미지 파일명 수정 / 추가-->
                                        <img src="../../images/contents/cont01_03_04_006.png" alt="동착 판정의 예시 이미지" class="pcView">
                                        <img src="../../images/contents/cont01_03_04_006_m.png" alt="동착 판정의 예시 이미지" class="mView">
                                        <!--//20241031 이미지 파일명 수정 / 추가-->
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!-- //20241031 추가 -->

                    <div class="cptEtcInfo col2">
                        <div class="infoBox">
                            <dl class="info">
                                <dt>
                                    <em class="tit">착순판정 사진의 커서선</em>
                                </dt>
                                <dd>
                                    <div class="thumArea">
                                        <img src="../../images/contents/cont01_03_04_007.png" alt="커서선 예시 이미지"> <!-- //20241031 이미지 경로 수정 -->
                                    </div>
                                    <div class="infoList">
                                        <!-- 20241031 수정 -->
                                        <ul class="listGroup">
                                            <li class="item">
                                                육안으로 구분하기 힘든 미세한 근소차의 착차를 구분하기 위하여 착순판정 사진의 비교를 위해 ‘조각영상(선)’을 부각하여 보여주는 것으로, 촬영 후 완성된 사진은 인위적으로 조작하여 생성할 수 없으며 화면 상에 나타난 <em>커서선 1개의 크기는 1/2,000초 단위로 촬영</em>된 조각영상 1컷의 크기이며, 이를 기준선으로 착차를 구분합니다.
                                                <div class="comAddGuide">
                                                    <p class="guide">커서선은 쉽게 알아보기위해 색상을 넣은 실선으로 운영 중이며, 색상은 변경 될 수 있습니다.</p>
                                                </div>
                                            </li>
                                            <!-- <li class="item">
                                                촬영 후 완성된 사진은 인위적으로 조작하여 그어질 수 없으며 화면 상에 나타난 커서선 1개의 크기는 1/2000초 단위로 촬영된 조각영상 1컷의 크기이며, 이를 기준선으로 착차를 구분하는 것 입니다.
                                                
                                                <div class="comAddGuide">
                                                    <p class="guide">커서선은 쉽게 알아보기위해 색상을 넣은 실선으로 운영 중이며, 색상은 변경 될 수 있습니다.</p>
                                                </div>
                                            </li> -->
                                        </ul>
                                        
                                        <!-- //20241031 수정 -->
                                    </div> 
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="cptCol3Section">
                        <div class="sectArea">
                            
                            <div class="comTitH2">
                                <h2>경주진행장비</h2>
                            </div>

                            <ul class="sectGroup">
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../images/contents/cont01_03_04_008.png" alt="출발기 장비의 이미지"> <!--20241031 이미지 경로 수정-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>출발기</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            출발신호총의 전기신호에 의해 작동되며, 모든 출전선수가 동시에 공정하고 안전하게 출발하기 위하여 운영되는 장비입니다.
                                        </p>
                                    </div>                                    
                                </li>
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../images/contents/cont01_03_04_009.png" alt="주화판 장비의 이미지"><!--20241031 이미지 경로 수정-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>주회판</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            경주 중 매 주회 남은 주회수를 주회판을 통해 알리는 장비입니다.
                                        </p>
                                    </div>                                    
                                </li>
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../images/contents/cont01_03_04_010.png" alt="타종 장비의 이미지"><!--20241031 이미지 경로 수정-->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>타종</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            경주 중 최종 주회가 남았을 때 종을 쳐서 알립니다. 
                                        </p>
                                    </div>

                                    <div class="comAddGuide space">
                                        <p class="guide">최종주회 전회 백스트레치라인부터 최종주회가 시작되는 홈스트레치라인 까지의 구간에 타종합니다.</p> <!--20241031 텍스트 수정-->
                                    </div>                                    
                                </li>
                            </ul>
                        </div> 
                    </div>

                    <!-- 20241031 팝업 추가 -->
                    <div id="equip01" class="modMdPopup"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('equip01');">닫기</button>
                                    <div class="popTitle">1. 착순판정카메라</div>
                                    <div class="popCont">
                                        <div class="cptSection">
                                            <div class="sectArea">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont01_03_04_011.png" alt="착순 판정 카메라의 실제 사진">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="comBasicList mgH">
                                                    <ul class="listGroup">
                                                        <li class="item">
                                                            <b class="sTit">Line Scan Digital Finish Camera</b>
                                                        </li>
                                                        <li class="item">
                                                            <b class="sTit">설치위치 </b>
                                                            <i class="sTxt">결승선 수직상단 약23m(2대)와 약30m(1대) 그리고 약35m(1대) 높이에 서로 다른 촬영각도로 정렬되어 고정 위치</i>
                                                        </li>
                                                        <li class="item">
                                                            <b class="sTit">특징 및 기능</b>
                                                            <i class="sTxt">최대 4K 이상의 고해상도 초고속 스캔(최대33,000/초) 센서를 장착하여 결승선만을 촬영하며, 결승선을 통과하는 사물에 대해 1/2,000초 단위(1초당 2,000장) 촬영</i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="equip02" class="modMdPopup on"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('equip02');">닫기</button>
                                    <div class="popTitle">2. 허상거울</div>
                                    <div class="popCont">
                                        <div class="cptSection">
                                            <div class="sectArea">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont01_03_04_012.png" alt="허상거울의 실제 이미지">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="comBasicList mgH">
                                                    <ul class="listGroup">
                                                        <li class="item">
                                                            <b class="sTit">설치위치 </b>
                                                            <i class="sTxt">퇴피로 내 결승선의 연장선에 위치</i>
                                                        </li>
                                                        <li class="item">
                                                            <b class="sTit">특징 및 기능</b>
                                                            <i class="sTxt">촬영 시 카메라에 노출되는 면(실상)의 반대쪽 영상(허상)을 반사하여 나타내는 역할</i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="equip03" class="modMdPopup"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('equip03');">닫기</button>
                                    <div class="popTitle">3. 광센서</div>
                                    <div class="popCont">
                                        <div class="cptSection">
                                            <div class="sectArea">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont01_03_04_013.png" alt="광센서 실제 이미지">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="comBasicList mgH">
                                                    <ul class="listGroup">
                                                        <li class="item">
                                                            <b class="sTit">설치위치 </b>
                                                            <i class="sTxt">결승선 직 후방 약 21m 부근 경주로 상단과 하단에 서로 마주하며 위치</i>
                                                        </li>
                                                        <li class="item">
                                                            <b class="sTit">특징 및 기능</b>
                                                            <i class="sTxt">레이저를 이용한 센서장비로써 광신호를 보내는 발광부와 이를 감지하는 투광부로 구분</i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 20241031 팝업 추가 -->
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜심판팀',
                    name: '윤규상',
                    phone: '02-2067-5929',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>