<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜 즐겨보기'],
                    subTitle: '경주권 환급',
                    subText: '경주권을 구매해서 <b>적중</b>했다면, <br/> <b>경주권 환급을 통해 환급금</b>을 받으세요.',
                    url: "../../",
                    visualClass: "bg01",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">경주환급금은 경기에서 베팅이 적중하면 지급되는 금액입니다.</h2>
                        <p class="info">경주권을 구매하여 적중하면 당첨금을 받게 되는데 이를 "환급금" 이라고 합니다. <br/>
                            구매한 경주권이 적중하였다면 투표금액에 배당률을 곱한 금액을 환급받게 됩니다.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>환급금 지급안내</h2>
                            </div>
    
                            <div class="comBasicList">
                                <ul class="listGroup">
                                    <li class="item">구매한 경주권이 적중하였다면 적중 투표금액에 배당률을 곱하여 계산된 금액을 환급받게 됩니다.</li>
                                    <li class="item">적중경주권은 고객이 원하는 바에 따라 현금 또는 구매권으로 교환됩니다.</li>
                                    <li class="item">현금환급 및 구매권 교환은 광명돔 경륜장 및 장외지점의 투표소에서 받으실 수 있습니다.</li>
                                    <li class="item">적중경주권의 환급금 시효기간은 구매일로부터 1년이며 시효기간 경과시에는 무효가 됩니다. (경륜·경륜법 제12조 [소멸시효])</li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>경주운영시간</h3>
                            </div>
                            
                            <div class="comContTable">
                                <table class="basic">
                                    <caption>경주 운영시간 표 : 광명스피돔과 지점발매창구를 포함한 표</caption>
                                    <colgroup>
                                        <col style="width:50%;">
                                        <col style="width:50%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>광명스피돔</th>
                                            <th>지점 발매창구</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>매주 금~일 경주운영시간</td>
                                            <td>매주 수~일 경주운영시간</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            <div class="comAddGuide point"> 
                                <p class="guide">월,화요일은 휴무일로 환급업무를 시행하지 않습니다.</p>
                            </div>
                        </div>
                    </div>

                    <div class="cptEtcInfo">
                        <div class="infoBox">
                            <dl class="info">
                                <dt>
                                    <em class="tit">매출액의 일부는 다양한 곳에 사용돼요.</em>
                                    <span class="subTit">경주 환급금 운영 안내</span>
                                </dt>
                                <dd>
                                    <div class="infoList">
                                        <ul class="listGroup">
                                            <li class="item">
                                                환급금은 총 매출액의 72% (단승, 연승식 81%)를 당첨된 팬들에게 각각 구매금액에 비례하여 지급되며, 나머지 28% 중 16%는 각종 세금으로, 12%는 선수상금, 경주운영 등 개최경비와 체육진흥기금, 청소년 육성기금, 지방재정확충 등에 쓰이게 됩니다.
                                            </li>
                                            <li class="item">
                                                환급률이 100배 이상인 경우와 적중한 개별투표당 환급금이 200만원 이상인 경우에는 기타소득세 20%와 주민세 (기타 소득세의 10%)를 원천징수한 후 환급금을 지급합니다.
                                            </li>
                                        </ul>
                                    </div> 
                                    
                                    <div class="comAddGuide"> 
                                        <p class="guide">출처 : 소득세법 제84조(기타소득의 과세최저한)</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH3">
                                <h3>환급금 산출방법</h3>
                            </div>
                    
                            <div class="comBasicTxt">
                                <p class="txt">
                                    환급금 산출방식은 모든 승식에 동일하게 적용되며, 발매 중에 산출되는 예상 배당률과 순위판정 이후의 확정배당률에도 구분없이 적용되고, 발매도중 표출되는 예상배당률은 아래 산출과정을 통해 계산된 수치입니다.
                                </p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>배당률 계산식</h3>
                            </div>
                            
                            <div class="comFomulBox">
                                <div class="pcView">
                                    <img src="../../images/contents/cont01_01_02_04_001.png" alt="수식: 환급금 총액 / 해당경주권매출액">
                                </div>
                                <div class="mView">
                                    <img src="../../images/contents/cont01_01_02_04_001_m.png" alt="수식: 환급금 총액 / 해당경주권매출액">
                                </div>
                            </div>

                            <div class="comContTable">
                                <table class="basic">
                                    <caption>배당률 계산 표 : 승식과 환급금총액을 포함한 표</caption>
                                    <colgroup>
                                        <col style="width:50%;">
                                        <col style="width:50%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>승식</th>
                                            <th>환급금총액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>단, 연승식</td>
                                            <td>매출액 81%</td>
                                        </tr>
                                        <tr>
                                            <td>복승,쌈승,삼복승식,삼쌍승식,쌍복승식</td>
                                            <td>매출액 72%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            
                            <!-- 2024.10.19 comAddGuide -> comBasicTxt 컴포넌트로 수정 -->
                            <!-- <div class="comAddGuide"> 
                                <p class="guide">환급금 산출방식은 모든 승식에 동일하게 적용되며, 발매 중에 산출되는 예상 배당률과 순위판정 이후의 확정배당률에도 구분없이 적용되고, 발매 도중 표출되는 예상배당률은 아래 산출과정을 통해 계산된 수치입니다.</p>
                            </div> -->
                            <div class="comBasicTxt">
                                <p class="txt">
                                    환급금 산출방식은 모든 승식에 동일하게 적용되며, 발매 중에 산출되는 예상 배당률과 순위판정 이후의 확정배당률에도 구분없이 적용되고, 발매 도중 표출되는 예상배당률은 아래 산출과정을 통해 계산된 수치입니다.                                </p>
                            </div>

                            <div class="comTitH3">
                                <h3>기타소득세 과세여부</h3>
                            </div>
                            
                            <div class="comContTable">
                                <table class="basic">
                                    <caption>기타소득세 과세여부 표 : 개별투표당 환급금액, 배당율 100배 이하/초과 항목을 포함한 표</caption>
                                    <colgroup>
                                        <col style="width:33.3333%;">
                                        <col style="width:33.3333%;">
                                        <col style="width:33.3333%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>개별투표당 환급금액</th>
                                            <th>배당률 100배 이하</th>
                                            <th>배당률 100배 초과</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>0원~100,000원이하</td>
                                            <td>미과세</td>
                                            <td>미과세</td>
                                        </tr>
                                        <tr>
                                            <td>100,100원 ~ 2,000,000원 이하</td>
                                            <td>미과세</td>
                                            <td>과세</td>
                                        </tr>
                                        <tr>
                                            <td>2,000,100원 이상</td>
                                            <td>과세</td>
                                            <td>과세</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                            
                            <div class="comAddGuide"> 
                                <p class="guide">개별 투표당 환급금액이 200만원 이상인 경우 지급명세서 작성</p>
                                <p class="guide">지급명세서 관련출처 :  소득세법 제164조(지급명세서 제출), 시행규칙 제97조(제출의무 면제)</p>
                            </div>
                        </div>
                    </div>

                    <div class="cptQuickMove">
                        <div class="boxArea">
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">경주권을 분실한 경우 신고접수하세요</em>
                                    <p class="desc">도난 되거나 분실된 경주권은 <b>고객센터 > 경륜경정 신고센터 > 분실경주권 신고</b>를 이용해주세요.</p>
                                </div>
                                <div class="btnArea">
                                    <a href="#" class="btn Primary">분실경주권 신고하기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '발매전산팀',
                    name: '이승훈',
                    phone: '02-2067-5583',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>