<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %> 
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜 지식쌓기'],
                    subTitle: '경륜용어사전',
                    subText: '경륜의 <b>경주용어와 심판용어</b>를 <br/>손쉽게 확인하세요.',
                    url: "../../",
                }) %>

                <div class="layoutContArea">

                    <!-- 용어사전 -->
                    <div class="cptWordTab">
                        <div class="wordArea">
                            <div class="btnArea">
                                <ul class="btnGroup">
                                    <li class="btnItem">
                                        <button type="button" class="btn Primary">ㄱ</button> <!--선택 탭 class : Primary-->
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㄴ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㄷ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine" disabled>ㄹ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅁ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅂ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅅ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅇ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅈ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅊ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine" disabled>ㅋ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅌ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅍ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅎ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">기타</button>
                                    </li>
                                </ul>
                            </div>

                            <ul class="contArea">
                                <!-- 탭 컨텐츠 1 -->
                                <li class="tabCont">
                                    <ul class="wordGroup">
                                        <li class="wordItem">
                                            <dl class="words">
                                                <dt>
                                                    <b class="word">검차(檢車)</b>
                                                    <div class="tagWrap">
                                                        <span class="tag mint">심판용어</span>
                                                        <span class="tag blue">경주용어</span>
                                                    </div>
                                                </dt>
                                                <dd>안전하고 공정한 경주를 위해 출주선수의 자전거에 대해 행하는 검사</dd>
                                            </dl>
                                        </li>
                                        <li class="wordItem">
                                            <dl class="words">
                                                <dt>
                                                    <b class="word">결승선(홈스트레치라인)</b>
                                                    <div class="tagWrap">
                                                        <span class="tag blue">경주용어</span>
                                                    </div>
                                                </dt>
                                                <dd>홈 스트레치의 출발선에서 25m앞에 위치한 선으로 경주선수가 이선에 도달했을 때를 기준으로 순위를 판정함</dd>
                                            </dl>
                                        </li>
                                        <li class="wordItem">
                                            <dl class="words">
                                                <dt>
                                                    <b class="word">교차</b>
                                                    <div class="tagWrap">
                                                        <span class="tag blue">경주용어</span>
                                                    </div>
                                                </dt>
                                                <dd>다른 선수의 진로에 엇갈리는 상태를 말함</dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜심판팀',
                    name: '김태환',
                    phone: '02-2067-5935',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>