<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜 가이드', '경륜 지식쌓기'],
                    subTitle: '경륜·경정 관련법 안내',
                    subText: '국민 여가, 체육, 재정에 기여하는 법률,<br/><b>경륜·경정법</b>에 대해 알아봐요.',
                    url: "../../",
                    visualClass: "bg01",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">경륜은 해당 관련법에 근거하여 공정하게 시행됩니다.</h2>
                        <p class="info">경륜은 경륜/경정법, 경주권 관련법령 등의 해당 관련법에 근거하여 고객, 선수, 시행처 모두에 의해 공정하게 시행되고 있습니다.</p>
                    </div>

                    <div class="cptLaw">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경륜·경정법</h2>
                            </div>

                            <ul class="lawGroup">
                                <li class="lawItem">
                                    <div class="lawTitH3">
                                        <h3>경륜ㆍ경정법[법률 제19592호, 2023.8.8., 타법개정]</h3>
                                    </div>
                                    <h4 class="lawTitH4">제1장 총칙</h4>
                                    <p class="lawTxt">제1조(목적) 이 법은 경륜(競輪) 및 경정(競艇)을 공정하게 시행하고 원활하게 보급하여 국민의 여가 선용과 국민 체육 진흥을 도모하고, 청소년의 건전육성과 지방재정 확충을 위한 재원을 마련하며,자전거 및 모터보트 경기의 수준 향상에 이바지함을 목적으로 한다.</p>
                                    <a href="#" class="lawLink" target="_blank" title="새창열림">법령 자세히보기</a>
                                </li>
                                <li class="lawItem">
                                    <div class="lawTitH3">
                                        <h3>경륜ㆍ경정법 시행령[대통령령 제34258호, 2024.2.27., 타법개정]</h3>
                                    </div>
                                    <h4 class="lawTitH4">제1장 총칙</h4>
                                    <p class="lawTxt">제1조(목적) 이 영은 「경륜·경정법」에서 위임된 사항과 그 시행에 필요한 사항을 규정함을 목적으로 한다.</p>
                                    <a href="#" class="lawLink" target="_blank" title="새창열림">법령 자세히보기</a>
                                </li>
                                <li class="lawItem">
                                    <div class="lawTitH3">
                                        <h3>경륜ㆍ경정법 시행규칙 [문화체육관광부령 제480호, 2022.5.12., 일부개정]</h3>
                                    </div>
                                    <p class="lawTxt">제1조(목적) 이 규칙은 「경륜·경정법」 및 「경륜·경정법 시행령」에서 위임된 사항과 그 시행에 필요한 사항을 규정함을 목적으로 한다.</p>
                                    <a href="#" class="lawLink" target="_blank" title="새창열림">법령 자세히보기</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="cptLaw">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경주권 관련법령</h2>
                            </div>

                            <ul class="lawGroup">
                                <li class="lawItem">
                                    <div class="lawTitH3">
                                        <h3>경륜·경정법 관련 지방세법</h3>
                                    </div>
                                    <p class="lawTxt">제1조(목적)이 법은 지방자치단체가 과세하는 지방세 각 세목의 과세요건 및 부과·징수,그 밖에 필요한 사항을 규정함을 목적으로 한다.</p>
                                    <a href="#" class="lawLink" target="_blank" title="새창열림">법령 자세히보기</a>
                                </li>
                                <li class="lawItem">
                                    <div class="lawTitH3">
                                        <h3>농어촌 특별세법</h3>
                                    </div>
                                    <p class="lawTxt">제1조(목적)이 법은 농어업의 경쟁력강화와 농어촌산업기반시설의 확충 및 농어촌지역 개발사업을 위하여 필요한 재원을 확보함을 목적으로 한다.</p>
                                    <a href="#" class="lawLink" target="_blank" title="새창열림">법령 자세히보기</a>
                                </li>
                                <li class="lawItem">
                                    <div class="lawTitH3">
                                        <h3>소득세법</h3>
                                    </div>
                                    <p class="lawTxt">제1조(목적) 이 법은 개인의 소득에 대하여 소득의 성격과 납세자의 부담능력 등에 따라 적정하게 과세함으로써 조세부담의 형평을 도모하고 재정수입의 원활한 조달에 이바지함을 목적으로 한다.</p>
                                    <a href="#" class="lawLink" target="_blank" title="새창열림">법령 자세히보기</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '사업기획팀',
                    name: '황치훈',
                    phone: '02-2067-5307',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>