<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜 가이드'],
                    subTitle: '경륜예상지',
                    subText: '<b>경륜 예상지 판매 업체</b>에 <br/> 대해 알려드려요',
                    url: "../../",
                    visualClass: "bg01",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">경륜 예상지는 경륜 경주 결과를 예측하고, 이를 바탕으로 베팅 전략을 세우는 데 도움을 주는 자료입니다</h2>
                        <p class="info">경륜 예상지는 경주를 더욱 즐겁게 즐기고, 합리적인 베팅 전략을 세우는 데 도움을 줄 수 있습니다. 하지만 예상지는 참고 자료일 뿐이며, 절대적인 기준이 될 수 없다는 점을 명심해야 합니다</p>
                        <p class="infoEtc">판매계약기간 : 2025년 1월 1일 ~ 2025년 12월 31일</p> <!-- 20250104 수정 -->
                    </div>

                    <div class="cptCompanys">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경륜예상지 판매 신고 업체 및 변경 계약 대상 업체</h2>
                            </div>
                            <!-- 20250314 변경 -->
                            <div class="comContTable">
                                <div class="tableArea">
                                    <table>
                                        <caption>경륜예상지 판매 신고 업체 및 변경 계약 대상 업체 표 : 예상지명, 발행인 및 연락처를 포함한 표</caption>
                                        <colgroup>
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="lineR">예상지명</th>
                                                <th>발행인</th>
                                                <th>연락처</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="lineR"><a href="#" target="_blank" title="새창열림" class="link">명품 경륜 승부사</a></th>
                                                <td>조인대</td>
                                                <td>02-2618-7557</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR"><a href="#" target="_blank" title="새창열림" class="link">경륜 위너스</a></th>
                                                <td>윤상현</td>
                                                <td>02-860-8700</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR"><a href="#" target="_blank" title="새창열림" class="link">경륜왕</a></th>
                                                <td>김성환</td>
                                                <td>02-2611-1450</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">경륜 뱅크</th>
                                                <td>안성익</td>
                                                <td>02-2616-1788</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR"><a href="#" target="_blank" title="새창열림" class="link">신 경륜박사</a></th>
                                                <td>허 준</td>
                                                <td>02-897-5970</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">신 경륜적중</th>
                                                <td>박소정</td>
                                                <td>010-3004-0987</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">마지막 한바퀴</th>
                                                <td>송종국</td>
                                                <td>02-2060-6542</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR"><a href="#" target="_blank" title="새창열림" class="link">최강경륜</a></th>
                                                <td>박창현</td>
                                                <td>02-2613-4990</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">경륜종합지</th>
                                                <td>송종국</td>
                                                <td>02-2060-3042</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- //20250314 변경 -->
                        </div>
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜기획팀',
                    name: '서동욱',
                    phone: '02-2067-5714',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>