<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜 즐겨보기'],
                    subTitle: '경주권 구매 가이드',
                    subText: '경주권 구매방법, <b>어떻게 해야할지 모르겠다고요?</b> <br>구매표 작성부터 구매까지, 알려드릴게요!',
                    url: "../../",
                    visualClass: "bg01",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toTab">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">경주권 구매표 작성방법</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">경주권 구매 방법</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                <!-- 탭 컨텐츠 1 -->
                                <div class="cptImgGuideBox mReverse">
                                    <div class="guideArea">
                                        <div class="comTitH2">
                                            <h2>어렵지 않아요! 쉽고 간편한 경주권 구매표 작성방법</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">
                                                경주권을 구매하기 위해서는 <em>구매표를 작성</em>해야합니다.<br/>
                                                구매표 작성은 <em>5단계에 따라 쉽고 간편하게 작성</em>할 수 있습니다. 
                                            </p>
                                        </div>

                                        <div class="boxArea">
                                            <div class="descArea">
                                                <ul class="descGroup">
                                                    <li class="descItem">
                                                        <span class="num">01</span>
                                                        <dl>
                                                            <dt>경주장 선택 · 표기</dt>
                                                            <dd>광명, 창원, 부산 중 해당 지역 경주장을 선택 후 표기합니다.</dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">02</span>
                                                        <dl>
                                                            <dt>경주번호 선택 · 표기</dt>
                                                            <dd>
                                                                구매하고 싶은 경주 번호를 선택 후 표기합니다
                                                                <i>경주 번호는 출주표, 스피드온, 경륜장 전광판에서 확인할 수 있습니다.</i>
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">03</span>
                                                        <dl>
                                                            <dt>승식 선택 · 표기</dt>
                                                            <dd>원하는 승식 종류를 선택 후 표기해주세요.</dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">04</span>
                                                        <dl>
                                                            <dt>선수번호 선택 · 표기</dt>
                                                            <dd>
                                                                선택한 승식에 맞게 선수번호를 선택 후 표기해주세요.
                                                                <i>한줄에 선수번호는 1개만 기입이 가능합니다.</i>
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">05</span>
                                                        <dl>
                                                            <dt>베팅금액 선택 · 표기</dt>
                                                            <dd>
                                                                베팅(구매)금액을 선택 후 표기해주세요.
                                                                <i>베팅금액은 최소 100원부터 최대 10만원까지 가능합니다.</i>
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="viewArea">
                                                <h4 class="viewTit">구매표 작성 전에 확인해주세요!</h4>
                                                <div class="dotList">
                                                    <ul class="listGroup">
                                                        <li class="item">경주권 구매표 <em>1장에 3번의 표기</em>가 가능하고 <em>경주권은 1매</em>로 인쇄됩니다.</li>
                                                        <li class="item">경주권 구매표에 표기 시에는 <em>컴퓨터용 사인펜</em>으로 표기합니다.</li>
                                                    </ul>
                                                </div>
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont01_01_02_01_001.png" alt="경주권 구매표 예시 이미지">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptEtcInfo">
                                    <div class="infoBox">
                                        <dl class="info">
                                            <dt>
                                                <em class="tit">구매표를 잘못 입력했어요! 모든선수에게 걸고싶어요!</em>
                                                <span class="subTit">취소와 ALL표시</span>
                                            </dt>
                                            <dd>
                                                <div class="infoList">
                                                    <ul class="listGroup">
                                                        <li class="item">구매권의 표시를 잘못했을 경우, <em>[취소]</em>에 표기하시면 됩니다.</li>
                                                        <li class="item">선택한 승식에 모든 선수 번호 조합을 구매할 경우, <em>[ALL]</em>에 표기하시면 됩니다.<br/>
                                                            <em>예시) 복승식 첫번째 줄에 1번 선수번호를 선택하고 두번째 줄을 ALL을 선택한다면 1/2, 1/3, 1/4, 1/5, 1/6, 1/7 -> 6종류로 선택됩니다.</em>
                                                        </li>
                                                    </ul>
                                                </div> 
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="cptCol2Section">
                                    <div class="sectArea">
                                        
                                        <div class="comTitH2">
                                            <h2>승식별 표기 안내 </h2>
                                        </div>

                                        <ul class="sectGroup">
                                            <li class="sectItem">
                                                <div class="comImgBox narrow">
                                                    <div class="imgWrap">
                                                        <img src="../../images/contents/cont01_01_02_01_002.png" alt="첫번째 줄 4번에 마킹한 구매표 이미지">
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>단승식·연승식</h3>
                                                </div>
                                                
                                                <div class="comBasicList">
                                                    <ul class="listGroup">
                                                        <li class="item">첫 번째 줄에 선수번호를 1개만 표기해주세요.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgBox narrow">
                                                    <div class="imgWrap">
                                                        <img src="../../images/contents/cont01_01_02_01_003.png" alt="첫번째 줄 4번, 두번째 줄 3번에 마킹한 구매표 이미지">
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>복승식·쌍승식</h3>
                                                </div>
                                                
                                                <div class="comBasicList">
                                                    <ul class="listGroup">
                                                        <li class="item">첫 번째 줄에 선착 순위를 예상하는 선수번호를 표기해주세요.</li>
                                                        <li class="item">두 번째 줄에 후착 순위를 예상하는 선수번호를 표기해주세요.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgBox narrow">
                                                    <div class="imgWrap">
                                                        <img src="../../images/contents/cont01_01_02_01_004.png" alt="첫번째 줄 4번, 두번째 줄 3번, 세번째 줄 5번에 마킹한 구매표 이미지">
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>삼복승식</h3>
                                                </div>
                                                
                                                <div class="comBasicList">
                                                    <ul class="listGroup">
                                                        <li class="item">1위, 2위, 3위 선수를 순위와 상관없이 첫번째, 두번째, 세번째 줄에 선수번호를 표기해주세요.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgBox narrow">
                                                    <div class="imgWrap">
                                                        <img src="../../images/contents/cont01_01_02_01_005.png" alt="첫번째 줄 4번, 두번째 줄 3번, 세번째 줄 5번에 마킹한 구매표 이미지">
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>쌍복승식</h3>
                                                </div>
                                                
                                                <div class="comBasicList">
                                                    <ul class="listGroup">
                                                        <li class="item">첫 번째 줄에 선착 순위를 예상하는 선수번호를 표기해주세요.</li>
                                                        <li class="item">두 번째, 세 번째 줄에 2,3위로 예상하는 선수번호를 표기해주세요</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> 
                                </div>

                                <div class="cptQuickMove">
                                    <div class="boxArea">
                                        <div class="quickBox">
                                            <div class="txtArea">
                                                <em class="point">삼쌍승식은 스피드온 전용 승식으로 <img src="../../images/common/logo_speedon.svg" alt="스피드온"> 앱에서 베팅할 수 있습니다.</em>
                                            </div>
                                            <div class="btnArea">
                                                <a href="#" class="btn Primary">스피드온 바로가기</a>
                                            </div>
                                        </div>
                                        
                                        <div class="quickBox">
                                            <div class="txtArea">
                                                <em class="point">경륜 경기의 짜릿함을 한층 더 높여줄 승식! 조금 더 알고싶다면!</em>
                                            </div>
                                            <div class="btnArea">
                                                <a href="#" class="btn Primary">승식종류안내</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //탭 컨텐츠 1 -->
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠 2 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>다양한 방법으로 간단하게! 경주권 구매 방법</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">
                                                경주권 구매표를 작성하셨다면 베팅을 위해 경주권을 구매합니다.<br/>
                                                경주권 구매방법은 <em>현장 발매, 무인 발매, 인터넷 · 모바일 베팅</em>으로 다양한 방법으로 베팅하실 수 있습니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cptImgGuideBox">
                                    <div class="guideArea">
                                        <div class="comTitH2">
                                            <h2>직접 구매하고 싶다면 현장 발매를 이용해보세요.</h2>
                                        </div>
                                        <div class="boxArea">
                                            <div class="descArea">
                                                <ul class="descGroup">
                                                    <li class="descItem">
                                                        <span class="num">01</span>
                                                        <dl>
                                                            <dt>발매창구 찾기</dt>
                                                            <dd>경기장 내 발매창구를 찾으세요.</dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">02</span>
                                                        <dl>
                                                            <dt>경주권 구매표 제출</dt>
                                                            <dd>
                                                                작성한 경주권 구매표를 발매창구의 발매원에게 전달합니다.
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">03</span>
                                                        <dl>
                                                            <dt>베팅금액 결제</dt>
                                                            <dd>
                                                                배팅금액을 발매창구의 발매원에게 전달합니다.
                                                                <i>경주권 결제는 현금, 구매권, 그린카드(전자계좌)로 결제가 가능합니다.</i>
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">04</span>
                                                        <dl>
                                                            <dt>경주권 받기</dt>
                                                            <dd>
                                                                발매된 경주권을 받습니다.
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="viewArea">
                                                <h4 class="viewTit">발매창구 위치</h4>
                                                <div class="comImgWrap mgH">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont01_01_02_01_006.png" alt="발매창구 전경">
                                                        </div>
                                                    </div>
                                                </div> 
                                                <div class="dotList">
                                                    <ul class="listGroup half">
                                                        <li class="item">
                                                            <div class="sTit">광명본장</div>
                                                            <div class="sTxt">
                                                                2층 : 누리존, 2-1, 2-2, 2-4 투표소 <br/>
                                                                3층 : 3-3투표소<br/>
                                                                4층 : 스피드홀, 4-4투표소<br/>
                                                                5층 : 무지개홀 <br/>
                                                            </div>
                                                        </li>
                                                        <li class="item">
                                                            <div class="sTit">경정본장</div>
                                                            <div class="sTxt">1층 : 마린1 투표소, 럭키2 투표소</div>
                                                            <div class="sTxt">2층 : 지정좌석실</div>
                                                        </li>
                                                        <li class="item">
                                                            <div class="sTit">스피존</div>
                                                            <div class="sTxt">전지점 사용가능</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cptImgGuideBox">
                                    <div class="guideArea">
                                        <div class="comTitH2">
                                            <h2>빠르게 구매하고 싶다면 무인 발매기를 이용해보세요.</h2>
                                        </div>
                                        <div class="boxArea">
                                            <div class="descArea">
                                                <ul class="descGroup">
                                                    <li class="descItem">
                                                        <span class="num">01</span>
                                                        <dl>
                                                            <dt>현금 또는 구매권 투입</dt>
                                                            <dd>
                                                                발매기에서 현금, 그린카드, 구매권을 투입합니다.
                                                                <i>현금은 현금발매기에서만 사용 가능합니다.</i>
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">02</span>
                                                        <dl>
                                                            <dt>경주권 구매표 투입</dt>
                                                            <dd>
                                                                작성한 경주권 구매표를 무인 발매기에 투입합니다.
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">03</span>
                                                        <dl>
                                                            <dt>발매종료 버튼 선택</dt>
                                                            <dd>
                                                                무인 발매기의 구매내용 확인 후 발매종료 버튼을 선택합니다.
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                    <li class="descItem">
                                                        <span class="num">04</span>
                                                        <dl>
                                                            <dt>경주권 받기</dt>
                                                            <dd>
                                                                발매된 경주권을 받습니다.
                                                                <i>경주권 구매시 구매권도 같이 발급됩니다.</i>
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="viewArea">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont01_01_02_01_007.png" alt="무인발매기 이용법: 1. 현금 또는 구매권 투입 2. 구매표 투입 3. (구매내역 확인) 발매종료 버튼 클릭 4. 경주권 발매">
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptQuickMove">
                                    <div class="boxArea">
                                        <div class="quickBox">
                                            <div class="txtArea">
                                                <em class="point">레저스포츠 경륜·경정을 손쉽게 즐기시는 방법</em>
                                                <p class="desc">무인 발매기 이용안내 동영상으로 무인 발매기 사용방법을 확인하세요.</p>
                                            </div>
                                            <div class="btnArea">
                                                <a href="#" class="btn Primary">무인 발매기 영상보기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptEtcInfo">
                                    <div class="infoBox">
                                        <dl class="info">
                                            <dt>
                                                <em class="tit">무인 발매기로 발권하면 잔액이 안나와요!</em>
                                                <span class="subTit">무인 발매기 주의사항</span>
                                            </dt>
                                            <dd>
                                                <div class="infoList">
                                                    <ul class="listGroup">
                                                        <li class="item">무인 발매기에서 경주권 발권 시에는 잔액은 현금이 아닌 <em>구매권</em>으로 지급됩니다. <br/>
                                                            환급을 원하시는 경우에는 발권창구에서 가능합니다.</li>
                                                    </ul>
                                                </div> 
                                            </dd>
                                        </dl>
                                        <dl class="info">
                                            <dt>
                                                <em class="tit">과도한 베팅은 안돼요!</em>
                                                <span class="subTit">삼진아웃제</span>
                                            </dt>
                                            <dd>
                                                <div class="infoList">
                                                    <ul class="listGroup">
                                                        <li class="item">구매상한액을 위반한 고객은 퇴장조치 및 입장제한됩니다.
                                                            <ul class="boxStep">
                                                                <li class="stepItem">
                                                                    <em>1차적발</em>
                                                                    <i>가벼운 경고를 합니다.</i>
                                                                </li>
                                                                <li class="stepItem">
                                                                    <em>2차적발</em>
                                                                    <i>퇴장조치를 당합니다.</i>
                                                                </li>
                                                                <li class="stepItem">
                                                                    <em>3차적발</em>
                                                                    <i>1개월 이상 입장제한이 됩니다.</i>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="item">
                                                            최초 적발일부터 <em>1년간 3차 적발 시 3진 아웃</em>이 진행됩니다. <br/>
                                                            퇴장 고객은 과거 연발매 여부 기타 위반사항 등에 따라 입장거부 기간이 가중 적용되니 참고해주세요!
                                                        </li>
                                                    </ul>
                                                </div> 
                                                <div class="comAddGuide">
                                                    <p class="guide">경륜시행규정 – 제 48조, 49조 / 경정시행규정 – 제 38조, 39조</p>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="cpt2ImgboxSect">
                                    <div class="sectArea">
                                        
                                        <div class="comTitH2">
                                            <h2>경주권과 구매권</h2>
                                        </div>

                                        <ul class="sectGroup">
                                            <li class="sectItem">
                                                <div class="boxTit">
                                                    <h2>경주권</h2>
                                                </div>

                                                <div class="comBasicTxt">
                                                    <p class="txt">
                                                        경주권 구매표 입력 후 발매 창구 혹은 무인 발매기에서 현금을 주고 사는 베팅 투표권을 말합니다.
                                                    </p>
                                                </div>
                                                <div class="comImgBox">
                                                    <div class="pcView">
                                                        <img src="../../images/contents/cont01_01_02_01_008.png" alt="경주권 이미지 : 상단-왼쪽부터 순서대로 일련번호, 경주번호, 경주일자, 개최장소, 투표 내용, 법정단위투표금액, 총합계 금액, 발매일자 및 시간, 일련번호, 바코드를 포함">
                                                    </div>
                                                    <div class="mView">
                                                        <img src="../../images/contents/cont01_01_02_01_008_m.png" alt="경주권 이미지 : 상단-왼쪽부터 순서대로 일련번호, 경주번호, 경주일자, 개최장소, 투표 내용, 법정단위투표금액, 총합계 금액, 발매일자 및 시간, 일련번호, 바코드를 포함">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="boxTit">
                                                    <h2>구매권</h2>
                                                </div>

                                                <div class="comBasicTxt">
                                                    <p class="txt">
                                                        고객의 현금사용의 불편함과 발매원의 현금계산착오 및 시간지체 등의 문제점을 해소하고자 사용되는 일종의 선불권(현금예치권)을 말합니다.
                                                    </p>
                                                </div>
                                                <div class="comImgBox">
                                                    <div class="pcView">
                                                        <img src="../../images/contents/cont01_01_02_01_009.png" alt="구매권 이미지 : 상단-왼쪽부터 순서대로 일련번호, 구매권 금액, 발행창구 및 발행일자와 시간, 일련번호, 바코드를 포함">
                                                    </div>
                                                    <div class="mView">
                                                        <img src="../../images/contents/cont01_01_02_01_009_m.png" alt="구매권 이미지 : 상단-왼쪽부터 순서대로 일련번호, 구매권 금액, 발행창구 및 발행일자와 시간, 일련번호, 바코드를 포함">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> 
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comBasicList mgH">
                                            <ul class="listGroup">
                                                <li class="item">
                                                    <b class="sTit">일련번호</b>
                                                    <i class="sTxt">3자리의 고유 일련번호가 부여되며 후반 4자리는 당일 구매권 모두 동일 16진수로 구성되어 숫자 0-9, 영문 A-F까지 적용됩니다.</i>
                                                </li>
                                                <li class="item">
                                                    <b class="sTit">경주일자</b>
                                                    <i class="sTxt">경주일 별로 주어지는 고유한 번호를 매 경주일 마다 1씩 증가합니다.</i>
                                                </li>
                                                <li class="item">
                                                    <b class="sTit">경주번호</b>
                                                    <i class="sTxt">해당 경주권의 경주번호. 구매권은 경주와 무관하게 발매/환급이 가능해 경주번호가 없습니다.</i>
                                                </li>
                                                <li class="item">
                                                    <b class="sTit">투표내용</b>
                                                    <i class="sTxt">고객이 배팅하고자 하는 승식, 선수번호 및 금액이 나와 있는 부분을 말합니다.</i>
                                                </li>
                                                <li class="item">
                                                    <b class="sTit">발행창구</b>
                                                    <i class="sTxt">경주권 및 구매권이 발행되는 창구입니다.</i>
                                                </li>
                                                <li class="item">
                                                    <b class="sTit">발매일자(발행일자) 및 시간</b>
                                                    <i class="sTxt">해당 경주권의 발매 년/월/일 및 시간을 나타냅니다.</i>
                                                </li>
                                                <li class="item">
                                                    <b class="sTit">바코드</b>
                                                    <i class="sTxt">발매기기 구매권을 실제로 판독하는 부분으로서 고유 일련번호를 발매기가 인식 할 수 있도록 2진수로 변환시켜 인쇄됩니다.</i>
                                                </li>
                                                <li class="item">
                                                    <b class="sTit">환급 및 취소시 표시 내용</b>
                                                    <i class="sTxt">
                                                        경주권 및 구매권을 환급 또는 취소를 할 때 표시되는 부분을 말합니다.<br/>
                                                        표시내용은 일자, 창구번호, 구분(환급:CSH, 취소:CAN) 및 금액을 말합니다.
                                                    </i>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="comAddGuide point">
                                            <p class="guide">경주권은 순위 확정 후 환급 받으실 때까지 꼭 가지고 계세요!</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cptEtcInfo">
                                    <div class="infoBox">
                                        <dl class="info">
                                            <dt>
                                                <em class="tit">경주권! 이렇게 가지고 계시면 돼요!</em>
                                                <span class="subTit">경주권 유의사항</span>
                                            </dt>
                                            <dd>
                                                <div class="infoList">
                                                    <ul class="listGroup">
                                                        <li class="item">착순이 확정 될 때까지 경주권을 구기거나 버리지마세요!</li>
                                                        <li class="item">적중 및 환불 경주권의 유효기간은 1년입니다.</li>
                                                        <li class="item">경주권 일부분의 훼손 또는 가시적 확인불능의 경우 지급 금지될 수 있습니다.</li>
                                                        <li class="item">특히 경주권 정중앙 부분에 위치한 일련번호 및 바코드(검정색 불연속 점)부분이 훼손되었을 경우에는 환급이 불가한 경우가 발생할 수 있으니 경주권 관리에 유의하시기 바랍니다.</li>
                                                    </ul>
                                                </div> 
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>집에서 즐기는 간편한 베팅, 스피드온(인터넷 · 모바일 베팅)</h2>
                                        </div>
                                        
                                        <div class="comImgBox">
                                            <div class="pcView">
                                                <img src="../../images/contents/cont01_01_02_01_010.png" alt="스피드온 인터넷-모바일 앱 배너">
                                            </div>
                                            <div class="mView">
                                                <img src="../../images/contents/cont01_01_02_01_010_m.png" alt="스피드온 인터넷-모바일 앱 배너"> 
                                            </div>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txtBold">
                                                스피드온은 경륜·경정의 경주정보 및 경주권을 편리하게 온라인에서 구매할 수 있도록 서비스하는 PC, 모바일 플랫폼입니다.
                                            </p>
                                            <p class="txt">
                                                스피드온은 인터넷 · 모바일 가상카드(그린카드) 를 통한 입금, 출금, 구매, 환급서비스를 보다 편리하게 승자투표권을 구매할 수 있는 경륜·경정 배팅 전용 서비스입니다. <br/>
                                                현금 및 카드소지에 따른 불편함과 분실 및 도난방지를 위한 전용서비스로 회원 가입을 통해 그린카드(전자카드) 발급 및 승자투표권 구매서비스를 이용할 수 있습니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptQuickMove">
                                    <div class="boxArea">
                                        <div class="quickBox">
                                            <div class="txtArea">
                                                <em class="point">스피드온을 이용하여 경륜·경정을 더욱 즐겁게 즐기세요!</em>
                                                <p class="desc">스피드온을 통해 경주권 구매, 라이브 중계 등을 확인 할 수 있습니다.</p>
                                            </div>
                                            <div class="btnArea">
                                                <a href="#" class="btn Primary">스피드온 바로가기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cptEtcInfo">
                                    <div class="infoBox">
                                        <dl class="info">
                                            <dt>
                                                <em class="tit">그린카드가 뭐예요?</em>
                                                <span class="subTit">계좌투표를 이용하기 위한 전자카드 서비스</span>
                                            </dt>
                                            <dd>
                                                <div class="infoList">
                                                    <ul class="listGroup">
                                                        <li class="item">전용단말기나 스피드온을 통해 경주권을 구매할 수 있는 최신 스마트카드 기술이 적용된 전자카드입니다. </li> <!-- 20250110 수정 -->
                                                        <li class="item">적중 및 환불 경주권의 유효기간은 1년입니다.</li>
                                                        <li class="item"><em>현재 그린카드는 실물카드 발급이 되지 않고, 스피드온 가입 시 발급됩니다.</em></li>
                                                    </ul>
                                                </div> 
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <!-- //탭 컨텐츠 2 -->
                            </div>
                        </div>
                    </div>

                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜서비스팀',
                    name: '이윤아',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>