<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜 가이드'],
                    subTitle: '경륜예상지',
                    subText: '<b>경륜 예상지 판매 업체</b>에 <br/> 대해 알려드려요',
                    url: "../../",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">경륜 예상지는 경륜 경주 결과를 예측하고, 이를 바탕으로 베팅 전략을 세우는 데 도움을 주는 자료입니다</h2>
                        <p class="info">경륜 예상지는 경주를 더욱 즐겁게 즐기고, 합리적인 베팅 전략을 세우는 데 도움을 줄 수 있습니다. 하지만 예상지는 참고 자료일 뿐이며, 절대적인 기준이 될 수 없다는 점을 명심해야 합니다</p>
                        <p class="infoEtc">판매계약기간 : 2024년 1월 1일 ~ 2024년 12월 31일</p>
                    </div>

                    <div class="cptCompanys">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경륜예상지 판매 신고 업체 및 변경 계약 대상 업체</h2>
                            </div>

                            <ul class="compGroup">
                                <li class="compItem">
                                    <dl class="compWrap">
                                        <dt class="name">
                                            <a href="#" target="_blank" title="새창열림">명품 경륜 승부사</a>
                                        </dt>
                                        <dd>
                                            <div class="person">발행인 : 조인대</div>
                                            <div class="number">연락처 : 02-2618-7557</div>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="compItem">
                                    <dl class="compWrap">
                                        <dt class="name">
                                            <a href="#" target="_blank" title="새창열림">경륜 위너스</a>
                                        </dt>
                                        <dd>
                                            <div class="person">발행인 : 윤상현</div>
                                            <div class="number">연락처 : 02-860-8700</div>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="compItem">
                                    <dl class="compWrap">
                                        <dt class="name">
                                            <a href="#" target="_blank" title="새창열림">경륜왕</a>
                                        </dt>
                                        <dd>
                                            <div class="person">발행인 : 김성환</div>
                                            <div class="number">연락처 : 02-2611-1450</div>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="compItem">
                                    <dl class="compWrap">
                                        <dt class="name">경륜 뱅크</dt>
                                        <dd>
                                            <div class="person">발행인 : 안성익</div>
                                            <div class="number">연락처 : 02-2616-1788</div>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="compItem">
                                    <dl class="compWrap">
                                        <dt class="name">
                                            <a href="#" target="_blank" title="새창열림">신 경륜박사</a>
                                        </dt>
                                        <dd>
                                            <div class="person">발행인 : 허 준</div>
                                            <div class="number">연락처 : 02-897-5970</div>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="compItem">
                                    <dl class="compWrap">
                                        <dt class="name">
                                            신 경륜적중
                                        </dt>
                                        <dd>
                                            <div class="person">발행인 : 박소정</div>
                                            <div class="number">연락처 : 010-3004-0987</div>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="compItem">
                                    <dl class="compWrap">
                                        <dt class="name">
                                            마지막 한바퀴
                                        </dt>
                                        <dd>
                                            <div class="person">발행인 : 송종국</div>
                                            <div class="number">연락처 : 02-2060-6542</div>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="compItem">
                                    <dl class="compWrap">
                                        <dt class="name">
                                            <a href="#" target="_blank" title="새창열림">최강경륜</a>
                                        </dt>
                                        <dd>
                                            <div class="person">발행인 : 박창현</div>
                                            <div class="number">연락처 : 02-2613-4990</div>
                                        </dd>
                                    </dl>
                                </li>
                                <li class="compItem">
                                    <dl class="compWrap">
                                        <dt class="name">
                                            경륜종합지
                                        </dt>
                                        <dd>
                                            <div class="person">발행인 : 송종국</div>
                                            <div class="number">연락처 : 02-2060-3042</div>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜기획팀',
                    name: '서동욱',
                    phone: '02-2067-5714',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>