<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜 가이드', '경륜 지식쌓기'],
                    subTitle: '제재 심의위원회',
                    subText: '<b>공정한 경기</b>를 위한 수호자<br/><b>제재심의위원회</b>에 대해 알아봐요.',
                    url: "../../",
                    visualClass: "bg01",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">제재심의위원회는 경기의 공정성을 유지하고 선수들의 규칙 위반에 대한 제재를 심의·결정하는 중요한 역할을 합니다.</h2>
                        <p class="info">제재심의위원회는 엄정하고 공정한 심사를 통해 경륜의 질서를 유지하고 선수들의 책임감을 강화하는 데 기여합니다.</p>
                    </div>

                    <div class="cptProcess">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경륜 제재심의위원회 알아보기</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>제재심의위원회의 역할</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    경주의 공정성을 확보하기 위하여 선수 제재 및 이의신청 등을 심의 결정을 진행합니다.
                                </p>
                            </div>

                            <div class="comTitH3">
                                <h3>선수제재의 종류</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    선수 제재심의 종류는 <em>경주관여 정지 및 금지, 출전정지, 서면경고</em> 입니다. 
                                </p>
                            </div>

                            <div class="comTitH3">
                                <h3>의결방법</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    재적인원의 과반수 이상 참석 및 2/3이상 찬성으로 의결합니다.
                                </p>
                            </div>

                            <div class="comTitH3">
                                <h3>경륜제재 심의위원회 주요절차</h3>
                            </div>

                            <div class="stepWrap">
                                <ul class="stepGroup">
                                    <li class="stepItem">
                                        <div class="num">1</div>
                                        <div class="stepCont">
                                            <dl>
                                                <dt>제재심의 요구</dt>
                                                <dd>제재심 요구서를 접수</dd>
                                            </dl>
                                        </div>
                                    </li>
                                    <li class="stepItem">
                                        <div class="num">2</div>
                                        <div class="stepCont">
                                            <dl>
                                                <dt>제재의결</dt>
                                                <dd>출석의원 2/3이상 찬성으로 의결</dd>
                                            </dl>
                                        </div>
                                    </li>
                                    <li class="stepItem">
                                        <div class="num">3</div>
                                        <div class="stepCont">
                                            <dl>
                                                <dt>제재의결 사항승인</dt>
                                                <dd>총괄 본부장이 제재의결사항에 승인</dd>
                                            </dl>
                                        </div>
                                    </li>
                                    <li class="stepItem">
                                        <div class="num">4</div>
                                        <div class="stepCont">
                                            <dl>
                                                <dt>제재처분통보</dt>
                                                <dd>
                                                    해당 선수에게 제재처분을 통보 <br/>
                                                    <span class="adds tMint">※ 제재처분 이의신청은 30일 이내 가능</span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </li>
                                </ul>
                                <p class="refer">* 제재처분 이의신청이 된 경우, 재심의를 거친 후 재심의 의결사항을 승인 후 통보합니다.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>제재심의위원회 운영 개선사항(2024.1)</h2>
                            </div>
            
                            <div class="comTitH3">
                                <h3>선수 변호인 참석 제도화를 통한 제재 객관성 및 대상자 방어권 강화</h3>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>외부위원 중심운영을 통한 객관성과 전문성 강화로 대내외 신뢰구축</h3>
                            </div>

                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <b class="lineTit">위원장 : </b>
                                        <i class="lineTxt">외부위원</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">현재 참석위원 현황 : </b>
                                        <i class="lineTxt">외부위원 6~7명, 내부위원 1명</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">외부위원 구성 : </b>
                                        <i class="lineTxt">구성위원의 <em>1/2 이상을 외부위원</em>으로 위촉</i>
                                    </li>
                                    <li class="item">자전거연맹 사이클 전문가, 법조인, 체육 및 의학계 교수, 경찰행정, 언론인 등</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="cptEtcInfo">
                        <div class="infoBox">
                            <dl class="info">
                                <dt>
                                    <em class="tit">제재대상에 대해 알고싶어요.</em>
                                    <span class="subTit">제재사례 Q&A</span>
                                </dt>
                                <dd>
                                    <ul class="qnaList">
                                        <li class="qnaItem">
                                            <p class="qTit">
                                                <b class="num">Q1. </b>
                                                <span class="txt">경주 중 다른 선수를 낙차시킨 선수는 어떤 제재를 받게 되나요?</span>
                                            </p>
                                            <div class="aTxt">
                                                <p class="pharse">경주중 본인 귀책사유로 낙차사고를 일으킨 경우 경주규칙 위반사항에 차이는 있을 수 있지만 기본적으로 해당 낙차사고 인원에 비례하여 제재를 받게 됩니다. <br/> (심판판정규칙에 따른 출전정지)</p>
                                                <p class="pharse"><b>사례1) 2인 이상 낙차사고 :</b> 출전정지 2회차</p>
                                                <p class="pharse"><b>사례2) 5인 이상 낙차사고 :</b> 출전정지 3회차</p>
                                                <p class="pharse">다만, 다량의 낙차사고를 일으켜 경주불성립 또는 승식불성립 등 경주의 중대한 영향을 준 경우는 더욱 무거운 제재처분을 받을 수 있습니다.</p>
                                            </div>
                                        </li>
                                        <li class="qnaItem">
                                            <p class="qTit">
                                                <b class="num">Q2. </b>
                                                <span class="txt">낙차사고를 일으키지 않았는데 출전정지 제재를 받는 경우가 있나요?</span>
                                            </p>
                                            <div class="aTxt">
                                                <p class="pharse">경주중 낙차사고를 일으키지 않았지만 다른 선수에게 고의적으로 지장을 반복해서 주는 행위나 경주에 중대한 영향을 준 경우는 사안에 따라 제재를 받을 수 있습니다.</p>
                                                <p class="pharse"><b>사례1) :</b> A선수는 경주에 출전하여 해당경주에만 규칙위반 경고4건, 주의 2건 등 다른 선수에게 지장을 주는 난폭경주로 경주결과에 중대한 영향을 끼쳐 출전정지 처분을 받은 사례가 있습니다.</p>
                                                <p class="pharse"><b>사례2) :</b> AB선수는 경주에 출전하여 다른 선수에게 “야 자리좀 줘”, “뒤에 있어” 등 의 발성으로 공정한 경주에 중대한 영향을 주어 경주관여정지 1년 처분을 받은 사례가 있습니다.</p>
                                            </div>
                                        </li>
                                        <li class="qnaItem">
                                            <p class="qTit">
                                                <b class="num">Q3. </b>
                                                <span class="txt">품위손상행위로 제재처분을 받는 선수가 있다고 하는데 품위손상은 어떤 경우가 해당되나요?</span>
                                            </p>
                                            <div class="aTxt">
                                                <p class="pharse">경주에 출전하여 선수 준수사항을 위반하거나 경주출전일 외에 현행법을 위반하여 사법처분을 받은 경우 제재를 받을 수 있습니다. <br/> 대표적인 위반사례로 음주운전, 폭행, 성매매(비위), 불법도박, 고객모욕 등이 있습니다.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>

                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '공정팀',
                    name: '백승일',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>