<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 정보', '경주현황', '경주속보'],
                    subTitle: '경주속보',
                    subText: '<b>선수교체 및 결장현황</b>에 대해 <br/> 알려드립니다.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptBoardList">
                        <div class="boardListArea">


                            <!-- 게시판 리스트 상단 -->
                            <div class="comGroupTop">
                                <div class="alignL">
                                    <div class="unit"><span class="text">전체 <span class="total">999</span> 건</span></div>
                                </div>
                                <div class="alignR">
                                    <ul class="opList">
                                        <li class="item">
                                            <div class="frmGroup">
                                                <div class="frmSearch">
                                                    <input type="text" class="iptText" placeholder="검색어를 입력해주세요.">
                                                    <button class="btnSearch">검색</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 게시판 리스트 -->
                            <div class="listTable">
                                <table>
                                    <caption></caption>
                                    <colgroup>
                                        <col style="width:93px;">
                                        <col style="width:auto;">
                                        <col style="width:120px;">
                                        <col style="width:120px;">
                                        <col style="width:140px;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="num">1014</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                    <span class="icons">
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1013</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">결장속보 (광명 제25회 1일차)</a>
                                                    <span class="icons">
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1012</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                    <span class="icons">
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1011</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1010</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1009</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1008</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1007</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1006</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1005</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1004</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1003</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1002</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">1001</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">100`</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">2024.08.04 (광명 제30회 3일차)</a>
                                                </div>
                                            </td>
                                            <td>2024.07.05</td>
                                            <td>경륜기획팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //게시판 리스트 -->
                            
                            <!-- 페이징 -->
                            <div class="comPaging">
                                <a class="start" href="#"></a>
                                <a class="prev" href="#"></a>
                                <ul class="numList">
                                    <li class="on"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <a class="next" href="#"></a>
                                <a class="end" href="#"></a>
                            </div>

                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '조준호',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>