<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 정보', '통계데이터'],
                    subTitle: '배당률 통계',
                    subText: '<b>경주 승식별 최고 배당률</b>과 <br/><b>전체 배당률 분포</b>에 대해 알려드려요 ',
                    url: "../../",
                    visualClass: "bg02",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">모든 경주의 승률을 백분율로 나타내 배당률 통계를 안내합니다.</h2>
                        <p class="info">연도를 선택하셔서 승식별 최고 배당률과 전체 배당률 분포를 확인하세요.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2 mRow"> <!--20241031 class 추가-->
                                <h2>배당률 통계</h2>
                                <div class="right">
                                    <div class="frmBox">
                                        <select class="iptSlt">
                                            <option value="">통계 연도 전체</option>
                                            <option value="">2024년</option>
                                            <option value="">2023년</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>승식별 최고 배당률</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea sizeS">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:33.3333%">
                                            <col style="width:33.3333%">
                                            <col style="width:33.3333%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>승식</th>
                                                <th>최고 배당률(%)</th>
                                                <th>경주일자/회차</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>단승식</th>
                                                <td>788.6</td>
                                                <td>2005년 29회차 1일차 제 06경주(09/09)</td>
                                            </tr>
                                            <tr>
                                                <th>연승식</th>
                                                <td>116.7</td>
                                                <td>2005년 29회차 1일차 제 06경주(09/09)</td>
                                            </tr>
                                            <tr>
                                                <th>쌍승식</th>
                                                <td>788.6</td>
                                                <td>2005년 29회차 1일차 제 06경주(09/09)</td>
                                            </tr>
                                            <tr>
                                                <th>복승식</th>
                                                <td>788.6</td>
                                                <td>2005년 29회차 1일차 제 06경주(09/09)</td>
                                            </tr>
                                            <tr>
                                                <th>삼복승식</th>
                                                <td>788.6</td>
                                                <td>2005년 29회차 1일차 제 06경주(09/09)</td>
                                            </tr>
                                            <tr>
                                                <th>쌍복승식</th>
                                                <td>788.6</td>
                                                <td>2005년 29회차 1일차 제 06경주(09/09)</td>
                                            </tr>
                                            <tr>
                                                <th>삼쌍승식</th>
                                                <td>788.6</td>
                                                <td>2005년 29회차 1일차 제 06경주(09/09)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            
                            <div class="comTitH3">
                                <h3>전체 배당률 분포</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea sizeL">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:100px">
                                            <col style="width:8%">
                                            <col style="width:8%">
                                            <col style="width:8%">
                                            <col style="width:8%">
                                            <col style="width:8%">
                                            <col style="width:8%">
                                            <col style="width:8%">
                                            <col style="width:8%">
                                            <col style="width:8%">
                                            <col style="width:8%">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="btmLine">승식</th>
                                                <th colspan="2">10배 미만</th>
                                                <th colspan="2">10배 이상 ~ 20배 미만</th>
                                                <th colspan="2">20배 이상 ~ 50배 미만</th>
                                                <th colspan="2">50배 이상 ~ 100배 미만</th>
                                                <th colspan="2">100배 이상</th>
                                                <th rowspan="2" class="btmLine">합계(건수)</th>
                                            </tr>
                                            <tr>
                                                <th class="noStand">건수</th>
                                                <th>%</th>
                                                <th>건수</th>
                                                <th>%</th>
                                                <th>건수</th>
                                                <th>%</th>
                                                <th>건수</th>
                                                <th>%</th>
                                                <th>건수</th>
                                                <th class="noStand">%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>단승식</th>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>54,767</td>
                                            </tr>
                                            <tr>
                                                <th>연승식</th>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>54,767</td>
                                            </tr>
                                            <tr>
                                                <th>쌍승식</th>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>54,767</td>
                                            </tr>
                                            <tr>
                                                <th>복승식</th>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>54,767</td>
                                            </tr>
                                            <tr>
                                                <th>삼복승식</th>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>54,767</td>
                                            </tr>
                                            <tr>
                                                <th>쌍복승식</th>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>54,767</td>
                                            </tr>
                                            <tr>
                                                <th>삼쌍승식</th>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>49,521</td>
                                                <td>90.4%</td>
                                                <td>54,767</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="comDataSwiper">
                                <div class="dataWrap">
                                    <div class="dataBox imgDataSwiper">
                                        <ul class="dataGroup swiper-wrapper">
                                            <li class="dataItem swiper-slide">
                                                <img src="../../images/thum/thum_diagram03.png" alt="">
                                            </li>
                                            <li class="dataItem swiper-slide">
                                                <img src="../../images/thum/thum_diagram04.png" alt="">
                                            </li>
                                            <li class="dataItem swiper-slide">
                                                <img src="../../images/thum/thum_diagram05.png" alt="">
                                            </li>
                                            <li class="dataItem swiper-slide">
                                                <img src="../../images/thum/thum_diagram03.png" alt="">
                                            </li>
                                            <li class="dataItem swiper-slide">
                                                <img src="../../images/thum/thum_diagram04.png" alt="">
                                            </li>
                                            <li class="dataItem swiper-slide">
                                                <img src="../../images/thum/thum_diagram05.png" alt="">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="swiperUnit">
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜기획팀',
                    name: '조준호',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>