<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 정보', '통계데이터'],
                    subTitle: '무적중 순위',
                    subText: '<b>무적중 경기</b>에 대해<br>알려드려요',
                    url: "../../",
                    visualClass: "bg02",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">경주는 정상적으로 성립되었으나 적중자가 한명도 없는 경주를 무적중 경주라고 합니다.</h2>
                        <p class="info">무적중 경주는 드물게 발생하며, 아쉽지만, 경주를 더욱 흥미진진하고 예측 불가능하게 만드는 요소가 될 수 있습니다.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            
                            <div class="comTitH3">
                                <h3>1997년 17회차 2일차 2경주 (1997년 7월 5일) 단승식 무적중</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>승식</th>
                                                <th>승차</th>
                                                <th>배당률</th>
                                                <th>매출액(단위 : 원)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>단승식</th>
                                                <td>5</td>
                                                <td>0.7</td>
                                                <td><b>26,000</b></td>
                                            </tr>
                                            <tr>
                                                <th>연승식</th>
                                                <td>5</td>
                                                <td>5.3</td>
                                                <td><b>99,000</b></td>
                                            </tr>
                                            <tr>
                                                <th>연승식</th>
                                                <td>6</td>
                                                <td>6.9</td>
                                                <td><b>26,000</b></td>
                                            </tr>
                                            <tr>
                                                <th>쌍승식</th>
                                                <td>5-6</td>
                                                <td>252.3</td>
                                                <td><b>40,956,500</b></td>
                                            </tr>
                                            <tr>
                                                <th>복승식</th>
                                                <td>5-6</td>
                                                <td>82</td>
                                                <td><b>20,191,300</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            
                            <div class="comTitH3">
                                <h3>1997년 17회차 2일차 2경주 (1997년 7월 5일) 단승식 무적중</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>승식</th>
                                                <th>승차</th>
                                                <th>배당률</th>
                                                <th>매출액(단위 : 원)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>단승식</th>
                                                <td>5</td>
                                                <td>0.7</td>
                                                <td><b>26,000</b></td>
                                            </tr>
                                            <tr>
                                                <th>연승식</th>
                                                <td>5</td>
                                                <td>5.3</td>
                                                <td><b>99,000</b></td>
                                            </tr>
                                            <tr>
                                                <th>연승식</th>
                                                <td>6</td>
                                                <td>6.9</td>
                                                <td><b>26,000</b></td>
                                            </tr>
                                            <tr>
                                                <th>쌍승식</th>
                                                <td>5-6</td>
                                                <td>252.3</td>
                                                <td><b>40,956,500</b></td>
                                            </tr>
                                            <tr>
                                                <th>복승식</th>
                                                <td>5-6</td>
                                                <td>82</td>
                                                <td><b>20,191,300</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            
                            <div class="comTitH3">
                                <h3>1997년 17회차 2일차 2경주 (1997년 7월 5일) 단승식 무적중</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>승식</th>
                                                <th>승차</th>
                                                <th>배당률</th>
                                                <th>매출액(단위 : 원)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>단승식</th>
                                                <td>5</td>
                                                <td>0.7</td>
                                                <td><b>26,000</b></td>
                                            </tr>
                                            <tr>
                                                <th>연승식</th>
                                                <td>5</td>
                                                <td>5.3</td>
                                                <td><b>99,000</b></td>
                                            </tr>
                                            <tr>
                                                <th>연승식</th>
                                                <td>6</td>
                                                <td>6.9</td>
                                                <td><b>26,000</b></td>
                                            </tr>
                                            <tr>
                                                <th>쌍승식</th>
                                                <td>5-6</td>
                                                <td>252.3</td>
                                                <td><b>40,956,500</b></td>
                                            </tr>
                                            <tr>
                                                <th>복승식</th>
                                                <td>5-6</td>
                                                <td>82</td>
                                                <td><b>20,191,300</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptEtcInfo">
                        <div class="infoBox">
                            <dl class="info">
                                <dt>
                                    <em class="tit">경륜ㆍ경정법 시행령 제19조(환급금)</em>
                                </dt>
                                <dd>
                                    <div class="infoList">
                                        <ul class="listGroup">
                                            <li class="item">
                                                <em>③ 법 제12조제3항에 따라 승자투표 적중자가 없는 경우에 지급하는 환급금은 별표 2의 산식에 따라 산출된 금액을 각 단위승자투표권에 고르게 나눈 금액으로 한다.</em>
                                                <div class="etcInfoBox">
                                                    <em class="etcTit">[별표 2] 환급금 산출방식(제19조 관련)</em>
                                                    <ul class="etcGroup">
                                                        <li class="etcItem">
                                                            <em class="num">1. 각 승자투표방법에서의 환급금 총액 : </em>
                                                            <i class="txt">승자투표권 발매금액 X {1-(승자투표권 발매수득률+승자투표권 발매과세율)}</i>
                                                        </li>
                                                        <li class="etcItem">
                                                            <em class="num">2. 연승식 승자투표방법에서의 각 승자별 환급금 총액 : </em>
                                                            <i class="txt">
                                                                가. 첫 번째 및 두 번째로 도착한 선수를 승자로 할 경우 : 환급금 총액의 2분의 1<br/>
                                                                나. 첫 번째, 두 번째 및 세 번째 도착한 선수를 승자로 할 경우 : 환급금 총액의 3분의 1
                                                            </i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <em>위 조항에 따라 무적중 승식이 발생한 경우 2005년 2월 25일전까지 각종 세금을 공제하고 베팅금액의 70%만 환급 받았으며 최종배당률은 0.7로 표시하였으나 2005년 2월 25일부터 환급률이 단,연승식은 81%로 상향 조정되어 0.8로 표시하고 쌍,복,삼복, 삼쌍,쌍복승식은 72%로 0.7로 표시</em>
                                            </li>
                                        </ul>
                                    </div> 
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜기획팀',
                    name: '조준호',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>