<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 정보', '경주현황', '경주소식'],
                    subTitle: '경주소식',
                    subText: '경륜·경정총괄본부는 <br/> <b>새로운 소식</b>을 빠르게 업데이트하여 안내합니다.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptBoardView">
                        <div class="boardViewArea">
                            <div class="viewTop">
                                <h2 class="viewTitle">2024년 하반기 등급심사 결과 알림</h2>
                                <ul class="info">
                                    <li class="item">2024.07.05</li>
                                    <li class="item">경륜기획팀</li>
                                    <li class="item">조회수 : 2000</li>
                                </ul>

                            </div>
                            
                            <div class="comFileDownload">
                                <dl class="fileGroup">
                                    <dt class="fileTitle">첨부파일</dt>
                                    <dd class="fileArea">
                                        <ul class="fileList">
                                            <li class="download"><a href="#">24년 하반기 등급심사결과(홈페이지).xlsx</a></li>
                                            <li class="download"><a href="#">24년 하반기 등급심사결과(홈페이지).xlsx</a></li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                            <div class="viewBody">
                                <div class="viewContArea">
                                    <img src="../../images/thum/board_temp_img.png" alt="제 30회 3일차 선수교체 현황">
                                </div>
                            </div>

                            <div class="comPrevNext">
                                <dl>
                                    <dt>이전글</dt>
                                    <dd><a href="#">결장속보 (광명 제25회 1일차)</a> </dd>
                                </dl>
                                <dl>
                                    <dt>다음글</dt>
                                    <dd>다음 글이 없습니다.</dd>
                                </dl>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignR">
                                    <div class="btnBox min">
                                        <button class="btn dkLine">목록보기</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '조준호',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>