<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객광장'],
                    subTitle: '문화교실',
                    subText: '현재 운영되고 있는<br> <b>다양한 프로그램</b>을 확인해보세요.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    
                    
                    <div class="cptBoardView">
                        <div class="boardViewArea">
                            <div class="viewTop noline">
                                <h2 class="viewTitle">미사경정공원 숲 체험교실</h2>
                            </div>

                            <div class="comContTable">
                                <div class="pcView">
                                    <table class="basic">
                                        <caption>미사경정공원 숲 체험교실 관련 표 : 지역, 강의실, 강좌기간, 정원, 강좌요일, 문의전화, 강좌시간 항목을 포함한 표</caption>
                                        <colgroup>
                                            <col style="width:12.5%;">
                                            <col style="width:auto;">
                                            <col style="width:12.5%;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>지역</th>
                                                <td class="left frm">장안<button class="btn xs gLine ml8">위치보기</button></td>
                                                <th>강의실</th>
                                                <td class="left">관람동</td>
                                            </tr>
                                            <tr>
                                                <th>강좌기간</th>
                                                <td class="left">2024-05-18~2024-11-30</td>
                                                <th>정원</th>
                                                <td class="left">30명</td>
                                            </tr>
                                            <tr>
                                                <th>강좌요일</th>
                                                <td class="left">월, 화, 금</td>
                                                <th>문의전화</th>
                                                <td class="left">02-2247-3654</td>
                                            </tr>
                                            <tr>
                                                <th>강좌시간</th>
                                                <td class="left" colspan="3">10:30 ~ 20:00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mView">
                                    <table class="basic">
                                        <caption>미사경정공원 숲 체험교실 관련 표 : 지역, 강의실, 강좌기간, 정원, 강좌요일, 문의전화, 강좌시간 항목을 포함한 표</caption>
                                        <colgroup>
                                            <col style="width:100px;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>지역</th>
                                                <td class="left">장안<button class="btn xs gLine ml8">위치보기</button></td>
                                            </tr>
                                            <tr>
                                                <th>강좌기간</th>
                                                <td class="left">2024-05-18~2024-11-30</td>
                                            </tr>
                                            <tr>
                                                <th>강좌요일</th>
                                                <td class="left">월, 화, 금</td>
                                            </tr>
                                            <tr>
                                                <th>강좌시간</th>
                                                <td class="left">10:30 ~ 20:00</td>
                                            </tr>
                                            <tr>
                                                <th>강의실</th>
                                                <td class="left">관람동</td>
                                            </tr>
                                            <tr>
                                                <th>정원</th>
                                                <td class="left">30명</td>
                                            </tr>
                                            <tr>
                                                <th>문의전화</th>
                                                <td class="left">02-2247-3654</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="viewBtnGroup">
                                <div class="comBtnGroup">
                                    <div class="alignC">
                                        <div class="btnBox m50">
                                            <button class="btn lg gLine pcW180">신청내역확인</button>
                                            <button class="btn lg Primary pcW180">신청하기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="viewBody">
                                <div class="viewContArea">
                                    <!-- 컨텐츠 영역입니다. -->
                                    결승전치고 오랜만에 혼전이죠?
                                    <br>사실 줄서기조차 예상이 어려운데요.
                                    <br>경기스타일이 비슷한 은섭이와 용범이 투톱에 언제든지 판을 흔들수있는 다수의 선행강자에 독고다이로 초주선행해지는 불발되겠지만 뒤통수로 뒷상황을 예리하게 분석할 종근이!
                                    <br>
                                    <br>굳이 줄서기를 예상해 보자면종 
                                    <br>
                                    <br>근 - 혜 윤 - 우 겸 - 용 범 -은 섭 - 정 교 - 하 늘
                                    <br>
                                    <br>
                                    <br>혜윤의 묻지마 선행후 우겸이의 젖히기 용범이와 은섭이의 결승선추입대결에 정교의 마크
                                    <br>모 이런그림으로 용범이와 은섭이를  중심으로 우겸이와 정교까지 모든차권이 저배당이 형성될텐데요.
                                    <br>대열앞선에서 누구사이를 짤라들어갈 종근이 이게 가장 큰경주변수!
                                    <br>용범과 은섭사이를 혹은 우겸과 용범사이?
                                    <br>
                                    <br>아마도 종근이 용범의 경기력과 몸싸움 넘사벽인정할테고 그럼 용범의 뒤를 노릴 공산이 크네요.
                                    <br>성공한다면
                                    <br>쌍  승 : 용 범 - 종 근 (7-8배당은 나올듯)
                                    <br>
                                    <br>
                                    <br>건승하세요.
                                    <!-- //컨텐츠 영역입니다. -->
                                </div>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignR">
                                    <div class="btnBox min">
                                        <button class="btn dkLine">목록보기</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="cptQuickMove">
                        <div class="boxArea">
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">문화교실은 이렇게 운영되고 있어요.</em>
                                    <p class="desc">
                                        기금조성총괄본부는 문화강좌 선정에 있어 지역주민들의 관심과 호응도를 첫째 기준으로 삼고 있으며 시설 대여료와 수강료 없이 모든 문화교실을 운영하고 있어요.<br>
                                        <span class="tKey">경륜과 경정을 공동으로 운영하는 지점의 경우,문화교실 운영요일과 시간이 변경될 수 있어요.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '영업총괄팀',
                    name: '배기준',
                    phone: '02-2067-5606',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>