<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객센터'],
                    subTitle: '예상과 후기',
                    subText: '경주에 대한 예상과 후기,<br><b>경륜 회원님들과 공감</b>해요.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경주에 대한 예상과 후기를 작성하여 감상을 나누는 커뮤니티 입니다.</h2>
                        <p class="info">고객 여러분들이 분석한 내용을 바탕으로 경기에 대한 예상이나 후기를 작성하고 다른 회원들과 공유할 수 있습니다. </p>
                    </div>
                    
                    <div class="cptBoardView">
                        <div class="boardViewArea">
                            <div class="viewTop">
                                <i class="noti"><span class="mark">공지</span></i>
                                <h2 class="viewTitle">24년 전반기 경정 최강자를 가린다. 체육 공단 이사장배 왕중왕전 19~20일 양일간 열려</h2>
                                <ul class="info">
                                    <li class="item">2024.07.05</li>
                                    <li class="item">경륜심판팀</li>
                                    <li class="item">조회수 : 200</li>
                                    <li class="item">추천수 : <span class="recomNum">20</span></li>
                                </ul>

                            </div>
                            <div class="viewBody">
                                <div class="viewContArea">
                                    <!-- 컨텐츠 영역입니다. -->
                                    결승전치고 오랜만에 혼전이죠?
                                    <br>사실 줄서기조차 예상이 어려운데요.
                                    <br>경기스타일이 비슷한 은섭이와 용범이 투톱에 언제든지 판을 흔들수있는 다수의 선행강자에 독고다이로 초주선행해지는 불발되겠지만 뒤통수로 뒷상황을 예리하게 분석할 종근이!
                                    <br>
                                    <br>굳이 줄서기를 예상해 보자면종 
                                    <br>
                                    <br>근 - 혜 윤 - 우 겸 - 용 범 -은 섭 - 정 교 - 하 늘
                                    <br>
                                    <br>
                                    <br>혜윤의 묻지마 선행후 우겸이의 젖히기 용범이와 은섭이의 결승선추입대결에 정교의 마크
                                    <br>모 이런그림으로 용범이와 은섭이를  중심으로 우겸이와 정교까지 모든차권이 저배당이 형성될텐데요.
                                    <br>대열앞선에서 누구사이를 짤라들어갈 종근이 이게 가장 큰경주변수!
                                    <br>용범과 은섭사이를 혹은 우겸과 용범사이?
                                    <br>
                                    <br>아마도 종근이 용범의 경기력과 몸싸움 넘사벽인정할테고 그럼 용범의 뒤를 노릴 공산이 크네요.
                                    <br>성공한다면
                                    <br>쌍  승 : 용 범 - 종 근 (7-8배당은 나올듯)
                                    <br>
                                    <br>
                                    <br>건승하세요.
                                    <!-- //컨텐츠 영역입니다. -->
                                </div>
                                <div class="viewBtnGroup">
                                    <div class="comBtnGroup">
                                        <div class="alignC">
                                            <div class="btnBox min">
                                                <button class="btn sm gLine recom">추천하기</button>
                                                <button class="btn sm gLine report" onclick="openPopup('sample01');">신고하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="comBtnGroup">
                                <div class="alignR moR">
                                    <div class="btnBox min">
                                        <button class="btn sm Primary">수정</button>
                                        <button class="btn sm gLine">삭제</button>
                                    </div>
                                </div>
                            </div>

                            <div class="comComment">
                                <div class="cmtArea">
                                    <div class="cmtHead">
                                        <b class="cmtTitle">댓글</b>
                                        <i class="number">5</i>
                                    </div>
                                    
                                    <div class="cmtWriteBox">
                                        <div class="alignL">
                                            <textarea class="writeText" placeholder="댓글을 입력해주세요"></textarea>
                                        </div>
                                        <div class="alignR">
                                            <span class="byte"><b>120</b>/500</span>
                                            <button class="btnReg">등록</button>
                                        </div>
                                    </div>


                                    <div class="cmtBody">

                                        <!-- 댓글 단위 -->
                                        <div class="cmtBox">
                                            <div class="cmtTop">
                                                <div class="alignL">
                                                    <b class="cmtName">공정불법대응센터</b><i class="date">2023.08.02</i>
                                                </div>
                                                <div class="alignR">
                                                    <button class="btnDel">삭제</button>
                                                </div>
                                            </div>

                                            <div class="cmtCont">
                                                <p class="cmtText">지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다.</p>
                                            </div>
                                        </div>

                                        <!-- 댓글 단위 -->
                                        <div class="cmtBox">
                                            <div class="cmtTop">
                                                <div class="alignL">
                                                    <b class="cmtName">공정불법대응센터</b><i class="date">2023.08.02</i>
                                                </div>
                                                <div class="alignR">
                                                    <button class="btnReport" onclick="openPopup('sample01');">신고</button>
                                                </div>
                                            </div>

                                            <div class="cmtCont">
                                                <p class="cmtText">지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다. 지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다. 지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다. 지난 광명 경주 진행 시 A선수와 B선수가 담합하는 것을 보았습니다.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="comPrevNext addLine"> <!-- addClass - addLine : 이전글 상단에 라인 추가하고 margin-top 띄움 -->
                                <dl>
                                    <dt>이전글</dt>
                                    <dd><a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 한글50자 까지 나열됩니다뉴스 한글50자 까지 나열됩니다 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스</a> </dd>
                                </dl>
                                <dl>
                                    <dt>다음글</dt>
                                    <dd><a href="#">스포츠동아배 대상경륜 기념 고객 사은행사 '예상지 드림2' 안내</a></dd>
                                </dl>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignR">
                                    <div class="btnBox min">
                                        <button class="btn dkLine">목록보기</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!-- 20241116 신고하기 팝업 추가 -->
                    <div id="sample01" class="modMdPopup on"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                                    <div class="popTitle">신고하기</div>
                                    <div class="popCont">
                                        <!-- 팝업 컨텐츠 영역 -->
                                        <div class="frmGroup full">
                                            <div class="frmBox"><input id="rdo101" type="checkbox" class="iptRdo lg" name="rdo101" checked><label for="rdo101" class="iptLbl">음란, 욕설, 개인정보 등 유해 게시글 등록</label></div>
                                            <div class="frmBox"><input id="rdo102" type="checkbox" class="iptRdo lg" name="rdo101"><label for="rdo102" class="iptLbl">타인비방 및 명예훼손</label></div>
                                            <div class="frmBox"><input id="rdo103" type="checkbox" class="iptRdo lg" name="rdo101"><label for="rdo103" class="iptLbl">불법 광고 글 반복게시</label></div>
                                            <div class="frmBox"><input id="rdo104" type="checkbox" class="iptRdo lg" name="rdo101"><label for="rdo104" class="iptLbl">명의도용</label></div>
                                            <div class="frmBox"><input id="rdo105" type="checkbox" class="iptRdo lg" name="rdo101"><label for="rdo105" class="iptLbl">기타 홈페이지상에서 공공질서에 위배되는 행위반복</label></div>
                                        </div>
                                        <div class="comAddGuide point mgH">
                                            <p class="guide">허위 신고일 경우 신고자에게 불이익이 돌아갈 수도 있으니 신중히 결정 해주시기 바랍니다.</p>
                                        </div>
                                        <!-- //팝업 컨텐츠 영역 -->
                                    </div>
                
                                    <!-- 팝업 하단 영역 -->
                                    <div class="popBtm">
                                        <div class="comBtnGroup">
                                            <div class="alignC">
                                                <div class="btnBox">
                                                    <button class="btn lg Primary pcW180">신고하기</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //20241116 신고하기 팝업 추가 -->
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '정보지원팀',
                    name: '이승화',
                    phone: '02-2067-5533',
                    url: "../../",
                }) %>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>