<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객광장', '경륜경정신고센터'],
                    subTitle: '불법 사이트 신고', 
                    subText: '모두가 즐기고 지킬 수 있는<br class="mView"> <b>건강한 레저문화</b>를 위해<br><b>경륜·경정 신고센터</b>가<br class="mView"> 함께 합니다.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    <div class="cptReportingSystem">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>포상금 지급대상 불법행위</h2>
                            </div>
                            <div class="comTitH3">
                                <h3>신고 안내</h3>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">인터넷 상의 불법 경륜·경정 베팅 사이트 주소를 신고합니다.</p>
                            </div>
                            <div class="comTitH3">
                                <h3>신고 포상급 지금 안내</h3>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">
                                    제보하신 사이트는 중복 신고여부를 검토한 후 방송통신심의위원회의 심의를 거치며, 이후 불법 경륜·경정 사이트로 확정되어 폐쇄 또는 차단되는 경우 포상금을 지급합니다.
                                    <br>포상금은 방송통신심의위원회 심의 이후 지급되므로, 심의지연 등 특이사항 발생 시 포상금 지급이 지연될 수 있습니다.
                                </p>
                            </div>
                            <div class="comTitH3">
                                <h3>불법 경륜・경정 사이트 지급 유형</h3>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">온라인상에서 이루어지는 모든 불법 경륜경정 사이트</p>
                            </div>
                            <div class="comAddGuide point">
                                <p class="guide">2020년 현재 경륜과 경정은 방문 또는 스피드온,그린카드로만 베팅할 수 있으며 그외 국내,국외 인터넷을 이용해 온라인으로 경륜 경정을 베팅 가능한 사이트는 모두 불법 행위로서 신고 대상입니다.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>불법 경륜・경정 사이트 포상금 지급 금액</h3>
                            </div>
                            <div class="comAddGuide point">
                                <p class="guide">신고 건수는 제한이 없습니다.</p>
                            </div>
                            <div class="comContTable">
                                <table class="basic">
                                    <caption>기타소득세 과세여부 표 : 개별투표당 환급금액, 배당율 100배 이하/초과 항목을 포함한 표</caption>
                                    <colgroup>
                                        <col style="width:50%;">
                                        <col style="width:50%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>지급유형</th>
                                            <th>지급금액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>일반 도메인 URL(원사이트)<br>(예시 : abc.com)</td>
                                            <td>1건당 <b>10만원 지급</b></td>
                                        </tr>
                                        <tr>
                                            <td>서브도메인<br>URL(포워딩사이트)<br>(예시 : a.abc.com / k.abc.com)</td>
                                            <td>1건당 <b>1만원 지급</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 

                            <div class="comTitH2">
                                <h2>포상금 지급절차 및 시기</h2>
                            </div>
                            <div class="comTitH3">
                                <h3>지급절차</h3>
                            </div>
                            <div class="reportingSystemList">
                                <ol>
                                    <li>
                                        <em><span>01</span></em>
                                        <div class="systemGroup">
                                            <p>제보접수</p>
                                            <div>
                                                <div class="inner">
                                                    <p>제보 시 필요사항을 작성합니다.</p>
                                                    <div class="comBasicList">
                                                        <ul class="listGroup">
                                                            <li class="item">가입정보(아이디, 비밀번호, 가입코드 등)</li>
                                                            <li class="item">사이트 주소</li>
                                                            <li class="item">사이트 로그인 화면 캡처</li>
                                                            <li class="item">입출금, 구매 화면  캡처</li>
                                                            <li class="item">국내 및 해외 경륜경정 운영 필수</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <em><span>02</span></em>
                                        <div class="systemGroup"> 
                                            <p>내용확인</p>
                                            <div>
                                                <p>사이트 주소, URL 중복 및 채증자료 적격여부를 확인합니다.
                                                    <br>서브도메인 여부도 확인합니다.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <em><span>03</span></em>
                                        <div class="systemGroup"> 
                                            <p>사이트별 처리</p>
                                            <div>
                                                <p>불법사이트 확인 시 방송통신심의위원회 심의의뢰를 진행합니다.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <em><span>04</span></em>
                                        <div class="systemGroup"> 
                                            <p>포상금 지급여부 확인</p>
                                            <div>
                                                <p>폐쇄 가능 사이트 : 포상급 지급
                                                    <br>폐쇄 불가 사이트 : 포상급 미지급
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '건전화운영팀',
                    name: '이욱',
                    phone: '02-2067-5802',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>