<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객광장', '경륜경정신고센터'],
                    subTitle: '경륜경정 부정행위 신고',
                    subText: '모두가 즐기고 지킬 수 있는<br class="mView"> <b>건강한 레저문화</b>를 위해<br><b>경륜·경정 신고센터</b>가<br class="mView"> 함께 합니다.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    <div class="cptReportingReceipt">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>신고접수안내</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">신고접수는 방문, 전화(유선), 팩스, 이메일, 온라인으로 신고가 가능합니다.</p>
                            </div>

                            <div class="receiptList">
                                <ul>
                                    <li>
                                        <div class="comTitH3">
                                            <h3>전화</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">경륜·경정 불법신고센터 : 1899-0707</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comTitH3">
                                            <h3>방문</h3>
                                        </div>
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item"><b>경륜</b> : 경기도 광명시 광명로 721, 1층 공정팀</li>
                                                <li class="item"><b>경정</b> : 경기도 하남시 미사대로 505, 관람동 3층 공정팀</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comTitH3">
                                            <h3>팩스</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">02-2067-5810</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comTitH3">
                                            <h3>이메일</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">secure1@kspo.or.kr</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="cptQuickMove">
                                <div class="boxArea">
                                    <div class="quickBox">
                                        <div class="txtArea">
                                            <em class="point">온라인 신고하기</em>
                                            <p class="desc">경륜·경정 홈페이지에서도 부정·불법신고가 가능합니다.</p>

                                            <div class="comAddGuide point">
                                                <p class="guide">팩스, 이메일, 온라인의 경우 첨부된 신고접수 양식을 작성하셔서 보내주세요.</p>
                                            </div>
                                        </div>
                                        <div class="btnArea multiBtn">
                                            <button type="button" class="btn gLine download"><span>신고서 다운로드</span></button>
                                            <a href="#" class="btn Primary"><span>온라인 신고서 작성하기</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div id="sample01" class="modPopup lg on"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupInMotion">
                                <div class="popupContainer">
                                    <div class="popupContArea">
                                        <button class="btnPopClose" onclick="closePopup('sample01');">닫기</button>
                                        <div class="popTitle">경륜경정 부정 행위자 신고 양식</div>
                                        <div class="popCont">
                                            <!-- 팝업 컨텐츠 영역 -->
                                            <p class="popSubTitle">신고자 정보</p>               
                                            <div class="comFormTable">
                                                <div  class="tableArea">
                                                    <table>
                                                        <caption></caption>
                                                        <colgroup>
                                                            <col style="width: 144px">
                                                            <col style="width: auto;">
                                                        </colgroup>
                                                        <tbody>
                                                            <tr>
                                                                <th>이름<span class="required">*</span></th>
                                                                <td>
                                                                    <div class="frmGroup">
                                                                        <div class="frmBox frmLg">
                                                                            <input type="text" class="iptText" placeholder="이름을 입력해주세요." value="" />
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>생년월일<span class="required">*</span></th>
                                                                <td>
                                                                    <div class="frmGroup">
                                                                        <div class="frmBox frmLg">
                                                                            <input type="text" class="iptText" placeholder="생년월일을 입력해주세요. 예)1990-01-01" value="" />
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>휴대폰번호<span class="required">*</span></th>
                                                                <td>
                                                                    <div class="frmGroup">
                                                                        <div class="frmBox frmLg">
                                                                            <input type="text" class="iptText" placeholder="휴대폰번호를 입력해주세요." value="" />
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>이메일주소<span class="required">*</span></th>
                                                                <td>
                                                                    <div class="frmGroup">
                                                                        <div class="frmBox frmMd">
                                                                            <input type="text" class="iptText" placeholder="이메일을 입력해주세요." />
                                                                        </div>
                                                                        <div class="frmBox frmMd">
                                                                            <select class="iptSlt">
                                                                                <option value="">gmail.com</option>
                                                                                <option value="">직접입력</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="frmBox frmMd" style="display: none;">
                                                                            <input type="text" class="iptText" placeholder="직접입력" />
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <p class="popSubTitle">신고사항</p>
                                            <div class="comFormTable">
                                                <div class="tableArea">
                                                    <table>
                                                        <caption></caption>
                                                        <colgroup>
                                                            <col style="width: 144px">
                                                            <col style="width: auto;">
                                                        </colgroup>
                                                        <tbody>
                                                            <tr>
                                                                <th class="top">신고내용<span class="required">*</span></th>
                                                                <td>
                                                                    <textarea class="iptTextArea" name="" id="" placeholder="신고내용은 육하원칙에 의거하여 관련선수(부정행위 증거) 등을 구체적으로 작성해주세요."></textarea>
                                                                    <!-- <span class="byte"><b>120</b> / 500 Byte</span> -->
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th class="top interval">첨부파일</th>
                                                                <td>
                                                                    <!-- 파일 업로드 -->
                                                                    <div class="fileBox">
                                                                        <div class="fileBefore">
                                                                            <label for="uploadBtn1" class="btn">파일선택</label>
                                                                            <input type="file" id="uploadBtn1" class="uploadBtn">
                                                                            <p>첨부파일은 최대 10개, 파일 1개 당 1GB까지 등록할 수 있어요. </p>
                                                                        </div>
                                                                        <div class="fileAfter">
                                                                            <ul class="textBox"></ul>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="comAddGuide point">
                                                <p class="guide">신고내용을 증빙할 수 있는 구체적인 자료를 첨부해주세요.</p>
                                            </div>

                                            <div class="comPrivacyBox">
                                                <dl class="infoBox">
                                                    <dt class="boxTop">
                                                        <div class="frmGroup">
                                                            <div class="frmBox maxCont">
                                                                <input id="chk101" type="checkbox" class="iptChk" checked=""><label for="chk101" class="iptLbl">개인정보이동동의</label>
                                                            </div>
                                                        </div>
                                                    </dt>
                                                    <dd class="boxCont">
                                                        <p class="txt">경륜경정총괄본부는 부정행위자 신고 진행을 위하여 아래와 같이 개인정보를 수입 및 이용하오니, 동의해주시기 바랍니다.</p>
                                                        <ul class="listGroup">
                                                            <li class="item">
                                                                <i class="lineTxt">국민체육진흥공단은 개인정보보호법, 정보통신망 이용 촉진 및 정보보호 등에 관한 법률 등 관련 법령상의 개인정보보호 규정을 준수하며, 지원자들의 개인정보보호에 최선을 다하고 있습니다.</i>
                                                            </li>
                                                            <li class="item">
                                                                <i class="lineTxt">공단은 법령의 규정과 정보주체의 동의에 의해서만 개인정보를 수집·보유합니다. 공단은 다음의 목적을 위하여 개인정보를 처리합니다.</i>
                                                            </li>
                                                            <li class="item">
                                                                <i class="lineTxt">처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경될 경우에는 사전 동의를 구하겠습니다.</i>
                                                            </li>
                                                        </ul>

                                                        <div class="comNumList intervalBorder">
                                                            <ul class="listGroup">
                                                                <li class="item">
                                                                    <span class="number">1</span>
                                                                    <span class="txt">개인정보의 수집 및 이용 목적 : 포상금 지급을 위한 연락처 수집 및 신고 접수 · 처리 목적</span>
                                                                </li>
                                                                <li class="item space">
                                                                    <p class="anno">※ 본인인증정보의 경우 개인 식별용으로만 활용</p>
                                                                </li>
                                                                <li class="item">
                                                                    <span class="number">2</span>
                                                                    <span class="txt">개인정보를 제공받는 기관 : 국민체육진흥공단</span>
                                                                </li>
                                                                <li class="item">
                                                                    <span class="number">3</span>
                                                                    <span class="txt">보유 및 이용기간 : 목적달성 시 지체없이 삭제</span>
                                                                </li>
                                                                <li class="item">
                                                                    <span class="number">4</span>
                                                                    <span class="txt">수집항목</span>
                                                                </li>
                                                                <li class="item space">
                                                                    <ul class="listGroup">
                                                                        <li class="item">
                                                                            <b class="lineTit">필수</b>
                                                                            <i class="lineTxt"> : 성명, 생년월일, 연락처</i>
                                                                        </li>
                                                                        <li class="item">
                                                                            <b class="lineTit">선택</b>
                                                                            <i class="lineTxt"> : E-mail</i>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <p class="anno">※ 신고인은 상기 동의를 거부할 수 있습니다. 단, 이에 대한 동의를 하지 않은 경우 정상적인 신고 처리 업무 및 포상금 지급이 불가능할 수 있음을 알려 드립니다.</p>
                                                    </dd>
                                                </dl>
                                            </div>
                                            
                                            <div class="comBtnGroup">
                                                <div class="alignC">
                                                    <div class="btnBox m50">
                                                        <button class="btn lg gLine pcW180">취소</button>
                                                        <button class="btn lg Primary pcW180">확인</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- //팝업 컨텐츠 영역 -->
                                        </div>
                    
                                        <!-- 팝업 하단 영역
                                        <div class="popBtm">
                                            <button class="btn gLine">취소</button>
                                            <button class="btn dkBlue">계정신청</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '공정팀',
                    name: '이석우',
                    phone: '02-2067-5808',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>