<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->

                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜 라이브러리', '경륜가이드', '경륜 알아보기'],
                    subTitle: '경륜 경주 규칙',
                    subText: '새로운 참여형 레저 스포츠, <b>경륜</b>에 대해 알려드릴게요',
                    url: "../../",
                }) %>

                <div class="layoutContArea">
                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toAll">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">출주표</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">최근성적</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">연도별기록</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                            </ul>
                            <div class="tabDirection">
                                <div class="tabBtn alignL"></div>
                                <div class="tabBtn alignR"></div>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                contents 0-1
                            </div>
                            <div class="tabCont">
                                contents 0-2
                            </div>
                            <div class="tabCont">
                                contents 0-3
                            </div>
                            <div class="tabCont">
                                contents 0-4
                            </div>
                            <div class="tabCont">
                                contents 0-5
                            </div>
                            <div class="tabCont">
                                contents 0-6
                            </div>
                            <div class="tabCont">
                                contents 0-7
                            </div>
                            <div class="tabCont">
                                contents 0-8
                            </div>
                        </div>
                    </div>
                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toMob">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">출주표</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">최근성적</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">연도별기록</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                            </ul>
                            <div class="tabDirection">
                                <div class="tabBtn alignL"></div>
                                <div class="tabBtn alignR"></div>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                contents 0-1
                            </div>
                            <div class="tabCont">
                                contents 0-2
                            </div>
                            <div class="tabCont">
                                contents 0-3
                            </div>
                            <div class="tabCont">
                                contents 0-4
                            </div>
                            <div class="tabCont">
                                contents 0-5
                            </div>
                            <div class="tabCont">
                                contents 0-6
                            </div>
                            <div class="tabCont">
                                contents 0-7
                            </div>
                            <div class="tabCont">
                                contents 0-8
                            </div>
                        </div>
                    </div>
                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toTab">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">출주표</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">최근성적</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">연도별기록</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수상담결과</button></li>
                            </ul>
                            <div class="tabDirection">
                                <div class="tabBtn alignL"></div>
                                <div class="tabBtn alignR"></div>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                contents 0-1
                            </div>
                            <div class="tabCont">
                                contents 0-2
                            </div>
                            <div class="tabCont">
                                contents 0-3
                            </div>
                            <div class="tabCont">
                                contents 0-4
                            </div>
                            <div class="tabCont">
                                contents 0-5
                            </div>
                            <div class="tabCont">
                                contents 0-6
                            </div>
                            <div class="tabCont">
                                contents 0-7
                            </div>
                            <div class="tabCont">
                                contents 0-8
                            </div>
                        </div>
                    </div>
                    <script>
                    tabMenuInit(); //모드 탭 함수

                    //모바일, 태블릿, PC 모두 슬라이드
                    let tabSwiperAll = new Swiper(".tabSwiper.toAll", {
                        slidesPerView: "auto",
                        navigation: {
                            nextEl: ".tabSwiper.toAll .tabBtn.alignL",
                            prevEl: ".tabSwiper.toAll .tabBtn.alignR",
                        },
                    });

                    //BreakPoint
                    const tabMo = window.matchMedia('(max-width: 768px)');      //모바일 분기
                    const tabTa = window.matchMedia('(max-width: 1279px)');     //태블릿 분기
                    let tabSwiperMob;
                    let tabSwiperTab;
                    
                    function tabSwiperMobAction($bln){
                        if($bln){
                            tabSwiperMob = new Swiper(".tabSwiper.toMob", {
                                slidesPerView: "auto",
                                navigation: {
                                    nextEl: ".tabSwiper.toMob .tabBtn.alignL",
                                    prevEl: ".tabSwiper.toMob .tabBtn.alignR",
                                },
                            });
                        }else{
                            if(tabSwiperMob){
                                tabSwiperMob.destroy();
                                tabSwiperMob = undefined;
                            }
                        }
                    }
                    function tabSwiperTabAction($bln){
                        if($bln){
                            tabSwiperTab = new Swiper(".tabSwiper.toTab", {
                                slidesPerView: "auto",
                                navigation: {
                                    nextEl: ".tabSwiper.toTab .tabBtn.alignL",
                                    prevEl: ".tabSwiper.toTab .tabBtn.alignR",
                                },
                            });
                        }else{
                            if(tabSwiperTab){
                                tabSwiperTab.destroy();
                                tabSwiperTab = undefined;
                            }
                        }
                    }

                    if(tabMo.matches) {
                        //console.log("모바일");
                        tabSwiperMobAction(true);
                    } else {
                        //console.log("모바일아님");
                        tabSwiperMobAction(false);
                    }
                    if(tabTa.matches) {
                        //console.log("태블릿");
                        tabSwiperTabAction(true);
                    } else {
                        //console.log("태블릿아님");
                        tabSwiperTabAction(false);
                    }

                    tabMo.addListener(function(){
                        if(tabMo.matches) {
                            //console.log("모바일");
                            tabSwiperMobAction(true);
                        } else {
                            //console.log("모바일아님");
                            tabSwiperMobAction(false);
                        }
                    });
                    tabTa.addListener(function(){
                        if(tabTa.matches) {
                            //console.log("태블릿");
                            tabSwiperTabAction(true);
                        } else {
                            //console.log("태블릿아님");
                            tabSwiperTabAction(false);
                        }
                    });
                    </script>
                    <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                     
                </div>
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>