.cptOrderGuide {
    margin-top: 60px;
    &:first-child {margin-top: 0;}

    .imgGuide {
        margin-top: 20px; border-top: 1px solid var(--Gray-300); padding-top: 32px;
        .guideGroup {
            display: flex; gap: 32px; flex-wrap: wrap;
            .guideItem {
                flex: 0 0 calc(25% - 24px);
                .tit {
                    .num {font-size: rem(20px); color: var(--Gray-300); font-weight: 600; display: inline-block; vertical-align: middle;}
                    .txt {font-size: rem(16px); color: var(--Gray-800); font-weight: 700; display: inline-block; vertical-align: middle; word-break: keep-all;}                    
                }
                .imgArea {
                    width: 100%; margin-top: 12px; overflow: hidden; line-height: 1;
                    img {width: 100%;}
                }
            }
        }
    }

    @include media("mobile"){
        margin-top: 40px;
    
        .imgGuide {
            margin-top: 10px; padding-top: 16px;
            .guideGroup {
                gap: 19px 23px;
                .guideItem {
                    flex: 0 0 calc(50% - 11.5px); display: flex; flex-wrap: wrap; align-items: stretch;
                    .tit {
                        .num {font-size: rem(15px); display:block;}
                        .txt {font-size: rem(15px);display:block;}
                    }
                    .imgArea {
                        margin-top: 6px; align-self: flex-end;
                    }
                }
            }
        }
    }
}