.cptEtcInfo {
    margin-top: 60px;
    &:first-child {margin-top: 0;}

    .infoBox {
        width: 100%; border: 1px solid var(--Point-Primary2); border-radius: 20px; padding: 40px 32px;
        .info{
            dt {
                min-height: 40px; padding-left: 48px; background: url(../../images/common/ico_etc_info.svg) left center no-repeat; display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap;
                .tit {font-size: rem(20px); color: var(--Gray-800); font-weight:700; line-height: 1.4;}
                .subTit {
                    margin-left: 24px; font-size: rem(18px); color: var(---Primary); font-weight: 600; line-height: 1.6;  display: inline-block; position: relative;
                    &::after {display: block; content: ""; width: 1px; height: 12px; position: absolute; left: -12px; top: 8px; background: var(--Gray-200);}
                }
            }
            dd {
                margin-top: 32px;
                .infoList {
                    @extend .comBasicList;
                    padding-left: 7px;
                    
                    .listGroup {
                        .item {
                            margin-top: 12px;
                            em {
                                font-weight: 700;
                            }
                        }
                    }
                    
                }
            }
        }
    }

    @include media("mobile"){
        margin-top: 40px;
        
        .infoBox {
            border-radius: 16px; padding: 24px;
            .info{
                dt {
                    min-height:auto; padding-left: 0; padding-top: 48px; background-position: left top;
                    .tit {width: 100%; font-weight:600;}
                    .subTit {
                        margin-left:0; margin-top: 8px; font-size: rem(16px); line-height: 1.3;
                        &::after {display:none;}
                    }
                }
                dd {
                    margin-top: 16px;
                    .infoList {
                        padding-left: 0;                        
                    }
                }
            }
        }
        
    }
}