.cptSchRstCont {
    margin-top: 60px;
    &:first-child {margin-top: 0;}
    .topSort {
        display: flex; align-items: center; justify-content: space-between; min-height: 48px;
        .sortTit {font-size: rem(24px); font-weight: 700; color: var(--Gray-900); line-height: 1.4;}
        .sortSelect {
            .comGroupTop {margin-bottom: 0;}
            .frmBox {width: 210px; min-width: 210px;}            
        }    
    }
    .sortMore {display: inline-block; font-size: rem(15px); color: var(--Gray-600); line-height: 1.6; border-bottom: 1px solid var(--Gray-600);}
    .ctt {
        .link {display: block; padding: 24px 0; border-bottom: 1px solid var(--Bg-Line-line-100);}
        dl {
            dt {
                font-size: rem(18px); color: var(--Gray-800); font-weight: 600; line-height: 1.6; position: relative; z-index: 1;
                a {color: var(--Gray-800); display: inline-block;}
            }
            dd {}
        }
        .btInfo {display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 12px;}
        .locTxt {
            display: flex;
            li {
                font-size: rem(15px); color: var(--Gray-600); padding-right: 16px; position: relative;
                &::after {content:''; position: absolute; top: 3px; right: 0; width: 16px; height: 16px; background: url(../../images/common/ic_loca_arr.svg) center no-repeat;}
                &:last-child::after {display:none;}
            }
        }
        .bbsDate {
            display: flex; gap: 0 24px; flex-wrap: wrap;
            li {
                font-size: rem(15px); color: var(--Gray-600);
                &.cate {
                    display: flex; flex-wrap: wrap; width: 100%; margin-top: 12px;
                    & > span {
                        height: 18px; padding-left: 18px; position: relative; 
                        &:first-child {
                            padding-left: 0;
                            &::before {display: none;}
                        }
                        &::before {content: ""; position: absolute; top: 3px; left: 1px; width: 16px; height: 16px; display: block; background: url(../../images/common/ic_loca_arr.svg) center no-repeat;}
                    }
                }
            }
        }
        .rstContent {
            font-size: rem(15px); color: var(--Gray-600); line-height: 1.6; margin-top: 4px;  text-overflow: ellipsis; overflow: hidden; display: block; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
            .dot {width: 4px; height: 4px; display: inline-block; border-radius: 50%; background: var(--Gray-300); margin: 3px 8px;}
            a {color: var(--Gray-600); a {text-overflow: ellipsis; overflow: hidden; display: block; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}}
        }
        .bbsFile {
            margin-top: 12px;
            .fileAdd {
                padding: 12px 12px; background: var(--Bg-Line-bg-200); border-radius: 12px;
                a {
                    display: block; font-size: rem(16px); color: var(--Gray-900); line-height: 1.6;
                    &::before {content:''; width: 20px; height: 20px; background: url(../../images/common/ic_20_file.svg) center no-repeat; display: inline-block; vertical-align: text-top; margin-right: 8px;}
                }
            }
            .bbsCont {
                padding: 12px 12px; background: var(--Bg-Line-bg-200); border-radius: 12px; margin-top: 8px;
                a {font-size: rem(16px); color: var(--Gray-600); line-height: 1.6; text-overflow: ellipsis; overflow: hidden; display: block; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
            }
        }
        .stxLine {
            position: relative; color: var(--Gray-800); z-index: 1; font-weight: 600;
            &::before {content:''; position: absolute; left: 0; right: 0; bottom: 0; height: 37%; background: #A1F4C7; z-index: -1;}
        }
        .playerRst {
            display: flex; align-items: center;
            .pic {
                width: 84px;
                img {width: 100%; height: 100%; object-fit: cover; display: block;}
            }
            dl {
                flex: 1; margin-left: 24px;
                .playerName {
                    display: flex; align-items: center;
                    .nTxt {}
                    .cateGroup {
                        display: flex; margin-left: 8px; gap: 4px;
                        .cate {
                            height: 24px; padding: 0 8px; border-radius: 4px; line-height: 24px; font-size: rem(12px); color: #fff; font-weight: 600; background: var(--Gray-500); display: inline-block;
                            &.blue {background: var(--Point-Blue);}
                            &.mint {background: var(--Point-Primary2);}
                            &.orange {background: var(--Point-Orange);}
                        }
                    }
                }
            }
        }
        & + .btnMore {margin-top: 40px;}
    }
    .thumGall {
        margin: 32px -20px 0; display: flex; flex-wrap: wrap; gap: 30px 0;
        .list {
            width: 25%; padding: 0 20px;
            a {
                display: block; cursor: default;
                .thum {
                    position: relative; padding-bottom: 56.25%; margin-bottom: 8px; border-radius: 12px; overflow: hidden;
                    img {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; object-fit: cover;}
                    & + .videoPlayback {margin-top: 20px;}
                }
                .thumTit {font-size: rem(18px); color: var(--Gray-800); font-weight: 600; line-height: 1.6; position: relative; z-index: 1; text-overflow: ellipsis; white-space: nowrap; word-break: break-all; overflow: hidden; margin-bottom: 8px;}
                .bbsDate {margin-bottom: 8px;}
                .videoPlayback {
                    display: flex;gap: 8px;height: 66px;
                    > button {
                        &[class*=btnPlay] {
                            min-width: 74px;display: flex;flex-direction: column;justify-content: end;align-items: center;gap: 4px;padding: 12px 0px 8px;border-radius: 8px;border: 1px solid var(--Bg-Line-line-100, #E1E4EA);background: var(--Bg-Line-bg-200, #F3F5F8);
                            span {color: var(--Gray-700, #414347);font-size: rem(14px);font-weight: 500;line-height: 160%; /* 22.4px */}
                            &:before {content: '';flex-shrink: 0;width: 20px;height: 20px;}
                            &:disabled {
                                cursor: default;
                                &:before {opacity: 0.5;}
                                span {color: var(--Gray-300);}
                            }
                        }
                        &.btnPlayAll:before {background: url('../../images/contents/cont04_01_icon1.svg') no-repeat 50%;}
                        &.btnPlayAfter {
                            flex: 1;
                            &:before {background: url('../../images/contents/cont04_01_icon2.svg') no-repeat 50% 100%;}
                        }
                        &.btnPlaySlow:before {background: url('../../images/contents/cont04_01_icon3.svg') no-repeat 50% 100%;}
                    }
                    & + * {margin-top: 16px;}
                }
            }
        }
        &.fullSize {
            gap: 40px 0;
            .list > a .thumTit {white-space: normal;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
        }
        & + .btnMore {margin-top: 40px;}
    }
    .btnMore {
        display: flex;justify-content: center;
        .btn {
            display: flex;justify-content: center;align-items: center;gap: 6px;min-width: 160px;
            &:after {content: "";width: 12px;height: 12px;background: url('../../images/common/ic_12_arr_bottom.svg') center no-repeat;background-size: 100%;}
        }
    }
    @include media("pcs"){
        .thumGall {
            .list {width: 33.33%;}
        }
    }
    @include media("tablet"){
        .thumGall {
            .list {width: 50%;}
        }
    }

    @include media("mobile"){
        margin-top: 40px;        
        .topSort {
            min-height: 36px; margin-bottom: 8px;
            .sortTit {font-size: rem(20px);}
            .sortSelect {
                .frmBox {
                    width: 110px; min-width: 110px;
                    select.iptSlt {height: 36px; font-size: rem(14px); padding: 0 12px; background-size: 16px; background-position: 80px center;}
                }
            }    
        }
        .sortMore {font-size: rem(14px);}
        .ctt {
            .link {padding: 16px 0;}
            dl {
                dt {
                    font-size: rem(16px);
                }
                dd {}
            }
            .btInfo {margin-top: 8px;}
            .locTxt {
                display: flex;
                li {
                    font-size: rem(14px);
                    &::after {width: 12px; height: 12px; top: 4px; right: 2px;}
                }
            }
            .bbsDate {
                display: flex; gap: 0 16px;
                li {font-size: rem(14px);}
            }
            .rstContent {
                font-size: rem(14px);
                .dot {margin: 3px 4px;}
                a {text-overflow: ellipsis; overflow: hidden; display: block; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
            }
            .bbsFile {
                margin-top: 12px;
                .fileAdd {
                    a {
                        font-size: rem(15px); gap: 0;
                        &::before {margin-right: 8px;}
                    }
                }
                .bbsCont {
                    padding: 12px 12px; background: var(--Bg-Line-bg-200); border-radius: 12px; margin-top: 8px;
                    a {font-size: rem(16px); color: var(--Gray-600); line-height: 1.6; text-overflow: ellipsis; overflow: hidden; display: block; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
                }
            }
            .stxLine {
                position: relative; color: var(--Gray-800); z-index: 1; font-weight: 600;
                &::before {content:''; position: absolute; left: 0; right: 0; bottom: 0; height: 37%; background: #A1F4C7; z-index: -1;}
            }
            .playerRst {
                display: flex; align-items: center;
                .pic {
                    width: 84px;
                    img {width: 100%; height: 100%; object-fit: cover; display: block;}
                }
                dl {
                    margin-left: 16px;
                    .playerName {
                        .nTxt {}
                        .cateGroup {
                            .cate {
                                height: 20px; line-height: 20px;
                            }
                        }
                    }
                }
            }
        }

        .thumGall {
            margin: 24px -12px 0; gap: 24px 0;
            .list {
                width: 50%; padding: 0 12px;
                a {
                    display: block;
                    .thum {
                        margin-bottom: 4px;
                        img {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; object-fit: cover;}
                    }
                    .thumTit {font-size: rem(16px);  margin-bottom: 4px;}
                    .bbsDate {margin-bottom: 4px;}
                }
            }
            &.fullSize {
                gap:28px;margin: 0;
                .list {
                    width: 100%; padding: 0;
                    a {
                        .thum + .videoPlayback {margin-top: 12px;}
                        .videoPlayback {
                            height: 40px;
                            > button {
                                &[class*=btnPlay] {
                                    min-width: auto;flex-direction: row;justify-content: center;padding: 0 8px;
                                    span {font-size: rem(13px);font-weight: 400;line-height: 1;}
                                }
                            }
                        }
                    }
                }
            }
        }
        .btnMore .btn {width: 100%;font-size: rem(15px);}
    }
}