.cptDataSum {
	position: relative; margin-top: 60px;
	.dataSum {
		padding: 24px 20px; border-radius: 12px; border: 2px solid var(--Gray-900);
		> .inner {
			display: flex; gap: 20px;
			> li {
				position: relative; flex: 1; text-align: center;
				&::before {
					content: ""; position: absolute; left: -10px; top: 50%; width: 1px; height: calc(100% - 12px); max-height: 40px; background-color: var(--Gray-300); transform: translateY(-50%);
				}
				&:first-child::before {
					display: none;
				}
			}
		}
		.item {
			display: inline-block; color: var(--Gray-600); font-size: rem(15px); line-height: 1.4;
			.popIcon {
				position: relative; top: -2px;
			}
		}
		.val {
			display: inline-block; margin-left: 15px; color: var(--Gray-900); font-size: rem(20px); font-weight: 700; line-height: 1.4;
			.unit {
				font-size: rem(15px); font-style: normal;
			}
		}
		div.val {
			display: block; margin-left: 0; margin-top: 6px;
		}
		.icon {
			width: 40px; height: 40px; margin: 0 auto 8px;
			img {vertical-align: top;}
			.mView {display: none;}
		}

		@include media("tablet"){
			&.tbRow .inner {
				flex-wrap: wrap; gap: 12px;
				> li {
					flex: none; display: flex; align-items: center; justify-content: space-between; width: 100%;
					&::before {
						content: none;
					}
				}
				.val {margin-top: 0;}
				.icon {display: none;}
			}
		}
		@include media("mobile"){
			.inner {
				gap: 12px;
				> li {
					&::before {left: -6px;}
					span.val {display: block; margin-left: 0; margin-top: 6px;}
				}
			}

			&.mRow .inner {
				flex-wrap: wrap;
				> li {
					flex: none; display: flex; align-items: center; justify-content: space-between; width: 100%;
					&::before {
						content: none;
					}
				}
				.item {margin-right: auto;}
				.val {margin-top: 0;}
				.icon {
					display: flex; align-items: center; justify-content: center; width: 26px; height: 26px; margin: 0 8px 0 0;
					.pcView {display: none;}
					.mView {display: block; line-height: 1;}
				}
			}
		}

		&.totalSum {
			display: flex; gap: 80px;
			.total {
				display: flex; flex-direction: column; align-items: center; justify-content: center; width: calc(33.3333% - 40px); min-width: 290px; padding: 12px; background-color: var(--Bg-Line-bg-200); border-radius: 6px;
			}
			> .inner {
				flex: 1; flex-wrap: wrap; gap: 16px 80px; margin-right: 40px;
				> li {
					flex: none; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; width: calc(50% - 40px);
					&::before {
						content: none;
					}
					.val {margin-left: auto;}
				}
			}

			@include media("pcs"){
				gap: 40px;
				> .inner {
					flex-wrap: wrap; gap: 12px; margin-right: 20px;
					> li {
						flex: none; display: flex; align-items: center; justify-content: space-between; width: 100%;
						&::before {
							content: none;
						}
					}
				}
			}

			@include media("mobile"){
				flex-wrap: wrap; gap: 16px 0;
				.total {
					display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; width: 100%; padding: 20px 12px;
					.val {
						margin-top: 0;
						margin-left: auto;
					}
				}
				> .inner {
					margin: 0 12px;
				}
			}
		}
	}
	.comTitH2 + .dataSum {
		margin-top: 20px;
	}
	.addInfo {
		display: flex; justify-content: space-between; margin-top: 15px; color: var(--Gray-500);
		.alignR {
			margin-left: auto;
		}
	}
	.btnRefresh {
		min-width: 24px; height: 20px; padding-left: 20px; color: unset; font-size: rem(14px); background: url(../../images/common/icon_20_refresh.svg) no-repeat center left;
	}

	&[class*=bg] {
		.dataSum {
			border-color: transparent;
			.item {
				color: var(--Gray-900);
			}
			.val .unit {
				font-size: unset;
			}
		}
		.addInfo {
			position: absolute; top: 100%; left: 0; width: 100%;
		}
		
		@include media("mobile"){
			.addInfo {position: static;}
		}
	}
	&.bg01 {
		.dataSum {
			background-color: var(--Bg-Line-bg-100);
			.inner > li::before {background-color: #eaecf1;}
		}
	}
		
	@include media("mobile"){
		margin-top: 40px;
	}
}