.cptContPrevention {
    width: 100%; margin-top: 60px;

    .prevntBox {
        display: flex; flex-wrap: wrap; gap: 40px;
        .item {
            position: relative; width: calc(50% - 20px);
            &::before {content:""; position: absolute; top: -4px; left: 0; right: 0; height: 50%; border-radius: 16px 16px 25px 25px; background-image: linear-gradient(to right, rgba(70, 195, 183, 1), rgba(63, 144, 221, 1)); background-origin: border-box; background-clip: content-box, border-box;}
            a {display: block; padding: 40px 40px; height: 100%; background: #FFF; border-radius: 16px; border: 1px solid var(--Bg-Line-line-100); position: relative; z-index: 1;}
            a:hover {background: linear-gradient(90deg, #EEFAF9 -0.24%, #EDF5FD 99.92%);}
            a:hover .lk {color: var(--Primary);}
            a:hover .lk::after {background: url(../../images/common/ic_12_arr_right_p.svg) no-repeat center;}
            dl {
                dt {color: var(--font-800); font-size: rem(20px); font-weight: 700; line-height: 1.4; margin-bottom: 10px;}
                dd {
                    color: var(--font-700); font-size: rem(15px); line-height: 1.6; word-break: keep-all;
                    .lk {
                        display: block; margin-top: 20px; font-size: rem(14px); line-height: 2; position: relative;
                        &::after {content:""; display: inline-block; vertical-align: text-top; background: url(../../images/common/ic_12_arr_right_g.svg) no-repeat center; width: 16px; height: 16px; margin-left: 2px;}
                    }
                }
            }
        }
    }

    .rightBtn {
        text-align: right; margin-top: 24px;
        
        .btn {
            &::after {display: inline-block; content: ""; vertical-align: text-top; width: 20px; height: 20px; margin-left: 4px; background: url(../../images/common/ic_16_arr_right_w.svg) center no-repeat;}
        }
    }
    
    @include media("mobile"){
        margin-top: 40px;

        .prevntBox {
            gap: 20px;
            .item {
                width: 100%;
                a {
                    padding: 32px 24px;
                    dt {font-size: rem(18px); margin-bottom: 6px;}
                    dd {
                        font-size: rem(14px);
                        .lk {margin-top: 16px;}
                    }
                }

            }
        }
    }
}