/* ------------------------------- 헤더 ------------------------------- */
.cptHeader {
    width:100%; background: #fff; transition: transform 0.2s, background 0.2s; position: fixed; left:0; top:0; z-index: 100;

    &:not(.inMain).on {
        transform: translateY(-112px); background: var(--Primary);
        .headArea {
            .headBox {
                .logoBox {
                    width: 104px; height: 26px; position: absolute; left: 20px; top: 90px;
                    .logo g path {fill: #fff;}
                }
                .myMenuGroup {
                    //position: absolute; right: 68px; top: 93px; gap: 24px;
                    position: absolute; right: 59px; top: 93px; gap: 16px;
                    .item {
                        .myLink {
                            padding-left: 28px; height: 24px; font-size:0; display:block;
                        }
                        &.ico01 .myLink {background: url(../../images/common/ic_head_01_on.svg) left 2px center no-repeat;}
                        &.ico02 {
                            .myLink {background: url(../../images/common/ic_head_02_on.svg) left 2px center no-repeat;}
                            .myMenuArea {left: calc(50% - 105px)}
                        } 
                        &.ico03 .myLink {background: url(../../images/common/ic_head_03_on.svg) left 2px center no-repeat;}
                        &.ico04 .myLink {background: url(../../images/common/ic_head_04_on.svg) left 2px center no-repeat;}
                        &.ico05 {
                            .myLink {background: url(../../images/common/ic_head_05_on.svg) left 2px center no-repeat;}
                            .myMenuArea {left: auto; right: -26px;}
                        } 
                    }
                }
            }
        }
        .gnbArea {
            border-top: 1px solid var(--Primary); border-bottom: 1px solid var(--Primary);
            .gnbBox {
                .depth1Group {
                    // margin-left: 215px; margin-right:290px;
                    margin-left: 165px; margin-right:290px;
                    .depth1Menu {
                        .depth1Name {
                            //color: #fff; background: url(../../images/common/ic_gnb_dep1_at.svg) right 2px center no-repeat;
                            color: #fff; font-size: 16px; 
                        }
                        &.on, &:hover, &:focus  {
                            .depth1Name {
                                color: var(--Point2);
                            }
                        }
                        &:has(.depth2Area) {
                            .depth1Name {
                                padding-right: 20px; background: url(../../images/common/ic_gnb_dep1_at.svg) right 2px center / 14px no-repeat; 
                            }
                            &.on, &:hover, &:focus  {
                                .depth1Name {
                                    background: url(../../images/common/ic_gnb_dep1_at_on.svg) right 2px center / 14px no-repeat;
                                }
                            }
                        }
                    }
                }
                .allMenu {background: url(../../images/common/ic_all_menu_on.svg) center no-repeat;}
            }
        }
    }
    .quickArea {
        width: 100%;
        .quickBox {
            width: 100%; max-width:1480px; height: 40px; margin: 0 auto; padding: 10px 20px;
            .guickMenuGroup {
                width: 100%; height:20px; display:flex; justify-content: flex-end;
                .item {
                    padding-left:29px; position: relative;display: flex; align-items: center;
                    &::before {content:""; width:1px; height:16px; background: var(--Bg-Line-line-100); display: block; position: absolute; left: 14px; top: 3px;}
                    &:first-child::before {display: none;}
                    a {
                        color: var(--Gray-700); font-size: rem(15px); font-weight: 400; line-height: 150%; display:block;
                        &[target=_blank] {
                            padding-right:20px; background: url(../../images/common/ic_link_blank.svg) right 2px center no-repeat;
                        }
                    }
                    .txt {
                        color: var(--Gray-700); font-size: rem(15px); font-style: normal; font-weight: 400; line-height: 1.5;
                    }
                    .viewPer {
                        color: var(--Gray-700); font-size: rem(15px); font-style: normal; font-weight: 400; line-height: 1.5; margin-left: 4px;
                    }
                    .btnView {
                        width: 16px; height: 16px; font-size: 0; border-radius: 4px; border: 1px solid var(--Gray-300);
                        &.minus {
                            background: url(../../images/common/ic_12_header_minus.svg) center no-repeat; margin-left: 8px;
                        }
                        &.plus {
                            background: url(../../images/common/ic_12_header_plus.svg) center no-repeat; margin-left: 4px;
                        }
                    }
                }
            }
        }
    }
    .headArea {
        width:100%; position: relative; z-index: 101;
        .headBox {
            width: 100%; max-width:1480px; height: 72px; margin: 0 auto; padding: 0 20px 12px; display: flex; justify-content: space-between; align-items: center; position: relative;
            .logoBox {
                width:160px;
                .logo {
                    width:100%;
                }
            }
            .myMenuGroup {
                display: flex; justify-content: flex-end; align-items: center; gap: 20px;
                .item {
                    position: relative;
                    .myLink {
                        padding-left: 28px; color: var(--Gray-800); font-size: rem(16px); font-weight: 700; line-height: 150%; /* 24px */
                    }
                    &.ico01 .myLink {background: url(../../images/common/ic_head_01.svg) left 2px center no-repeat;}
                    &.ico02 {
                        .myLink {background: url(../../images/common/ic_head_02.svg) left 2px center no-repeat;}
                        .myMenuArea {
                            left: calc(50% - 89px);
                            .myMenuBox {
                                &::after {
                                    right: 98px;
                                }
                            }
                        }
                    } 
                    &.ico03 .myLink {background: url(../../images/common/ic_head_03.svg) left 2px center no-repeat;}
                    &.ico04 .myLink {background: url(../../images/common/ic_head_04.svg) left 2px center no-repeat;}
                    &.ico05 {
                        .myLink {background: url(../../images/common/ic_head_05.svg) left 2px center no-repeat;}
                        .myMenuArea {left: auto; right: 0;}
                    }
                    &:hover {
                        .myMenuArea {display: block;}
                    }
                    .myMenuArea {
                        width: 210px; padding-top: 20px; position: absolute; left: 0; top: 20px; filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.12)); display: none;
                        .myMenuBox {
                            width: 100%; padding-top: 2px; background: #fff; border-radius: 12px; filter: drop-shadow(0px 0px 1px #ededed); overflow: hidden;
                            &::after {
                                content:""; width: 0; height: 0; border: 9px solid transparent; border-bottom: 15px solid #fff; display: block; 
                                position: absolute; right:33px; top: -20px;
                            }
                            .myInfo {
                                width: 100%; padding: 16px 28px 11px; border-bottom: 1px solid var(--Bg-Line-line-200);
                                .name {
                                    color: var(--Gray-900); font-size: rem(18px); font-style: normal; font-weight: 700; line-height: 1.4; display: block;
                                }
                                .timeTxt {
                                    margin-top: 8px; color: var(--Gray-600); font-size: rem(14px); font-style: normal; font-weight: 300; line-height: 1.6; display: block;
                                }
                                .timeBox {
                                    width: 100%; margin-top: 8px; display: flex;
                                    .time {
                                        padding-left: 20px; color: #254962; font-size: rem(14px); font-style: normal; font-weight: 400; line-height: 1.6;
                                        background: url(../../images/common/ic_16_clock.svg) left center no-repeat;
                                    }
                                    .btnOvertime {
                                        height: 24px; padding: 0 8px; margin-left: 16px; color: #254962; font-size: rem(12px); font-weight: 700;
                                        border-radius: 4px; background: #EFF6FF;
                                    }
                                }
                            }
                            .menuBox {
                                width: 100%; padding-top: 8px; 
                                .subItem{
                                    width: 100%;
                                    a {
                                        width: 100%; padding: 12px 24px; color: var(--Gray-900); font-size: rem(16px); font-weight: 500; display: block;
                                        &:hover {background: var(--Bg-Line-bg-200);}
                                    }
                                }
                            }
                            .btnLogout {
                                width: 100%; margin-top: 8px; padding: 16px 24px 18px 48px; color: var(--Primary); font-size: rem(15px); font-weight: 500; text-align: left; display: block;
                                border-top: 1px solid var(--Bg-Line-bg-200); background: url(../../images/common/ic_16_logout_green.svg) 24px center no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }
    .gnbArea {
        width:100%; border-top: 1px solid var(--Bg-Line-line-100); border-bottom: 1px solid var(--Bg-Line-line-100); position: relative; z-index: 100;
        .gnbBox {
            width: 100%; max-width:1480px; height: 62px; margin: 0 auto; padding: 0 20px; display: flex; justify-content: space-between; align-items: center;
            .depth1Group {
                //width: 824px; height: 100%; margin-right:20px; display: flex; justify-content: space-between; align-items: center; transition: margin-left 0.3s;
                width: 1050px; height: 100%; margin-right: 20px; display: flex; justify-content: space-between; align-items: center; //transition: margin-left 0.3s;
                .depth1Menu {
                    height: 100%; align-content: center; flex-grow: 1;
                    .depth1Name {
                        width: max-content; padding-right:0; color: var(--Gray-800); font-size: rem(20px); font-weight: 700; line-height: normal; display: flex;
                    }
                    &:has(.depth2Area) {
                        .depth1Name {
                            padding-right:32px; background: url(../../images/common/ic_gnb_dep1_off.svg) right 2px center no-repeat;
                        }
                        &.on, &:hover, &:focus {
                            .depth1Name {
                                background: url(../../images/common/ic_gnb_dep1_on.svg) right 2px center no-repeat;
                            }
                            .depth2Area {height:470px; display: block; }
                        }
                        &.active {
                            .depth1Name {
                                background: url(../../images/common/ic_gnb_dep1_on.svg) right 2px center no-repeat;
                            }
                        }
                    }
                    &.on, &:hover, &:focus, &.active {
                        .depth1Name {
                            color: var(--Primary);
                        }
                    }
                }
            }
            .depth2Area {
                width: 100%; height:0; position: absolute; left: 0; top: 62px; background: #fff; border-top: 1px solid var(--Bg-Line-line-100);
                box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1); z-index: 99; display:none; overflow: hidden; 
                .depth2Box {
                    width: 100%; max-width: 1480px; height: 100%; margin: 0 auto; padding: 12px 20px 40px; display: flex; justify-content: space-between;
                    .depth2Group{
                        width: 100%; height: 418px; position: relative; display: flex; flex-wrap: wrap; gap: 40px; flex-direction: column; align-content: flex-start;

                        .depth2Menu {
                            width: 220px;
                            &:first-child {margin-top: 0;}
                            .depth2Name {
                                width: 100%; padding: 20px; color: var(--Gray-900); font-size: rem(18px); font-weight: 700; line-height: normal; display: block;
                                //&[target=_blank] {background: url(../../images/common/ic_20_outlink.svg) right 40px center no-repeat;}
                                &[target=_blank]::after {
                                    content:""; width: 20px; height: 20px; margin-left: 8px; display: inline-block; vertical-align: bottom; 
                                    background: url(../../images/common/ic_20_outlink.svg) center no-repeat;
                                }
                            }
                            &:hover, &.active {
                                border-radius: 12px; background: #F9FAFC;
                            }
                        }
                    }
                    .bnBox {
                        width: 220px;
                        .imgBox {
                            width: 100%; height: 220px; border-radius: 20px; overflow: hidden;
                        }
                        .textBox {
                            width: 100%; margin-top: 16px;
                            p {
                                color: var(--Gray-800); font-size: rem(16px); font-weight: 700; line-height: normal;
                            }
                        }
                        .moreBox {
                            width: 100%; margin-top: 24px;
                            a {
                                width: max-content; height: 20px; color: var(--Gray-500); font-size: rem(16px); font-weight: 400; line-height: normal; 
                                text-transform: capitalize; border-bottom: 1px solid var(--Gray-500); display: block; position: relative;
                            }
                        }
                    }
                }
            }
            .depth3Group {
                width: 100%;
                .depth3Menu {
                    width: 100%;
                    &.active {
                        .depth3Name {
                            text-decoration: underline; text-underline-position: under;
                        }
                    }
                    .depth3Name {
                        width: 100%; padding: 0 20px 20px; color: var(--Gray-600); font-size: rem(16px); font-weight: 400; line-height: normal; display: block;
                        &:hover {
                            text-decoration: underline; text-underline-position: under;
                        }
                    }
                }
            }
            .allMenu {
                width: 24px; height: 100%; font-size: 0; background: url(../../images/common/ic_all_menu.svg) center no-repeat;
            }
        }
    }

    &.inMain {
        min-width: 1610px; position: relative;
        .quickArea {
            .quickBox {
                width: 1740px; max-width:1740px; padding: 10px 150px;
            }
        }
        .headArea{
            .headBox {max-width: 1740px; width: 1740px; padding: 0 150px 12px;}
        }
        .gnbArea {
            min-width: 1760px;
            .gnbBox {max-width: 1740px; width: 1740px; padding: 0 150px;}
        }
    }
    @include media('pcs'){
        &:not(.inMain) {
            .gnbArea {
                .gnbBox {
                    justify-content: flex-end;
                    .depth1Group {
                        display: none;
                    }
                }
            }
        }
        
    }
    @include media('mobile'){
        &:not(.inMain) {
            & ,&.on {
                transform: translateY(-112px); background: #fff;
                .quickArea .quickBox .guickMenuGroup {display: none;}
                .headArea {
                    .headBox {
                        .logoBox {
                            width: 110px; height: 26px; position: absolute; left: 20px; top: 94px;
                            .logo g path {fill: #00458D;}
                        }
                        .myMenuGroup {
                            position: absolute; right: 74px; top: 83px; gap: 4px;
                            .item {
                                .myLink {
                                    width: 50px; height: 50px; padding-left: 0; padding-top: 34px; font-size: rem(12px); text-align: center; display:block;
                                }
                                &.ico01 .myLink {
                                    background: url(../../images/common/ic_head_01.svg) center 8px no-repeat;
                                }
                                &.ico02 {display: none;}
                                &.ico03 {display: none;}
                                &.ico04 {display: none;}
                                &.ico05 {display: none;}
                            }
                        }
                    }
                }
                .gnbArea {
                    border-top: 1px solid #fff; border-bottom: 1px solid var(--Bg-Line-line-100, #E1E4EA);;
                    .gnbBox {
                        height: 70px;
                        .depth1Group {
                            display: none;
                            .depth1Menu {
                                .depth1Name {
                                    color: #fff; background: url(../../images/common/ic_gnb_dep1_at.svg) right 2px center no-repeat;
                                }
                            }
                        }
                        .allMenu {
                            width: 50px; height: 50px; padding-top: 34px;
                            color: var(--Gray-800, #2C2C2C); font-size: rem(12px); font-weight: 700; line-height: normal; 
                            background: url(../../images/common/ic_all_menu_mo.svg) center 8px no-repeat;
                        }
                    }
                }
            }
        }
        
    }
}

.allMenuArea {
    width: 100%; height: 100vh; background: #fff; position: fixed; left: 0; top: 0; z-index: 200; display: none; 
    &.on {
        display: block; opacity:0; animation: openAllMenu 0.15s linear forwards;
        @keyframes openAllMenu { 0% {opacity:0;} 100% {opacity:1;} }
    }
    @include minWidth('mobile'){
        &:not(.inMain) { 
            *:hover::-webkit-scrollbar-thumb {
                background: rgba(87, 87, 87, 0.54);
            }
            *::-webkit-scrollbar {width:30px; padding:10px; background: #fff;}
            *::-webkit-scrollbar-thumb {padding:10px; border: 12px solid #fff; border-radius: 15px; background: rgba(87, 87, 87, 0.2);/* box-shadow: inset 6px 6px 0 rgba(87, 87, 87, 0.54); */ }
            *::-webkit-scrollbar-track{background-color: rgba(0,0,0,0);}
        }
        
    }
    .allTop {
        width: 100%; height: 86px; background: var(--Point-Primary2);
        .pcView {
            width: 100%; max-width: 1480px; padding: 23px 20px; margin: 0 auto; display: flex; justify-content: space-between;
            .logo {
                width: 160px; align-content: center;
                img {width: 100%; vertical-align: middle;}
            }
            .btnClose {
                width: 40px; height: 40px; font-size: 0; background: url(../../images/common/ic_40_close.svg) center no-repeat; align-content: center;
            }
        }
        .moView {
            display: none;
        }
    }
    .allMenuGroup {
        width: 100%; height: calc(100vh - 86px); overflow-y: scroll;
        .allMenuBox {
            width: 100%; max-width: 1480px; padding: 0 20px; margin: 0 auto; 
            .depth1Group {
                width: 100%;
                .depth1Menu {
                    width: 100%; padding: 60px 0; border-top: 1px solid var(--Bg-Line-line-100); display: flex;

                    &:first-child {border-top: 0;}
                    .depth1Name{
                        width: 23.6%; color: var(--Primary); font-size: rem(24px); font-style: normal; font-weight: 700; line-height: 1.4; flex-shrink: 0;
                    }
                }
            }
            
            .depth2Group {
                width: 100%; display: flex; flex-wrap: wrap; gap: 40px 20px;
                .depth2Menu {
                    width: calc(20% - 16px); min-width: 160px;
                    .depth2Name {
                        color: var(--Gray-900); font-size: rem(20px); font-style: normal; font-weight: 700; line-height: 1.4;
                        &[target=_blank]::after {
                            content:""; width: 20px; height: 20px; margin-top: -3px; margin-left: 8px; display: inline-block; vertical-align: bottom; 
                            background: url(../../images/common/ic_20_outlink.svg) center no-repeat;
                        }
                    }
                }
            }
            
            .depth3Group {
                margin-top: 16px;
                .depth3Menu {
                    margin-top: 8px;
                    &:first-child {margin-top: 0;}
                    .depth3Name {
                        color: var(--Gray-800); font-size: rem(16px); font-style: normal; font-weight: 400; line-height: 1.6; position: relative; z-index: 1;
                        &[target=_blank]::after {
                            content:""; width: 20px; height: 20px; margin-top: -3px; margin-left: 8px; display: inline-block; vertical-align: middle; 
                            background: url(../../images/common/ic_16_outlink.svg) center no-repeat;
                        }
                        &::before {
                            content: ""; width: calc(100% + 4px); height: 14px; background: #A1F4C7; display: block; position: absolute; left: -2px; bottom: -3px; 
                            z-index: -1; opacity: 0; transition: all 0.1s;
                        }
                        &:hover {
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                    &.active {
                        .depth3Name {
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            
            .quickLink {
                width: 100%; padding: 20px 16px 32px; border-top: 1px solid var(--Bg-Line-line-200); position: absolute; left: 0; bottom: 0; display: none;
                .quickItem {
                    width: 100%; margin-top: 12px;
                    &:first-child {
                        margin-top: 0;
                        a {letter-spacing: -0.3px;}
                    }
                    a {
                        width: max-content; height: 24px; color: var(--Primary); font-size: rem(15px); font-weight: 600; line-height: 1.6; display: block;
                        &[target=_blank] {
                            padding-right: 18px; background: url(../../images/common/ic_link_blank_primary.svg) right center no-repeat;
                        }
                    }
                }
            }
        }
    }
    @include media('mobile'){
        &:not(.inMain) {
            transform: translateY(112px);
            .allTop {
                height: 65px;
                .pcView {
                    display: none;
                }
                .moView {
                    width: 100%; padding: 20px 16px; display: flex; justify-content: space-between;
                    .profile {
                        display: flex;
                        .name {
                            height: 25px; padding: 0 20px 0 24px; color: #fff; font-size: rem(19px); font-weight: 400; line-height: 1.3; position: relative;
                            &::before {
                                content:""; width: 20px; height: 20px; display: block; background: url(../../images/common/ic_head_05_on.svg) center no-repeat;
                                position: absolute; left: 0; top: 1px;
                            }
                            &::after {
                                content:""; width: 20px; height: 20px; display: block; background: url(../../images/common/ic_16_profile.svg) center no-repeat;
                                position: absolute; right: 0; top: 2px;
                            }
                            b {font-weight: 600;}
                        }
                        .btnLogout {
                            height: 25px; margin-left: 20px; padding: 1px 8px 0; color: #fff; font-size: rem(12px); font-weight: 500; line-height: 24px; border-radius: 4px; 
                            background: rgba(0, 0, 0, 0.18); display: block;
                        }
                    }
                    .btnClose {
                        width: 24px; height: 24px; font-size: 0; background: url(../../images/common/ic_40_close.svg) center / 24px no-repeat; 
                    }
                }
            }
            .allMenuGroup {
                //20250205 수정 height: calc(100vh - 65px); overflow-y: auto; 
                height: calc(100dvh - 65px); overflow-y: auto;
                .allMenuBox {
                    height: 100%; padding: 0;
                    .depth1Group {
                        height: 100%; position: relative;
                        .depth1Menu {
                            padding: 0; border-top: 0;
                            .depth1Name{
                                width: 100%; padding: 16px; color: var(--Gray-800); font-size: rem(17px); font-weight: 500; line-height: 1.3;
                            }
                            &.on {
                                .depth1Name{color: var(--Primary); font-weight: 700;}
                                .depth2Group {display: flex;}
                            }
                        }
                    }
                    .depth2Group {
                        width: calc(100% - 150px); height: 100%; gap: 0; border-left: 1px solid var(--Bg-Line-line-200); overflow-y: auto; background: #fff; 
                        position: absolute; top: 0; right: 0; z-index: 10; display: none; align-content: baseline;
                        .depth2Menu {
                            width: 100%; 
                            .depth2Name {
                                width: 100%; padding: 16px 12px 12px; font-size: rem(16px); font-weight: 700; line-height: 1.5; display: block;
                            }
                            &.on {
                                background: #F9FAFC;
                                .depth3Group {display: block;}
                            }
                            &:has(.depth3Group) {
                                .depth2Name {
                                    background: url(../../images/common/ic_20_allmenu.svg) right 16px top 20px no-repeat;
                                }
                                &.on {
                                    .depth2Name {background: url(../../images/common/ic_20_allmenu_on.svg) right 16px top 20px no-repeat;}
                                }
                            }
                        }
                    }
                    .depth3Group {
                        margin-top: 0; padding-bottom: 8px; display: none; overflow: hidden;
                        .depth3Menu {
                            margin-top: 0;
                            .depth3Name {
                                padding: 8px 12px; font-size: rem(15px); display: block;
                                &::before {display: none;}
                            }
                        }
                    }
                    .quickLink {display: block;}
                }
            }
        }
        
    }
}

/*
.cptHeader {
    width:100%; background: #fff; transition: transform 0.2s, background 0.2s; position: fixed; left:0; top:0; z-index: 100;

    &.on {
        transform: translateY(-112px); background: var(--Primary);
        .headArea {
            .headBox {
                .logoBox {
                    width: 104px; height: 26px; position: absolute; left: 20px; top: 90px;
                    .logo g path {fill: #fff;}
                }
                .myMenuGroup {
                    position: absolute; right: 68px; top: 93px; gap: 24px;
                    .item {
                        a {
                            padding-left: 28px; height: 24px; font-size:0; display:block;
                        }
                        &.ico01 a {background: url(../../images/common/ic_head_01_on.svg) left 2px center no-repeat;}
                        &.ico02 a {background: url(../../images/common/ic_head_02_on.svg) left 2px center no-repeat;}
                        &.ico03 a {background: url(../../images/common/ic_head_03_on.svg) left 2px center no-repeat;}
                        &.ico04 a {background: url(../../images/common/ic_head_04_on.svg) left 2px center no-repeat;}
                    }
                }
            }
        }
        .gnbArea {
            border-top: 1px solid var(--Primary); border-bottom: 1px solid var(--Primary);
            .gnbBox {
                .depth1Group {
                    margin-left: 215px; margin-right:290px;
                    .depth1Menu {
                        .depth1Name {
                            color: #fff; background: url(../../images/common/ic_gnb_dep1_at.svg) right 2px center no-repeat;
                        }
                        &.on {
                            .depth1Name {
                                color: var(--Point2); background: url(../../images/common/ic_gnb_dep1_at_on.svg) right 2px center no-repeat;
                            }
                        }
                    }
                }
                .allMenu {background: url(../../images/common/ic_all_menu_on.svg) center no-repeat;}
            }
        }
    }
    .quickArea {
        width: 100%;
        .quickBox {
            width: 100%; max-width:1480px; height: 40px; margin: 0 auto; padding: 10px 20px;
            .guickMenuGroup {
                width: 100%; height:20px; display:flex; justify-content: flex-end;
                .item {
                    padding-left:29px; position: relative;
                    &::before {content:""; width:1px; height:16px; background: var(--Bg-Line-line-100); display: block; position: absolute; left: 14px; top: 3px;}
                    &:first-child::before {display: none;}
                    a {
                        color: var(--Gray-700); font-size: rem(15px); font-weight: 400; line-height: 150%; display:block;
                        &[target=_blank] {
                            padding-right:20px; background: url(../../images/common/ic_link_blank.svg) right 2px center no-repeat;
                        }
                    }
                }
            }
        }
    }
    .headArea {
        width:100%; position: relative; z-index: 101;
        .headBox {
            width: 100%; max-width:1480px; height: 72px; margin: 0 auto; padding: 0 20px 12px; display: flex; justify-content: space-between; align-items: center; position: relative;
            .logoBox {
                width:160px;
                .logo {
                    width:100%;
                }
            }
            .myMenuGroup {
                display: flex; justify-content: flex-end; align-items: center; gap: 20px;
                .item {
                    a {
                        padding-left: 28px; color: var(--Gray-800); font-size: rem(16px); font-weight: 700; line-height: 150%;
                    }
                    &.ico01 a {background: url(../../images/common/ic_head_01.svg) left 2px center no-repeat;}
                    &.ico02 a {background: url(../../images/common/ic_head_02.svg) left 2px center no-repeat;}
                    &.ico03 a {background: url(../../images/common/ic_head_03.svg) left 2px center no-repeat;}
                    &.ico04 a {background: url(../../images/common/ic_head_04.svg) left 2px center no-repeat;}
                }
            }
        }
    }
    .gnbArea {
        width:100%; border-top: 1px solid var(--Bg-Line-line-100); border-bottom: 1px solid var(--Bg-Line-line-100); position: relative; z-index: 100;
        .gnbBox {
            width: 100%; max-width:1480px; height: 62px; margin: 0 auto; padding: 0 20px; display: flex; justify-content: space-between; align-items: center;
            .depth1Group {
                width: 824px; margin-right:20px; display: flex; justify-content: space-between; align-items: center; transition: margin-left 0.3s;
                .depth1Menu {
                    .depth1Name {
                        padding-right:32px; color: var(--Gray-800); font-size: rem(20px); font-weight: 800; line-height: normal; display: flex;
                        background: url(../../images/common/ic_gnb_dep1_off.svg) right 2px center no-repeat;
                    }
                    &.on {
                        .depth1Name {
                            color: var(--Primary); background: url(../../images/common/ic_gnb_dep1_on.svg) right 2px center no-repeat;
                        }
                        .depth2Area {height:396px; display: block; }
                    }
                }
            }
            .depth2Area {
                width: 100%; height:0; position: absolute; left: 0; top: 63px; background: #fff; 
                box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1); z-index: 99; display:block; overflow: hidden; 
                .depth2Box {
                    width: 100%; max-width: 1480px; margin: 0 auto; padding: 32px 20px 40px; display: flex; justify-content: space-between;
                    .depth2Group{
                        position: relative;
                        .depth2Menu {
                            width: 220px; height:28px; margin-top: 28px;
                            &:first-child {margin-top: 0;}
                            .depth2Name {
                                width: max-content; height:28px; padding-bottom:7px; color: var(--Gray-600); font-size: rem(18px); font-weight: 400; line-height: normal; display: block;
                            }
                            &.on {
                                background: url(../../images/common/ic_gnb_dep2_arr.svg) right center no-repeat;
                                .depth2Name {
                                    color: var(--Gray-900); font-weight: 700; position: relative;
                                    &::before {
                                        content:""; width:100%; height:1px; background: var(--Gray-900); display: block; position: absolute; left: 0; bottom: 3px;
                                    }
                                }
                                .depth3Group {
                                    display: block;
                                }
                            }
                        }
                    }
                    .bnBox {
                        width: 220px;
                        .imgBox {
                            width: 100%; height: 220px; border-radius: 20px; overflow: hidden;
                        }
                        .textBox {
                            width: 100%; margin-top: 16px;
                            p {
                                color: var(--Gray-800); font-size: rem(16px); font-weight: 700; line-height: normal;
                            }
                        }
                        .moreBox {
                            width: 100%; margin-top: 24px;
                            a {
                                width: max-content; height: 20px; color: var(--Gray-500); font-size: rem(16px); font-weight: 400; line-height: normal; 
                                text-transform: capitalize; border-bottom: 1px solid var(--Gray-500); display: block; position: relative;
                            }
                        }
                    }
                }
            }
            .depth3Group {
                width:220px; position: absolute; left: 300px; top: 0; display:none;
                .depth3Menu {
                    width: 220px; height:28px; margin-top: 28px;
                    &:first-child {margin-top: 0;}
                    .depth3Name {
                        width: max-content; height:28px; padding-bottom:7px; color: var(--Gray-600); font-size: rem(18px); font-weight: 400; line-height: normal; display: block;
                    }
                    &.on {
                        background: url(../../images/common/ic_gnb_dep2_arr.svg) right center no-repeat;
                        .depth3Name {
                            color: var(--Gray-900); font-weight: 700; position: relative;
                            &::before {
                                content:""; width:100%; height:1px; background: var(--Gray-900); display: block; position: absolute; left: 0; bottom: 3px;
                            }
                        }
                        .depth4Group {
                            display: block;
                        }
                    }
                }
            }
            .depth4Group {
                width:220px; position: absolute; left: 300px; top: 0; display:none;
                .depth4Menu {
                    width: 220px; height:28px; margin-top: 28px;
                    &:first-child {margin-top: 0;}
                    .depth4Name {
                        width: max-content; height:28px; padding-bottom:7px; color: var(--Gray-600); font-size: rem(18px); font-weight: 400; line-height: normal; display: block;
                    }
                    &.on {
                        background: url(../../images/common/ic_gnb_dep2_arr.svg) right center no-repeat;
                        .depth4Name {
                            color: var(--Gray-900); font-weight: 700; position: relative;
                            &::before {
                                content:""; width:100%; height:1px; background: var(--Gray-900); display: block; position: absolute; left: 0; bottom: 3px;
                            }
                        }
                    }
                }
            }
            .allMenu {
                width: 24px; height: 100%; font-size: 0; background: url(../../images/common/ic_all_menu.svg) center no-repeat;
            }
        }
    }
    @include media('pcs'){
        .gnbArea {
            .gnbBox {
                justify-content: flex-end;
                .depth1Group {
                    display: none;
                }
            }
        }
    }
    @include media('mobile'){
        & ,&.on {
            transform: translateY(-112px); background: #fff;
            .quickArea .quickBox .guickMenuGroup {display: none;}
            .headArea {
                .headBox {
                    .logoBox {
                        width: 110px; height: 26px; position: absolute; left: 20px; top: 94px;
                        .logo g path {fill: #00458D;}
                    }
                    .myMenuGroup {
                        position: absolute; right: 74px; top: 83px; gap: 4px;
                        .item {
                            a {
                                width: 50px; height: 50px; padding-left: 0; padding-top: 34px; font-size: rem(12px); text-align: center; display:block;
                            }
                            &.ico01 a {background: url(../../images/common/ic_head_01.svg) center 8px no-repeat;}
                            &.ico02 {display: none;}
                            &.ico03 a {background: url(../../images/common/ic_head_03.svg) center 8px no-repeat;}
                            &.ico04 {display: none;}
                        }
                    }
                }
            }
            .gnbArea {
                border-top: 1px solid #fff; border-bottom: 1px solid var(--Bg-Line-line-100, #E1E4EA);;
                .gnbBox {
                    height: 70px;
                    .depth1Group {
                        display: none;
                        .depth1Menu {
                            .depth1Name {
                                color: #fff; background: url(../../images/common/ic_gnb_dep1_at.svg) right 2px center no-repeat;
                            }
                        }
                    }
                    .allMenu {
                        width: 50px; height: 50px; padding-top: 34px;
                        color: var(--Gray-800, #2C2C2C); font-size: rem(12px); font-weight: 700; line-height: normal; 
                        background: url(../../images/common/ic_all_menu_mo.svg) center 8px no-repeat;
                    }
                }
            }
        }
    }
}

.allMenuArea {
    width: 100%; height: 100vh; background: #fff; position: fixed; left: 0; top: 0; z-index: 200;
    @include minWidth('mobile'){
        *:hover::-webkit-scrollbar-thumb {
            background: rgba(87, 87, 87, 0.54);
        }
        *::-webkit-scrollbar {width:30px; padding:10px;}
        *::-webkit-scrollbar-thumb {padding:10px; border: 12px solid #fff; border-radius: 15px; background: rgba(87, 87, 87, 0.2); }
        *::-webkit-scrollbar-track{background-color: rgba(0,0,0,0);}
    }
    .allTop {
        width: 100%; height: 86px; background: var(--Point-Primary2);
        .pcView {
            width: 100%; max-width: 1480px; padding: 23px 20px; margin: 0 auto;
        }
        .moView {
            display: none;
        }
    }
    .allMenuGroup {
        width: 100%; height: calc(100vh - 86px); overflow-y: scroll;
        .allMenuBox {
            width: 100%; max-width: 1480px; padding: 0 20px; margin: 0 auto; 
            .depth1Group {
                width: 100%;
                .depth1Menu {
                    width: 100%; padding: 60px 0; border-top: 1px solid var(--Bg-Line-line-100); display: flex;

                    &:first-child {border-top: 0;}
                    .depth1Name{
                        width: 23.6%; color: var(--Primary); font-size: rem(24px); font-style: normal; font-weight: 700; line-height: 1.4; flex-shrink: 0;
                    }
                }
            }
            
            .depth2Group {
                width: 100%; display: flex; flex-wrap: wrap; gap: 40px 20px;
                .depth2Menu {
                    width: calc(20% - 16px); min-width: 160px;
                    .depth2Name {
                        color: var(--Gray-900); font-size: rem(20px); font-style: normal; font-weight: 700; line-height: 1.4;
                    }
                }
            }
            
            .depth3Group {
                margin-top: 16px;
                .depth3Menu {
                    margin-top: 8px;
                    &:first-child {margin-top: 0;}
                    .depth3Name {
                        color: var(--Gray-800); font-size: rem(16px); font-style: normal; font-weight: 400; line-height: 1.6;
                    }
                }
            }
        }
    }
    @include media('mobile'){
        .allTop {
            height: 136px;
            .pcView {
                display: none;
            }
            .moView {
                width: 100%; padding: 20px 16px;
            }
        }
        .allMenuGroup {
            height: calc(100vh - 136px);
            .allMenuBox {
                height: 100%; padding: 0;
                .depth1Group {
                    height: 100%; position: relative;
                    .depth1Menu {
                        padding: 0; border-top: 0;
                        .depth1Name{
                            width: 100%; padding: 16px; color: var(--Gray-800); font-size: rem(17px); font-weight: 500; line-height: 1.3;
                        }
                        &.on {
                            .depth1Name{color: var(--Primary); font-weight: 700;}
                            .depth2Group {display: flex;}
                        }
                    }
                }
                .depth2Group {
                    width: calc(100% - 150px); height: 100%; gap: 0; border-left: 1px solid var(--Bg-Line-line-200); overflow-y: auto; background: #fff; 
                    position: absolute; top: 0; right: 0; display: none; align-content: baseline;
                    .depth2Menu {
                        width: 100%; 
                        .depth2Name {
                            width: 100%; padding: 16px 12px 12px; font-size: rem(16px); font-weight: 700; line-height: 1.5; display: block;
                            background: url(../../images/common/ic_20_allmenu.svg) right 16px top 20px no-repeat;
                        }
                        &.on {
                            background: #F9FAFC;
                            .depth2Name {background: url(../../images/common/ic_20_allmenu_on.svg) right 16px top 20px no-repeat;}
                            .depth3Group {display: block;}
                        }
                    }
                }
                .depth3Group {
                    margin-top: 0; padding-bottom: 8px; display: none;
                    .depth3Menu {
                        margin-top: 0;
                        .depth3Name {
                            padding: 8px 12px; font-size: rem(15px); display: block;
                        }
                    }
                }
            }
        }
    }
}
*/