.cptProcess {
    width: 100%; margin-top: 60px;
    &:first-child {margin-top: 0;}

    .stepWrap {
        margin-top: 20px;
        .stepGroup {
            display: flex; justify-content: space-between; gap: 65px;
            .stepItem {
                border: 1px solid var(--Point-Primary2); border-radius: 12px; padding: 20px 10px 15px; text-align: center; position: relative; flex: 0 0 calc(25% - 48.75px);
                .num {width: 30px;height: 30px; border-radius: 50%; background: var(---Primary); line-height: 30px; font-size: rem(16px); color: #fff; font-weight: 700; display: inline-block;}
                .stepCont {
                    margin-top: 10px; width: 100%; min-height: 73px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;
                    dt {width: 100%;font-size: rem(18px); font-weight: 700; color: var(---Primary);}
                    dd{
                        width: 100%;font-size: rem(16px); color: var(--Gray-800); font-weight: 500; line-height: 1.6; 
                        .adds {font-size: rem(14px); font-weight: 300;}
                    }
                }                

                &::after {display: block; content: ""; width: 24px; height: 24px; background: url(../../images/common/ic_24_arw_right_g.svg) center no-repeat; position: absolute; top: 50%; right: -46px; transform: translateY(-50%);}
                &:last-child:after {display: none;}
            }
        }

        .refer {margin-top: 20px; font-size: rem(15px); color: var(--Gray-600);}
    }

    @include media("mobile"){
        margin-top: 40px;
        
        .stepWrap {
            margin-top: 16px;
            .stepGroup {
                flex-wrap: wrap; gap: 40px;
                .stepItem {
                    padding: 20px 10px;flex: 0 0 100%;
                    .stepCont {
                        margin-top: 12px;min-height: auto;
                        dt {font-size: rem(16px);}
                        dd{
                            font-size: rem(15px); 
                            .adds {font-size: rem(13px);}
                        }
                    } 

                    &::after {position: absolute; top: auto; bottom: -34px; right: auto; left: 50%; transform: translateX(-50%) rotate(90deg);}
                }
            }

            .refer {margin-top: 16px; font-size: rem(14px);}
        }
    }
}