
// 영문해더
.cptHeaderEn {
    width:100%; background: #fff; position: absolute; left:0; top:0; z-index: 100;
    .headArea {
        display: flex; max-width: 1480px; margin: 0 auto; padding: 0 20px;
        .headBox {
            display: flex; align-items: center; width: 100%; height: 78px;
            .logoBox {
                width: 239px; margin-right: 48px;
                .logo {
                    width: 100%;
                }
            }
            .quickBox {
                position: relative; height: 30px; margin-left: auto; z-index: 100;
                .linkName {
                    color: var(--Gray-800); font-size: rem(13px); font-weight: 700;
                }
                .quickSltBtn {
                    position: relative; display: inline-flex; align-items: center; min-width: 96px; height: 30px; padding: 0 36px 0 12px; z-index: 1;
                    background: url(../../images/common/ic_12_down_arr.svg) no-repeat right 12px center;
                    .linkName {
                        padding: 1px 0 0 18px; background: url(../../images/common/ic_head_lang.svg) no-repeat 0 center;
                    }
                }
                .guickMenuGroup {
                    position: absolute; top: 0; left: 0; width: 100%; min-height: 30px; padding-top: 27px; border-radius: 16px; border: 1px solid #B1B1B1; background-color: #fff; overflow: hidden;
                    .item {
                        display: none; 
                        > * {
                            display: block; padding-left: 20px;
                            &:hover {background: var(--Bg-Line-bg-200);}
                        }
                    }
                }
                &.on, &:hover, &:focus {
                    .guickMenuGroup {
                        padding-bottom: 10px;
                        .item {
                            display: block;
                        }
                    }
                }
                & + .allMenuEn {
                    margin-left: 28px;
                }
            }
        }
        .gnbBox {
            display: flex; align-items: center; height: 78px;
            .depth1Group {
                display: flex; align-items: center; height: 100%;
                .depth1Menu {
                    height: 100%; align-content: center;
                    .depth1Name {
                        display: block; height: 100%; align-content: center;
                        padding: 0 30px; color: var(--Gray-800); font-size: rem(20px); font-weight: 700; line-height: 1.3;
                    }
                    &:has(.depth2Area) {
                        .depth1Name {
                            //
                        }
                        &.on, &:hover, &:focus {
                            .depth1Name {
                                // 
                            }
                            .depth2Area {
                                display: block; height: auto;
                            }
                        }
                    }
                    &.on, &:hover, &:focus {
                        .depth1Name {
                            color: #000;
                            
                            > span {
                                position: relative;
                                font-weight: 700;
                                &::after {
                                    display: block; content: ""; width: 100%; height: 12px; background: #a1f4c7; position: absolute; left: -2px; bottom: 0; z-index: -1;
                                }
                            }
                        }
                    }
                }
            }
            .depth2Area {
                width: 100%; height:0; position: absolute; left: 0; top: 78px; background: #fff; border-top: 1px solid var(--Bg-Line-line-100);
                box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1); z-index: 99; display:none; overflow: hidden; 
                .depth2Box {
                    // display: flex; justify-content: space-between;
                    width: 100%; max-width: 1480px; height: 100%; margin: 0 auto; padding: 24px 20px; 
                    .depth2Group {
                        display: flex; gap: 0 100px;
                        .depth2Menu {
                            flex: 1;
                            .depth2Name {
                                display: block; font-size: rem(18px); font-weight: 700;
                            }
                        }
                    }
                    .depth3Group {
                        margin-top: 4px; margin-bottom: 16px; padding-top: 20px; border-top: 1px solid #52555B;
                        .depth3Menu {
                            position: relative; padding-left: 12px;
                            &::after {
                                content: ""; position: absolute; left: 0; top: 10px; width: 4px; height: 4px; background: var(--Gray-800);
                            }
                            &:not(:first-child) {
                                margin-top: 24px;
                            }
                            .depth3Name {
                                font-size: rem(16px); font-weight: 700; 
                            }
                        }
                    }
                    .depth4Group {
                        .depth4Menu {
                            margin-top: 8px;
                            .depth4Name {
                                font-size: rem(15px); color: #555;
                                &:hover, &:focus {
                                    color: #000; text-decoration: underline; text-underline-position: under;
                                }
                            }
                        }
                    }
                }
            }
        }
        .allMenuEn {
            width: 24px; height: 100%; margin-left: auto; font-size: 0; background: url(../../images/common/ic_all_menu.svg) center no-repeat;
        }
    }
    @include media('pcs'){
        .headArea {
            .gnbBox {
                .depth1Group {
                    display: none;
                }
            }
        }
    }
    @include media('mobile'){
        .headArea {
            .headBox {
                .logoBox {
                    margin-right: 0;
                }
                .quickBox {
                    display: none;
                    & + .allMenuEn {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    // for main
    // &.inMain {}
    @at-root {
        .lytMainEng & {
            position: absolute;
        }
        @include minWidth('mobile'){
            .lytMainEng & { 
                &:not(.on) {
                    background: transparent;
                    .headArea {
                        .headBox {
                            .logoBox .logo path {
                                fill: #fff;
                            }
                            .quickBox {
                                .quickSltBtn {
                                    background: url(../../images/common/ic_12_down_arr_w.svg) no-repeat right 12px center;
                                    span {
                                        color: #fff;
                                        background: url(../../images/common/ic_head_lang_w.svg) no-repeat 0 center;
                                    }
                                }
                                .guickMenuGroup {
                                    background-color: transparent;
                                    .item {
                                        > * {
                                            &:hover {background: var(--Gray-200);}
                                            > span {color: #fff;}
                                        }
                                    }
                                }
                                &.on, &:hover, &:focus {
                                    .guickMenuGroup {
    
                                        .item {
    
                                        }
                                    }
                                }
                            }
                        }
                        .gnbBox {
                            .depth1Group {
                                .depth1Menu {
                                    .depth1Name {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        .allMenuEn {
                            background: url(../../images/common/ic_all_menu_on.svg) center no-repeat;
                        }
                    }
                }
            }
        }
    }
}

.allMenuAreaEn {
    width: 100%; height: 100vh; background: #fff; position: fixed; left: 0; top: 0; z-index: 200; display: none; 
    &.on {
        display: block; opacity:0; animation: openAllMenu 0.15s linear forwards;
        @keyframes openAllMenu { 0% {opacity:0;} 100% {opacity:1;} }
    }
    @include minWidth('mobile'){
        // &:not(.inMain) { 
            *:hover::-webkit-scrollbar-thumb {
                background: rgba(87, 87, 87, 0.54);
            }
            *::-webkit-scrollbar {width:30px; padding:10px; background: #fff;}
            *::-webkit-scrollbar-thumb {padding:10px; border: 12px solid #fff; border-radius: 15px; background: rgba(87, 87, 87, 0.2);/* box-shadow: inset 6px 6px 0 rgba(87, 87, 87, 0.54); */ }
            *::-webkit-scrollbar-track{background-color: rgba(0,0,0,0);}
        // }
        
    }
    .allTop {
        width: 100%; height: 86px; background: #254862;
        .pcView {
            width: 100%; max-width: 1480px; padding: 23px 20px; margin: 0 auto; display: flex; justify-content: space-between;
            .logo {
                width: 276px; align-content: center;
                img {width: 100%; vertical-align: middle;}
            }
            .btnClose {
                width: 40px; height: 40px; font-size: 0; background: url(../../images/common/ic_40_close.svg) center no-repeat; align-content: center;
            }
        }
        .moView {
            display: none;
        }
    }
    .allMenuGroup {
        width: 100%; height: calc(100vh - 86px); overflow-y: scroll;
        .allMenuBox {
            width: 100%; max-width: 1480px; padding: 0 20px; margin: 0 auto; 
            .depth1Group {
                width: 100%;
                .depth1Menu {
                    width: 100%; padding: 60px 0; border-top: 1px solid var(--Bg-Line-line-100); display: flex;

                    &:first-child {
                        border-top: 0;
                    }
                    .depth1Name {
                        color: var(--Gray-900); font-size: rem(24px); font-style: normal; font-weight: 700; line-height: 1.4; flex-shrink: 0;
                    }
                    
                    &:has(.depth2Group) {
                        .depth1Name {
                            width: 17.3%; min-width: 220px;
                        }
                    }
                }
            }
            .depth2Group {
                width: 100%; display: flex; flex-wrap: wrap; gap: 40px 32px;
                .depth2Menu {
                    flex: 1; min-width: 240px;
                    .depth2Name {
                        color: #254862; font-size: rem(20px); font-style: normal; font-weight: 700; line-height: 1.4;
                    }
                }
            }
            
            .depth3Group {
                margin-top: 26px;
                .depth3Menu {
                    position: relative; padding-left: 12px;
                    &::after {
                        content: ""; position: absolute; left: 0; top: 10px; width: 4px; height: 4px; background: var(--Gray-800);
                    }
                    &:not(:first-child) {
                        margin-top: 32px;
                    }
                    .depth3Name {
                        color: var(--Gray-800); font-size: rem(18px); font-weight: 600;
                        
                    }
                }
            }
            .depth4Group {
                .depth4Menu {
                    position: relative; margin-top: 8px; margin-left: -12px; padding-left: 12px;
                    &::after {
                        content:''; position: absolute; left: 0; top: 12px; width: 4px; border-bottom: 1px solid var(--Gray-300);
                    }
                    .depth4Name {
                        font-size: rem(16px); color: #555;
                        &:hover, &:focus {
                            color: #000; box-shadow: inset 0 -12px 0 #A1F4C7; 
                        }
                    }
                }
            }
            
            .quickLink {
                width: 100%; padding: 20px 16px 32px; border-top: 1px solid var(--Bg-Line-line-200); position: absolute; left: 0; bottom: 0; display: none;
                .quickItem {
                    width: 100%; margin-top: 12px;
                    &:first-child {
                        margin-top: 0;
                        a {letter-spacing: -0.3px;}
                    }
                    a {
                        width: max-content; height: 24px; color: var(---Primary); font-size: rem(15px); font-weight: 600; line-height: 1.6; display: block;
                        &[target=_blank] {
                            padding-right: 18px; background: url(../../images/common/ic_link_blank_primary.svg) right center no-repeat;
                        }
                    }
                }
            }
        }
    }
    @include media('mobile'){
        .allTop {
            height: 72px; border-bottom: 1px solid #cdcdcd; background: #fff;
            .pcView {
                display: none;
            }
            .moView {
                display: flex; justify-content: space-between; width: 100%; padding: 20px 16px; 
                .quickLink {
                    display: flex; gap: 0 20px;
                    .quickItem {
                        & > a {
                            display: inline-block; height: 32px; padding: 0px 12px; line-height: 30px; border: 1px solid var(--Gray-600); border-radius: 6px;
                            font-size: rem(14px); font-weight: 400; color: var(--Gray-600);
                        }
                        span {
                            padding-right: 20px; background: url(../../images/common/ic_link_blank.svg) right 2px center no-repeat; white-space: nowrap;
                        }
                    }
                }
                .btnClose {
                    width: 24px; font-size: 0; background: url(../../images/common/ic_20_close.svg) center no-repeat; 
                }
            }
        }
        .allMenuGroup {
            .allMenuBox {
                padding: 0;
                .depth1Group {
                    .depth1Menu {
                        flex-direction: column; padding: 0; border-top: none; border-bottom: 1px solid var(--Bg-Line-line-100);
                        .depth1Name {
                            padding: 16px 16px; font-size: rem(20px); font-weight: 500;
                        }
                        &:has(.depth2Group) {
                            .depth1Name {
                                width: 100%; background: url(../../images/common/ic_20_allmenu_en.svg) right 16px top 20px no-repeat;
                            }
                        }
                        &.on {
                            .depth1Name {
                                font-weight: 700; background: url(../../images/common/ic_20_allmenu_en_on.svg) right 16px top 20px no-repeat;
                                > span {
                                    position: relative;
                                    &::after {
                                        display: block; content: ""; width: 100%; height: 12px; background: #a1f4c7; position: absolute; left: -2px; bottom: 0; z-index: -1;
                                    }
                                }
                            }
                            .depth2Group {
                                display: block;
                            }
                        }
                    }
                }
                .depth2Group {
                    display: none; overflow: hidden; background: #F3F5F8;
                    .depth2Menu {
                        .depth2Name {
                            display: block; padding: 16px 24px; font-size: rem(18px); color: var(--Gray-800); font-weight: 500; background: var(--Bg-Line-bg-100);
                        }
                        &:has(.depth3Group) {
                            .depth2Name {
                                background: var(--Bg-Line-bg-100) url(../../images/common/ic_20_extend.svg) right 16px top 20px no-repeat;
                            }
                        }
                        &.on {
                            .depth2Name {
                                font-weight: 700;
                            }
                            &:has(.depth3Group) {
                                .depth2Name {
                                    background: var(--Bg-Line-bg-100) url(../../images/common/ic_20_extend_on.svg) right 16px top 20px no-repeat;
                                }
                            }
                            .depth3Group {
                                display: block;
                            }
                        }
                    }
                }
                .depth3Group {
                    display: none; margin-top: 0; padding: 16px; overflow: hidden;
                    .depth3Menu {
                        padding-left: 0;
                        &:not(:first-child) {
                            margin-top: 14px;
                        }
                        &::after {
                            content: none;
                        }
                        .depth3Name {
                            display: block; padding: 12px 8px; font-size: rem(16px); color: var(--Gray-800); font-weight: 600;
                        }
                    }
                }
                .depth4Group {
                    padding-top: 14px; padding-left: 12px; border-top: 1px solid #e1e1e1;
                    .depth4Menu {
                        margin-top: 0; margin-left: 0;
                        &::after {
                            margin-top: 6px;
                        }
                        .depth4Name {
                            display: block; padding: 6px 0;
                            &:hover, &:focus {
                                box-shadow: none; 
                            }
                        }
                    }
                }
            }
        }
    }
}
