/* ---------------------- 고객광장 - 신고센터 ---------------------- */
.cptReportingCenter {
    .comTitH2 {margin-top: 60px;}
    .reportingCenterList {
        margin-top: 12px;
        > ul {
            display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 0 40px;
            > li {
                padding: 32px;border-radius: 12px;border: 1px solid var(--Bg-Line-line-100, #E1E4EA);background: #FFF;
                .titleArea {
                    h3 {
                        color: var(--Gray-800, #2C2C2C);font-size: rem(18px);font-weight: 700;line-height: 140%; /* 25.2px */
                        span {font-size: rem(14px);}
                    }
                    p {min-height: 48px;margin-top: 10px;color: var(--Gray-700, #414347);font-size: rem(15px);font-weight: 400;line-height: 160%; /* 24px */}
                }
                .btnArea {
                    margin-top: 24px;
                    a.btn {
                        padding: 0 20px;min-width: 211px;display: flex;align-items: center;font-size: rem(14px);font-weight: 500;
                        & + a.btn {
                            margin-top: 8px;
                        }
                        &:after {content: "";display: inline-block;vertical-align: text-bottom;width: 20px;height: 20px;margin-left: 4px;background: url('../../images/common/ic_16_arr_right_g.svg') center no-repeat;}
                        &.Primary:after {background-image: url('../../images/common/ic_16_arr_right_w.svg');}
                        span {flex: 1;}
                    }
                }
            }
        }
        .comBasicTxt p b {color: var(---Primary);}
    }
    @include media("tablet"){
        .reportingCenterList {
            > ul {
                display: flex;flex-direction: column;gap: 40px;
            }
        }
    }
    @include media("mobile"){
        .comTitH2 {margin-top: 40px;}
        .reportingCenterList {
            > ul {
                display: flex;flex-direction: column;gap: 24px;
                > li {
                    padding: 24px;
                    .titleArea p {min-height: auto;}
                    .btnArea a.btn {height: 36px;}
                }
            }
        }
    }
}