
/* --------------------------- 게시판 상세 --------------------------- */
.cptBoardView{
    width: 100%;
    .boardViewArea {
        width: 100%;
        .viewTop {
            width: 100%; padding: 0 32px 24px; border-bottom: 1px solid var(--Bg-Line-line-100);            
            .noti {
                width: 100%; margin-bottom: 12px; font-style: normal; display: flex; gap: 8px;
                .mark {
                    width: max-content; height: 24px; padding: 0 16px; font-size: rem(12px); color: var(---Primary); font-weight: 600; line-height: 22px;
                    border-radius: 20px; border: 1px solid var(---Primary); display:block;
                    &.ing {
                        color: #fff; border: 1px solid var(--Point-Primary2); background: var(--Point-Primary2);
                    }
                    &.end {
                        color: var(--Gray-500); border: 1px solid var(--Gray-500); background: #fff;
                    }
                }
            }
            .viewTitle {
                width: 100%; color: var(--Gray-900); font-size: rem(30px); font-weight: 600; line-height: 1.4;
            }
            .info {
                width: 100%; margin-top: 16px; display: flex; gap: 24px;
                .item {
                    color: var(--Gray-600); font-size: rem(15px); font-weight: 400; line-height: 1.5;
                }
            }
        }
        .viewBody {
            width: 100%; height: auto; border-bottom: 1px solid var(--Bg-Line-line-100);
            .viewContArea {
                width: 100%; padding: 40px;
                img {max-width: 100%;}
            }
        }
    }
    @include media('mobile') {
        width: calc(100% + 32px); margin-left: -16px; padding-top: 20px;
        .boardViewArea {
            .viewTop {
                padding: 0 16px 20px; border-bottom: 1px solid var(--Bg-Line-line-100);
                .noti {
                    margin-bottom: 8px;
                    .mark {width: max-content; padding: 0 10px;}
                }
                .viewTitle {
                    font-size: rem(20px); font-weight: 700;
                }
                .info {
                    margin-top: 8px; gap: 12px;
                    .item {
                        color: var(--Gray-500); font-size: rem(14px); font-weight: 300; line-height: 1.6;
                    }
                }

            }   
            .viewBody {
                .viewContArea {
                    padding: 32px 16px;
                }
            }
        }
    }

    //예외
    /*
    .comBtnGroup {
        .alignR {
            justify-content: center;
        }
        .btnBox {
            width: auto;
            .btn {
                width: max-content;
            }
        }
    }
    */
}
