
.cptLogin {
    margin-top: 40px;
    .loginArea {
        width: 100%;
        max-width: 680px;
        margin: 0 auto;
        padding: 60px 40px;
        background: #fff;
        border-radius: 16px;
        .loginTitle {
            color: var(---Primary, #078B7B);
            font-size: rem(18px);
            font-weight: 600;
            line-height: 140%; /* 25.2px */
            h2 {
                font-size: rem(36px);
                line-height: 140%; /* 25.2px */
            }
        }
        .frmGroup {
            margin-top: 40px;
            & + .frmGroup {margin-top: 20px;}
            .frmBox {
                &.inpId,
                &.inpPw {
                    .iptText {
                        padding-left: 76px;
                        height: 56px;
                    }
                    .btnReset {top: 16px;}
                    &:after {
                        content: '';
                        position: absolute;
                        top: 12px;
                        left: 20px;
                        width: 24px;
                        height: 24px;
                    }
                }
                &.inpId:after {
                    background: url('../../images/common/ic_24_person.svg') no-repeat 50%;
                    background-size: 20px;
                }
                &.inpPw:after {
                    background: url('../../images/common/ic_24_lock.svg') no-repeat;
                    background-size: 100%;
                }
            }
        }
        .comBtnGroup {
            margin-top: 32px;
            .btnBox {
                width: 100%;
                .btn {width: 100%;}
            }
            & + .linkGroup {margin-top: 32px;}
        }
        .linkGroup {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            &.center {
                gap:64px;
                a {
                    flex: 1;
                    position: relative;
                    text-align: right;
                    & + a {
                        text-align: left;
                        &:after {
                            content: '';
                            position: absolute;
                            top: 8px;
                            left: -32px;
                            width: 1px;
                            height: 10px;
                            background: var(--Gray-200, #CED1D6);
                        }
                    }
                }
            }
            > span {
                color: var(--font-600, #58595F);
                font-size: rem(16px);
                font-weight: 300;
                line-height: 160%; /* 25.6px */}
            a {
                font-size: rem(16px);
                color: var(--Gray-800, #2C2C2C);
                font-weight: 400;
                line-height: 160%; /* 25.6px */
                span {border-bottom: 1px solid var(--font-600, #58595F);}
                strong {font-weight: 600;border-bottom: 1px solid var(--font-600, #58595F);}
            }
        }
    }
    @include media('mobile'){
        margin-top: 0;
        .loginArea {
            background: none;
            padding: 0;
            .loginTitle {
                h2 {
                    margin-top: 4px;
                    font-size: rem(28px);
                }
            }
            .frmGroup + .frmGroup {margin-top: 24px;}
            .comBtnGroup {
                margin-top: 40px;
                & + .linkGroup {margin-top: 40px;}
            }
            .comJoinBtmText {
                margin-top: 40px;
                margin-left: -16px;
                width: calc(100% + 32px);
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
}

