/* ------------------------------- ν‘Έν„° ------------------------------- */
.cptFooter {
    width: 100%;
    .footArea {
        width: 100%; background: var(--Bg-Line-bg-100);
        .siteArea {
            width: 100%; border-top: 1px solid var(--Bg-Line-line-100); border-bottom: 1px solid var(--Bg-Line-line-100); background: #fff;
            .siteGroup {
                width: 100%; max-width:1480px; margin: 0 auto; padding: 0 20px; display: flex;
                .item {
                    width: 212px; height: 54px; border-right: 1px solid var(--Bg-Line-line-100); 
                    &:first-child {border-left: 1px solid var(--Bg-Line-line-100);}
                    a {
                        width: 100%; height: 100%; padding: 0 24px; color: var(--Gray-800); font-size: rem(16px); font-weight: 400; display: flex; 
                        align-items: center; background: url(../../images/common/ic_ft_more.svg) right 24px center no-repeat;
                    }
                }
            }
        }
        .addressArea {
            width: 100%; padding: 40px 0;
            .logoGroup {
                width: 100%; max-width:1480px; margin: 0 auto; padding: 0 20px; display: flex; justify-content: space-between;
                .logoBox {
                    width: 100%;
                }
            }
            .addressGroup {
                width: 100%; max-width:1480px; margin: 0 auto; padding: 32px 20px; display: flex; justify-content: space-between;
                .alignL {
                    width: max-content;
                    .adressBox {
                        width: max-content;
                        .adressLine {
                            width: max-content; margin-top: 18px; font-size: 0;
                            &:first-child {margin-top: 0;}
                            span {
                                margin-right: 24px; color: var(--Gray-800); font-size: rem(16px); font-weight: 400; line-height: 1;
                                &:last-child {margin-right:0;}
                            }
                            b {
                                font-weight: 700;
                            }
                        }
                    }
                }
                .alignR {
                    width: max-content;
                    .other {
                        width: max-content; display: flex; gap: 16px;
                        a {
                            height: 24px; padding: 2px 22px 2px 2px; color: var(--Gray-900, #111); font-size: rem(16px); font-weight: 700; line-height: 1; display: flex; 
                            align-items: center; background: url(../../images/common/ic_ft_arr.svg) right 2px center no-repeat;
                        }
                    }
                    .sns {
                        width: max-content; margin-top: 16px; display: flex; gap: 8px;
                        li {
                            width: 40px; height: 40px;
                            a {
                                width: 100%; height: 100%; font-size: 0; display: block;
                            }
                            &.inst a {background: url(../../images/common/img_sns_instagram.svg) center no-repeat;}
                            &.utube a {background: url(../../images/common/img_sns_youtube.svg) center no-repeat;}
                            &.sx a {background: url(../../images/common/img_sns_sx.svg) center no-repeat;}
                            &.fb a {background: url(../../images/common/img_sns_facebook.svg) center no-repeat;}
                            &.blog a {background: url(../../images/common/img_sns_blog.svg) center no-repeat;}
                        }
                    }
                }
            }
            .menuGroup {
                width: 100%; max-width:1480px; margin: 0 auto; padding: 16px 20px; border-top: 1px solid var(--Bg-Line-line-100); display: flex; gap: 24px;
                .item {
                    width: max-content; height: 24px; display: flex;
                    &:first-child a {color: var(---Primary); font-weight: 700;;}
                    a {
                        width: max-content; height: 100%; padding-top: 1px; color: var(--Gray-800, #2C2C2C); font-size: rem(16px); font-weight: 400; line-height: 1; display: block; align-content: center;
                    }
                }
            }
            .copyGroup {
                width: 100%; max-width:1480px; margin: 0 auto; padding: 0 20px; display: flex;
                .copy {
                    color: #555; font-size: rem(14px); font-weight: 400; line-height: 1;
                }
            }
        }
    }
    @include media('tablet'){
        .footArea {
            .addressArea {
                .addressGroup {
                    flex-wrap: wrap;
                    .alignL {
                        width: 100%; 
                    }
                    .alignR {
                        width: 100%; margin-top: 35px;
                    }
                }
                .menuGroup {
                    flex-wrap: wrap; gap: 5px 24px;
                }
            }
        }
    }
    @include media('mobile'){
        .footArea {
            .siteArea {
                border: 0;
                .siteGroup {
                    padding:0; border-top: 1px solid var(--Bg-Line-line-100); flex-wrap: wrap;
                    .item {
                        width: 100%; height: 49px; border:0; border-bottom: 1px solid var(--Bg-Line-line-100);
                        &:first-child {border-left: 0;}
                        a {
                           font-size: rem(14px);
                        }
                    }
                }
            }
            .addressArea {
                padding: 32px 0 40px;
                .logoGroup {
                    .logoBox {
                        width: 100px; height: 20px;
                        svg {width: 100%;}
                    }
                }
                .addressGroup {
                    padding: 24px 20px;
                    .alignL {
                        width: 100%; 
                        .adressBox {
                            width: 100%; 
                            .adressLine {
                                width: 100%; margin-top: 10px; display: flex; flex-wrap: wrap; gap: 10px 18px;
                                span {
                                    margin-right: 0; font-size: rem(12px);
                                }
                            }
                        }
                    }
                    .alignR {
                        width: 100%; margin-top: 28px;
                        .other {
                            a {
                                font-size: rem(12px); background: url(../../images/common/ic_ft_arr.svg) right 4px center / 12px no-repeat;
                            }
                        }
                        .sns {
                            margin-top: 8px; gap: 12px;
                            li {
                                width: 30px; height: 30px;
                                &.inst a {background: url(../../images/common/img_sns_instagram.svg) center / 30px no-repeat;}
                                &.utube a {background: url(../../images/common/img_sns_youtube.svg) center / 30px no-repeat;}
                                &.sx a {background: url(../../images/common/img_sns_sx.svg) center / 30px no-repeat;}
                                &.fb a {background: url(../../images/common/img_sns_facebook.svg) center / 30px no-repeat;}
                                &.blog a {background: url(../../images/common/img_sns_blog.svg) center / 30px no-repeat;}
                            }
                        }
                    }
                }
                .menuGroup {
                    flex-wrap: wrap; gap: 10px 12px;
                    .item {
                        height: 14px;
                        a {
                            font-size: rem(12px);
                        }
                    }
                }
                .copyGroup {
                    .copy {
                        font-size: rem(12px);
                    }
                }
            }
        }
    }
}