/* --------------------------- 완료 안내문 --------------------------- */
.cptComplete {
    width: 100%; margin-top: 40px; display: flex; flex-wrap: wrap; justify-content: center;
    &.mgh {margin-top: 80px;}
    .compArea {
        padding-top: 116px; background: url(../../images/common/ic_76_complete.svg) center top no-repeat;
        .title {
            color: var(--Gray-900); font-size: rem(30px); font-weight: 500; line-height: 1.4; text-align: center;
        }
        .titleDesc {
            margin-top: 12px; color: var(--Gray-500); font-size: rem(18px); font-weight: 400; line-height: 1.6; text-align: center;
        }
        .msg {
            margin-top: 24px; color: var(--Gray-700); font-size: rem(18px); font-weight: 400; line-height: 1.6; text-align: center;
            em {color: var(--Gray-800); font-weight: 700;}
        }
    }

    @include media('mobile'){
        margin-top: 40px;
        &.mgh {margin-top: 40px;}
        .compArea {
            padding-top: 84px; background: url(../../images/common/ic_76_complete.svg) center top / 60px no-repeat;
            .title {
                font-size: rem(22px); font-weight: 600;
            }
            .titleDesc {
                font-size: rem(16px);
            }
            .msg {
                font-size: rem(16px);
            }
        }
    }
}