.cptPersonDesc {
    margin-top: 60px;
    &:first-child {margin-top: 0;}

    .profBox {
        margin-top: 20px; padding: 60px 40px 60px 60px; border-radius: 20px; background: var(--Bg-Line-bg-50); display: flex; column-gap: 80px; position: relative;
        .chkArea {
            position: absolute; top: 24px; right: 40px;
            label {padding-left: 32px; font-size: rem(16px); color: var(--Gray-600); font-weight: 500; line-height: 1.6; background: url(../../images/common/ic_24_chk_star_off.svg) left center no-repeat; cursor: pointer;}
            input[type=checkbox]:checked + label {background-image: url(../../images/common/ic_24_chk_star_on.svg);}
        }

        .photoArea {
            flex: 0 1 auto; padding-top: 20px;
            .thumArea {
                width: 186px; height: 186px; padding: 13px; background: url(../../images/common/thum_person_border.svg) center no-repeat;
                .thumWrap {
                    width: 100%; height: 100%; border-radius: 50%; overflow: hidden; text-align: center;
                    img {width: 100%; height: auto; object-fit: cover; object-position: top;}
                }
            }
            .txtArea {
                margin-top: 24px; text-align: center;
                .name {font-size: rem(40px); font-weight: 500; color: var(--Gray-900); display: block;}
                .date {font-size: rem(16px); font-weight: 300; color: var(--Gray-600); line-height: 1.6; font-style: normal; display: block;}
                .cateGroup {
                    margin-top: 12px;
                    .cate {
                        height: 24px; padding: 0 8px; border-radius: 4px; line-height: 24px; font-size: rem(12px); color: #fff; font-weight: 600; background: var(--Gray-500); display: inline-block; vertical-align: middle;
                        &.blue {background: var(--Point-Blue);}
                        &.mint {background: var(--Point-Primary2);}
                        &.orange {background: var(--Point-Orange);}
                    }
                }
            }
        }

        .infoArea {
            flex: 0 1 auto; 
            .infoGroup {
                display: flex; gap: 20px 80px; align-items: flex-start; flex-wrap: wrap;
                .infoItem {
                    flex: 0 0 calc(50% - 40px);

                    .infoTit {padding-bottom: 8px; margin-bottom: 16px; border-bottom: 1px solid var(--Gray-900); font-size: rem(20px); color: var(--Gray-900); font-weight: 700; line-height: 1.4;}
                    .dlList {
                        .item {
                            margin-top: 8px; display: flex; position: relative;
                            &:first-child {margin-top: 0;}
                            .tit {min-width: 125px; font-size: rem(16px); color: var(--Gray-700); line-height: 1.6; font-weight: 400; display: inline-block; vertical-align: middle; flex: 1 0 34%;}
                            .txt {
                                font-size: rem(16px); color: var(--Gray-900); line-height: 1.6; font-weight: 600; font-style: normal; display: inline-block; vertical-align: middle;flex: 1 1 66%;
                                &.etc {font-weight: 400;}
                            }
                            .popIcon {width: 20px; height: 20px; margin-left: 8px; font-size: 0; background: url(../../images/common/ic_20_pop_open.svg) center no-repeat; vertical-align: text-top;}
                            a {text-decoration: underline; text-underline-position: under;}
                        }
                    }

                    // 항목 width:100%
                    &.full {
                        flex: 0 0 100%;
                        .dlList {
                            display: flex; column-gap: 80px;
                            .item {flex: 0 0 calc(50% - 40px); margin-top: 0;}

                            &.full {
                                flex-direction: column; gap: 8px 0;
                                .item {
                                    flex: none;
                                    .tit {
                                        flex: 0 calc( calc(100% - 80px) * 0.17 );
                                    }
                                    .txt {
                                        flex: 1;
                                    }
                                    .thumList {
                                        flex: 1; display: flex; gap: 0 24px; flex-wrap: wrap;
                                        .thum {
                                            width: 180px; max-width: 100%;
                                            img {display: block; max-width: 100%; border-radius: 12px; overflow: hidden;}
                                        }
                                    }
                                }
                                @include media('mobile') {
                                    .item {
                                        .tit {
                                            flex: 0 0 40%;
                                        }
                                        .txt {
                                            flex: 1;
                                        }
                                        .thumList {
                                            flex: 1; gap: 16px 0;
                                            .thum {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .dataPart {
        margin-top: 60px;
        .comTitH3 {
            position: relative;
            .comInfoLayerPop {left: auto; right: 0;}
        }
    }

    .digramPart {
        width: 100%; margin-top: 60px;
        .comTitH2 {
            margin-top: 60px;
            &:first-child {margin-top: 0;}
            }
    }

    @include media("tablet"){
        .profBox {
            flex-wrap: wrap; row-gap: 36px;
    
            .photoArea {
                flex: 0 0 100%;
                .thumArea {margin: 0 auto;}
            }
        }
    }

    @include media("mobile"){
        margin-top: 40px;
    
        .profBox {
            margin-top: 12px; padding: 20px 24px 32px; row-gap: 36px; flex-wrap: wrap;
            .chkArea {position: static;}
    
            .photoArea {
                flex: 0 0 100%; padding-top: 10px;
                .thumArea {margin: 0 auto;}
                .txtArea {
                    margin-top: 20px;
                    .name {font-size: rem(30px); font-weight: 700;}
                }
            }
    
            .infoArea {
                flex: 0 1 100%; 
                .infoGroup {
                    gap: 32px;
                    .infoItem {
                        flex: 0 0 100%;
    
                        .infoTit {padding-bottom: 12px; font-size: rem(18px);}
                        .dlList {
                            .item {
                                .tit {min-width: 120px; font-size: rem(15px); flex: 1 0 40%;}
                                .txt {font-size: rem(15px);flex: 1 1 60%;}
                                .popIcon {margin-left: 4px;}
                            }
                        }
    
                        // 항목 width:100%
                        &.full {
                            .dlList {
                                flex-wrap: wrap;
                                .item {
                                    margin-top: 8px; flex: 0 0 100%;
                                    &:first-child {margin-top: 0;}
                                }
                            }
                        }
                    }
                }
            }
            
            .comInfoLayerPop {
                width: calc(100% + 46px); left: -23px;

                .popWrap {
                    .popBody {height: 225px;}
                }
            }
        }
        
        .dataPart {
            margin-top: 40px;
        }

        .digramPart {
            margin-top: 40px;
            .comTitH2 {
                margin-top: 40px;
            }
        }
    }

    
    // 예외 클래스
    &.inPopup {
        .profBox {
            padding: 50px 24px 32px; column-gap: 32px;
            .chkArea {right: 24px; top: 20px;}
            .infoArea {
                .infoGroup {
                    gap: 40px 32px;
                    .infoItem {
                        flex: 0 0 calc(50% - 16px);
                        .dlList {
                            .item {
                                .tit {min-width: 120px; font-size: rem(15px);}
                                .txt {font-size: rem(15px);}
                            }
                        }
                        &.full {
                            flex: 0 0 100%;
                            .dlList {
                                column-gap: 32px;
                            }
                        }
                    }
                }
            }
        }
        @include media("mobile"){
            .profBox {
                padding: 20px 24px 32px;
                .infoArea {
                    .infoGroup {
                        gap: 32px;
                        .infoItem {
                            flex: 0 0 100%;
                        }
                    }
                }
            }
        }
    }
    // &.inPopup {
    //     .sectArea {
    //         display: flex; flex-wrap: wrap; gap: 40px 32px; align-items: flex-start;
    //         .profPart {
    //             flex: 0 0 330px; margin-top: 0; flex-wrap: wrap;
        
    //             .profBox {
    //                 width:100%; flex-wrap: wrap;padding: 60px 24px 32px; margin-top: 0; border-radius: 20px; row-gap: 40px; 
                    
    //                 .chkArea {
    //                     position: absolute; top: 16px; left: 24px;
    //                 }
    //                 .photoArea {
    //                     flex: 0 1 100%; padding-top: 0;
    //                     .thumArea {margin: 0 auto;}
    //                     .txtArea {
    //                         margin-top: 20px; 
    //                         .name {font-size: rem(30px);}
    //                     }
    //                 }
            
    //                 .infoArea {
    //                     flex: 0 1 100%; 
    //                     .infoGroup {
    //                         gap: 32px;
    //                         .infoItem {
    //                             flex: 0 0 100%;
            
    //                             .dlList {
    //                                 .item {
    //                                     .tit {min-width: 120px; font-size: rem(15px);flex: 1 0 42%;}
    //                                     .txt {font-size: rem(15px);flex: 1 1 38%;}
    //                                 }
    //                             }
            
    //                             // 항목 width:100%
    //                             &.full {
    //                                 flex: 0 0 100%;
    //                                 .dlList {
    //                                     display: block;
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }    
    //             }
                            
    //         }
    //         .dataPart {
    //             flex: 0 1 calc(100% - 362px); margin-top: 0; width: calc(100% - 362px);
    //         }
    //         .digramPart {
    //             margin-top: 0; position: relative;
    //             &::before {display: block; content: ""; width: calc(100% + 64px); height: 10px;margin-left: -32px; margin-bottom: 40px; background: #f4f6fa;}
    //         }
    //     }

    //     @include media("mobile"){
    //         .sectArea {
    //             gap: 0;
    //             .profPart {
    //                 flex: 1 0 100%;  
    //                 .profBox {
    //                     .infoArea {
    //                         .infoGroup {
    //                             .infoItem {
    //                                 .dlList {
    //                                     .item {
    //                                         .tit {flex: 1 0 24%;}
    //                                     }
    //                                 }
    //                             }
    //                         }
    //                     }
    //                 }
    //             }
    //             .dataPart {
    //                 flex: 1 0 100%; margin-top: 40px; width: 100%;
    //             }
    //         }
    //     }
    // }

}