<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: [],
                    subTitle: '건전베팅가이드',
                    subText: '건전한 베팅 문화를 위한 안내서,<br class="pcView"><b>건전베팅가이드</b>에서 알려드려요.',
                    url: "../../",
                }) %>
                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <div class="layoutContArea">
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>오락지출표</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>경제수준에 맞는 오락문화지출</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">자신의 소득수준에 맞는 베팅을 권장합니다.</p>
                            </div>

                            <div class="comDataTable both"><!-- addClass - row: th가 body에 존재, both: th가 thead와 body에 존재 -->
                                <div class="tableArea sizeL">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>구분</th>
                                                <th>전체평균</th>
                                                <th>1분위</th>
                                                <th>2분위</th>
                                                <th>3분위</th>
                                                <th>4분위</th>
                                                <th>5분위</th>
                                                <th>6분위</th>
                                                <th>7분위</th>
                                                <th>8분위</th>
                                                <th>9분위</th>
                                                <th>10분위</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>평균 월소득</th>
                                                <td>4,849,000원</td>
                                                <td>693,000원</td>
                                                <td>1,628,000원</td>
                                                <td>2,418,000원</td>
                                                <td>3,033,000원</td>
                                                <td>3,662,000원</td>
                                                <td>4,452,000원</td>
                                                <td>5,344,000원</td>
                                                <td>6,493,000원</td>
                                                <td>8,094,000원</td>
                                                <td>12,651,000원</td>
                                            </tr>
                                            <tr>
                                                <th>오락문화 지출액<br>(월 사용액)</th>
                                                <td>180,000원</td>
                                                <td>57,000원</td>
                                                <td>86,000원</td>
                                                <td>192,000원</td>
                                                <td>100,000원</td>
                                                <td>125,000원</td>
                                                <td>173,000원</td>
                                                <td>207,000원</td>
                                                <td>233,000원</td>
                                                <td>249,000원</td>
                                                <td>380,000원</td>
                                            </tr>
                                            <tr>
                                                <th>비율</th>
                                                <td>3.7%</td>
                                                <td>8.2%</td>
                                                <td>5.3%</td>
                                                <td>7.9%</td>
                                                <td>3.3%</td>
                                                <td>3.4%</td>
                                                <td>3.9%</td>
                                                <td>3.9%</td>
                                                <td>3.6%</td>
                                                <td>3.1%</td>
                                                <td>3.0%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="cptEtcInfo">
                                <div class="infoBox">
                                    <dl class="info">
                                        <dt>
                                            <em class="tit">건전한 베팅을 위한 Tip!</em>
                                            <span class="subTit">건전 베팅 방법</span>
                                        </dt>
                                        <dd>
                                            <ul class="qnaList">
                                                <li class="qnaItem">
                                                    <p class="qTit">
                                                        <span class="bullet">여가로 게임을 즐기세요.</span>
                                                    </p>
                                                    <div class="aTxt">
                                                        <p class="pharse">
                                                            여가란 개인, 가족들과 함께 즐기면서 에너지를 충전하고 보다 건강한 삶을 살기 위한 활동입니다.
                                                            <br>그러나 즐기는 범위를 넘어선 게임은 에너지를 고갈시키고, 피로와 경제적 손실, 그리고 심리사회적 박탈감을 초래합니다.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="qnaItem">
                                                    <p class="qTit">
                                                        <span class="bullet">여가만큼만 비용을 지불하세요.</span>
                                                    </p>
                                                    <div class="aTxt">
                                                        <p class="pharse">
                                                            여가에서는 비용이 발생합니다.
                                                            <br>그만큼만 지불하고 다른 여가처럼 비용을 꼼꼼히 계산하고 가족이 수용할 수 있는 범위 내에서 게임을 하시기 바랍니다.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="qnaItem">
                                                    <p class="qTit">
                                                        <span class="bullet">한계와 제한점을 지키세요.</span>
                                                    </p>
                                                    <div class="aTxt">
                                                        <p class="pharse">
                                                            베팅을 하러 갈 때 신용카드는 집에 두고 하루의 베팅 금액을 정해서 그 액수만 지참합니다.
                                                            <br>월별 지출 계획서를 작성하고 월급을 타면 필요 자금을 우선 떼어놓고 남은 경비를 가지고 베팅을 합니다.
                                                        </p>
                                                        <div class="comAddGuide point">
                                                            <p class="guide">돈을 빌려서 하는 베팅은 절대로 하면 안돼요.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="qnaItem">
                                                    <p class="qTit">
                                                        <span class="bullet">확률을 인정하고 존중하세요.</span>
                                                    </p>
                                                    <div class="aTxt">
                                                        <p class="pharse">
                                                            스스로의 능력을 과신하지 마세요.
                                                            <br>베팅은 멈추는 수익률을 미리 정하고 그 수익률을 철저히 지킵니다.
                                                            <br>베팅은 확률 게임이므로 분석을 통해 승률이 높은 곳에 베팅을 합니다.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="cptQuickMove">
                                <div class="boxArea">
                                    <div class="quickBox">
                                        <div class="txtArea">
                                            <em class="point">당신의 베팅, 건강한가요? 몰입베팅 측정을 통해 확인하세요.</em>
                                            <p class="desc">몰입베팅 자가진단을 통해 건강한 베팅 습관을 만들어나가세요.</p>
                                        </div>
                                        <div class="btnArea multiBtn">
                                            <a href="#" class="btn Primary"><span>몰입베팅 자가진단</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>