.lytMypage {
    .layoutArea{
        .layoutTop{
            width:100%; height:176px; background: #EDF5F2; /*position: sticky; left: 0; top: 0; z-index: 100;*/
            @include media('mobile'){
                height:70px;
            }
        }
        .layoutContainer{
            --lnb-width: 320px;
            width:100%;
            .layoutCont{

            }
            .layoutSubCont{
                display: flex; align-items: flex-start; flex-wrap: wrap; width: 100%; max-width: 1480px; padding: 60px 20px 0; margin: 0 auto 120px; position: relative;
                .layoutLnbArea {
                    display: flex; flex-direction: column-reverse; width: var(--lnb-width); padding-right: 60px;
                    .lnbArea {
                        padding: 32px 40px; border-radius: 16px; border: 1px solid var(--Bg-Line-line-100);
                        .lnbTit {margin-bottom: 20px; font-size: rem(20px);}
                        .lnbMenu {
                            & > li {
                                margin-top: 16px;
                                a > span {
                                    display: inline-block;
                                }
                                &.on > a > span {
                                    position: relative;
                                    font-weight: 700;
                                    &::after {
                                        display: block; content: ""; width: calc(100% + 4px); height: 12px; background: #a1f4c7; position: absolute; left: -2px; bottom: 0; z-index: -1;
                                    }
                                }
                            }
                        }
                    }
                    .userArea {
                        margin-bottom: 60px; padding: 24px 40px 24px 24px; font-size: rem(14px); border-radius: 16px; border: 1px solid var(--Bg-Line-line-100);
                        .grade {
                            display: inline-flex; height: 22px; margin-bottom: 8px; padding: 0 8px; justify-content: center; align-items: center; font-size: rem(12px); border-radius: 4px; border: 1px solid var(--Gray-500); white-space: nowrap;
                        }
                        .info {
                            color: var(--Gray-600);
                            .state {
                                margin-left: 4px;
                            }
                            &.user {
                                font-weight: 500;
                                strong {
                                    font-size: rem(20px); color: var(--Gray-900);
                                }
                            }
                        }
                        .shortcut {
                            display: block; margin-top: 12px;
                        }
                        .txtBtn {
                            display: inline-flex; padding-right: 16px; text-align: right; font-size: rem(14px); color: var(--Gray-600); background: url(../../images/common/ic_12_arr_right_g.svg) right center no-repeat;
                        }
                    }
                }
                .layoutContArea {
                    width: calc(100% - var(--lnb-width));
                    margin-left: auto;
                    .cptSubTop {
                        background-color: transparent;
                        .subTopArea {
                            padding: 0;
                            .location {
                                margin-top: -60px; padding: 22px 0 20px;
                            }
                            .subTitle {
                                display: flex; align-items: center; justify-content: space-between; margin: 0 0 20px;
                                h1 {
                                    font-size: rem(24px); color: var(--Grey-900); font-weight: 700; line-height: 1.4; word-break: keep-all;
                                    &::after {content: none;}
                                    // h2 {font-size: rem(20px);}
                                }
                                .right {
                                    display: flex; align-items: center; margin-left: auto;
                                    .frmBox {
                                        width: 160px; max-width: 160px;
                                        .iptSlt {height: 36px; font-size: 14px; background-position: right 16px center;}
                                    }
                                    .txtBtn {padding-right: 16px; text-align: right; font-size: rem(14px); color: var(--Gray-600); background: url(../../images/common/ic_12_arr_right_g.svg) right center no-repeat;}
                                    .popIcon:not(:last-child) {margin-right: 6px;}
                                    .selectDate {
                                        display: flex; gap: 8px; align-items: center;
                                        .val {margin-right: 12px; padding-top: 1px; font-size: rem(15px);}
                                        button {
                                            position: relative; width: 24px; height: 24px; border-radius: 6px; border: 1px solid var(--Gray-300); text-indent: -99999px; overflow: hidden;
                                            &::before {
                                                content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: url(../../images/common/ic_12_arr_right_g.svg) center center no-repeat;
                                            }
                                            &.prev {
                                                transform: rotate(180deg);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        & + .cptDataSum,
                        & + .modTab {
                            margin-top: 0 !important;
                        }
                    }
                    .popIcon {
                        position: relative; display: inline-block; width: 20px; height: 20px; background: url(../../images/common/ico_guide_default.svg) no-repeat center center; text-indent: -99999px; overflow: hidden; vertical-align: middle;
                    }
                    
                    .tooltipBox {
                        width: 280px; padding: 16px 23px 16px 16px; border-radius: 8px; border: 1px solid var(--Point-Primary2); background: #fff; position: absolute; z-index: 99; display: none; box-shadow: 10px 10px 10px 0px rgba(40, 195, 158, 0.10);
                        .btnClose {width: 16px; height: 16px; font-size: 0; background: url(../../images/common/ic_12_close.svg) center no-repeat; position: absolute; top: 8px; right: 8px;}
                        .txt {font-size: rem(15px); font-weight: 500; line-height: 1.6; color: var(--Gray-800); text-align: left;}
                        .btnMore {
                            display: inline; font-size: rem(15px); color: var(---Primary);
                            &::after {display: inline-block; content: ""; width: 16px; height: 16px; margin-left: 2px; background: url(../../images/common/ic_16_new_window_mint.svg) center no-repeat; vertical-align: text-top;}
                        }
                        &::after {display: block; content: ""; width: 14px; height: 14px; background: url(../../images/common/ic_14_ballon_tail.svg) center no-repeat; position: absolute; top: -12px; left: 30px; z-index: 1;}
                        &.on {display: block;}
                        &.point01 {
                            left: -10px; top: 40px;
                            &::after {left: 85px;}
                        }
                    }

                    & > [class^=cpt] {
                        .comGroupTop .tit {
                            font-size: rem(18px); font-weight: 700;
                        }
                        .comTitH3 h3 {
                            padding-left: 0; background: none;
                        }
                        .comBoardInfoBox {
                            width: 100%; margin: 0; padding: 24px; background-color: transparent; border-radius: 12px; border: 2px solid var(--Gray-900);
                        }
                    }
                    .cptJoinTable {
                        margin-top: 60px;
                        .joinArea {
                            max-width: 100%; padding-top: 0;
                            .tbBox {
                                max-width: 600px;
                            }
                                        
                            @include media('tablet'){
                                .tbBox {
                                    max-width: 100%;
                                }
                            }   
                        }
                    }

                    &.myMain {
                        .cptSubTop + * {
                            margin-top: 0 !important;
                        }
                        & > [class^=cpt] {
                            &:not(.cptSubTop) {
                                margin-top: 100px;
                            }
                            .comTitH2 {
                                margin: 0 0 20px;
                            }
                        }
                        .modTab {
                            margin-top: 12px;
                        }
                        .cptDataSum + [class^=cpt] {
                            margin-top: 60px;
                        } 
                        .cptPersonList .prsnList {
                            gap: 60px 56px;
                        }
                    }
                }

                @include media('tablet'){
                    width: 100%; padding: 0 16px;
                    .layoutLnbArea {
                        flex-direction: column; width: 100%; padding-right: 0;
                        .lnbArea {
                            position: relative; margin: 0 -16px 10px; padding: 0; border-radius: 0; border: 0;
                            &::before,
                            &::after {
                                content: ""; position: absolute; top: 100%; left: 0; width: 100%; height: 10px; background: #f4f6fa; z-index: -1;
                            }
                            &::before {height: auto; border-bottom: 1px solid var(--Bg-Line-line-100); z-index: 0;}
                            .lnbTit {
                                width: 1px; height: 1px; margin: -1px; border: 0; overflow: hidden; clip: rect(1px,1px,1px,1px); clip-path: inset(50%);
                            }
                            .lnbMenu {
                                display: flex; white-space: nowrap; padding: 0 0 0 16px; overflow-x: auto;
                                & > li {
                                    margin: 0 20px 0 0;
                                    &:last-child {
                                        margin-right: 16px;
                                    }
                                    a {
                                        display: flex; align-items: center; height: 56px;
                                    }
                                }
                            }
                        }
                        .userArea {
                            display: flex; flex-wrap: wrap; margin: 32px 0; padding: 20px;
                            .grade {
                                margin-right: 16px; margin-bottom: 0;
                            }
                            .info { 
                                margin-right: 8px;
                                &:last-of-type {
                                    margin-right: 32px;
                                }
                                &.user {
                                    display: inline-flex; align-items: center; flex-wrap: wrap; width: 100%; margin-bottom: 10px;
                                    br {
                                        display: none;
                                    }
                                    strong {
                                        margin-right: 4px;
                                    }
                                }
                            }
                            .shortcut {
                                margin-top: 0;
                            }
                        }
                    }
                    .layoutContArea {
                        width: 100%;
                        .cptSubTop {
                            .subTopArea {
                                .location {
                                    display: none;
                                }
                                .subTitle {
                                    margin: 32px 0 12px;
                                    h1 {
                                        font-size: rem(20px);
                                    }
                                    .right .frmBox {
                                        width: 120px;
                                        max-width: 120px;
                                    }
                                }
                            }
                        }
                    }
                }

                @include media('mobile'){
                    .layoutLnbArea {
                        padding-top: 66px;
                        .lnbArea {
                            position: fixed; top: 72px; left: 0; width: 100%; margin: 0; background-color: #fff; z-index: 100;
                        }
                    }
                    .layoutContArea {
                        .cptBoardList,
                        .cptSection:not(:first-of-type),
                        .cptDataSum + .cptSection {
                            margin-top: 40px;
                        }
                        .modTab {
                            margin-top: 0;
                            .tabContianer {
                                margin-top: 40px;
                            }
                        }
                        & > [class^=cpt] {
                            .comGroupTop {
                                .alignR .opList {
                                    margin-top: 0;
                                }
                                &.reverse {
                                    flex-direction: column;
                                    .alignL {
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                        &.myMain {
                            & > [class^=cpt] {
                                &:not(.cptSubTop) {
                                    margin-top: 60px;
                                }
                            }
                            .cptBoardList .boardListArea .comTitH2 {
                                display: flex;
                            }
                        }
                    }

                }
            }
        }
        .layoutFooter{

        }
    }
}

// 임시 
.tempArea {display: flex; align-items: center; justify-content: center; padding: 64px 0; background-color: #aaa; color: #fff; font-weight: 300; text-transform: uppercase; letter-spacing: 0;}

// .lytMypage .layoutContArea > [class^=com],
// .lytMypage .layoutContArea > [class^=cpt],
// .lytMypage .layoutContArea > .modTab {
//     position: relative;
//     &::after {content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; border: 1px dashed red;}
//     &[class^=com]::after {border-color: blue !important;}
// }








// 영문해더
.cptHeaderEn {
    width:100%; background: #fff; position: fixed; left:0; top:0; z-index: 100;
    .headArea {
        display: flex; max-width: 1480px; margin: 0 auto; padding: 0 20px;
        .headBox {
            display: flex; align-items: center; width: 100%; height: 78px;
            .logoBox {
                width: 239px; margin-right: 48px;
                .logo {
                    width: 100%;
                }
            }
            .quickBox {
                position: relative; height: 30px; margin-left: auto; z-index: 100;
                .linkName {
                    color: var(--Gray-800); font-size: rem(13px); font-weight: 700;
                }
                .quickSltBtn {
                    position: relative; display: inline-flex; align-items: center; min-width: 96px; height: 30px; padding: 0 36px 0 12px; z-index: 1;
                    background: url(../../images/common/ic_12_down_arr.svg) no-repeat right 12px center;
                    .linkName {
                        padding: 1px 0 0 18px; background: url(../../images/common/ic_head_lang.svg) no-repeat 0 center;
                    }
                }
                .guickMenuGroup {
                    position: absolute; top: 0; left: 0; width: 100%; min-height: 30px; padding-top: 27px; border-radius: 16px; border: 1px solid #B1B1B1; background-color: #fff; overflow: hidden;
                    .item {
                        display: none; 
                        > * {
                            display: block; padding-left: 20px;
                            &:hover {background: var(--Bg-Line-bg-200);}
                        }
                    }
                }
                &.on, &:hover, &:focus {
                    .guickMenuGroup {
                        padding-bottom: 10px;
                        .item {
                            display: block;
                        }
                    }
                }
                & + .allMenuEn {
                    margin-left: 28px;
                }
            }
        }
        .gnbBox {
            display: flex; align-items: center; height: 78px;
            .depth1Group {
                display: flex; align-items: center; height: 100%;
                .depth1Menu {
                    height: 100%; align-content: center;
                    .depth1Name {
                        display: block; height: 100%; align-content: center;
                        padding: 0 30px; color: var(--Gray-800); font-size: rem(20px); font-weight: 700; line-height: 1.3;
                    }
                    &:has(.depth2Area) {
                        .depth1Name {
                            //
                        }
                        &.on, &:hover, &:focus {
                            .depth1Name {
                                // 
                            }
                            .depth2Area {
                                display: block; height: auto;
                            }
                        }
                    }
                    &.on, &:hover, &:focus {
                        .depth1Name {
                            color: #000;
                            
                            > span {
                                position: relative;
                                font-weight: 700;
                                &::after {
                                    display: block; content: ""; width: 100%; height: 12px; background: #a1f4c7; position: absolute; left: -2px; bottom: 0; z-index: -1;
                                }
                            }
                        }
                    }
                }
            }
            .depth2Area {
                width: 100%; height:0; position: absolute; left: 0; top: 78px; background: #fff; border-top: 1px solid var(--Bg-Line-line-100);
                box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1); z-index: 99; display:none; overflow: hidden; 
                .depth2Box {
                    // display: flex; justify-content: space-between;
                    width: 100%; max-width: 1480px; height: 100%; margin: 0 auto; padding: 24px 20px; 
                    .depth2Group {
                        display: flex; gap: 0 100px;
                        .depth2Menu {
                            flex: 1;
                            .depth2Name {
                                display: block; font-size: rem(18px); font-weight: 700;
                            }
                        }
                    }
                    .depth3Group {
                        margin-top: 4px; margin-bottom: 16px; padding-top: 20px; border-top: 1px solid #52555B;
                        .depth3Menu {
                            position: relative; padding-left: 12px;
                            &::after {
                                content: ""; position: absolute; left: 0; top: 10px; width: 4px; height: 4px; background: var(--Gray-800);
                            }
                            &:not(:first-child) {
                                margin-top: 24px;
                            }
                            .depth3Name {
                                font-size: rem(16px); font-weight: 700; 
                            }
                        }
                    }
                    .depth4Group {
                        .depth4Menu {
                            margin-top: 8px;
                            .depth4Name {
                                font-size: rem(15px); color: #555;
                                &:hover, &:focus {
                                    color: #000; text-decoration: underline; text-underline-position: under;
                                }
                            }
                        }
                    }
                }
            }
        }
        .allMenuEn {
            width: 24px; height: 100%; margin-left: auto; font-size: 0; background: url(../../images/common/ic_all_menu.svg) center no-repeat;
        }
    }
    @include media('pcs'){
        .headArea {
            .gnbBox {
                .depth1Group {
                    display: none;
                }
            }
        }
    }
    @include media('mobile'){
        .headArea {
            .headBox {
                .logoBox {
                    margin-right: 0;
                }
                .quickBox {
                    display: none;
                    & + .allMenuEn {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    // for main
    // &.inMain {}
    @at-root {
        .lytMain & {
            position: absolute;
        }
        @include minWidth('mobile'){
            .lytMain & { 
                &:not(.on) {
                    background: transparent;
                    .headArea {
                        .headBox {
                            .logoBox .logo path {
                                fill: #fff;
                            }
                            .quickBox {
                                .quickSltBtn {
                                    background: url(../../images/common/ic_12_down_arr_w.svg) no-repeat right 12px center;
                                    span {
                                        color: #fff;
                                        background: url(../../images/common/ic_head_lang_w.svg) no-repeat 0 center;
                                    }
                                }
                                .guickMenuGroup {
                                    background-color: transparent;
                                    .item {
                                        > * {
                                            &:hover {background: var(--Gray-200);}
                                            > span {color: #fff;}
                                        }
                                    }
                                }
                                &.on, &:hover, &:focus {
                                    .guickMenuGroup {
    
                                        .item {
    
                                        }
                                    }
                                }
                            }
                        }
                        .gnbBox {
                            .depth1Group {
                                .depth1Menu {
                                    .depth1Name {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        .allMenuEn {
                            background: url(../../images/common/ic_all_menu_on.svg) center no-repeat;
                        }
                    }
                }
            }
        }
    }
}

.allMenuAreaEn {
    width: 100%; height: 100vh; background: #fff; position: fixed; left: 0; top: 0; z-index: 200; display: none; 
    &.on {
        display: block; opacity:0; animation: openAllMenu 0.15s linear forwards;
        @keyframes openAllMenu { 0% {opacity:0;} 100% {opacity:1;} }
    }
    @include minWidth('mobile'){
        // &:not(.inMain) { 
            *:hover::-webkit-scrollbar-thumb {
                background: rgba(87, 87, 87, 0.54);
            }
            *::-webkit-scrollbar {width:30px; padding:10px; background: #fff;}
            *::-webkit-scrollbar-thumb {padding:10px; border: 12px solid #fff; border-radius: 15px; background: rgba(87, 87, 87, 0.2);/* box-shadow: inset 6px 6px 0 rgba(87, 87, 87, 0.54); */ }
            *::-webkit-scrollbar-track{background-color: rgba(0,0,0,0);}
        // }
        
    }
    .allTop {
        width: 100%; height: 86px; background: #254862;
        .pcView {
            width: 100%; max-width: 1480px; padding: 23px 20px; margin: 0 auto; display: flex; justify-content: space-between;
            .logo {
                width: 276px; align-content: center;
                img {width: 100%; vertical-align: middle;}
            }
            .btnClose {
                width: 40px; height: 40px; font-size: 0; background: url(../../images/common/ic_40_close.svg) center no-repeat; align-content: center;
            }
        }
        .moView {
            display: none;
        }
    }
    .allMenuGroup {
        width: 100%; height: calc(100vh - 86px); overflow-y: scroll;
        .allMenuBox {
            width: 100%; max-width: 1480px; padding: 0 20px; margin: 0 auto; 
            .depth1Group {
                width: 100%;
                .depth1Menu {
                    width: 100%; padding: 60px 0; border-top: 1px solid var(--Bg-Line-line-100); display: flex;

                    &:first-child {
                        border-top: 0;
                    }
                    .depth1Name {
                        color: var(--Gray-900); font-size: rem(24px); font-style: normal; font-weight: 700; line-height: 1.4; flex-shrink: 0;
                    }
                    
                    &:has(.depth2Group) {
                        .depth1Name {
                            width: 17.3%; min-width: 220px;
                        }
                    }
                }
            }
            .depth2Group {
                width: 100%; display: flex; flex-wrap: wrap; gap: 40px 32px;
                .depth2Menu {
                    flex: 1; min-width: 240px;
                    .depth2Name {
                        color: #254862; font-size: rem(20px); font-style: normal; font-weight: 700; line-height: 1.4;
                    }
                }
            }
            
            .depth3Group {
                margin-top: 26px;
                .depth3Menu {
                    position: relative; padding-left: 12px;
                    &::after {
                        content: ""; position: absolute; left: 0; top: 10px; width: 4px; height: 4px; background: var(--Gray-800);
                    }
                    &:not(:first-child) {
                        margin-top: 32px;
                    }
                    .depth3Name {
                        color: var(--Gray-800); font-size: rem(18px); font-weight: 600;
                        
                    }
                }
            }
            .depth4Group {
                .depth4Menu {
                    position: relative; margin-top: 8px; margin-left: -12px; padding-left: 12px;
                    &::after {
                        content:''; position: absolute; left: 0; top: 12px; width: 4px; border-bottom: 1px solid var(--Gray-300);
                    }
                    .depth4Name {
                        font-size: rem(16px); color: #555;
                        &:hover, &:focus {
                            color: #000; box-shadow: inset 0 -12px 0 #A1F4C7; 
                        }
                    }
                }
            }
            
            .quickLink {
                width: 100%; padding: 20px 16px 32px; border-top: 1px solid var(--Bg-Line-line-200); position: absolute; left: 0; bottom: 0; display: none;
                .quickItem {
                    width: 100%; margin-top: 12px;
                    &:first-child {
                        margin-top: 0;
                        a {letter-spacing: -0.3px;}
                    }
                    a {
                        width: max-content; height: 24px; color: var(---Primary); font-size: rem(15px); font-weight: 600; line-height: 1.6; display: block;
                        &[target=_blank] {
                            padding-right: 18px; background: url(../../images/common/ic_link_blank_primary.svg) right center no-repeat;
                        }
                    }
                }
            }
        }
    }
    @include media('mobile'){
        .allTop {
            height: 72px; border-bottom: 1px solid #cdcdcd; background: #fff;
            .pcView {
                display: none;
            }
            .moView {
                display: flex; justify-content: space-between; width: 100%; padding: 20px 16px; 
                .quickLink {
                    display: flex; gap: 0 20px;
                    .quickItem {
                        & > a {
                            display: inline-block; height: 32px; padding: 0px 12px; line-height: 30px; border: 1px solid var(--Gray-600); border-radius: 6px;
                            font-size: rem(14px); font-weight: 400; color: var(--Gray-600);
                        }
                        span {
                            padding-right: 20px; background: url(../../images/common/ic_link_blank.svg) right 2px center no-repeat; white-space: nowrap;
                        }
                    }
                }
                .btnClose {
                    width: 24px; font-size: 0; background: url(../../images/common/ic_20_close.svg) center no-repeat; 
                }
            }
        }
        .allMenuGroup {
            .allMenuBox {
                padding: 0;
                .depth1Group {
                    .depth1Menu {
                        flex-direction: column; padding: 0; border-top: none; border-bottom: 1px solid var(--Bg-Line-line-100);
                        .depth1Name {
                            padding: 16px 16px; font-size: rem(20px); font-weight: 500;
                        }
                        &:has(.depth2Group) {
                            .depth1Name {
                                width: 100%; background: url(../../images/common/ic_20_allmenu_en.svg) right 16px top 20px no-repeat;
                            }
                        }
                        &.on {
                            .depth1Name {
                                font-weight: 700; background: url(../../images/common/ic_20_allmenu_en_on.svg) right 16px top 20px no-repeat;
                                > span {
                                    position: relative;
                                    &::after {
                                        display: block; content: ""; width: 100%; height: 12px; background: #a1f4c7; position: absolute; left: -2px; bottom: 0; z-index: -1;
                                    }
                                }
                            }
                            .depth2Group {
                                display: block;
                            }
                        }
                    }
                }
                .depth2Group {
                    display: none; overflow: hidden; background: #F3F5F8;
                    .depth2Menu {
                        .depth2Name {
                            display: block; padding: 16px 24px; font-size: rem(18px); color: var(--Gray-800); font-weight: 500; background: var(--Bg-Line-bg-100);
                        }
                        &:has(.depth3Group) {
                            .depth2Name {
                                background: var(--Bg-Line-bg-100) url(../../images/common/ic_20_extend.svg) right 16px top 20px no-repeat;
                            }
                        }
                        &.on {
                            .depth2Name {
                                font-weight: 700;
                            }
                            &:has(.depth3Group) {
                                .depth2Name {
                                    background: var(--Bg-Line-bg-100) url(../../images/common/ic_20_extend_on.svg) right 16px top 20px no-repeat;
                                }
                            }
                            .depth3Group {
                                display: block;
                            }
                        }
                    }
                }
                .depth3Group {
                    display: none; margin-top: 0; padding: 16px; overflow: hidden;
                    .depth3Menu {
                        padding-left: 0;
                        &:not(:first-child) {
                            margin-top: 14px;
                        }
                        &::after {
                            content: none;
                        }
                        .depth3Name {
                            display: block; padding: 12px 8px; font-size: rem(16px); color: var(--Gray-800); font-weight: 600;
                        }
                    }
                }
                .depth4Group {
                    padding-top: 14px; padding-left: 12px; border-top: 1px solid #e1e1e1;
                    .depth4Menu {
                        margin-top: 0; margin-left: 0;
                        &::after {
                            margin-top: 6px;
                        }
                        .depth4Name {
                            display: block; padding: 6px 0;
                            &:hover, &:focus {
                                box-shadow: none; 
                            }
                        }
                    }
                }
            }
        }
    }
}

// 영문푸터
.cptFooterEn {
    padding: 24px 20px 32px; background: var(--Bg-Line-bg-100);
    .addressGroup {
        display: flex; justify-content: space-between; width: 100%; max-width: 1480px; margin: 0 auto;
        .adressBox {
            .adressLine {
                font-size: rem(16px);
            }
        }
    }
    .copyGroup {
        width: 100%; max-width: 1480px; margin: 0 auto;
        .copy {
            font-size: rem(14px); color: #82858B;
        }
    }
    .siteBox {
        position: relative; 
        .siteGroup {
            display: none; position: absolute; bottom: 100%; right: 0; min-height: 30px; padding: 10px 0; border: 1px solid #B1B1B1; background-color: #fff; overflow: hidden;
            .item {
                > * {
                    display: block; padding: 5px 10px; white-space: nowrap;
                    &:hover {background: var(--Bg-Line-bg-200);}
                }
            }
        }
        .siteSltBtn {
            position: relative; padding: 8px 40px 8px 0; color: var(--Gray-800); font-size: rem(14px); font-weight: 600; text-transform: uppercase; text-align: left; line-height: 1; border-bottom: 1px solid #9B9B9B;
            &::after {
                content:''; position: absolute; top: 50%; right: 0; width: 20px; height: 20px; margin-top: -10px; background: url(../../images/common/ic_20_down_arr.svg) center no-repeat;
            }
        }
        &.on, &:hover, &:focus {
            .siteGroup {
                display: block;
            }
        }
    }
    
    @include media('mobile'){
        .addressGroup {
            flex-direction: column-reverse;
        }
        .siteBox {
            margin-bottom: 24px;
            .siteGroup {
                width: 100%;
            }
            .siteSltBtn {
                width: 100%;
            }
        }
        .copyGroup {
            margin-top: 16px;
        }
    }

    // for main
    @at-root {
        .lytMain & {
            background: transparent;
            .addressGroup {
                .adressLine {
                    color: #A5A6A8;
                }
            }
            .copyGroup {
                .copy {
                    color: #82858B;
                }
            }
            .siteBox {
                .siteSltBtn {
                    color: #e1e1e1; border-color: #E1E1E1;
                    &::after {
                        background: url(../../images/common/ic_20_down_arr_w.svg) center no-repeat;
                    }
                }
            }
        }
    }
}