<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경정",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
				<%- include('../_ejs/sub_top.ejs', {
                    location: ['경정 가이드', '경정 알아보기'],
                    subTitle: '경정 안내',
                    subText: '새로운 <b>참여형 레저 스포츠,</b> <br>경정에 대해 알려드릴게요.',
					url: "../../",
				}) %>
				
				<div class="layoutContArea">

					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2 bk lg">
                                <h2>경정은 기록 경주가 아닌 <b>순위를 다투는 경주</b>로, <b>참여형 마린 스포츠</b>입니다.</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">경정은 빠른 스피드를 자랑하는 박진감 넘치는 경기로 여러 가지 변수의 작용으로 예측 불허의 결과가 나오기도 하는 스릴 있는 레포츠입니다.<br/>
                                    계류장의 출발에서 골인에 이르기까지 관객은 우승선수의 예측과 함께 환상적인 물보라와 스피드를 만끽 하실 수 있습니다.</p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <div class="pcView"><img src="../../images/contents/cont21_01_01_01_001.png" alt="경정 이미지"></div>
                                        <div class="mView"><img src="../../images/contents/cont21_01_01_01_001_m.png" alt="경정 이미지"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH2">
                                <h2>경정의 종류</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>일반경주</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt"> 매주 수,목요일에에 개최되는 경정을 말합니다.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>대상경정</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt"><b>특정타이틀이 걸려있는 경정</b>을 말하며 일정기간 동안 우수한 성적을 기록한 선수들이 참가합니다. <br> 1, 2, 3위에 입상한 선수에게는 입상 트로피 등 수상이 부여됩니다.</p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>그랑프리 경정</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">마지막 전회에 시행되며 한 해 최고의 선수들이 출전하여 경정 챔피언을 가리는 대회입니다.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>특별경정</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">특별한 사업 목적을 가지고 개최되는 경정으로서 지금까지 쿠리하라 경정, 여왕전, 신인왕전 등이 개최된 바 있습니다.  </p>
                            </div>
						</div>
					</div>

					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2">
                                <h2>경주의 종류</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>플라잉스타트</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">경정만의 독특한 출발방식인 플라잉스타트는 6척의 모터보트가 전속력으로 대시계가 0초(12시방향)에서 1.0초를 가리키는 사이에 물위에 그려진 가상의 출발선을 통과합니다. 좀더 0초에 가까운 출발을 한 선수가 경주의 주도권을 쥡니다.</p>
                            </div>
                            <div class="comTitH3">
                                <h3>온라인스타트</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">온라인스타트 경주는 모든 선수들이 출발선에 서서 동시에 출발하는 것을 말합니다.</p>
                            </div>
						</div>
					</div>
                    
					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2">
                                <h2>경정의 투표금액</h2>
                            </div>

                            <div class="comBasicTxt">
                                <p class="txt">최소 100원에서 최대 10만원까지로 한정되어 있습니다.</p>
                            </div>
						</div>
					</div>

                </div><!-- // layoutContArea -->
                
                <div class="cptContFull addBg01">
                    <div class="sectArea">
                        <div class="comTitH2 bk lg">
                            <h2>경정은 수익금 모두를 사회에 환원하는 <b>공익사업</b>입니다.</h2>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">매출액 중 고객 환급금과 법정세금을 제외한 나머지 수득금을 개최경비를 제외하고 국민체육진흥기금, 지방재정지원 등 모두 사회에 환원하는 공익사업입니다.</p>
                        </div>
                        <div class="comImgBox">
                            <div class="imgWrap">
                                <img src="../../images/contents/cont01_01_01_01_002.png" alt="매출액 사용 그래프 이미지. 상세 하단 참조">
                            </div>
                        </div>
                        <div class="comBasicList">
                            <ul class="listGroup">
                                <li class="item">고객들이 경정 경주에 베팅한 <b>매출액의 72%는 적중고객에게 환급금</b>으로 지급되고, <b>매출액의 16%는 레저세, 교육세, 농어촌특별세 등으로 국가 및 지방재정 확충에 사용</b>에 사용됩니다.</li>
                                <li class="item"><b>매출액의 12%는 경주 개최 비용을 제외한 수익금 전액은 국민체육진흥기금, 문화예술진흥기금, 청소년육성기금 등에 배분</b>되어 국민들의 건강하고 행복한 삶을 위해 쓰이고 있습니다.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
				<div class="layoutContArea">

					<div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2 bk lg">
                                <h2>재미로 알아보는 <b>경정의 시작</b></h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">우리나라에서는 1991년 12월에 경륜경정법이 국회에서 제정된 이후 4년여의 준비 끝에 2002년 6월 미사경정공원에서 국내 최초로 경정사업이 시행되었습니다.</p>
                            </div>

                            <div class="comTitH2">
                                <h2>경정의 역사</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">1885년 독일에서 1.5마력 가솔린 엔진을 보트에 달아 달리게 한 것으로, 일본에서는 1911년 이시가와 조선소에서 최초로 제작되었습니다.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>최초의 모터보트 경주</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">1904년 영국에서 열린 국제레이스이며, 이듬해 1905년 미국에서 모터보트경주의 세계선수권대회라고 할 수 있는 제1회 골드컵이 개최되었습니다.</p>
                            </div>
                            <div class="comTitH3">
                                <h3>일본의 경정</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">1952년 4월 일본 나가사끼현 오오무라경정장에서 최초로 경정이 시작되어 지금까지 시행되고 있습니다.<br/>
                                    일본에서의 감독부처는 국토교통성으로, 지방자치단체 등 46개 시행자가 경주 개최를 담당하고 19개 모터보트 경주회가 경주를 실시하고 있는데, 이들의 연합체인 전국모터보트 경주회연합회가 선수양성 및 관리를 담당하고 있습니다.<br/>
                                    등록선수는 남녀 합쳐서 1,600여명이고, 연령에 있어서도 40~50대 선수가 상당수를 차지하고 있습니다.</p>
                            </div>
                            <div class="comTitH3">
                                <h3>우리나라 경정의 시작</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">우리나라에서는 1991년 12월에 경륜경정법이 국회에서 제정된 이후 4년여의 준비 끝에 2002년 6월 미사경정공원에서 국내 최초로 경정사업이 시행되었습니다.</p>
                            </div>
						</div>
					</div>

                </div><!-- // layoutContArea -->
					
				<!-- 서브 바텀 (담당자) -->
				<%- include('../_ejs/sub_btm.ejs', {
					team: '경정기획팀',
					name: '성주연',
					phone: '02-790-8304',
					url: "../../",
				}) %>
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>