<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정 라이브러리', '경정 지식쌓기'],
                    subTitle: '경정전법',
                    subText: '승리를 향한 전략과 기술!<br/><b>경정전법</b>을 알아보세요.',
                    url: "../../",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경주에서 승리하기 위해서는 적절한 전법 선택과 능숙한 기술 활용이 필수입니다.</h2>
                        <p class="info">전법이란 경주를 함에 있어서 승리를 하기 위해 취하는 주행 스타일을 말하며, 승부를 결정하는 가장 중요한 요소의 하나입니다.<br/>선수들은 다양한 전법을 사용하여 상황에 맞게 최적의 주행을 선보입니다.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경정전법 영상</h2>
                            </div>

                            <div class="comBasicTxt">
                                <p class="txt">
                                    영상을 통해 경정의 다양한 전법을 이해하기 쉽게 설명해드립니다.
                                </p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../../images/thum/cont21_01_03_02_001.png" alt="경정전법 영상 임시 이미지">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptCol3Section">
                        <div class="sectArea">

                            <ul class="sectGroup">
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../../images/contents/cont21_01_03_02_001.png" alt="인(in)빠지기 전법의 이미지"> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>인(in)빠지기 전법</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">경정 전법의 기본으로 인코스(1코스) 선수가 제1턴마크에서 앞서다가 가장 먼저 선회한 후 그대로 다른 보트를 앞질러 나가는 기술로 1코스의 우위성을 최대한 발휘할 수 있는 전법입니다.</p>
                                    </div>                                    
                                </li>
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../../images/contents/cont21_01_03_02_002.png" alt="휘감기 전법의 이미지"> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>휘감기 전법</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">바깥쪽 선수가 안쪽 선수를 밀어 붙이는 식으로 선행하여 바로 그 앞을 스치듯이 턴하는 방법으로 스타트가 빠른 선수가 유리하며 아웃코스를 선호하는 선수들이 잘 구사합니다.</p>
                                    </div>                                    
                                </li>
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../../images/contents/cont21_01_03_02_003.png" alt="찌르기 전법의 이미지"> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>찌르기 전법</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">턴마크에서 안쪽 선수가 턴할때 그 바깥에 있던 보트가 안쪽으로 치고 들어가서 제치는 전법입니다.</p>
                                    </div>                                    
                                </li>
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../../images/contents/cont21_01_03_02_004.png" alt="붙어돌기 전법의 이미지"> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>붙어돌기 전법</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">안쪽 선수에게 바짝 붙어 나란히 보조를 맞추어 턴하면서 상대선수의 바깥쪽을 스치듯이 휘감는 방법으로 휘감기의 응용기술입니다.</p>
                                    </div>                                    
                                </li>
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea">
                                                <img src="../../../images/contents/cont21_01_03_02_005.png" alt="휘감아 찌르기 전법의 이미지"> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>휘감아 찌르기 전법</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">먼저 센터코스의 선수를 휘감아 두고 다음으로 들어오는 인코스 선수의 안쪽을 찌르는 고도의 기술입니다.</p>
                                    </div>                                    
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정심판팀',
                    name: '송승숙',
                    phone: '02-790-8611',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>