<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정 라이브러리', '경정 지식쌓기'],
                    subTitle: '경정시행규칙',
                    subText: '경기의 짜릿함 속에 숨겨진<br/><b>경주 규칙</b>을 알아보아요.',
                    url: "../../",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경정을 더욱 재미있게 관람하기 위해 기본적인 경주 규칙에 대해 알아봅시다.</h2>
                        <p class="info">경정 경기를 더욱  즐겁게 관람하기 위해서는 기본적인 규칙을 이해하는 것이 중요합니다. 경정 경주 규칙은 출발과 주행, 위반과 실격에 대한 내용으로 분류할 수 있습니다.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경주규칙</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>경주방법 (경정시행규정 제47조)</h3>
                            </div>
                            
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">경정선수는 선수가 모터보트를 탑승하여 경주수면을 시계반대방향으로 주회 함으로써 시행한다.</li>
                                    <li class="item"><em>실격이 되는 기준</em>
                                        <ol class="orderList">
                                            <li class="numItem">⑴ 모터보트가 경주수면 밖을 항주하거나 주회오인 등으로 정해진 주회를 항주하지 않은 경우</li>
                                            <li class="numItem">⑵ 선수가 자기 의사와 관계없이 출주 중에 타인으로부터 도움(물리적으로 힘을 부여하는 행위로 정신적인 것은 해당되지 않음)을 받았을 경우</li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>출주제외 (경정시행규정 제50조)</h3>
                            </div>
                            
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">경주운영위원은 선수가 다음 각 호의 1에 해당하는 때에는 당해 선수를 출주에서 제외할 수 있다.</li>
                                </ul>
                            </div>
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">선수가 경주능력을 일시적으로 가감시킬 수 있는 약품 및 기타 물품을 사용한 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">당해 경주 출주시각 60분전까지 선수대기실에 집합하지 아니한 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">선수가 경정장에서 경주운영위원의 명령 또는 지시에 따르지 아니한 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">4</span>
                                        <span class="txt">선수의 건강상태가 좋지 않아 출주가 불가능하다고 인정한 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">5</span>
                                        <span class="txt">기타 경주의 안전 및 공정성 확보를 위하여 필요하다고 인정한 때</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>출발준비 (경정시행규정 제53조)</h3>
                            </div>

                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">대기행동중 경주에 중대한 지장이 있다고 심판장이 판단한 때에는 재출발 할 수 있다. 이 경우 재출발은 한 경주당 2회까지 할 수 있다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">‘재출발’이란 대기행동중 중대한 지장으로 그 출발을 다시하는 것을 말한다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">‘중대한 지장’이란 계류기 및 수상시설물 이상, 항주불능, 항주곤란 등 심판이 중대한 상황으로 판단한 경우를 말한다.</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>대기행동 (경주시행규정 제55조)</h3>
                            </div>

                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">선수는 대기항주시 대기수면을 시계 반대방향으로 소회전방지부이 및 제2턴마크를 순서대로 돌아 항주하여야 하며, 대기수면외를 항주해서는 안된다.</span>
                                        <div class="addList">
                                            <ul class="listGroup">
                                                <li class="item"><em>출주제외가 되는 기준</em>
                                                    <ol class="orderList">
                                                        <li class="numItem">⑴ 대기수면 밖을 항주하는 경우</li>
                                                        <li class="numItem">⑵ 대기수면을 시계반대 방향으로 소회전방지부이 및 제2턴마크를 순서대로 돌지 않은 경우</li>
                                                        <li class="numItem">⑵ 대기수면을 시계반대 방향으로 소회전방지부이 및 제2턴마크를 순서대로 돌지 않은 경우</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">선수는 출발을 위해 출발선을 똑바로 향한 후에는 진입항주하여야 한다.</span>
                                        <div class="addList">
                                            <ul class="listGroup">
                                                <li class="item"><em>출주제외가 되는 기준</em>
                                                    <ol class="orderList">
                                                        <li class="numItem">⑴ 대기수면 밖을 항주하는 경우</li>
                                                        <li class="numItem">⑵ 모터보트가 내선을 넘은 경우</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">선수가 출발을 위해 출발선을 똑바로 향한 후 내선을 다시 돌 경우에는 원칙적으로 제5코스 내지 제7코스에서부터 진입항주하여야 한다.</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>출발의 성립 (경정시행규정 제56조)</h3>
                            </div>
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">플라잉스타트경주의 경우 출발위반은 다음 각 호와 같다.</li>
                                </ul>
                            </div>
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">사전출발 : 출발시각 이전에 출발선을 통과시</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">출발지체 : 출발시각부터 1.0초를 초과하여 출발선을 통과시</span>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>도착의 확정·순위 (경정시행규정 제58조)</h3>
                            </div>
                            
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">도착은 선수가 모터보트를 타고 결승선을 통과하여야 하며, 그 순위는 모터보트의 한끝이 결승선을 통과한 순서대로 확정한다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">선수는 제1착의 선수가 결승선을 도착한 시각으로부터 30초 이내에 결승선에 도착하여야 한다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">도착순위는 심판이 확정한다. 다만, 제57조의 규정에 의하여 도착순위에 변경이 있을 경우에는 도착순위를 변경하여 착순을 확정한다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">4</span>
                                        <span class="txt">제1항 내지 3항의 규정에 따라 확정된 착순은 해당경주의 승자투표적중자에게 교부하는 환급금의 산출에 있어서 최종적인 것이며, 이후 어떠한 사유가 발생하더라도 변경되지 아니한다.</span>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>접촉금지 (경정시행규정 제60조)</h3>
                            </div>
                            
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">다른 모터보트에 접촉하거나 또는 가깝게 접근함으로써 경주의 안전을 해쳐서는 안된다.</li>
                                    <li class="item"><em>실격이 되는 기준</em>
                                        <ol class="orderList">
                                            <li class="numItem">⑴ 직선항주 중이나 선회 중에 실속이나 추돌로 다른 모터보트에 실제적인 피해를 준 경우.</li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>충돌회피 (경정시행규정 제61조)</h3>
                            </div>
                            
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">2척의 모터보트가 서로 접근할 경우 다음 각 호와 같이 항주함으로써 충돌의 위험을 피해야 한다.</span>
                                        <div class="addList">
                                            <ol class="orderList">
                                                <li class="numItem">⑴ 서로 마주보는 경우 각 모터보트는 우현으로 진로를 바꿔야 한다.</li>
                                                <li class="numItem">⑵ 진로가 교차할 경우 다른 모터보트를 우현으로 보는 모터보트는 다른 모터보트의 전면을 가로지르지 않도록 해야 한다.</li>
                                            </ol>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">모터보트가 장해물에 접근하여 진로를 바꾸어야 할 경우 다른 모터보트에 신호를 보내야 하며 신호를 받은 모터보트는 신호를 한 모터보트의 항주에 위험이 없도록 해야 한다.</span>
                                        <div class="addList">
                                            <ul class="listGroup">
                                                <li class="item"><em>실격이 되는 기준</em>
                                                    <ol class="orderList">
                                                        <li class="numItem">⑴ 본 조항을 위반하여 다른 모터보트에 실제적인 피해를 준 경우</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>방향전환 (경정시행규정 제62조)</h3>
                            </div>
                            
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">2척이상의 모터보트가 접근하여 나란히 달리고 있을 경우 다른 모터보트의 측면으로 방향전환함으로써 진로를 방해해서는 안된다.</li>
                                    <li class="item"><em>실격이 되는 기준</em>
                                        <ol class="orderList">
                                            <li class="numItem">⑴ 선회행동하기 전에 사행하여 다른 모터보트에 실제적인 피해를 준 경우</li>
                                            <li class="numItem">⑵ 다른 모터보트를 압박하여 센터폴의 반대쪽이나 경주수면 밖을 항주하게 한 경우</li>
                                            <li class="numItem">⑶ 코스변경을 위해 키를 돌려 다른 모터보트에 실제적인 피해를 준 경우</li>
                                            <li class="numItem">⑷ 안쪽 모터보트가 바깥쪽 모터보트를 또는 바깥쪽 모터보트가 안쪽 모터보트를 압박하여 실제적인 피해를 준 경우</li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>턴마크회전 (경정시행규정 제63조)</h3>
                            </div>
                            
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">모터보트는 턴마크를 시계방향과 반대의 방향으로 회전하여야 한다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">제1항의 경우에 있어서 모터보트는 턴마크를 파손 또는 침몰시키지 않도록 해야 한다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">2척이상의 모터보트가 동시에 턴마크를 도는 경우 바깥쪽의 모터보트는 안쪽의 모터보트에 안전한 공간을 주어야 한다.</span>
                                        <div class="addList">
                                            <ul class="listGroup">
                                                <li class="item"><em>실격이 되는 기준</em>
                                                    <ol class="orderList">
                                                        <li class="numItem">⑴ 선회행동하기 전에 사행하여 다른 모터보트에 실제적인 피해를 준 경우</li>
                                                        <li class="numItem">⑵ 다른 모터보트를 압박하여 센터폴의 반대쪽이나 경주수면 밖을 항주하게 한 경우</li>
                                                        <li class="numItem">⑶ 코스변경을 위해 키를 돌려 다른 모터보트에 실제적인 피해를 준 경우</li>
                                                        <li class="numItem">⑷ 안쪽 모터보트가 바깥쪽 모터보트를 또는 바깥쪽 모터보트가 안쪽 모터보트를 압박하여 실제적인 피해를 준 경우</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            
                            <div class="comTitH3">
                                <h3>추월 (경정시행규정 제64조)</h3>
                            </div>
                            
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">다른 모터보트를 추월할 경우에는 그 모터보트를 좌현으로 보고 항주하여야 한다.</li>
                                    <li class="item"><em>실격이 되는 기준</em>
                                        <ol class="orderList">
                                            <li class="numItem">⑴ 안전한 간격이 없는데도 좌현쪽으로 추월하려다가 다른 모터보트에 실제적인 피해를 준 경우</li>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>기타사항 (경정시행규정 제65조)</h3>
                            </div>
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">선수는 모터보트가 고장이 난 경우와 기타 부득이한 경우를 제외하고는 바람, 파도, 흐름 또는 손으로 젖는 방법 등으로 항주하여서는 안된다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">구조정의 항행 및 작업을 방해해서는 안된다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">전복한 모터보트가 있는 경우 안전한 거리간격을 유지하고 항주하여야 한다. 또한, 고장난 모터보트 및 낙수 한 선수가 있는 경우에도 같다.</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">4</span>
                                        <span class="txt">실격되거나 출주할 수 없게 된 선수는 다른 모터보트의 항주에 방해되지 않도록 신속히 퇴피하여야 한다.</span>
                                        <div class="addList">
                                            <ul class="listGroup">
                                                <li class="item"><em>실격이 되는 기준</em>
                                                    <ol class="orderList">
                                                        <li class="numItem">⑴ 구조정이나 사고정과 안전한 거리간격을 유지하지 못하고 항주한 경우</li>
                                                    </ol>
                                                </li>
                                                <li class="item"><em>반칙경고가 되는 기준</em>
                                                    <ol class="orderList">
                                                        <li class="numItem">⑴ 경주중 고의적으로 다른 모터보트에 피해를 준 경우</li>
                                                        <li class="numItem">⑵ 경주중 사고지역 통과시 순위를 변경하여 안전한 경주에 지장을 준 경우</li>
                                                        <li class="numItem">⑶ 위험지역에서 구조정이나 사고정의 바깥쪽을 항주해야 할 때에 안쪽을 항주한 경우 또는 안쪽을 항주해야 할 때에 바깥쪽을 항주한 경우</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="comTitH3">
                                <h3>경주의 불성립 (경정시행규정 제66조)</h3>
                            </div>
                            
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">심판은 다음 각 호의 1에 해당하는 경우 경주불성립으로 판정하고 경주를 연기 또는 중지할 수 있다.</li>
                                </ul>
                            </div>
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">결승선에 도착한 선수가 없는 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">천재지변 또는 정전등으로 정상적인 경주가 이루어지지 아니한 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">사람 또는 동물등의 방해로 정상적인 경주가 불가능하게 된 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">4</span>
                                        <span class="txt">경주중 관객의 투석 및 기타의 방해로 인하여 경주에 중대한 지장이 초래된 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">5</span>
                                        <span class="txt">경주중 주회통보원이 주회통보를 하지 아니하였거나 잘못한 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">6</span>
                                        <span class="txt">선수의 책임이 아닌 사유로 공정하고 안전한 경주가 이루어지지 아니하였다고 인정된 때</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comTitH3">
                                <h3>출주자격의 상실 (경정시행규정 제67조)</h3>
                            </div>
                            
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">경주운영위원은 다음 각 호의 1에 해당하는 경우 해당 선수를 출주에서 제외한다.</li>
                                </ul>
                            </div>
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">제18조(복장의착용), 제19조(번호판), 제51조(소개항주), 제52조제2항(모터보트상태변경), 제53조(출발준비)의 규정을 위반하였을 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">대기수면 항주 중 또는 출발시 선수의 낙수, 상해, 모터보트의 전복, 침몰, 화재, 파손 등으로 정상적인 경주 참여가 불가능할 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">모터보트가 출발전 또는 출발시에 있어서 모터보트의 불균형 또는 부유물에 의해 현저히 속도가 저하되었을 때</span>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>실격 등 (경정시행규정 제68조)</h3>
                            </div>
                            
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">심판은 선수가 다음 각 호에 해당하는 경우 그 위반의 정도에 따라 주의 또는 경고를 주거나 실격으로 한다.</li>
                                </ul>
                            </div>
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">제20조(연료 및 윤활유), 제47조(경주방법), 제60조(접촉금지) 내지 제65조(기타사항)의 규정에 위반했을 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">승리할 의지를 가지고 전력항주하지 않았을 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">출주중 모터보트가 전복하거나 또는 선수가 낙수했을 때</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                 
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정서비스팀',
                    name: '최성욱',
                    phone: '031-790-8404',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>