<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['Notification'],
                    subTitle: 'Notification',
                    subText: '<b>The General Headquarters for Cycling and Boating</b><br>provides key information for you.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptBoardView">
                        <div class="boardViewArea">
                            <div class="viewTop"><i class="noti"><span class="mark">Notice</span></i><h2 class="viewTitle">Determining the Strongest in Boat Racing for the First Half of 2024. The Chairman&rsquo;s Cup King of Kings Tournament, hosted by the Sports Promotion Foundation to be held over two days, on the 19th and 20th</h2>
                                <ul class="info">
                                    <li class="item">2024.07.05</li>
                                    <li class="item">Track Cycling Referee Team</li>
                                    <li class="item">Views: 200</li>
                                </ul>

                            </div>
                            <div class="comFileDownload">
                                <dl class="fileGroup">
                                    <dt class="fileTitle">Attachment</dt>
                                    <dd class="fileArea">
                                        <ul class="fileList">
                                            <li class="download"><a href="#">(For Notice Use) List of Track Cycling Team Members.hwp</a></li>
                                            <li class="download"><a href="#">Announcement of the Track Bicycle Upcycling Design Competition.pdf</a></li>
                                            <li class="download"><a href="#">(For Notice Use) List of Track Cycling Team Members.hwp</a></li>
                                            <li class="download"><a href="#">(For Notice Use) ListListList of Track Cycling Team Members.hwp</a></li>
                                            <li class="download"><a href="#">(For Notice Use) List of Track Cycling Team Members.hwp</a></li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                            <div class="viewBody">
                                <div class="viewContArea">This is the content section.</div>
                            </div>

                            <div class="comPrevNext">
                                <dl>
                                    <dt>Previous Post</dt>
                                    <dd>
                                        <a href="#">[Track Cycling] 2024 First Half, Seven Major Cycling News Stories, &ldquo;What Happened at Gwangmyeong Speedom&rdquo; New Post &ndash; Seven Major Cycling News Stories Listed up to 50 characters in Korean News Listed up to 50 characters in Korean 2024 First Half, Seven Major Cycling News Stories, &ldquo;What Happened at the Gwangmyeong Speedom&rdquo; New Post &ndash; Seven Major Cycling News Stories</a> 
                                        <i class="date">2024.07.05</i>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>Next Post</dt>
                                    <dd>
                                        <a href="#">Customer Appreciation Event Celebrating the Sports Donga Cup Title Race: &ldquo;Predictions Dream 2&rdquo; Announcement</a>
                                        <i class="date">2024.07.05</i>
                                    </dd>
                                </dl>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignR">
                                    <div class="btnBox min">
                                        <button type="button" class="btn dkLine">View List</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>