<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객광장'],
                    subTitle: '고객의 소리',
                    subText: '고객님의<br><b>소중한 의견</b>을 남겨주세요.',
                    url: "../../",
                }) %>

                <div class="layoutContArea">
                    <!-- 안내사항 -->
                    <div class="cptGuideLine">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>안내사항</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">
                                    경륜경정총괄본부는 경륜홈페이지의 건전한 운영을 위하여 "국민체육진흥공단 정보화업무지침 제54조(인터넷사이트 게시물 삭제)를 엄격 적용하고 있습니다"(2017-09-29 개정) 게시글 작성 시 참고하시기 바랍니다. 홈페이지의 건전한 운영을 위하여 이용자가 게시한 자료 중 다음 각 호에 해당하는 자료는 삭제할 수 있습니다.
                                </p>
                            </div>
    
                            <div class="guideLineInfoBox">
                                <div class="comBasicTxt">
                                    <p class="txt">
                                        <em>아래의 경우 당사자에게 삭제한 이유를 통지하여야 할 의무는 없음을 알려드립니다.</em>
                                    </p>
                                </div>
                                <div class="comBoardInfoBox">
                                    <div class="comBasicList">
                                        <ul class="listGroup">
                                            <li class="item">특정인을 비방하거나 명예훼손의 우려가 있는 경우</li>
                                            <li class="item">영리목적의 상업성 광고 또는 저작권을 침해할 수 있는 내용이 있는 경우</li>
                                            <li class="item">욕설, 음란물 등 불건전한 내용이 있는 경우</li>
                                            <li class="item">실명을 원칙으로 하는 사항에 실명을 사용하지 않는 경우</li>
                                            <li class="item">동일인 또는 동일인이라고 인정되는 또는 유사내용을 반복하여 게재하는 도배성 글인 경우</li>
                                            <li class="item">[개인정보 보호법] 제2조제1호에서 규정하고 있는 개인정보가 노출된 경우</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //안내사항 -->

                    <div class="cptQuickMove">
                        <div class="boxArea bgWhite">
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">국민체육진흥공단 고객센터 운영정책</em>
                                    <p class="desc">운영정책을 확인하시고 이용에 참고 하시기 바랍니다. 고객의 소리는 3년 이내의 내용만 조회됩니다.</p>
                                </div>
                                <div class="btnArea">
                                    <a href="#" class="btn gLine">운영정책 보기</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 이용안내 -->
                    <div class="cptAnnounce">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>이용안내</h2>
                            </div>
                            <div class="announceInfoBox">
                                <div class="callCenter">
                                    <dl>
                                        <dt>콜센터</dt>
                                        <dd>
                                            <ul>
                                                <li><em>유료</em> 02-2067-5000</li>
                                                <li><em>무료</em> 080-008-5000</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
            
                                <div class="operatingHour">
                                    <dl>
                                        <dt>운영시간</dt>
                                        <dd>
                                            <ul>
                                                <li><em>경륜</em> 수요일 ~ 일요일 09:00~19:00</li>
                                                <li><em>경정</em> 월요일 ~ 금요일 09:00~18:00</li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //이용안내 -->

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comBtnTxt">
                                <p class="txt">로그인 후 글쓰기가 가능합니다.</p>
                            </div>
                            
                            <div class="comBtnGroup section">
                                <div class="alignC">
                                    <div class="btnBox">
                                        <button class="btn Primary pcW180">글쓰기</button>
                                        <!-- <button class="btn Primary pcW180" disabled>글쓰기</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '정보지원팀',
                    name: '이승화',
                    phone: '02-2067-5533',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>