<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객광장'],
                    subTitle: '문화교실',
                    subText: '<b>내가 신청한 프로그램</b>을<br> 확인해보세요.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptBoardList">
                        <div class="boardListArea">
                            <!-- 게시판 리스트 -->
                            <div class="listTable">
                                <table class="thTable mInline">
                                    <caption></caption>
                                    <colgroup>
                                        <col style="width:93px;">
                                        <col style="width:93px;">
                                        <col style="width:auto;">
                                        <col style="width:180px;">
                                        <col style="width:120px;">
                                        <col style="width:110px;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">번호</th>
                                            <th scope="col">지역</th>
                                            <th scope="col">프로그램명</th>
                                            <th scope="col">신청일</th>
                                            <th scope="col">접수상태</th>
                                            <th scope="col">취소</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="num">1013</td>
                                            <td class="bdInfo first" data-order="3">성북</td>
                                            <td class="bdTitle left" data-order="2">
                                                <div class="title"><span class="line1">숲체험</span></div>
                                            </td>
                                            <td class="bdInfo" data-order="4">2024.07.24 15:00:42</td>
                                            <td class="processing"><span>접수가능</span></td>
                                            <td class="func" data-order="6">
                                                <button type="button" class="btn sm gLine">취소</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="num">1013</td>
                                            <td class="bdInfo first" data-order="3">성북</td>
                                            <td class="bdTitle left" data-order="2">
                                                <div class="title"><span class="line1">캘리그라피교실</span></div>
                                            </td>
                                            <td class="bdInfo" data-order="4">2024.07.24 15:00:42</td>
                                            <td class="processing closed"><span>접수마감</span></td>
                                            <td class="func" data-order="6">
                                                <span class="tRed">취소완료</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="num">1013</td>
                                            <td class="bdInfo first" data-order="3">성북</td>
                                            <td class="bdTitle left" data-order="2">
                                                <div class="title"><span class="line1">건강체조</span></div>
                                            </td>
                                            <td class="bdInfo" data-order="4">2024.07.24 15:00:42</td>
                                            <td class="processing closed"><span>접수마감</span></td>
                                            <td class="func pcView" data-order="6">
                                                <span>-</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //게시판 리스트 -->
                            
                            <!-- 페이징 -->
                            <div class="comPaging">
                                <a class="start" href="#"></a>
                                <a class="prev" href="#"></a>
                                <ul class="numList">
                                    <li><a href="#">1</a></li>
                                    <li class="on"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <a class="next" href="#"></a>
                                <a class="end" href="#"></a>
                            </div>

                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '영업총괄팀',
                    name: '배기준',
                    phone: '02-2067-5606',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>