<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객광장'],
                    subTitle: '경륜·경정 신고센터',
                    subText: '모두가 즐기고 지킬 수 있는<br class="mView"> <b>건강한 레저문화</b>를 위해<br><b>경륜·경정 신고센터</b>가<br class="mView"> 함께 합니다.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    <div class="cptReportingCenter">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>부정·불법 신고</h2>
                            </div>
                            <div class="reportingCenterList">
                                <ul>
                                    <li>
                                        <div class="titleArea">
                                            <h3>경륜경정 부정행위 신고<span>(승부조작 등)</span></h3>
                                            <p>선수나 심판의 부정(승부조작 등) 행위를 신고합니다.</p>
                                        </div>
                                        <div class="btnArea">
                                            <a href="#" class="btn gLine"><span>행위·포상금 지급 알아보기</span></a>
                                            <a href="#" class="btn gLine"><span>신고방법안내</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="titleArea">
                                            <h3>불법 경륜경정 행위자 신고<span>(사설경주)</span></h3>
                                            <p>사업장 외에서 발생하는 경륜경정을 이용한 불법도박 행위를 신고합니다.</p>
                                        </div>
                                        <div class="btnArea">
                                            <a href="#" class="btn gLine"><span>행위·포상금 지급 알아보기</span></a>
                                            <a href="#" class="btn gLine"><span>신고방법안내</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="titleArea">
                                            <h3>불법 경륜·경정 사이트 신고<span>(온라인 사이트)</span></h3>
                                            <p>인터넷 상의 불법 경륜·경정 베팅 사이트를 신고합니다.</p>
                                        </div>
                                        <div class="btnArea">
                                            <a href="#" class="btn gLine"><span>행위·포상금 지급 알아보기</span></a> <!-- 20241226 수정 -->
                                            <a href="#" class="btn gLine"><span>신고방법안내</span></a>
                                        </div>
                                    </li>
                                </ul>

                                <div class="comBasicTxt">
                                    <p class="txt">
                                        신고내용이 <b>경륜경정법 위반 및 포상금 지급대상에 해당</b>될 경우 <b>신고포상금을 지급</b>해 드리오니 적극적인 신고를 부탁드립니다.
                                    <br>신고자의 신분 및 개인정보는 철저히 비밀을 보장해 드립니다.
                                    </p>
                                </div>
                            </div>

                            <div class="comTitH2">
                                <h2>분실 경주권(구매권) 신고</h2>
                            </div>
                            <div class="reportingCenterList">
                                <ul>
                                    <li>
                                        <div class="titleArea">
                                            <h3>분실경주권 신고<span>(구매권 등)</span></h3>
                                            <p>분실, 도난, 훼손된 적중경주권에 대해 신고접수 사항을 운영합니다.</p>
                                        </div>
                                        <div class="btnArea">
                                            <a href="#" class="btn gLine"><span>제도 및 신고방법 안내</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH2">
                                <h2>부조리·예산낭비 신고센터</h2>
                            </div>
                            <div class="reportingCenterList">
                                <ul>
                                    <li>
                                        <div class="titleArea">
                                            <h3>부조리 신고</h3>
                                            <p>공단 내 부정부패, 위법, 부당행위 등의 신고접수 사항을 운영합니다.</p>
                                        </div>
                                        <div class="btnArea">
                                            <a href="https://www.kspo.or.kr/kspo/serviceCenter/reportCenter/list.do?menuNo=200013" class="btn gLine"><span>제도 및 신고방법 안내</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="titleArea">
                                            <h3>예산낭비 신고</h3>
                                            <p>공단 예산이 낭비되고 있다고 판단되거나 예산절감 또는 수입증대 방안에 대해 안내받습니다.</p>
                                        </div>
                                        <div class="btnArea">
                                            <a href="https://www.kspo.or.kr/kspo/serviceCenter/reportCenter/list.do?menuNo=200013 " class="btn gLine"><span>개요 및 신고방법 안내</span></a>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>