<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객센터'],
                    subTitle: '예상과 후기',
                    subText: '경주에 대한 예상과 후기,<br><b>경륜 회원님들과 공감</b>해요.',
                    url: "../../",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경주에 대한 예상과 후기를 작성하여 감상을 나누는 커뮤니티 입니다.</h2>
                        <p class="info">고객 여러분들이 분석한 내용을 바탕으로 경기에 대한 예상이나 후기를 작성하고 다른 회원들과 공유할 수 있습니다. </p>
                    </div>

                    <div class="cptBoardList">
                        <div class="boardListArea">


                            <!-- 게시판 리스트 상단 -->
                            <div class="comGroupTop">
                                <div class="alignL">
                                    <div class="unit"><span class="text">전체 <span class="total">1000</span> 건</span></div>
                                </div>
                                <div class="alignR">
                                    <ul class="opList">
                                        <li class="item">
                                            <div class="frmGroup">
                                                <div class="frmSearch">
                                                    <input type="text" class="iptText" placeholder="검색어를 입력하세요">
                                                    <button class="btnSearch">검색</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 게시판 리스트 -->
                            <div class="listTable">
                                <table>
                                    <caption></caption>
                                    <colgroup>
                                        <col style="width:93px;">
                                        <col style="width:auto;">
                                        <col style="width:100px;">
                                        <col style="width:120px;">
                                        <col style="width:120px;">
                                        <col style="width:140px;">
                                    </colgroup>
                                    <tbody>
                                        <tr class="noti">
                                            <td class="num"><span class="top">공지</span></td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">사이버 예절 준수 및 예상과 후기</a>
                                                    <span class="icons">
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">01</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                    <span class="icons">
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">145</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">02</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">이번주 경기 활약상</a>
                                                    <span class="icons">
                                                        <span class="read">[2]</span>
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">0</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">03</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                    <span class="icons">
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">145</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">04</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">이번주 경기 활약상</a>
                                                    <span class="icons">
                                                        <span class="read">[15]</span>
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">0</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">05</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                    <span class="icons">
                                                        <span class="read">[28]</span>
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">145</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">06</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">이번주 경기 활약상</a>
                                                    <span class="icons">
                                                        <span class="read">[130]</span>
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">0</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">07</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                    <span class="icons">
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">145</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">08</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                    <span class="icons">
                                                        <span class="icon new">새로운 글</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">145</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">09</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                    <span class="icons">
                                                        <span class="read">[130]</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">0</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">10</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">145</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">11</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                    <span class="icons">
                                                        <span class="read">[130]</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">0</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">12</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">145</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">13</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">0</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                        <tr>
                                            <td class="num">14</td>
                                            <td class="bdTitle left">
                                                <div class="title">
                                                    <a href="#">창원 특별 경륜 예상 입니다</a>
                                                </div>
                                            </td>
                                            <td class="recom"><span class="recommend">145</span></td>
                                            <td>2024.07.05</td>
                                            <td>경륜심판팀</td>
                                            <td class="views">35125</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //게시판 리스트 -->
                            
                            <div class="comBtnGroup">
                                <div class="alignR moR">
                                    <div class="btnBox min">
                                        <button class="btn Primary">등록하기</button>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- 페이징 -->
                            <div class="comPaging">
                                <a class="start" href="#"></a>
                                <a class="prev" href="#"></a>
                                <ul class="numList">
                                    <li><a href="#">1</a></li>
                                    <li class="on"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <a class="next" href="#"></a>
                                <a class="end" href="#"></a>
                            </div>

                        </div>
                    </div>
                    
                </div>
                
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '정보지원팀',
                    name: '이승화',
                    phone: '02-2067-5533',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>