<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객센터','행사안내'],
                    subTitle: '알림',
                    subText: '다양한 정보가 가득한<br> <b>알림 소식</b>을 확인해보세요.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptAlbumList">
                        <div class="albumListArea">


                            <!-- 검색 박스 -->
                            <div class="comSearchBox">
                                <div class="searchLine">
                                    <dl class="condition">
                                        <dt class="title">검색어</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <input type="text" class="iptText" placeholder="내용을 입력하세요">
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <button class="btn Primary search">검색</button>
                                </div>
                            </div>

                            <!-- 앨범리스트 영역 -->
                            <div class="listBoard">
                                <ul class="listGroup">
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임 모바일에서는 두줄 말 줄임 관악지점 지정좌석실 사은행사 안내</div>
                                            <div class="progress">
                                                <span class="mark ing">진행중</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark ing">진행중</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                    <li class="listItem">
                                        <div class="imgBox">
                                            <img src="../../images/thum/thum_album.png" alt="관악지점 지정좌석실 사은행사 안내">
                                        </div>
                                        <div class="infoBox">
                                            <div class="title">관악지점 지정좌석실 사은행사 안내 한줄 말 줄임</div>
                                            <div class="progress">
                                                <span class="mark end">종료</span>
                                            </div>
                                            <div class="date">기간 : 2024.07.24~2024.08.11</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <!-- 페이징 -->
                            <div class="comPaging">
                                <a class="start" href="#"></a>
                                <a class="prev" href="#"></a>
                                <ul class="numList">
                                    <li><a href="#">1</a></li>
                                    <li class="on"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <a class="next" href="#"></a>
                                <a class="end" href="#"></a>
                            </div>

                        </div>
                    </div>
                    
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>