<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객광장'],
                    subTitle: '고객의 소리',
                    subText: '고객님의<br><b>소중한 의견</b>을 남겨주세요.',
                    url: "../../",
                }) %>

                <div class="layoutContArea">
                    <div class="cptBoardView">
                        <div class="boardViewArea customer"><!-- customer 고객의 소리 - 게시판 view -->
                            <div class="viewTop">
                                <h2 class="viewTitle">희망길벗 프로그램 이용하고 싶어요.</h2>
                                <ul class="info">
                                    <li class="item">2024.07.05</li>
                                    <li class="item">공개</li>
                                    <li class="item processing complete"><span>답변완료</span></li>
                                    <!-- <li class="item processing progress"><span>처리중</span></li> -->
                                    <!-- <li class="item processing"><span>접수</span></li> -->
                                </ul>
                            </div>
                            <div class="viewBody">
                                <div class="viewContArea">
                                    도박중독으로 매일 너무 괴롭습니다.
                                    <br>홈페이지에서 찾아보니 희망길벗이라는게 있던데 도움을 어떻게 받을 수 있나요?
                                    <br>정보를 잘 찾을 줄 몰라서 알려주시면 감사하겠습니다.
                                </div>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignR moR">
                                    <div class="btnBox min">
                                        <button class="btn sm Primary">수정</button>
                                        <button class="btn sm gLine">삭제</button>
                                    </div>
                                </div>
                            </div>

                            <!-- 답변 -->
                            <div class="answerCont">
                                <div class="answerTop">
                                    <dl>
                                        <dt>답변</dt>
                                        <dd>2024.07.05</dd>
                                    </dl>
                                </div>
                                <div class="answerBody">
                                    안녕하세요. 담당자 홍길동입니다.
                                    <br>문의주신 내용 답변 드립니다.
                                    <br>
                                    <br>현재 희망길벗은 서울, 경기, 충남, 부산창원에 지점을 운영하고 있습니다.
                                    <br>지점안내 링크를 함께 전달 드리니 참고하시어 방문하시는 것을 추천 드립니다.
                                </div>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignR">
                                    <div class="btnBox min">
                                        <button class="btn dkLine">목록보기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>