<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객센터'],
                    subTitle: '예상과 후기',
                    subText: '경주에 대한 예상과 후기,<br><b>경륜 회원님들과 공감</b>해요.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경주에 대한 예상과 후기를 작성하여 감상을 나누는 커뮤니티 입니다.</h2>
                        <p class="info">고객 여러분들이 분석한 내용을 바탕으로 경기에 대한 예상이나 후기를 작성하고 다른 회원들과 공유할 수 있습니다. </p>
                    </div>
                    
                    <div class="cptBoardWrite">
                        <div class="boardArea">

                            <div class="comBoardInfoBox">
                                <div class="comBasicList space">
                                    <ul class="listGroup">
                                        <li class="item">경주예상 및 후기와 무관한 내용 또는 부적절한 게시글은 게시자에게 통보없이 삭제 되오니 양해하여 주시기 바랍니다.</li>
                                        <li class="item">개인정보 노출에 대비하여 주민등록번호 등 민감 개인정보는 입력하지 마시기 바랍니다.</li>
                                        <li class="item">문의 및 불만사항은 [고객의 소리] 게시판에 접수하여 주시기 바랍니다.</li>
                                        <li class="item"><em>홈페이지 로그인 후에 메뉴 이동이 없는 경우 30분 후에 자동으로 로그아웃 되어 씌어진 글들이 전부 사라집니다.</em></li>
                                    </ul>
                                </div>
                                <div class="comAddGuide point">
                                    <p class="guide">긴 글을 쓰실 경우 메모장과 같은 곳에 글을 쓰신 후 복사하고 붙여넣기 하시기 바랍니다.</p>
                                </div>
                            </div>

                            <div class="comFormTable">
                                <div class="tableTop">
                                    <div class="alignR">
                                        <span class="normalTxt">자동 로그아웃 <span class="desc">30:00</span></span>
                                        <div class="btnBox">
                                            <button class="btn xs gLine">연장</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width: 200px;">
                                            <col style="width: auto;">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th class="top">제목</th>
                                                <td>
                                                    <div class="frmGroup">
                                                        <div class="frmBox">
                                                            <input type="text" class="iptText" placeholder="제목을 입력하세요" value="">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="top">내용</th>
                                                <td>
                                                    <textarea class="iptTextArea" name="" id=""></textarea>
                                                    <span class="byte"><b>120</b> / 500 Byte</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="frmGroup">
                                    <div class="frmBox maxCont">
                                        <input id="chk101" type="checkbox" class="iptChk" checked=""><label for="chk101" class="iptLbl">
                                            댓글 허용여부
                                            <span class="lblDesc">체크를 해제하시면 본 글에 대한 댓글이 거부됩니다.</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignC">
                                    <div class="btnBox m30">
                                        <button class="btn lg gLine">취소</button>
                                        <button class="btn lg Primary pcW180">등록하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '정보지원팀',
                    name: '이승화',
                    phone: '02-2067-5533',
                    url: "../../",
                }) %>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>