<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객광장'],
                    subTitle: '명예심판',
                    subText: '함께하는 경주!<br><b>명예심판에 참여</b>해보세요.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">명예심판제도는 경륜 경기의 공정성을 확보하고, 투명한 판정을 위해 운영되는 제도입니다.</h2>
                        <p class="info">경륜 경정사업본부에서 선발된 명예심판들이 경주 중 발생하는 다양한 상황을 면밀히 분석하고 판단하여, 심판원의 판정을 보완하거나 시정하는 역할을 수행합니다.</p>
                    </div>
                    <div class="cptSection">
                        <div class="sectArea">

                            <div class="comTitH2">
                                <h2>2024년 제 1회 명예심판행사 참가신청</h2>
                            </div>

                            <div class="comFormTable">
                                <div class="tableTop">
                                    <div class="alignL">
                                        <em class="strong">신청기간 : 2024.05.20 ~ 2024.05.30</em>
                                    </div>
                                    <div class="alignR">
                                        <span class="txt">2024.07.05</span>
                                        <span class="txt">경륜심판팀</span>
                                    </div>
                                </div>
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width: 232px;">
                                            <col style="width: auto;">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td colspan="2" class="innerTxt">
                                                    안녕하세요. 명예심판 신청 관련 안내드립니다. 안녕하세요. 명예심판 신청 관련 안내드립니다.<br>
                                                    안녕하세요. 명예심판 신청 관련 안내드립니다.안녕하세요. 명예심판 신청 관련 안내드립니다.안녕하세요. 명예심판 신청 관련 안내드립니다.
                                                </td>
                                            </tr>
                                            <!-- 20241217 수정 -->
                                            <tr>
                                                <td colspan="2" class="innerTxt">
                                                    <ul class="formList">
                                                        <li class="item">
                                                            <dl class="formInfo">
                                                                <dt>이름</dt>
                                                                <dd>홍길동</dd>
                                                            </dl>
                                                        </li>
                                                        <li class="item">
                                                            <dl class="formInfo">
                                                                <dt>아이디</dt>
                                                                <dd>abcd12345</dd>
                                                            </dl>
                                                        </li>
                                                        <li class="item">
                                                            <dl class="formInfo">
                                                                <dt>휴대폰번호</dt>
                                                                <dd>010-2345-6789</dd>
                                                            </dl>
                                                        </li>
                                                        <li class="item">
                                                            <dl class="formInfo">
                                                                <dt>이메일주소</dt>
                                                                <dd>abcd1234@gmail.com</dd>
                                                            </dl>
                                                        </li>
                                                    </ul>
                                                    <span class="cmt">
                                                        <span class="text">* 휴대폰번호, 이메일주소는 내정보 수정에서 가능합니다.</span>
                                                        <a href="#" target="_blank" title="새 창" class="btn gLine xs">내정보 수정 바로가기</a>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>성별<span class="required">*</span></th>
                                                <td>
                                                    <div class="frmGroup gap40">
                                                        <div class="frmBox maxCont"><input id="rdo101" type="radio" class="iptRdo" name="rdo101"><label for="rdo101" class="iptLbl">남</label></div>
                                                        <div class="frmBox maxCont"><input id="rdo102" type="radio" class="iptRdo" name="rdo101"><label for="rdo102" class="iptLbl">여</label></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>나이<span class="required">*</span></th>
                                                <td>
                                                    <div class="frmGroup">
                                                        <div class="frmBox frmMd">
                                                            <input type="text" class="iptText" placeholder="" value="2자리만 입력해주세요. 예) 40">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>이용지점<span class="required">*</span></th>
                                                <td>
                                                    <div class="frmBox frmMd">
                                                        <select class="iptSlt">
                                                            <option value="">선택하세요</option>
                                                            <option value="">직접입력</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- //20241217 수정 -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="comPrivacyBox">
                                <dl class="infoBox">
                                    <dt class="boxTop">
                                        <div class="frmGroup">
                                            <div class="frmBox maxCont">
                                                <input id="chk101" type="checkbox" class="iptChk" checked=""><label for="chk101" class="iptLbl">개인정보 이용동의</label>
                                            </div>
                                        </div>
                                    </dt>
                                    <dd class="boxCont">
                                        <p class="txt">
                                            경륜경정총괄본부는 일일명예심판 진행을 위하여 아래와 같이 개인정보를 수입 및 이용하오니, 동의해주시기 바랍니다. <!-- 20250117 수정 -->
                                        </p>
                                        <ul class="listGroup">
                                            <li class="item">
                                                <b class="sTit">수집 및 이용항목</b>
                                                <i class="sTxt">회원가입 필수정보 외 성별, 나이, 이용지점</i>
                                            </li>
                                            <li class="item">
                                                <b class="sTit">수집 및 이용목적</b>
                                                <i class="sTxt">일일명예심판 행사 진행 관련</i>
                                            </li>
                                            <li class="item">
                                                <b class="sTit">보유 및 이용기간 : 3년</b>
                                                <i class="sTxt">(단, 법령에 따로 정하는 경우는 해당 기간까지 보관)</i>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                            </div>
                            
                            <!-- 20241019 수정 -->
                            <div class="comBtnGroup section">
                                <div class="alignC">
                                    <div class="btnBox m30">
                                        <button class="btn lg gLine">취소</button>
                                        <button class="btn lg Primary pcW180">신청하기</button>
                                        <!-- <button class="btn Primary pcW180" disabled>신청하기</button> -->
                                    </div>
                                </div>
                            </div>
                            <!-- //20241019 수정 -->

                        </div>
                    </div>
                    
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>