<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['고객센터','행사안내'],
                    subTitle: '이벤트',
                    subText: '풍성한 혜택이 가득한 <b>이벤트 정보</b>와<br>알림 소식을 확인해보세요.',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptBoardView">
                        <div class="boardViewArea">
                            <div class="viewTop">
                                <i class="noti"><span class="mark ing">진행중</span><span class="mark">종료</span></i>
                                <h2 class="viewTitle">시흥지점 스피드온 마일리지 이벤트 안내</h2>
                                <ul class="info">
                                    <li class="item">2024.07.05</li>
                                    <li class="item">관리자</li>
                                    <li class="item">조회수 : 200</li>
                                </ul>

                            </div>
                            <div class="viewBody">
                                <div class="viewContArea">
                                    <img src="../../images/thum/thum_view_image.png" alt="망리리지 혜택이 쏟아진다!"><br/>
                                    컨텐츠 영역입니다.
                                </div>
                            </div>

                            <div class="comPrevNext">
                                <dl>
                                    <dt>이전글</dt>
                                    <dd>
                                        <a href="#">[경륜] 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스 한글50자 까지 나열됩니다뉴스 한글50자 까지 나열됩니다 2024 상반기 경륜 7대 뉴스, ‘광명스피돔에서 생긴 일’ 새 글 경륜 7대 뉴스</a> 
                                        <i class="date">2024.07.05</i> <!-- 20241213 추가 -->
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>다음글</dt>
                                    <dd>
                                        <a href="#">스포츠동아배 대상경륜 기념 고객 사은행사 '예상지 드림2' 안내</a>
                                        <i class="date">2024.07.05</i> <!-- 20241213 추가 -->
                                    </dd>
                                </dl>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignR">
                                    <div class="btnBox min">
                                        <button class="btn dkLine">목록보기</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>