<%
var url = locals.url ? locals.url : '../../';
%>
                <div class="allMenuArea">
                    <div class="allTop">

                    </div>
                    <div class="allMenuGroup">
                        <div class="allMenuBox">
                            <ul class="depth1Group">
                                <li class="depth1Menu">
                                    <a href="#" class="depth1Name">경륜가이드</a>

                                    <ul class="depth2Group">
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">경륜 알아보기</a>
                                            <ul class="depth3Group">
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경륜안내</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경륜기초정보</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경주진행과정</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">벨로드롬 가이드</a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">경륜 즐겨보기</a>
                                            <ul class="depth3Group">
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경주권구매 가이드</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">출주표 보는법</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">배당률 보는법</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">벨경주권 환급</a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">경륜 지식쌓기</a>
                                            <ul class="depth3Group">
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경륜 자전거 안내</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경주규칙안내</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경륜전법소개</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경륜심판·장비</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">제재심의위원회</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경륜용어사전</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경륜·경정 관련법 안내</a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">경륜예상지</a>
                                        </li>
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">우승선수 예측</a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>