<%
var url = locals.url ? locals.url : '../../';
%>

<div class="cptFooter">
    <div class="footArea">
        <div class="siteArea">
            <ul class="siteGroup">
                <li class="item"><a href="">신고센터 안내</a></li>
                <li class="item"><a href="">패밀리사이트</a></li>
                <li class="item"><a href="">연관사이트</a></li>
            </ul>
        </div>
        <div class="addressArea">
            <div class="alignL">
                <div class="logoBox"><img src="" alt=""></div>
            </div>
            <div class="alignR">

            </div>
        </div>
        <div class="privacyArea">
            <ul class="menuGroup">
                <li class="item"><a href="#">개인정보처리방침</a></li>
                <li class="item"><a href="#">이용약관</a></li>
                <li class="item"><a href="#">자료무단복제금지</a></li>
                <li class="item"><a href="#">경륜경정 승자투표약관</a></li>
                <li class="item"><a href="#">그린카드(전자카드) 서비스 이용약관</a></li>
                <li class="item"><a href="#">저작권 정책</a></li>
                <li class="item"><a href="#">건전 베팅가이드</a></li>
            </ul>
        </div>
        <div class="copyArea">
            <div class="copyGroup">
                <span class="copy">© 2024 KCYCLE. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>