<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜선수', '선수조회'],
                    subTitle: '선수조회',
                    subText: '선수 프로필 · 경주별 기록 등을 <br/>상세한 <b>선수의 정보를 조회</b>할 수 있습니다.',
                    url: "../../",
                    visualClass: "bg03",
                }) %>

                <div class="layoutContArea">
                    <div class="cptWordFilter">
                        <div class="sectArea">
                            <div class="btnArea">
                                <ul class="btnGroup">
                                    <li class="btnItem">
                                        <button type="button" class="btn Primary">전체</button> <!--선택 탭 class : Primary-->
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㄱ</button> 
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㄴ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㄷ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine" disabled>ㄹ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine" disabled>ㅁ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅂ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅅ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅇ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅈ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅊ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅋ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅌ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅍ</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">ㅎ</button>
                                    </li>
                                </ul>
                            </div>

                            <div class="comSearchBox">
                                <div class="searchLine col4">
                                    <dl class="condition">
                                        <dt class="title">선수</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <select class="iptSlt">
                                                        <option value="">현역선수</option>
                                                        <option value="">드롭다운</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="condition">
                                        <dt class="title">등급</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <select class="iptSlt">
                                                        <option value="">조회</option>
                                                        <option value="">드롭다운</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="condition">
                                        <dt class="title">기수</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <select class="iptSlt">
                                                        <option value="">조회</option>
                                                        <option value="">드롭다운</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="condition">
                                        <dt class="title">훈련지</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <select class="iptSlt">
                                                        <option value="">선택하세요</option>
                                                        <option value="">드롭다운</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="searchLine">
                                    <dl class="condition">
                                        <dt class="title">검색어</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <input type="text" class="iptText" placeholder="내용을 입력하세요">
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <button class="btn Primary search">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptPersonDesc">
                        <div class="sectArea">
                            <div class="profPart">
                                <div class="comTitH2">
                                    <h2>선수프로필</h2>
                                </div>

                                <div class="profBox">
                                    <div class="chkArea">
                                        <input type="checkbox" id="like01"/>
                                        <label for="like01">선호선수</label>
                                    </div>
                                    <div class="photoArea">
                                        <div class="thumArea">
                                            <div class="thumWrap">
                                                <img src="../../images/thum/thum_person_detail.png" alt="강동국 선수 프로필 이미지">
                                            </div>
                                        </div>
                                        <div class="txtArea">
                                            <b class="name">강동국</b>
                                            <i class="date">19990041</i>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="infoArea">
                                        <ul class="infoGroup">
                                            <li class="infoItem">
                                                <div class="infoTit">신체정보</div>
                                                <ul class="dlList">
                                                    <li class="item">
                                                        <b class="tit">출생년도</b>
                                                        <i class="txt">1974년 02월 21일</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">신장/체중</b>
                                                        <i class="txt">176cm / 76kg</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">시력</b>
                                                        <i class="txt">좌 1.0 / 우 1.2</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">혈액형</b>
                                                        <i class="txt">A형</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">가슴둘레</b>
                                                        <i class="txt">101cm</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">대퇴부 둘레</b>
                                                        <i class="txt">위좌 60cm / 위우 60cm</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">하퇴부 둘레</b>
                                                        <i class="txt">위좌 38cm / 위우 38cm</i>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="infoItem">
                                                <div class="infoTit">개인정보</div>
                                                <ul class="dlList">
                                                    <li class="item">
                                                        <b class="tit">결혼</b>
                                                        <i class="txt">기혼</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">흡연여부</b>
                                                        <i class="txt">무</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">고등학교</b>
                                                        <i class="txt">거창종합</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">대학교</b>
                                                        <i class="txt">-</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">아마경력 <button type="button" class="popIcon">팝업 열기</button></b>
                                                        <i class="txt">비선수</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">출신지/출신팀</b>
                                                        <i class="txt">경남 / 경남</i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">최신입상내역 <button type="button" class="popIcon">팝업 열기</button></b>
                                                        <i class="txt tMint">부산광역시장배 대상경륜 1위</i>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="infoItem full">
                                                <div class="infoTit">기타</div>
                                                <ul class="dlList">
                                                    <li class="item">
                                                        <b class="tit">친인척 관계</b>
                                                        <i class="txt"><a href="#">강동진(12기)</a> / 형 </i>
                                                    </li>
                                                    <li class="item">
                                                        <b class="tit">기타사항</b>
                                                        <i class="txt etc">기타사항이 있는 경우에 작성되는 곳입니다.</i>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="dataPart">
                                <div class="comTitH2">
                                    <h2>경주 기록정보</h2>
                                </div>

                                <div class="comTitH3">
                                    <h3>경주성적</h3>
                                </div>
    
                                <div class="comDataTable">
                                    <div class="tableArea sizeM">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>등급변동</th>
                                                    <th>승률(%)</th>
                                                    <th>연대율(%)</th>
                                                    <th>삼연대율(%)</th>
                                                    <th>출주횟수</th>
                                                    <th>출주일수</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>B2->A1</td>
                                                    <td>0</td>
                                                    <td>3</td>
                                                    <td>7</td>
                                                    <td>10</td>
                                                    <td>30</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="comDataTable">
                                    <div class="tableArea sizeM">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>최근 3회 종합득점</th>
                                                    <th>최근 3회 종합순위</th>
                                                    <th>총 평균 득점</th>
                                                    <th>총 순위 득점</th>
                                                    <th>최근 3경주 200m 최고기록</th>
                                                    <th>훈련지/동창 훈련자</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>81.356</td>
                                                    <td>538</td>
                                                    <td>82.402</td>
                                                    <td>517</td>
                                                    <td>11”58</td>
                                                    <td>구미/홍길동</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                
                                <div class="comTitH3">
                                    <h3>경주성적</h3>
                                </div>
    
                                <div class="comDataTable">
                                    <div class="tableArea sizeM">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>등급변동</th>
                                                    <th>승률(%)</th>
                                                    <th>연대율(%)</th>
                                                    <th>삼연대율(%)</th>
                                                    <th>출주횟수</th>
                                                    <th>출주일수</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>B2->A1</td>
                                                    <td>0</td>
                                                    <td>3</td>
                                                    <td>7</td>
                                                    <td>10</td>
                                                    <td>30</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="comDataTable">
                                    <div class="tableArea sizeM">
                                        <table>
                                            <caption></caption>
                                            <colgroup>
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>최근 3회 종합득점</th>
                                                    <th>최근 3회 종합순위</th>
                                                    <th>총 평균 득점</th>
                                                    <th>총 순위 득점</th>
                                                    <th>최근 3경주 200m 최고기록</th>
                                                    <th>훈련지/동창 훈련자</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>81.356</td>
                                                    <td>538</td>
                                                    <td>82.402</td>
                                                    <td>517</td>
                                                    <td>11”58</td>
                                                    <td>구미/홍길동</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '조준호',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>