<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
				<%- include('../_ejs/sub_top.ejs', {
					location: ['경륜선수', '순위 정보'],
					subTitle: '1착 다승 누적 순위',
					subText: '경륜선수의 <br><b>1착 다승 누적 순위</b>를 알려드려요.',
					url: "../../",
					visualClass: "bg03",
				}) %> 
				
				<div class="layoutContArea">
					
					<div class="comSubInfo">
						<h2 class="infoTit">다승누적순위는 현역 선수를 대상으로 안내드리고 있습니다.</h2>
						<p class="info">특별경주 승수는 제외한 데이터이오니 이용에 참고하여 주시기 바랍니다.</p>
					</div>
					
					<div class="cptSection">
						<div class="sectArea">

							<div class="comTitH2">
								<h2>전체 1착 다승 누적 순위 안내</h2>
							</div>

							<div class="comDataTable">
								<div class="tableArea sizeXL">
									<table>
										<caption></caption>
										<colgroup>
											<col span="8" style="width:auto;">
										</colgroup>
										<thead>
											<th>순위</th>
											<th>선수명</th>
											<th>기수</th>
											<th><button type="button" class="sortIco tRed" title="내림차순으로 정렬">전체 누적승수</button></th>
											<th><button type="button" class="sortIco" title="내림차순으로 정렬">선행 누적승수</button></th><!-- class="sortIco up" title="오름차순으로 정렬" -->
											<th><button type="button" class="sortIco" title="내림차순으로 정렬">젖히기 누적승수</button></th>
											<th><button type="button" class="sortIco" title="내림차순으로 정렬">추입 누적승수</button></th>
											<th><button type="button" class="sortIco" title="내림차순으로 정렬">마크 누적승수</button></th>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>2</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>3</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>4</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>5</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>6</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>7</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>8</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>9</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>10</td>
												<td>임채빈</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<!-- 순위 리스트는 30개로 노출 -->
										</tbody>
									</table>
								</div>
							</div>
					
							<!-- 페이징 --> <!-- 20241102 cptSection 내부로 이동 -->
							<div class="comPaging">
								<a class="start" href="#"></a>
								<a class="prev" href="#"></a>
								<ul class="numList">
									<li><a href="#">1</a></li>
									<li class="on"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
								<a class="next" href="#"></a>
								<a class="end" href="#"></a>
							</div>

						</div>
					</div>

				</div>
					
				<!-- 서브 바텀 (담당자) -->
				<%- include('../_ejs/sub_btm.ejs', {
					team: '경륜기획팀',
					name: '조준호',
					phone: '02-2067-5711',
					url: "../../",
				}) %>
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>