<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['희망길벗'],
                    subTitle: '길벗 상담안내',
                    subText: '도움이 필요한<br /><b>무엇이든 물어보세요.</b>',
                    url: "../../",
                    visualClass: "bg04",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">길벗 상담안내</h2>
                        <p class="info">건전한 레저문화의 정착을 위해 일반인 및 청소년 등을 대상으로, 도박 과몰입 교육프로그램 및 예방프로그램, 다양한 정보제공, 홍보활동 및 네트워크 구축을 실시하고 있습니다.</p>
                    </div>
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>상담안내</h2>
                            </div>
                            <div class="comTitH3">
                                <h3>상담대상</h3>
                            </div>
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">사행성 게임에 대한 지나친 몰입으로 인하여 상담을 요청하는 개인 및 가족</li>
                                    <li class="item">위기상담 및 지속상담을 요청하는 개인 및 가족</li>
                                </ul>
                            </div>
                            <div class="comTitH3">
                                <h3>상담방법</h3>
                            </div>
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item"><b class="lineTit">대면상담 :</b> 1주에 1-2회, 1시간 ~ 2시간, 지속적인 대면 상담</li>
                                    <li class="item"><b class="lineTit">전화상담 :</b> 내담자의 문제를 파악한 후 문제해결을 위한 위기 개입, 대처방안과 정보전달</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cptContCounsel">
                        <div class="cptArea">
                            <div class="itemList">
                                <div class="rowA">
                                    <div class="ic icon1"></div>
                                    <div class="txt">
                                        <p class="m1">STEP 01</p>
                                        <p class="m2">신청접수</p>
                                    </div>
                                </div>
                                <div class="line"><span></span></div>
                                <div class="rowB">
                                    <div class="in">
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">방문</li>
                                                <li class="item">전화</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="itemList">
                                <div class="rowA">
                                    <div class="ic icon2"></div>
                                    <div class="txt">
                                        <p class="m1">STEP 02</p>
                                        <p class="m2">초기면접</p>
                                    </div>
                                </div>
                                <div class="line"><span></span></div>
                                <div class="rowB">
                                    <div class="in">
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">초기면접기록지</li>
                                                <li class="item">개인정보동의서</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="itemList">
                                <div class="rowA">
                                    <div class="ic icon3"></div>
                                    <div class="txt">
                                        <p class="m1">STEP 03</p>
                                        <p class="m2">사정/치료계획</p>
                                    </div>
                                </div>
                                <div class="line"><span></span></div>
                                <div class="rowB">
                                    <div class="in">
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">종합심리평가</li>
                                                <li class="item">Mind Care</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="itemList">
                                <div class="rowA">
                                    <div class="ic icon4"></div>
                                    <div class="txt">
                                        <p class="m1">STEP 04</p>
                                        <p class="m2">상담</p>
                                    </div>
                                </div>
                                <div class="line"><span></span></div>
                                <div class="rowB">
                                    <div class="in">
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">자제력 회복프로그램</li>
                                                <li class="item">가족치유 프로그램</li>
                                                <li class="item">집단 프로그램</li>
                                                <li class="item">위기개입 프로그램</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="itemList">
                                <div class="rowA">
                                    <div class="ic icon5"></div>
                                    <div class="txt">
                                        <p class="m1">STEP 05</p>
                                        <p class="m2">사후관리</p>
                                    </div>
                                </div>
                                <div class="line"><span></span></div>
                                <div class="rowB">
                                    <div class="in">
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">동기강화 힐링캠프</li>
                                                <li class="item">한국 단도박모임</li>
                                                <li class="item">도박중독자 가족모임</li>
                                                <li class="item">한국 도박문제 예방치유원</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptEtcInfo">
                        <div class="infoBox">
                            <dl class="info">
                                <dt>
                                    <em class="tit">대면, 전화상담이 어려우세요?</em>
                                    <span class="subTit">카카오톡 1:1상담</span>
                                </dt>
                                <dd>
                                    <div class="infoList">
                                        <ul class="listGroup">
                                            <li class="item"><b class="lineTit">상담가능시간</b> 수요일, 토요일 10:00 ~ 17:30</li>
                                            <li class="item"><b class="lineTit">상담방법</b>
                                                <ul class="boxStep">
                                                    <li class="stepItem kImg step1">
                                                        <em>카카오톡 어플 실행</em>
                                                        <i>휴대폰 또는 PC의 카카오톡 앱을 실행해 주세요.</i>
                                                    </li>
                                                    <li class="stepItem kImg step2">
                                                        <em>‘희망길벗’ 검색</em>
                                                        <i>카카오톡 검색창에 <b>‘희망길벗’</b>을 입력하세요.</i>
                                                    </li>
                                                    <li class="stepItem kImg step3">
                                                        <em>‘희망길벗’ 선택 후 채널추가를 해주세요. </em>
                                                        <i>누른 후 채팅하기를 시작해 주세요.</i>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="info">
                                <dt>
                                    <em class="tit">화상원격 상담</em>
                                </dt>
                                <dd>
                                    <div class="infoList">
                                        <ul class="listGroup">
                                            <li class="item">
                                                <b class="lineTit">상담대상</b> 전화 및 카카오톡 채널을 통해 방문상담이 필요한 이용자, 원거리 및 비대면 상담을 원하는 이용자
                                            </li>
                                            <li class="item">
                                                <b class="lineTit">상담방법</b> 희망길벗 문의 후 상담을 희망하는 희망길벗 지점 또는 자택에서 화상 프로그램에 접속
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="comAddGuide">
                                        <p class="guide">화상원격 상담은 희망길벗 전지점 화상상담실에서 운영, 자세한 방법은 희망길벗(080-646-5000)으로 문의</p>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="cptQuickMove">
                        <div class="boxArea">
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">희망길벗 개인상담 이용동의</em>
                                    <p class="desc">카카오톡 1: 1상담, 원격화상상담 진행 시 개인정보 이용동의서를 작성합니다.</p>
                                </div>
                                <div class="btnArea">
                                    <a href="#" class="btn Primary">개인정보 수집·이용 동의서 작성하기</a>
                                </div>
                            </div>
                            
                            <div class="quickBox">
                                <div class="txtArea">
                                    <em class="point">희망길벗 지점안내</em>
                                    <p class="desc">희망길벗 지점 정보를 확인할 수 있습니다.</p>
                                </div>
                                <div class="btnArea">
                                    <a href="#" class="btn Primary">지점안내 바로가기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '건전화운영팀',
                    name: '조철희',
                    phone: '02-2067-5577',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>