<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['희망길벗'],
                    subTitle: '희망길벗 소개',
                    subText: '도박중독 예방과 치유<br /><b>희망길벗</b>이 함께해요.',
                    url: "../../",
                    visualClass: "bg04",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">건강하고 건전한 여가생활문화 정착, 희망길벗</h2>
                        <p class="info">사행성 게임에 대한 지나친 몰입으로 인해 어려움과 고통을 경험하는 분들께 통합적 서비스를 제공합니다.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>예방 및 교육 홍보활동</h2>
                            </div>            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    건전한 레저문화의 정착을 위해 일반인 및 청소년 등을 대상으로, 도박중독 교육프로그램 및 예방프로그램, 다양한 정보제공, 홍보활동 및 네트워크 구축을 실시하고자 노력하고 있습니다.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="cptContBi">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>연구 및 조사활동</h2>
                            </div>            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    도박중독과 관련된 다양한 실태조사 및 프로그램 개발, 전문적인 연구 활동을 통해 개인에게 보다 적합하고 체계적인 상담 및 치유프로그램을 추진하고 있습니다.
                                </p>
                            </div>
                            <div class="comTitH3">
                                <h3>통합적 모델 Integration Model</h3>
                            </div>
                            <div class="comContTable both">
                                <div class="tableArea">
                                    <table>
                                        <caption>통합적 모델 Integration Model 표 : 구분과 내용을 포함한 표</caption>
                                        <colgroup>
                                            <col style="width:22.5%;">
                                            <col style="width:76.5%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="lineR">구분</th>
                                                <th>내용</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="lineR">예방</th>
                                                <td>사행성 게임 이용자 및 가족, 일반인</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">조사연구</th>
                                                <td>예방 및 치유 매뉴얼 연구 도박중독 실태조사</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">홍보</th>
                                                <td>도박문제 홍보, 유관기관 네트워크</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">상담</th>
                                                <td>방문 및 전화, 카카오톡 채널, 화상상담</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">사후관리</th>
                                                <td>희망길벗 재활프로그램 운영 및 추적관리, 한국도박문제관리센터 및 단도박 자조모임연계</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">교육</th>
                                                <td>사행성 게임 이용자, 사행산업 종사자</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    
                    <div class="cptSection">
                        <div class="contArea">
                            <div class="comTitH3">
                                <h3>희망길벗경륜경정 중독예방치유센터 운영 목적</h3>
                            </div>
                            <div class="comContInfo">
                                <div class="ppBox">
                                    <div class="cont family">
                                        <div class="rowA">
                                            <p class="m1">도박중독자 및 가족</p>
                                            <p class="m2">도박중독상담치유</p>
                                        </div>
                                        <div class="rowB">
                                            <ul class="listGroup">
                                                <li class="item">도박중독에 대한 심층상담 및 치유, 교육</li>
                                                <li class="item">도박 및 도박중독 관련 정보 제공</li>
                                                <li class="item">다양한 치유프로그램 제공</li>
                                                <li class="item">종합적 심리평가 제공</li>
                                                <li class="item">예방 및 재발방지 상담</li>
                                                <li class="item">지속적인 고객 관리</li>
                                                <li class="item">관련 치유기관 연계</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="arr"></div>
                                    <div class="clc">
                                        <div class="inTxt">
                                            <img src="../../images/contents/cont06_01_logo.png" alt="희망길벗 경륜경정중독예방치유센터">
                                            <p class="m1">
                                                희망길벗경륜경정 <br />
                                                중독예방치유센터 <span class="blk"></span>
                                                운영 목적
                                            </p>
                                        </div>
                                    </div>
                                    <div class="arr rev"></div>
                                    <div class="cont busi">
                                        <div class="rowA">
                                            <p class="m1">일반인 및 사행산업 종사자</p>
                                            <p class="m2">예방교육 및 정보제공</p>
                                        </div>
                                        <div class="rowB">
                                            <ul class="listGroup">
                                                <li class="item">중독관련 예방 교육</li>
                                                <li class="item">도박중독 홍보 및 캠페인</li>
                                                <li class="item">도박 및 도박중독 관련 정보 제공</li>
                                                <li class="item">심리상담 및 종합 심리평가 제공</li>
                                                <li class="item">사행산업 종사자 건전화 교육</li>
                                                <li class="item">도박중독 상담사 역량강화 교육</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptContBi">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>희망길벗 BI</h2>
                            </div>            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    희망길벗 BI의 효과적인 이미지형성을 위해서는 다른 외부요소가 침범하지 않는 최소한의 공간이 확보되어야 한다. BI의 기본요소가 확보해야 할 최소한의 공간이므로 각종매체에 적용할 경우, 최소공간 내에 다른 요소나 복잡한 패턴 등이 침범하는 경우가 발생하지 않도록 한다.
                                </p>
                            </div>
                            <div class="BiInfo">
                                <div class="biBox">
                                    <div class="biImg">
                                        <div class="biInLogo">
                                            <img src="../../images/contents/cont06_01_logo.png" alt="희망길벗 경륜경정중독예방치유센터 BI" class="i2">
                                        </div>
                                    </div>                                    
                                    <div class="biDownLoad">
                                        <a href="#" class="btn md dkLine pcW150" target="_blank">AI 다운로드</a>
                                    </div>
                                </div>
                            </div>
                            <div class="LogoSignInfo">
                                <div class="inbox">
                                    <div class="w50 logo">
                                        <div class="comTitH3">
                                            <h3>로고 타입 | Logo Type</h3>
                                        </div>
                                        <div class="downWrap">
                                            <div class="img"></div>
                                            <div class="biDownLoad">
                                                <a href="#" class="btn md dkLine pcW150" target="_blank">AI 다운로드</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w50 sign">
                                        <div class="comTitH3">
                                            <h3>시그니처 | Signature</h3>
                                        </div>
                                        <div class="downWrap">
                                            <div class="img"></div>
                                            <div class="biDownLoad">
                                                <a href="#" class="btn md dkLine pcW150" target="_blank">AI 다운로드</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                          
                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '건전화운영팀',
                    name: '조철희',
                    phone: '02-2067-5577',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>