<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['희망길벗'],
                    subTitle: '도박중독의 이해',
                    subText: '도박중독에 대해 이해하고<br /><b>예방과 치유방법</b>을 알아보세요.',
                    url: "../../",
                    visualClass: "bg04",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">건강한 가치관 형성을 위한 도박중독의 이해</h2>
                        <p class="info">도박중독은 꾸준한 노력과 전문가의 도움으로 충분히 극복할 수 있습니다.</p>
                    </div>

                    <div class="cptContPrevention">
                        <div class="prevntBox">
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_01.html">
                                    <dl>
                                        <dt>도박, 무엇인가요?</dt>
                                        <dd>  
                                            도박과 놀이는 비슷하지만 분명히 다른 특징을 가지고 있습니다.<br />도박은 중독성이 강하고 심각한 부정적인 결과를 초래할 수 있기 때문에 주의해야 합니다.
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_02.html">
                                    <dl>
                                        <dt>도박중독이란 무엇일까요?</dt>
                                        <dd>  
                                            도박중독이란, 도박 행동으로 인한 결과가 해로움에도 불구하고, 도박 행동을 자제하거나 혹은 조절하지 못하고 지속적으로 지나치게 집착 혹은 몰입하는 것을 말합니다.
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_03.html">
                                    <dl>
                                        <dt>도박중독은 어떻게 진행되나요?</dt>
                                        <dd>  
                                            도박을 처음 시작하게 되었때, ‘호기심 혹은 여가’를 즐기기 위한 목적으로 ‘소액’으로 즐기게 됩니다. 이렇듯 사교적이고 유희적인 목적에서 시작되어 점차 ‘승리단계’로 넘어가기 시작합니다.
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_04.html">
                                    <dl>
                                        <dt>도박중독의 증상은 무엇인가요?</dt>
                                        <dd>  
                                            도박중독이란, 도박 행동으로 인한 결과가 해로움에도 불구하고, 도박 행동을 자제하거나 혹은 조절하지 못하고 지속적으로 지나치게 집착 혹은 몰입하는 것을 말합니다.
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_05.html">
                                    <dl>
                                        <dt>도박중독의 원인은 무엇인가요?</dt>
                                        <dd>  
                                            도박과 놀이는 비슷하지만 분명히 다른 특징을 가지고 있습니다. <br />도박은 중독성이 강하고 심각한 부정적인 결과를 초래할 수 있기 때문에 주의해야 합니다.
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_06.html">
                                    <dl>
                                        <dt>도박중독의 단계와 유형은 어떻게 되나요?</dt>
                                        <dd>  
                                            도박중독이란, 도박 행동으로 인한 결과가 해로움에도 불구하고, 도박 행동을 자제하거나 혹은 조절하지 못하고 지속적으로 지나치게 집착 혹은 몰입하는 것을 말합니다.
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_07.html">
                                    <dl>
                                        <dt>도박중독자 가족의 증상은 무엇인가요?</dt>
                                        <dd>  
                                            도박과 놀이는 비슷하지만 분명히 다른 특징을 가지고 있습니다. <br />도박은 중독성이 강하고 심각한 부정적인 결과를 초래할 수 있기 때문에 주의해야 합니다.
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_08.html">
                                    <dl>
                                        <dt>공동의존이란 무엇일까요?</dt>
                                        <dd>  
                                            도박자의 중독문제가 만성화 되어 갈수록 도박자와 가족들에게도 2차적인 심리적인 문제인 공동의존이 나타나게 됩니다. 
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_09.html">
                                    <dl>
                                        <dt>도박중독은 어떻게 치유될까요?</dt>
                                        <dd>  
                                            도박과 놀이는 비슷하지만 분명히 다른 특징을 가지고 있습니다.<br />도박은 중독성이 강하고 심각한 부정적인 결과를 초래할 수 있기 때문에 주의해야 합니다.
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                            <div class="item">
                                <a href="../../html/menu06/page_06_03_10.html">
                                    <dl>
                                        <dt>도박중독 예방을 위한 방법은 무엇인가요?</dt>
                                        <dd>  
                                            도박중독이란, 도박 행동으로 인한 결과가 해로움에도 불구하고, 도박 행동을 자제하거나 혹은 조절하지 못하고 지속적으로 지나치게 집착 혹은 몰입하는 것을 말합니다.
                                            <span class="lk">알아보기</span>
                                        </dd>
                                    </dl>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '건전화운영팀',
                    name: '조철희',
                    phone: '02-2067-5577',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>