<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['희망길벗'],
                    subTitle: '도박중독의 이해',
                    subText: '도박중독에 대해 이해하고<br /><b>예방과 치유방법</b>을 알아보세요.',
                    url: "../../",
                    visualClass: "bg04",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">건강한 가치관 형성을 위한 도박중독의 이해</h2>
                        <p class="info">도박중독은 꾸준한 노력과 전문가의 도움으로 충분히 극복할 수 있습니다.</p>
                    </div>

                    <div class="cptContPrevention">
                        <div class="contArea">
                            <div class="comTitH2">
                                <h2>도박중독의 증상은 무엇일까요?</h2>
                            </div>            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    도박에 중독이 되면, 심리행동적 특성과 사회적 징후의 다양한 증상이 나타나게 됩니다. <br />
                                    가족 중 누군가가 도박중독자가 되었다면, 가장 먼저 가족들은 상당한 심리적 충격을 받게 됩니다. <br />
                                    매우 당황스러워하며 자신의 가족이 도박중독자가 되었다는 생각에 수치심을 경험하게 됩니다. <br /><br />
                                    이로 인해 가족의 도박중독 문제를 숨겨주게 되고, 도박중독자의 거짓말에 대한 동조자가 됩니다. <br />
                                    그리고 <em>도박중독의 특성</em>을 알거나 이해하지 못하기 때문에 도박중독자의 도박문제를 단순한 실수로 간주하며 경제적으로 지원하고 달래고 혼내기를 반복하게 됩니다. <br />
                                    또한 도박중독자의 거짓말과 거듭되는 도박으로 인해 지속적인 불신감과 의심을 반복하며 도박중독자의 모든 행동을 통제하려고 시도합니다. <br />
                                    그러나 도박중독자에 대한 통제가 실패로 돌아가면서 좌절감과 무력감, 배신감을 느끼며 경고와 비난, 호소, 심리적 압박을 시도하며, 도박중독 회복을 위한 치유 방법을 알아보기도 합니다.
                                </p>
                            </div>
                        </div>                    
                        <div class="comTitH3">
                            <h3>도박중독자 가족의 2가지 역할</h3>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">
                                <em>일정기간 단도박 이후 반복적인 재발이 나타나면서</em> 도박중독자에 대한 불신과 분노가 깊어지고, 관계가 악화되며, 경제적 어려움과 대인관계 문제등으로 인한 상당한 고통을 경험하게 됩니다. <br />
                                이로 인해 이혼이나 별거, 가족과의 분리를 시도하며 가정의 위기를 경험하게 되고, 가족 역시 우울과 불안 등의 부정적 정서로 인한 심리적 어려움과 자살충동 등을 경험하게 됩니다. <br />
                                도박중독이 진행되고 만성화가 되어가면서 가족들은 흔히 두 가지 역할의 특성을 보이게 됩니다.
                            </p>
                        </div>    
                        <div class="comDataTable both">
                            <div class="tableArea sizeL">
                                <table>
                                    <caption>도박중독자 가족의 2가지 역할 표 : 구분과 내용을 포함한 표</caption>
                                    <colgroup>
                                        <col style="width:22.5%;">
                                        <col style="width:76.5%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>구분</th>
                                            <th>내용</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>지배자형 가족</th>
                                            <td class="left">
                                                지배자형 가족은 도박자의 도박행동과 피해를 이유로, 도박자의 모든 생활과 행동에 대한 통제와 감시, 확인을 하며 도박자가 도박을 하지 못하도록 가족의 통제권 안에 가둬두려는 역할을 담당하는 것을 의미합니다.
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>순교자형 가족</th>
                                            <td class="left">
                                                순교자형 가족은 도박자의 도박행동으로 인한 모든 피해와 원인을 가족의 탓으로 간주하고, 도박자의 도박으로 인한 모든 문제의 책임을 대신 져주는 역할을 담당하는 것으로, 도박자의 변화에만 매달리는 역할을 담당하는 것을 의미합니다.
                                            </td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>   
                        <div class="comBasicTxt">
                            <p class="txt">                                
                                <em>특히 지배자와 순교자의 역할은 각각 따로 나타나기도 하며, 두 가지 모습을 함께 보이는 경우도 많습니다.</em> <br />
                                도박으로 인한 고통을 받을 때는 지배자형, 도박으로 인한 고통의 감정이 완화될 때는 순교자형의 태도를 보이기도 합니다. 이 두 가지의 역할 모두 선의의 의도와 목적은 있습니다. 바로 도박자를 도박으로부터 건져 보호를 해주고 싶은 마음이죠 그러나 이러한 두 가지 역할은 가족에 대한 도박자의 의존성을 강화하고, 가족이 대신 도박으로 인한 문제를 책임짐으로서 가족의 정서적 파괴가 가속화되어 도박자의 총체적 변화가 아닌 단도박에만 매달리게 됩니다. <br />
                                이는 가족 자신이 아닌 도박자에게 모든 초점이 맞춰져 있기 때문입니다. 즉, 도박자가 법적인 처벌을 받게 되거나, 신용불량자가 되거나, 사채업자 등에 해를 당하거나, 직장에서 해고가 되거나, 사회에서 매장당하거나, 이혼이나 별거를 하게 되거나, 목숨을 포기하게 되는 것에(자살) 대한 가족의 불안감과 두려움으로 인해 잘못된 역할을 담당하게 되는 것입니다. <br />
                                <em>이로 인해 중독자 가정의 고유한 특징인 공동의존이라는 생겨나게 됩니다.</em> 
                            </p>
                        </div>
                        <div class="comBtnGroup">
                            <div class="alignR">
                                <div class="btnBox min">
                                    <a href="../../html/menu06/page_06_03.html" class="btn dkLine">목록보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '건전화운영팀',
                    name: '조철희',
                    phone: '02-2067-5577',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>