<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['희망길벗'],
                    subTitle: '도박중독의 이해',
                    subText: '도박중독에 대해 이해하고<br /><b>예방과 치유방법</b>을 알아보세요.',
                    url: "../../",
                    visualClass: "bg04",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">건강한 가치관 형성을 위한 도박중독의 이해</h2>
                        <p class="info">도박중독은 꾸준한 노력과 전문가의 도움으로 충분히 극복할 수 있습니다.</p>
                    </div>

                    <div class="cptContPrevention">
                        <div class="contArea">
                            <div class="comTitH2">
                                <h2>공동의존이란 무엇일까요?</h2>
                            </div>            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    <!-- 20250314 텍스트 수정 -->
                                    <em>도박자의 중독문제가 만성화 되어 갈수록 도박자와 가족들에게도 2차적 심리문제인 공동의존이 나타나게 됩니다 </em> <br />
                                    가족들이 도박자의 도박문제를 알게 되었을 때, 가족들은 도박자를 도박으로부터 보호하려는 심리가 강하게 나타나게 되며, 도박자는 가족들에게 자신의 도박문제에 대한 의존을 하게 됨과 동시에 가족의 간섭으로부터 벗어나려는 심리가 강하게 나타납니다. <br /><br />
                                    
                                    즉, 가족들은 도박자를 도박으로부터 구해내야 한다는 책임감과 동시에 도박자가 도박중독에서 벗어나야만 가족이 행복해질 수 있다는 무의식이 자리 잡게 됩니다. <br />
                                    이로 인해 가족이 도박문제를 대신 해결해주어 도박자가 도박의 결과를 책임지지 않고 도박을 계속할 수 있는 환경을 만들게 되고, 가족들이 도박자의 책임을 떠맡음으로 인해 가족 스스로도 도박자로부터 심리적, 환경적, 경제적 독립을 하지 못하고 <em>도박자에게 의존</em>하게 되는 문제를 의미합니다.<br /><br />

                                    이 때, 가족들은 자신의 행복을 '도박자의 단도박에 종속'시키므로 도박자가 도박중독에서 벗어나기 전까지 절대로 가족들이 행복해질 수 없다고 생각을 하게됩니다. 심한 경우 도박자가 끝없이 도박을 해야 가족들이 도박의 늪에서 도박자를 건져내는 역할을 하며 행복감을 얻을 수 있기에 도박자가 다시 도박을 할 수 있는 환경과 원인을 만들게 되는 무의식적 조장을 하게 되기도 합니다<br /><br />

                                    결국 가족과 도박자 모두 삶의 만족과 행복을 자신이 아닌 상대에게서 발견하려하기 때문에 서로 상대에게 의존하려는 모습을 보이지만 의존을 통한 만족감은 결코 충족될 수 없기에 결국 공동의 파멸의 늪에 빠질 수 밖에 없습니다.
                                </p>
                            </div>
                        </div>                        
                        <div class="comBtnGroup">
                            <div class="alignR">
                                <div class="btnBox min">
                                    <a href="../../html/menu06/page_06_03.html" class="btn dkLine">목록보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '건전화운영팀',
                    name: '조철희',
                    phone: '02-2067-5577',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>