<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['희망길벗'],
                    subTitle: '자가진단',
                    subText: '새로운 희망을 찾는 분들과<br /><b>희망길벗이 함께 해요.</b>',
                    url: "../../",
                    visualClass: "bg04",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">도박중독 치유의 첫걸음, 자가진단</h2>
                        <p class="info">자가진단을 통해 나의 도박 중독상태를 알아보세요.</p>
                    </div>

                    <div class="cptContSelfTest">
                        <div class="sectArea">

                            <div class="testContSelect">
                                <div class="wd100">
                                    <div class="tit">지역센터</div>
                                    <div class="cont">
                                        <div class="frmGroup">
                                            <div class="frmBox frmMd">
                                                <select class="iptSlt">
                                                    <option value="">선택하세요</option>
                                                    <option value="">광명</option>
                                                    <option value="">미사리</option>
                                                    <option value="">장안</option>
                                                    <option value="">분당</option>
                                                    <option value="">관악</option>
                                                    <option value="">시흥</option>
                                                    <option value="">성북</option>
                                                    <option value="">강남</option>
                                                    <option value="">천안</option>
                                                    <option value="">의정부</option>
                                                    <option value="">동대문</option>
                                                    <option value="">수원</option>
                                                    <option value="">부천</option>
                                                    <option value="">산본</option>
                                                    <option value="">기타</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd50">
                                    <div class="tit">출생연도</div>
                                    <div class="cont">
                                        <div class="frmGroup">
                                            <div class="frmBox frmMd">
                                                <select class="iptSlt">
                                                    <option value="">선택하세요</option>
                                                    <option value="">2004</option>
                                                    <option value="">2003</option>
                                                    <option value="">.</option>
                                                    <option value="">.</option>
                                                    <option value="">.</option>
                                                    <option value="">1921</option>
                                                    <option value="">1920</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wd50">
                                    <div class="tit">성별</div>
                                    <div class="cont">
                                        <div class="frmGroup gap40">
                                            <div class="frmBox maxCont"><input id="rdo101" type="radio" class="iptRdo" name="rdo101" /><label for="rdo101" class="iptLbl">남</label></div>
                                            <div class="frmBox maxCont"><input id="rdo102" type="radio" class="iptRdo" name="rdo101" /><label for="rdo102" class="iptLbl">여</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="testContInfoT">
                                <div class="comTitH2">
                                    <h2>지난 1년 동안에 대해 생각해보고, 해당하는 점수를 선택하세요.</h2>
                                </div>
                                <div class="comAddGuide">
                                    <p class="guide">없음(0점), 가끔(1점), 때때로(2점), 거의항상(3점)</p>
                                </div>
                            </div>                            
                            
                            <div class="testContTbl">
                                <div class="testCont">
                                    <div class="subject">
                                        <div class="num">1</div>
                                        <div class="txt">귀하는 도박에서 잃어도 크게 상관없는 금액 이상으로 도박을 한 적이 있습니까?</div>
                                    </div>
                                    <div class="clickBox">
                                        <ul>
                                            <li>
                                                <input type="radio" id="self11_1" name="self11">
                                                <label for="self11_1">없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self11_2" name="self11">
                                                <label for="self11_2">가끔</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self11_3" name="self11">
                                                <label for="self11_3">때때로</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self11_4" name="self11">
                                                <label for="self11_4">거의항상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testCont bg">
                                    <div class="subject">
                                        <div class="num">2</div>
                                        <div class="txt">귀하는 도박에서 이전과 같은 흥분감을 느끼기 위해 더 많은 돈을 걸어야 했던 적이 있습니까?</div>
                                    </div>
                                    <div class="clickBox">
                                        <ul>
                                            <li>
                                                <input type="radio" id="self12_1" name="self12">
                                                <label for="self12_1">없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self12_2" name="self12">
                                                <label for="self12_2">가끔</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self12_3" name="self12">
                                                <label for="self12_3">때때로</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self12_4" name="self12">
                                                <label for="self12_4">거의항상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testCont">
                                    <div class="subject">
                                        <div class="num">3</div>
                                        <div class="txt">귀하는 도박으로 잃은 돈을 만회하기 위해 다른 날 다시 도박을 하신 적이 있습니까?</div>
                                    </div>
                                    <div class="clickBox">
                                        <ul>
                                            <li>
                                                <input type="radio" id="self13_1" name="self13">
                                                <label for="self13_1">없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self13_2" name="self13">
                                                <label for="self13_2">가끔</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self13_3" name="self13">
                                                <label for="self13_3">때때로</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self13_4" name="self13">
                                                <label for="self13_4">거의항상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testCont bg">
                                    <div class="subject">
                                        <div class="num">4</div>
                                        <div class="txt">귀하는 도박자금을 마련하기 위해 돈을 빌리거나 무엇인가를 판 적이 있습니까?</div>
                                    </div>
                                    <div class="clickBox">
                                        <ul>
                                            <li>
                                                <input type="radio" id="self14_1" name="self14">
                                                <label for="self14_1">없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self14_2" name="self14">
                                                <label for="self14_2">가끔</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self14_3" name="self14">
                                                <label for="self14_3">때때로</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self14_4" name="self14">
                                                <label for="self14_4">거의항상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testCont">
                                    <div class="subject">
                                        <div class="num">5</div>
                                        <div class="txt">귀하는 자신의 도박행위가 문제가 될 만한 수준이라고 느낀 적이 있습니까?</div>
                                    </div>
                                    <div class="clickBox">
                                        <ul>
                                            <li>
                                                <input type="radio" id="self15_1" name="self15">
                                                <label for="self15_1">없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self15_2" name="self15">
                                                <label for="self15_2">가끔</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self15_3" name="self15">
                                                <label for="self15_3">때때로</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self15_4" name="self15">
                                                <label for="self15_4">거의항상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testCont bg">
                                    <div class="subject">
                                        <div class="num">6</div>
                                        <div class="txt">귀하는 도박으로 인해 스트레스나 불안 등을 포함한 어떤 건강상의 문제를 겪은 적이 있습니까?</div>
                                    </div>
                                    <div class="clickBox">
                                        <ul>
                                            <li>
                                                <input type="radio" id="self16_1" name="self16">
                                                <label for="self16_1">없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self16_2" name="self16">
                                                <label for="self16_2">가끔</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self16_3" name="self16">
                                                <label for="self16_3">때때로</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self16_4" name="self16">
                                                <label for="self16_4">거의항상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testCont">
                                    <div class="subject">
                                        <div class="num">7</div>
                                        <div class="txt">귀하는 사실여부에 상관없이 다른 사람들로부터 도박행위를 비난받거나 도박문제가 있다는 얘기를 들은 적이 있습니까?</div>
                                    </div>
                                    <div class="clickBox">
                                        <ul>
                                            <li>
                                                <input type="radio" id="self17_1" name="self17">
                                                <label for="self17_1">없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self17_2" name="self17">
                                                <label for="self17_2">가끔</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self17_3" name="self17">
                                                <label for="self17_3">때때로</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self17_4" name="self17">
                                                <label for="self17_4">거의항상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testCont bg">
                                    <div class="subject">
                                        <div class="num">8</div>
                                        <div class="txt">귀하의 도박행위로 인해 본인이나 가정에 재정적인 문제가 발생한 적이 있습니까?</div>
                                    </div>
                                    <div class="clickBox">
                                        <ul>
                                            <li>
                                                <input type="radio" id="self18_1" name="self18">
                                                <label for="self18_1">없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self18_2" name="self18">
                                                <label for="self18_2">가끔</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self18_3" name="self18">
                                                <label for="self18_3">때때로</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self18_4" name="self18">
                                                <label for="self18_4">거의항상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testCont">
                                    <div class="subject">
                                        <div class="num">9</div>
                                        <div class="txt">귀하는 자신의 도박하는 방식이나 도박을 해서 발생한 일에 대해 죄책감을 느낀 적이 있습니까?</div>
                                    </div>
                                    <div class="clickBox">
                                        <ul>
                                            <li>
                                                <input type="radio" id="self19_1" name="self19">
                                                <label for="self19_1">없음</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self19_2" name="self19">
                                                <label for="self19_2">가끔</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self19_3" name="self19">
                                                <label for="self19_3">때때로</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="self19_4" name="self19">
                                                <label for="self19_4">거의항상</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="comBtnGroup section">
                                    <div class="alignC">
                                        <div class="btnBox m30">
                                            <button class="btn lg gLine reFresh">초기화</button>
                                            <button class="btn lg Primary pcW180" onclick="openPopup('testContResult')">진단하기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    
                </div>

                <!-- 선수정보 팝업 -->
                <div id="testContResult" class="modMdPopup"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                    <div class="popupDim">딤영역</div>
                    <div class="popupArea">
                        <div class="popupInMotion">
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('testContResult');">닫기</button>
                                    <div class="popTitle">자가진단 테스트 결과</div>
                                    <div class="popCont">
                                        <!-- 팝업 컨텐츠 영역 -->
                                        <div class="cptPopSelfTestResult"> <!--class 'inPopup' : 레이어 팝업 내부에서 쓰일 때 클래스 추가-->
                                            <div class="sectArea">
                                                <div class="rowA">
                                                    <div class="ic"></div>
                                                    <div class="txtTit">
                                                        자가진단이 완료되었습니다. <br />
                                                        귀하의 자가진단 점수는 <span class="totalCnt">13</span>점입니다.
                                                    </div>
                                                </div>
                                                <div class="rowB">
                                                    <div class="txtRst">8점 이상(문제성 도박)</div>
                                                    <div class="txtRstInfo">
                                                        도박행동을 조절하지 못하는 상태를 나타내며, 점수가 높을수록 <span class="blk"></span>
                                                        문제의 심각성은 더욱 큽니다. 반드시 전문가와 상담이 필요합니다.
                                                    </div>
                                                    <div class="comAddGuide">
                                                        <p class="guide">Tel. 080-008-5000</p>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <!-- //팝업 컨텐츠 영역 -->
                                    </div>
                                    <!-- 팝업 하단 영역 -->
                                    <div class="popBtm">
                                        <div class="comBtnGroup">
                                            <div class="alignC">
                                                <div class="btnBox">
                                                    <button class="btn lg Primary pcW180">확인</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    // 선택 초기화
                    function resetRadioButtons() {
                        const radioButtons = document.querySelectorAll('input[type="radio"]');
                        
                        radioButtons.forEach(radio => {
                            radio.checked = false;
                        });
                    }

                    document.querySelector('.reFresh').addEventListener('click', function(e) {
                        e.preventDefault();
                        resetRadioButtons();
                    });
                </script>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '건전화운영팀',
                    name: '조철희',
                    phone: '02-2067-5577',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>