<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">
                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <div class="layoutContArea">
                    <div class="cptJoinTable">
                        <div class="joinArea">
                            <div class="joinStep">
                                <ul class="stepGroup">
                                    <li class="step complete"><span class="txt">본인인증</span></li> <!-- addClass - complete : 입력완료, current : 현재 -->
                                    <li class="step complete"><span class="txt">정보입력 및 약관동의</span></li>
                                    <li class="step current"><span class="txt">가입완료</span></li>
                                </ul>
                            </div>

                            <div class="registrationTitle alignCenter">
                                <h2><strong>홍길동</strong>님,<br>회원가입이 완료되었습니다.</h2>
                                <h3>개인정보변경은 <strong>[마이페이지 > 내정보수정]</strong> 에서 변경이 가능합니다.</h3>
                            </div>

                            <div class="comBtnGroup section">
                                <div class="alignC">
                                    <div class="btnBox m50">
                                        <button class="btn dkLine pcW140">메인으로 이동</button>
                                        <button class="btn Primary pcW140">로그인</button>
                                    </div>
                                </div>
                            </div>

                            <div class="linkBoxGroup">
                                <p>경륜·경정 온라인 발매는<br class="mView"> 스피드온 가입 후 사용이 가능합니다!</p>
                                <a href="https://www.speedon.or.kr/">
                                    <img src="../../images/common/ic_speed_on.png" alt="" />
                                    <span>스피드온 회원가입 바로가기</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>      