<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: '',
                    subTitle: '순위예측',
                    subText: '다양한 분석 모델을 활용한 정보를 기반으로<br><b>적중률 100%에 도전해 보세요.</b>',
                    url: "../../",
                    visualClass: "bg05",
                }) %>

                <div class="layoutContArea">
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comSubInfo">
                                <h2 class="infoTit">모든 정보는 절대적 예측 결과는 아니며, 베팅에 대한 책임은 고객에게 있습니다.</h2>
                                <p class="info">순위예측 서비스는 AI 예측 모델과 고객의 구매 패턴, 경륜 전문가의 분석 정보 기반으로 제공되며, 절대적 예측 결과는 아니며, 베팅에 대한 책임은 고객에게 있습니다.</p>
                            </div>

                            <div class="cptDateSelect">
                                <div class="sectArea">
                                    <!-- 날짜 선택 박스영역 -->
                                    <div class="selectBox">
                                        <div class="frmGroup">
                                            <div class="frmBox frmMd">
                                                <select class="iptSlt typeLine">
                                                    <option value="">2024</option>
                                                    <option value="">2023</option>
                                                    <option value="">2022</option>
                                                    <option value="">2021</option>
                                                    <option value="">2020</option>
                                                </select>
                                            </div>
                                            <div class="frmBox">
                                                <select class="iptSlt typeLine">
                                                    <option value="">2024년 07월 21일 28회 3일차</option>
                                                    <option value="">2024년 07월 21일 28회 4일차</option>
                                                    <option value="">2024년 07월 21일 28회 5일차</option>
                                                    <option value="">2024년 07월 21일 28회 6일차</option>
                                                    <option value="">2024년 07월 21일 28회 7일차</option>
                                                    <option value="">2024년 07월 21일 28회 8일차</option>
                                                    <option value="">2024년 07월 21일 28회 9일차</option>
                                                </select>
                                            </div>
                                        </div>
        
                                        <button type="button" class="calendarBtn" onclick="openPopup('calendarPop')">달력으로 날짜 선택</button>
        
                                        <div class="layerPopup" id="calendarPop"> <!--class 'on' : 팝업 열림-->
                                            <div class="popHead">
                                                <h3>달력조회</h3>
                                                <button type="button" class="popClose"  onclick="closePopup('calendarPop')">팝업 닫기</button>
                                            </div>
                                            <div class="popCont">
                                                <div class="dateSetting">
                                                    <div class="btnGroup">
                                                        <button type="button" class="setBtn first">이전 해로 이동</button>
                                                        <button type="button" class="setBtn prev">이전 달로 이동</button>
                                                    </div>
                                                    <div class="date">
                                                        <span>2024년</span>
                                                        <span>12월</span>
                                                    </div>
                                                    <div class="btnGroup">
                                                        <button type="button" class="setBtn next">다음 달로 이동</button>
                                                        <button type="button" class="setBtn last">다음 해로 이동</button>
                                                    </div>
                                                </div>
        
                                                <div class="comCalendar inPop"> <!--class 'inPop' : 레이어팝업 내부에 들어올 때-->
                                                    <ul class="weekDays">
                                                        <li class="dayItem"><p>월</p></li>
                                                        <li class="dayItem"><p>화</p></li>
                                                        <li class="dayItem"><p>수</p></li>
                                                        <li class="dayItem"><p>목</p></li>
                                                        <li class="dayItem"><p>금</p></li>
                                                        <li class="dayItem"><p>토</p></li>
                                                        <li class="dayItem"><p class="sun">일</p></li>
                                                    </ul>
                                                    <ul class="dayGroup">
                                                        <li class="dayItem">
                                                            <span class="txt">1</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">2</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">3</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">4</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark mint">5</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark mint">6</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark mint">7</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">8</span>
                                                        </li>
                                                        <li class="dayItem today"> <!--class 'today' : 오늘 날짜 표시-->
                                                            <span class="txt">9</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">10</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">11</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark blue">12</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark blue">13</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark blue">14</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">15</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">16</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">17</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">18</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark mint">19</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark mint">20</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark mint">21</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">22</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">23</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">24</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">25</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark mint">26</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark mint">27</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="mark yellow">28</span>
                                                            
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">29</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">30</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt">31</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt none">1</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt none">2</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt none">3</span>
                                                        </li>
                                                        <li class="dayItem">
                                                            <span class="txt none">4</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comGroupTop prediction">
                                <div class="alignR">
                                    <button type="button" class="btnReload color">2024.10.11 04:12:15 기준</button>
                                </div>
                            </div>

                            <div class="comDataTable both predictionTbl"><!-- addClass - row: th가 body에 존재, both: th가 thead와 body에 존재 -->
                                <div class="tableArea sizeL">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>경주</th>
                                                <th>AI 예측
                                                    <div class="comToolTip">
                                                        <button type="button" class="tooltip" onclick="ttOpen('tooltip01')">이용안내 툴팁</button>
                                                        <div class="tooltipBox" id="tooltip01"><!--class 'on' : 툴팁 오픈 -->
                                                            <button type="button" class="btnClose" onclick="ttClose('tooltip01')">툴팁 닫기</button>
                                                            <p class="txt">AI 예측 모델을 활용한 선수별 우승 확률입니다.</p>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>인기배당률
                                                    <div class="comToolTip">
                                                        <button type="button" class="tooltip" onclick="ttOpen('tooltip02')">이용안내 툴팁</button>
                                                        <div class="tooltipBox" id="tooltip02"><!--class 'on' : 툴팁 오픈 -->
                                                            <button type="button" class="btnClose" onclick="ttClose('tooltip02')">툴팁 닫기</button>
                                                            <p class="txt">승식별 배당률이 낮은 순으로 마감 3분전까지만 제공됩니다.</p>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>적중률 5% 선택
                                                    <div class="comToolTip">
                                                        <button type="button" class="tooltip" onclick="ttOpen('tooltip03')">이용안내 툴팁</button>
                                                        <div class="tooltipBox" id="tooltip03"><!--class 'on' : 툴팁 오픈 -->
                                                            <button type="button" class="btnClose" onclick="ttClose('tooltip03')">툴팁 닫기</button>
                                                            <p class="txt">적중률(=적중건/베팅건x100) 상위5% 고객 기준으로 마감 3분전까지만 제공됩니다.</p>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>환급률 5% 선택
                                                    <div class="comToolTip">
                                                        <button type="button" class="tooltip" onclick="ttOpen('tooltip04')">이용안내 툴팁</button>
                                                        <div class="tooltipBox" id="tooltip04"><!--class 'on' : 툴팁 오픈 -->
                                                            <button type="button" class="btnClose" onclick="ttClose('tooltip04')">툴팁 닫기</button>
                                                            <p class="txt">환급률(=환급금/베팅금x100) 상위5% 고객 기준으로 마감 3분전까지만 제공됩니다.</p>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th>결과 (1위-2위-3위)</th>
                                                <th>전문가 분석
                                                    <div class="comToolTip right">
                                                        <button type="button" class="tooltip" onclick="ttOpen('tooltip05')">이용안내 툴팁</button>
                                                        <div class="tooltipBox" id="tooltip05"><!--class 'on' : 툴팁 오픈 -->
                                                            <button type="button" class="btnClose" onclick="ttClose('tooltip05')">툴팁 닫기</button>
                                                            <p class="txt">경륜 전문가의 경주별 분석 정보입니다.</p>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><span class="mark blue">창원01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction interval4">
                                                        <span class="sign num07">7</span>
                                                        <span>-</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                        <span class="sign num02">2</span>
                                                        <span>-</span>
                                                        <span class="sign num05">5</span>
                                                        <span class="sign num03">3</span>
                                                        <span class="sign num06">6</span>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <p>4번 홍나동 우세 4번 홍나동이 탄탄한 지구력을 갖췄고<br> 작전구사도 다양하므로 우승 기대된다.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark blue">창원01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction interval4">
                                                        <span class="sign num07">7</span>
                                                        <span>-</span>
                                                        <span class="sign num01">1</span>
                                                        <span>-</span>
                                                        <span class="sign num02">2</span>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <p>4번 홍나동 우세 4번 홍나동이 탄탄한 지구력을 갖췄고<br> 작전구사도 다양하므로 우승 기대된다.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark blue">창원01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction interval4">
                                                        <span class="sign num07">7</span>
                                                        <span>-</span>
                                                        <span class="sign num02">2</span>
                                                        <span>-</span>
                                                        <span class="sign num06">6</span>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <p>4번 홍나동 우세 4번 홍나동이 탄탄한 지구력을 갖췄고<br> 작전구사도 다양하므로 우승 기대된다.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark pink">부산01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction interval4">
                                                        <span class="sign num07">7</span>
                                                        <span>-</span>
                                                        <span class="sign num04">4</span>
                                                        <span class="sign num02">2</span>
                                                        <span>-</span>
                                                        <span class="sign num05">5</span>
                                                        <span class="sign num03">3</span>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <p>4번 홍나동 우세 4번 홍나동이 탄탄한 지구력을 갖췄고<br> 작전구사도 다양하므로 우승 기대된다.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark pink">부산01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction interval4">
                                                        <span class="sign num07">7</span>
                                                        <span>-</span>
                                                        <span class="sign num04">4</span>
                                                        <span>-</span>
                                                        <span class="sign num05">5</span>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <p>4번 홍나동 우세 4번 홍나동이 탄탄한 지구력을 갖췄고<br> 작전구사도 다양하므로 우승 기대된다.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark pink">부산01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction interval4">
                                                        <span class="sign num07">7</span>
                                                        <span>-</span>
                                                        <span class="sign num02">2</span>
                                                        <span>-</span>
                                                        <span class="sign num06">6</span>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <p>4번 홍나동 우세 4번 홍나동이 탄탄한 지구력을 갖췄고<br> 작전구사도 다양하므로 우승 기대된다.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark green">광명01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction interval4">
                                                        <span class="sign num07">7</span>
                                                        <span>-</span>
                                                        <span class="sign num02">2</span>
                                                        <span>-</span>
                                                        <span class="sign num06">6</span>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <p>4번 홍나동 우세 4번 홍나동이 탄탄한 지구력을 갖췄고<br> 작전구사도 다양하므로 우승 기대된다.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark green">광명01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction interval4">
                                                        <span class="sign num07">7</span>
                                                        <span>-</span>
                                                        <span class="sign num04">4</span>
                                                        <span class="sign num02">2</span>
                                                        <span>-</span>
                                                        <span class="sign num05">5</span>
                                                        <span class="sign num03">3</span>
                                                        <span class="sign num06">6</span>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <p>4번 홍나동 우세 4번 홍나동이 탄탄한 지구력을 갖췄고<br> 작전구사도 다양하므로 우승 기대된다.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark green">광명01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction">
                                                        <span class="sign num07">7</span>
                                                        <span class="sign num01">1</span>
                                                        <span class="sign num04">4</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="prediction interval4">
                                                        <span class="sign num07">7</span>
                                                        <span>-</span>
                                                        <span class="sign num04">4</span>
                                                        <span class="sign num02">2</span>
                                                        <span>-</span>
                                                        <span class="sign num05">5</span>
                                                        <span class="sign num03">3</span>
                                                        <span class="sign num06">6</span>
                                                    </div>
                                                </td>
                                                <td class="left">
                                                    <p>4번 홍나동 우세 4번 홍나동이 탄탄한 지구력을 갖췄고<br> 작전구사도 다양하므로 우승 기대된다.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark green">광명01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="left"></td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark green">광명01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="left"></td>
                                            </tr>
                                            <tr>
                                                <th><span class="mark green">광명01</span></th>
                                                <td>
                                                    <div class="prediction interval12">
                                                        <div><span class="sign num07">7</span><span class="winningRate red">30%</span></div>
                                                        <div><span class="sign num03">3</span><span class="winningRate">20%</span></div>
                                                        <div><span class="sign num05">5</span><span class="winningRate">12%</span></div>
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="left"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //서브 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>