<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <div class="layoutContArea">
                    <div class="cptJoinTable">
                        <div class="joinArea">
                            <div class="joinTitle">
                                <h2>경륜·경정 온라인 홈페이지 계정의<br class="mView"> 비밀번호를 재설정합니다.</h2>
                            </div>

                            <dl class="tbBox">
                                <dt class="tbTitle">
                                    아이디<span class="required">*</span>
                                </dt>
                                <dd class="tbCont">
                                    <div class="frmGroup">
                                        <div class="frmBox"> <!-- addClass - error : 에러메시지 노출 -->
                                            <input type="text" class="iptText" placeholder="아이디를 입력하세요"  />
                                            <span class="errMsg">메시지 내용</span>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                            
                            <div class="comBtnGroup">
                                <div class="alignC">
                                    <div class="btnBox min">
                                        <button class="btn lg Primary">휴대폰 본인인증</button>
                                    </div>
                                </div>
                            </div>

                            <div class="comJoinBtmText">
                                <div class="textBox">
                                    <ul class="listGroup color">
                                        <li class="item">고객님의 개인정보를 신중하게 보호하고 있으며, 회원님의 동의 없이는 기재하신 회원정보가 누출되지 않습니다.</li>
                                        <li class="item">고객님의 가입여부 및 본인인증을 위하여 이름과 휴대폰 번호를 확인해 주시기 바랍니다.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>