<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정선수', '선수현황'],
                    subTitle: '종합현황',
                    subText: '기수별 선수들의 <br><b>종합현황</b>을 알려드려요.',
                    url: "../../",
                    visualClass: "bg03",
                }) %>
                

                <div class="layoutContArea">

					<div class="cptSection">
						<div class="sectArea">
							<div class="comDataTable">
                                <div class="tableArea sizeM">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:auto;">
                                            <col style="width:14.28%;">
                                            <col style="width:14.28%;">
                                            <col style="width:14.28%;">
                                            <col style="width:14.28%;">
                                            <col style="width:14.28%;">
                                            <col style="width:14.28%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>기수</th>
                                                <th>등록인원</th>
                                                <th>제재인원</th>
                                                <th>부상인원</th>
                                                <th>기타결장</th>
                                                <th>계(주선제외)</th>
                                                <th>가용인원</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>17</td>
                                                <td>22</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>20</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>합계</th>
                                                <td>149</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>2</td>
                                                <td>131</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
					
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정기획팀',
                    name: '최동훈',
                    phone: '031-790-8306',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>