<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정선수', '선수현황'],
                    subTitle: '연도별 주선보류현황',
                    subText: '경정선수의 <b>주선보류현황</b>을 <br>알려드려요.',
                    url: "../../",
                    visualClass: "bg03",
                }) %>
                

                <div class="layoutContArea">

					<div class="cptSection">
						<div class="sectArea">
                            <!-- 게시판 리스트 상단 -->
                            <div class="comGroupTop">
                                <div class="alignR">
                                    <ul class="opList">
                                        <li class="item">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <select class="iptSlt sm">
                                                        <option value="">2024</option>
                                                        <option value="">드롭다운</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
							<div class="comDataTable mt0">
								<div class="tableArea sizeM">
									<table>
										<caption></caption>
										<colgroup>
											<col style="width:13.5%;">
											<col style="width:24%;">
											<col style="width:20%;">
											<col style="width:13.5%;">
											<col style="width:auto;">
										</colgroup>
										<thead>
											<tr>
                                                <th>No</th>
												<th>주선제외기간</th>
												<th>결장선수</th>
												<th>구분</th>
												<th>주선제외 사유</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>20240101 ~ 20240114</td>
												<td><a href="javascript:void(0);" class="txtBtn" onclick="openPopup('playerData01')">박석문/02기 02-019</a></td>
												<td>성적불량</td>
                                                <td>1 ~ 15 기수 선수중 경주성적불량 최하위 7%(2.82)</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<!-- 페이징 -->
							<div class="comPaging">
								<a class="start" href="#"></a>
								<a class="prev" href="#"></a>
								<ul class="numList">
									<li><a href="#">1</a></li>
									<li class="on"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
								<a class="next" href="#"></a>
								<a class="end" href="#"></a>
							</div>
                        </div>
                    </div>

                    <!-- 선수별 주선보류현황 팝업 -->
                    <div id="raceResult01" class="modPopup lg on"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupInMotion">
                                <div class="popupContainer">
                                    <div class="popupContArea">
                                        <button class="btnPopClose" onclick="closePopup('raceResult01');">닫기</button>
                                        <div class="popTitle">선수별 주선보류현황</div>
                                        <div class="popCont">
                                            <!-- 팝업 컨텐츠 영역 -->
                                            <div class="cptSection">
                                                <div class="sectArea">
                                                    <div class="comTitH2">
                                                        <h2>김태영 선수(15-005) 주선보류현황</h2>
                                                    </div>

                                                    <div class="comDataTable">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:13.5%;">
                                                                    <col style="width:24%;">
                                                                    <col style="width:20%;">
                                                                    <col style="width:auto;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>번호</th>
                                                                        <th>주선보류기간</th>
                                                                        <th>구분</th>
                                                                        <th>주선보류 사유</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>20240701 ~ 20240714</td>
                                                                        <td>성적불량</td>
                                                                        <td>1 ~ 15 기수 선수중 경주성적불량 최하위 7%(2.66)</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- //팝업 컨텐츠 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정기획팀',
                    name: '최동훈',
                    phone: '031-790-8306',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>