<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정선수', '신인선수 정보'],
                    subTitle: '예행연습 경주 ',
                    subText: '눈부신 활약을 펼칠 선수들의 <br><b>예행연습 경주</b>를 확인해보세요.',
                    url: "../../",
                    visualClass: "bg03",
                }) %>
                

                <div class="layoutContArea">

					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2 bk mRow">
                                <h2>예행연습 경주영상</h2>
                                <div class="right">
                                    <div class="frmBox">
                                        <select class="iptSlt">
                                            <option value="">2024</option>
                                            <option value="">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2">
                                <h2>시행날짜 2012.02.01</h2>
                            </div>

                            <div class="comMovieBox">
                                <div class="boxArea gap">
                                    <ul class="movieList">
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림">제1경주 영상</a>
                                        </li>
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림">제2경주 영상</a>
                                        </li>
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림" class="disabled">제3경주 영상</a>
                                        </li>
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림">제4경주 영상</a>
                                        </li>
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림">제5경주 영상</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2">
                                <h2>시행날짜 2012.02.04 </h2>
                            </div>

                            <div class="comMovieBox">
                                <div class="boxArea gap">
                                    <ul class="movieList">
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림">제1경주 영상</a>
                                        </li>
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림">제2경주 영상</a>
                                        </li>
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림" class="disabled">제3경주 영상</a>
                                        </li>
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림">제4경주 영상</a>
                                        </li>
                                        <li class="movieItem">
                                            <a href="#" target="_blank" title="새창열림">제5경주 영상</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
					
                </div>

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정기획팀',
                    name: '최동훈',
                    phone: '031-790-8306',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>