
:root {
  --key-blue01:#00aede;
  --key-text01:#00aede;
}
$basicFontSize:16px;


@font-face {
	font-family: 'PretendardGOV';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../../common/webfont/PretendardGOVVariable.woff2') format('woff2-variations');
}


* {box-sizing: border-box; font-family:'PretendardGOV', sans-serif; letter-spacing: 0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input, textarea {-webkit-border-radius:0; -webkit-appearance:none;}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
html,body,th,td,input,select,textarea,button {font-size:16px;line-height:1.5; font-family:'PretendardGOV', sans-serif; color:#000} /* color값은 디자인가이드에 맞게사용 */
a {color:#000;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption {font-size: 0;}

input[type=radio] {width:1px; height:1px; font-size:0; opacity:0.01; overflow:hidden;}
input[type=checkbox] {width:1px; height:1px; font-size:0; opacity:0.01; overflow:hidden;}

select {-moz-appearance:none; -webkit-appearance:none; appearance:none; -moz-border-radius:0; -webkit-border-radius: 0;border-radius: 0;  background:#fff url(../../common/images/icon_select.png) calc(100% - 9px) center no-repeat;}
select::-ms-expand {display:none}
label {font-size: 0;}

.skip .quickBtn {display: block; width: 100%; height: 0px;background: #092473; font-size: 15px; color: #fff; overflow: hidden; text-align: center;}
.skip .quickBtn:focus {height:auto;}

.hide {font-size:0 !important; position:fixed; left:-5000px; top:0;}

body.noScrl {height:100vh; overflow:hidden;}
