
:root {
  --key-blue01:#00aede;
  --key-text01:#00aede;

  ---Primary:#078B7B;
  ---Point2:#A7FFEF;
  --Point-Orange: #F97B07;
  --Point-Blue:#0EA3F6;
  --Point-Blue2:#2E6CFF;
  --Point-Primary2: #28C39E;
  --Point-Primary3: #1F4F82;
  --Point-Red: #f33;
  ---Secondary: #254962;
  --Gray-900:#111111;
  --Gray-800:#2C2C2C;
  --Gray-700:#414347;
  --Gray-600:#58595F;
  --Gray-500:#6F7176;
  --Gray-400:#92959A;
  --Gray-300:#B0B2B7;
  --Gray-200:#CED1D6;
  --Gray-150:#EDEDED;
  --Gray-100:#f7f7f7;
  --Gray-50:#FBFBFB;
  --Bg-Line-line-100: #E1E4EA;
  --Bg-Line-line-200: #EDEDED;
  --Bg-Line-line-300: #EDF0F5;
  --Bg-Line-white: #ffffff;
  --Bg-Line-bg-50:#FBFBFB;
  --Bg-Line-bg-100: #F9FAFC;
  --Bg-Line-bg-200: #F3F5F8;
  --Bg-Line-bg-300: #EDF0F5;
  --gray-gray-40: #C6C6C6;

  --system-danger-50: #EB003B;

  --zone-blue: #548CE0;
  --zone-pink: #F45990;
  --zone-green: #2EB273;

  ---Secondary: #254962;
}
$basicFontSize:16px;


// @font-face {
// 	font-family: 'PretendardGOV';
// 	font-weight: 45 920;
// 	font-style: normal;
// 	font-display: swap;
// 	src: url('../../common/webfont/PretendardGOVVariable.woff2') format('woff2-variations');
// }


* {box-sizing: border-box; font-family:'PretendardGOV', sans-serif; letter-spacing: 0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input, textarea {-webkit-border-radius:0; -webkit-appearance:none;}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
html,body,th,td,input,select,textarea,button {font-size:16px;line-height:1.5; font-family:'PretendardGOV', sans-serif; color:#000} /* color값은 디자인가이드에 맞게사용 */
a {color:#000;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
caption {font-size: 0;}

input[type=radio] {width:1px; height:1px; font-size:0; opacity:0.01; overflow:hidden; display: block;}
input[type=checkbox] {width:1px; height:1px; font-size:0; opacity:0.01; overflow:hidden; display: block;}

select {-moz-appearance:none; -webkit-appearance:none; appearance:none; -moz-border-radius:0; -webkit-border-radius: 0;border-radius: 0;  background:#fff url(../../common/images/icon_select.png) calc(100% - 9px) center no-repeat;}
select::-ms-expand {display:none}
label {font-size: 0;}

.skip .quickBtn {display: block; width: 100%; height: 0px;background: #092473; font-size: 15px; color: #fff; overflow: hidden; text-align: center;}
.skip .quickBtn:focus {height:auto;}

.hide {font-size:0 !important; position:fixed; left:-5000px; top:0;}

body.noScrl {height:100vh; overflow:hidden;}

/* ------------------- margin ------------------- */
.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml8 {margin-left:8px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.ml40 {margin-left:40px !important;}
.ml50 {margin-left:50px !important;}

.mr0 {margin-right:0 !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr30 {margin-right:30px !important;}
.mr40 {margin-right:40px !important;}
.mr50 {margin-right:50px !important;}

.mtmn5 {margin-top:-5px !important;}
.mtmn10 {margin-top:-10px !important;}
.mtmn15 {margin-top:-15px !important;}
.mtmn20 {margin-top:-20px !important;}
.mtmn30 {margin-top:-30px !important;}
.mtmn40 {margin-top:-40px !important;}
.mtmn50 {margin-top:-50px !important;}
.mbmn5 {margin-bottom:-5px !important;}
.mbmn10 {margin-bottom:-10px !important;}
.mbmn15 {margin-bottom:-15px !important;}
.mbmn20 {margin-bottom:-20px !important;}
.mbmn30 {margin-bottom:-30px !important;}
.mbmn40 {margin-bottom:-40px !important;}
.mbmn50 {margin-bottom:-50px !important;}

@include media('mobile'){
  .mo_mt0 {margin-top:0 !important;}
  .mo_mt5 {margin-top:5px !important;}
  .mo_mt10 {margin-top:10px !important;}
  .mo_mt15 {margin-top:15px !important;}
  .mo_mt20 {margin-top:20px !important;}
  .mo_mt30 {margin-top:30px !important;}
  .mo_mt40 {margin-top:40px !important;}
  .mo_mt50 {margin-top:50px !important;}

  .mo_mb0 {margin-bottom:0 !important;}
  .mo_mb5 {margin-bottom:5px !important;}
  .mo_mb10 {margin-bottom:10px !important;}
  .mo_mb15 {margin-bottom:15px !important;}
  .mo_mb20 {margin-bottom:20px !important;}
  .mo_mb30 {margin-bottom:30px !important;}
  .mo_mb40 {margin-bottom:40px !important;}
  .mo_mb50 {margin-bottom:50px !important;}
}

/* ------------------- Font Color ------------------- */
.tKey {color: var(---Primary) !important;}
.tRed {color: var(--Point-Red) !important;}
.tOrange {color: var(--Point-Orange) !important;}
.tBlue {color: var(--Point-Blue) !important;}
.tBlue2 {color: var(--Point-Blue2) !important;}
.tMint {color: var(--Point-Primary2) !important;}
.tZoneGreen {color: var(--zone-green) !important;} //광명
.tZonePink {color: var(--zone-pink) !important;}  //부산
.tZoneBlue {color: var(--zone-blue) !important;}  //창원

/* ------------------- Font Weight ------------------- */
.tBold {font-weight: 600 !important;}
.tEBold {font-weight: 700 !important;}





/* ------------------- scroll bar (PC, Tablet) ------------------- */
@media screen and (min-width: 768) {
  
}

@include minWidth('mobile'){
  *:hover::-webkit-scrollbar-thumb {
      background: rgba(87, 87, 87, 0.54);
  }
  *::-webkit-scrollbar {width:16px; padding:0; background-color: #eee;}
  *::-webkit-scrollbar-thumb {
    padding:0; border: 4px solid #eee; border-radius: 15px; background: rgba(87, 87, 87, 0.2);/* box-shadow: inset 6px 6px 0 rgba(87, 87, 87, 0.54); */ 
    min-height: 70px;
  }
  *::-webkit-scrollbar-track{background-color: rgba(0,0,0,0);}
}


/* ------------------- body scroll bar 제거 (전체메뉴 클릭시) ------------------- */
body {
  &:has(.allMenuArea.on) {
    height:100%; min-height:100%; overflow:hidden !important;
  }
  &:has(.cptHeader.on) {
    .allMenuArea {transform: translateY(112px);}
  }
}

/* ------------------- 인쇄제어 ------------------- */
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  body {min-width: 1000px;}
}

/* ------------------- 영문전용 ------------------- */
:root:has(.lytMainEng) {
  background: #060A0D;
}
:root:has(.lytLayout.eng) {
  background: var(--Bg-Line-bg-100);
}
.lytLayout.eng {
  background: #fff;
}

/* z-index
#탑메뉴 영역
.cptHeader : -----------------------------100
.cptHeader .headArea : -------------------101 => (.cptHeader .gnbArea 보다 커야함)
.cptHeader .gnbArea : --------------------100
.cptHeader .gnbArea .gnbBox .depth2Area : 99
.cptHeader .allMenuArea : ----------------200

#퀵메뉴
.cptQuickMenu ----------------------------95

#하단 플로팅 배너
.lytMain .layoutArea .layoutContainer .bannerBtm ----95

#테이블
.comDataTable .tableArea table thead tr th - 10

#팝업
.modPopup : ------------------------------1000

#폼(디자인 셀렉트)
.iptSlt .sltBox : ------------------------80
*/