<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 통합검색 호출 시 on 출력 -->
        <div class="cptSchHd on">
            <div class="mView">
                <div class="mTit">통합검색</div>
                <button type="button" class="mSchHdClose"></button>
            </div>            
            <div class="schDim"></div>
            <button type="button" class="schHdClose"></button>
            <div class="cptArea">
                <div class="inCont">
                    <h2><b>찾으시는 정보</b>를 <span class="blk"></span> 입력해주세요.</h2>
                    <form action="">
                        <div class="schBox">
                            <input type="text" class="schFrmIpt" required placeholder="검색어를 입력하세요." />
                            <button type="button" class="schFrmIptBtn">검색</button> <!-- 20241127 수정 -->
                            <div class="schBoxRel">
                                <ul>
                                    <li><strong>선</strong>두</li>
                                    <li><strong>선</strong>수간 친인척 관계</li>
                                    <li><strong>선</strong>수이름</li>
                                    <li><strong>선</strong>수정보</li>
                                    <li><strong>선</strong>수상금</li>
                                    <li>제재<strong>선</strong>수</li>
                                    <li><strong>선</strong>수정보</li>
                                    <li><strong>선</strong>수상금</li>
                                    <li>제재<strong>선</strong>수</li>
                                    <li><strong>선</strong>수 자동완성 최대 10개까지 노출</li>
                                </ul>
                            </div>
                        </div>

                        <div class="comSchStx">
                            <div class="schStx">
                                <div class="schTit">
                                    <h3>최근 검색어</h3>
                                    <button type="button" class="ri del">전체삭제</button> <!-- 20241127 수정 -->
                                </div>
                                <div class="schStxRst">
                                    <div class="swiper-container schStxSlide">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="sTxt">선수<button type="button" class="sDel">삭제</button></div> <!-- 20241127 삭제버튼 button으로 수정 -->
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">출주표<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">배당률<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">선수출주표<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">스피돔지점<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">베팅<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">선수<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">출주표<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">배당률<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">선수출주표<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">스피돔지점<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sTxt">베팅<button type="button" class="sDel">삭제</button></div>
                                            </div>
                                        </div>
                                        <div class="schStxSlidePage">
                                            <button type="button" class="prev">이전</button>
                                            <button type="button" class="next">다음</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="comPopularStx">
                            <div class="schStx">
                                <div class="schTit">
                                    <h3>인기 검색어</h3>
                                    <div class="ri time">24.07.25 23:55</div>
                                </div>
                                <div class="schStxRst">
                                    <div class="listTen">
                                        <ul>
                                            <li class="rank">
                                                <a href="#">
                                                    <div class="num">1</div>
                                                    <div class="pTxt">출주표</div>
                                                </a>
                                            </li>
                                            <li class="rank">
                                                <a href="#">
                                                    <div class="num">2</div>
                                                    <div class="pTxt">배당률</div>
                                                </a>
                                            </li>
                                            <li class="rank">
                                                <a href="">
                                                    <div class="num">3</div>
                                                    <div class="pTxt">경륜</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="num">4</div>
                                                    <div class="pTxt">희망길벗</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="num">5</div>
                                                    <div class="pTxt">경주결과</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="num">6</div>
                                                    <div class="pTxt">순위예측</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="num">7</div>
                                                    <div class="pTxt">영상관</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="num">8</div>
                                                    <div class="pTxt">선수</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="num">9</div>
                                                    <div class="pTxt">스피돔</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="num">10</div>
                                                    <div class="pTxt">베팅</div>
                                                </a>
                                            </li>                                            
                                        </ul>  
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <!-- //통합검색 -->

        <!-- 통합검색 창 호출 시 html 스크롤 막기  -->
        <script>
            const targetElement = document.querySelector('.cptSchHd');

            function updateFixScrollClass() {
                if (targetElement.classList.contains('on')) {
                document.documentElement.classList.add('fixScroll');
                    } else {
                    document.documentElement.classList.remove('fixScroll');
                }
            }
            updateFixScrollClass();
        </script>
        <!-- //통합검색 창 호출 시 html 스크롤 막기  -->

        <!-- 최근 검색어 swiper -->
        <script>
            var swiper = new Swiper('.schStxSlide', {
                slidesPerView: 'auto',
                freeMode: true,
                loop: true,
                navigation: {
                    prevEl: ".schStxSlidePage .prev",
                    nextEl: ".schStxSlidePage .next",
                },
            });
        </script>
        <!-- //최근 검색어 swiper -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['희망길벗'],
                    subTitle: '길벗 상담안내',
                    subText: '도움이 필요한<br /><b>무엇이든 물어보세요.</b>',
                    url: "../../",
                    visualClass: "bg04",
                }) %>

                

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '건전화운영팀',
                    name: '조철희',
                    phone: '02-2067-5577',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>