<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜가이드', '경륜 지식쌓기'],
                    subTitle: '경주전법소개',
                    subText: '승리를 향한 전략과 기술! <br/><b>경륜전법</b>을 알아보세요.',
                    url: "../../",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경주에서 승리하기 위해서는 적절한 전법 선택과 능숙한 기술 활용이 필수입니다.</h2>
                        <p class="info">
                            전법이란 승리를 위한 다양한 주행방법으로 승부를 결정짓는 중요한 요소 중 하나입니다. <br/>
                            경륜 선수들은 자신의 컨디션과 경주상황에 맞는 적절한 전법을 선택하여 최적의 주행을 선보입니다.
                        </p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>선행 전법</h2>
                            </div>
                            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    마지막 바퀴 1코너를 넘어서기 전 부터 선두에서 경주를 주도하는 경주전개 형태의 주법입니다.
                                </p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/thum/cont01_03_03_001.png" alt="선행전법 영상 임시 이미지">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>젖히기 전법</h2>
                            </div>
                            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    경륜 젖히기 전법은 레이스 후반에 다른 선수들을 제치고 극적인 역전을 노리는 전략입니다. <br/>
                                    마지막 바퀴 직전까지 뒤처지더라도 젖히기 전법을 통해 승리를 쟁취할 수 있다는 점에서 경륜의 매력을 더욱 증폭시키는 전법 중 하나입니다.
                                </p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/thum/cont01_03_03_002.png" alt="젖히기 전법 영상 임시 이미지">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>추입 전법</h2>
                            </div>
                            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    경륜 추입전법은 앞 선수 뒤에서 풍압을 피해 체력을 비축해 주행하다가 레이스 후반, 다른 선수들의 뒤를 따라가면서 기회를 노리고 <br/>
                                    마지막 순간에 극적인 역전을 노리는 전법으로 인내심과 순발력이 요구되는 전법 중 하나입니다.
                                </p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/thum/cont01_03_03_003.png" alt="추입전법 영상 임시 이미지">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>마크 전법</h2>
                            </div>
                            
                            <div class="comBasicTxt">
                                <p class="txt">
                                    경륜 마크전법은 두 명 이상의 선수가 팀을 이루어 서로 협력하며 경주를 진행하는 전법입니다. <br/>
                                    마커는 선두를 달리는 선수를 보호하고 기회를 만들어주는 역할을 하고, 선두 선수는 마커의 도움을 받아 경주를 유리하게 이끌어나가는 역할을 합니다. <br/>
                                    팀워크와 전략이 중요한 전법입니다.
                                </p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/thum/cont01_03_03_004.png" alt="마크전법 영상 임시 이미지">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜심판팀',
                    name: '김태환',
                    phone: '02-2067-5935',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>