<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Track Cyclist'],
                    subTitle: 'Compare Athlete Records',
                    subText: '<b>Search for the athlete you would like to compare</b> and <br/>see the results.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>

                <div class="layoutContArea">
                    <div class="cptCompareData">
                        <div class="sectArea">
                            <div class="alertArea">
                                <p class="txt">Select a comparison athlete <br class="mView"/> to evaluate their head-to-head record.</p>
                                <div class="comBtnGroup">
                                    <div class="alignC">
                                        <div class="btnBox min">
                                            <button class="btn Primary">Compare Athlete Records Again</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH2">
                                <h2>Head-to-Head Record Comparison</h2>
                                <div class="right">
                                    <div class="frmBox">
                                        <select class="iptSlt">
                                            <option value="">2024</option>
                                            <option value="">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="compareBox">
                                <ul class="cpList">
                                    <li class="cpItem">
                                        <div class="thumArea"><img src="../../images/thum/thum_compare01.png" alt="Example image of Kang Dong-gook's record comparison"></div>
                                        <div class="txtArea"><b class="name">Kang Dong-gook</b><div class="cateGroup"><span class="cate blue">A1</span> <span class="cate">Generation 06</span></div>
                                        </div>
                                    </li>
                                    <li class="cpItem">
                                        <div class="thumArea"><img src="../../images/thum/thum_compare01.png" alt="Example image of Kang Dong-gook's record comparison"></div>
                                        <div class="txtArea"><b class="name">Kang Dong-gook</b><div class="cateGroup"><span class="cate blue">A1</span> <span class="cate">Generation 06</span></div>
                                        </div>
                                    </li>
                                    <li class="cpItem">
                                        <div class="thumArea"><img src="../../images/thum/thum_compare01.png" alt="Example image of Kang Dong-gook's record comparison"></div>
                                        <div class="txtArea"><b class="name">Kang Dong-gook</b><div class="cateGroup"><span class="cate blue">A1</span> <span class="cate">Generation 06</span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>Race Performance Comparison</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Athlete Name</th>
                                                <th>Kang Dong-gook</th>
                                                <th>Kang Dong-gyu</th>
                                                <th>Kang Dong-jin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Grade Information</th>
                                                <td>A1</td>
                                                <td>S1</td>
                                                <td>B1</td>
                                            </tr>
                                            <tr>
                                                <th>Winning Percentage (%)</th>
                                                <td>5</td>
                                                <td>30</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <th>Top Two Percentage (%)</th>
                                                <td>0</td>
                                                <td>10</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <th>Top Three Percentage (%)</th>
                                                <td>1</td>
                                                <td>15</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th>Number of Races Entered</th>
                                                <td>10</td>
                                                <td>15</td>
                                                <td>10</td>
                                            </tr>
                                            <tr>
                                                <th>Number of Competition Days</th>
                                                <td>30</td>
                                                <td>40</td>
                                                <td>30</td>
                                            </tr>
                                            <tr>
                                                <th>Comprehensive Score Over the Last 3 Races</th>
                                                <td>81.356</td>
                                                <td>81.356</td>
                                                <td>81.356</td>
                                            </tr>
                                            <tr>
                                                <th>Comprehensive Ranking Over the Last 3 Races</th>
                                                <td>438</td>
                                                <td>15</td>
                                                <td>438</td>
                                            </tr>
                                            <tr>
                                                <th>Total Average Score</th>
                                                <td>82.402</td>
                                                <td>115.402</td>
                                                <td>115.402</td>
                                            </tr>
                                            <tr>
                                                <th>Total Score Ranking</th>
                                                <td>517</td>
                                                <td>850</td>
                                                <td>130</td>
                                            </tr>
                                            <tr>
                                                <th>Best 200m Record Over the Last 3 Races</th>
                                                <td>11&rdquo;58</td>
                                                <td>11&rdquo;58</td>
                                                <td>11&rdquo;58</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Head-to-Head Results</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea sizeM" style="height: 590px;">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Race Session</th>
                                                <th>Athlete 1 (Placing)</th>
                                                <th>Athlete 2 (Placing)</th>
                                                <th>Athlete 3 (Placing)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20)</button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td><span class="rating red">Kang Dong-gyu (1)</span></td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20)</button> </th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td><span class="rating blue">Kang Dong-gyu (2)</span></td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td><span class="rating mint">Kang Dong-gyu (3)</span></td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="raceResult01" class="modPopup lg"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">딤영역</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupInMotion">
                                <div class="popupContainer">
                                    <div class="popupContArea">
                                        <button class="btnPopClose" onclick="closePopup('raceResult01');">닫기</button>
                                        <div class="popTitle">경주결과</div>
                                        <div class="popCont">
                                            <!-- 팝업 컨텐츠 영역 -->
                                            <div class="cptSection">
                                                <div class="sectArea">
                                                    <div class="comTitH2 mRow">
                                                        <h2>광명 14경주 (선발 11:22)</h2>
                                                        <p class="etcAdds">2011년 12월 25일 49회차 3회차</p>
                                                    </div>

                                                    <div class="comDataTable both">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:11.1111%;">
                                                                    <col style="width:11.1111%;">
                                                                    <col style="width:11.1111%;">
                                                                    <col style="width:11.1111%;">
                                                                    <col style="width:11.1111%;">
                                                                    <col style="width:11.1111%;">
                                                                    <col style="width:11.1111%;">
                                                                    <col style="width:11.1111%;">
                                                                    <col style="width:11.1111%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>시간</th>
                                                                        <th>날씨</th>
                                                                        <th>풍향</th>
                                                                        <th>풍속</th>
                                                                        <th>기온</th>
                                                                        <th>습도</th>
                                                                        <th>우량</th>
                                                                        <th>200M</th>
                                                                        <th>최종주회</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>11:20</th>
                                                                        <td>비</td>
                                                                        <td>북서</td>
                                                                        <td>1.8m/s</td>
                                                                        <td>25.3℃</td>
                                                                        <td>91%</td>
                                                                        <td>1mm</td>
                                                                        <td>11”70</td>
                                                                        <td>19”64</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comTitH3">
                                                        <h3>경주영상</h3>
                                                    </div>
                                                    
                                                    <div class="comMovieBox">
                                                        <div class="boxArea">
                                                            <ul class="movieList">
                                                                <li class="movieItem">
                                                                    <a href="#" target="_blank" title="새창열림">5주회 경주영상</a>
                                                                </li>
                                                                <li class="movieItem">
                                                                    <a href="#" target="_blank" title="새창열림">선두유도원 퇴피 후 동영상 보기</a>
                                                                </li>
                                                                <li class="movieItem">
                                                                    <a href="#" target="_blank" title="새창열림" class="disabled">느린화면 동영상 보기</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="cptSection">
                                                <div class="sectArea">
                                                    <div class="comTitH3 mRow">
                                                        <h3>착차</h3>
                                                        <div class="right">
                                                            <p class="addTxt"><b>SD : </b>근소차 <b>T : </b>타이어차 <b>W : </b>바퀴차 <b>B : </b>자전거차 <b>TD : </b>10차신이상</p>
                                                        </div>
                                                    </div>

                                                    <div class="comDataTable both">
                                                        <div class="tableArea sizeL">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>선수명</th>
                                                                        <th>순위</th>
                                                                        <th>착차</th>
                                                                        <th>주행시간</th>
                                                                        <th>승부수</th>
                                                                        <th>실격</th>
                                                                        <th>경고</th>
                                                                        <th>주의</th>
                                                                        <th>기권구분</th>
                                                                        <th>골인구분</th>
                                                                        <th>200M<br>선수별 기록</th>
                                                                        <th>200M<br>평균시속</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num01">1</span><a href="#" class="player">김상인</a></div>
                                                                        </th>
                                                                        <td>3</td>
                                                                        <td>3/4B</td>
                                                                        <td>2:27:9725</td>
                                                                        <td>마크</td>
                                                                        <td>-</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>-</td>
                                                                        <td>-</td>
                                                                        <td>10"71</td>
                                                                        <td>61.80</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num02">2</span><a href="#" class="player">강동진</a></div>
                                                                        </th>
                                                                        <td>3</td>
                                                                        <td>3/4B</td>
                                                                        <td>2:27:9725</td>
                                                                        <td>마크</td>
                                                                        <td>-</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>-</td>
                                                                        <td>-</td>
                                                                        <td>10"71</td>
                                                                        <td>61.80</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num03">3</span><a href="#" class="player">김광진</a></div>
                                                                        </th>
                                                                        <td>3</td>
                                                                        <td>3/4B</td>
                                                                        <td>2:27:9725</td>
                                                                        <td>마크</td>
                                                                        <td>-</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>-</td>
                                                                        <td>-</td>
                                                                        <td>10"71</td>
                                                                        <td>61.80</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num04">4</span><a href="#" class="player">곽훈신</a></div>
                                                                        </th>
                                                                        <td>3</td>
                                                                        <td>3/4B</td>
                                                                        <td>2:27:9725</td>
                                                                        <td>마크</td>
                                                                        <td>-</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>-</td>
                                                                        <td>-</td>
                                                                        <td>10"71</td>
                                                                        <td>61.80</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num05">5</span><a href="#" class="player">정언열</a></div>
                                                                        </th>
                                                                        <td>3</td>
                                                                        <td>3/4B</td>
                                                                        <td>2:27:9725</td>
                                                                        <td>마크</td>
                                                                        <td>-</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>-</td>
                                                                        <td>-</td>
                                                                        <td>10"71</td>
                                                                        <td>61.80</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num06">6</span><a href="#" class="player">오성균</a></div>
                                                                        </th>
                                                                        <td>3</td>
                                                                        <td>3/4B</td>
                                                                        <td>2:27:9725</td>
                                                                        <td>마크</td>
                                                                        <td>-</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>-</td>
                                                                        <td>-</td>
                                                                        <td>10"71</td>
                                                                        <td>61.80</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num07">7</span><a href="#" class="player">허남</a></div>
                                                                        </th>
                                                                        <td>3</td>
                                                                        <td>3/4B</td>
                                                                        <td>2:27:9725</td>
                                                                        <td>마크</td>
                                                                        <td>-</td>
                                                                        <td>1</td>
                                                                        <td>1</td>
                                                                        <td>-</td>
                                                                        <td>-</td>
                                                                        <td>10"71</td>
                                                                        <td>61.80</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comTitH3">
                                                        <h3>심판판정내용</h3>
                                                    </div>

                                                    <div class="comDataTable both colLineDel">
                                                        <div class="tableArea sizeL">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width: 14.2857%;">
                                                                    <col style="width: 14.2857%;">
                                                                    <col style="width: 14.2857%;">
                                                                    <col style="width: 14.2857%;">
                                                                    <col style="width: 14.2857%;">
                                                                    <col style="width: 14.2857%;">
                                                                    <col style="width: 14.2857%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>선수</th>
                                                                        <th>위반시기</th>
                                                                        <th>위반장소</th>
                                                                        <th>저촉조</th>
                                                                        <th>저촉항</th>
                                                                        <th>저촉호</th>
                                                                        <th>판정구분</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num01">1</span><a href="#" class="player">김상인</a></div>
                                                                        </th>
                                                                        <td>4주회</td>
                                                                        <td>HS</td>
                                                                        <td>73</td>
                                                                        <td>4</td>
                                                                        <td></td>
                                                                        <td>주의</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>경주규칙</th>
                                                                        <td colspan="6" class="left">
                                                                            <b>외선내 진입금지</b><br/>
                                                                            선수는 내선과 외선 사이를 주행하고 있는 선수와 나란히 달리는 상태에서 외선의 안쪽으로 진입하거나 다른 선수로 하여금 외선의 안쪽으로 들어가게 하여서는 아니된다.
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comTitH3">
                                                        <h3>배당률 안내</h3>
                                                    </div>

                                                    <div class="comDataTable both">
                                                        <div class="tableArea">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width: 33.3333%;">
                                                                    <col style="width: 33.3333%;">
                                                                    <col style="width: 33.3333%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>승식</th>
                                                                        <th>승자</th>
                                                                        <th>평균확정배당률</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>단승식</th>
                                                                        <td><span class="sign num04">4</span></td>
                                                                        <td>1.5</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>연승식</th>
                                                                        <td><span class="sign num01">1</span></td>
                                                                        <td>1.5</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>연승식</th>
                                                                        <td><span class="sign num06">6</span></td>
                                                                        <td>1.5</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>복승식</th>
                                                                        <td>
                                                                            <span class="sign num06">6</span> · <span class="sign num04">4</span>
                                                                        </td>
                                                                        <td>1.5</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>쌍승식</th>
                                                                        <td>
                                                                            <span class="sign num06">6</span> · <span class="sign num04">4</span>
                                                                        </td>
                                                                        <td>1.5</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>삼복승식</th>
                                                                        <td>
                                                                            <span class="sign num04">4</span> · <span class="sign num06">6</span> · <span class="sign num07">7</span>
                                                                        </td>
                                                                        <td>1.5</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>쌍복승식</th>
                                                                        <td>
                                                                            <span class="sign num04">4</span> · <span class="sign num06">6</span> · <span class="sign num07">7</span>
                                                                        </td>
                                                                        <td>1.5</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>삼쌍승식</th>
                                                                        <td>
                                                                            <span class="sign num04">4</span> · <span class="sign num06">6</span> · <span class="sign num07">7</span>
                                                                        </td>
                                                                        <td>1.5</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- //팝업 컨텐츠 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs_eng/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '조준호',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>