<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Cycle Racing Guide','Understanding Cycle Racing'],
                    subTitle: 'How to Read the Racecard',
                    subText: 'What is the <b>racecard</b>, <br/>the complete guide to a race?</b>!',
                    url: "../../",
                    visualClass : "bg02",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">The racecard is essential data that allows you to view the flow of the race and a variety of rider information at a glance.</h2>
                        <p class="info">It provides crucial information about the riders competing in each race, their past results, and current form.<br/> By utilising the racecard, you can develop betting strategies, compare and analyse riders or races, and predict race results.</p>
                    </div>
                    
                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea"><img src="../../images/contents/cont01_01_02_02_001.png" alt="Race Racecard Details Below" class="pcView"> <img src="../../images/contents/cont01_01_02_02_001_m.png" alt="Race Racecard Details Below" class="mView"></div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit"><span class="num">01</span> <span class="txt">Race Information</span></div>
                                        <div class="desc">Provides information on the race schedule, including the time slots and race grades (Entry, Excellence, Special) as well as the starting times.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">02</span> <span class="txt">AI Winning Predictions</span></div>
                                        <div class="desc">Analyses collected data such as riders&rsquo; race records, performances, and winning statistics to provide predictions.</div>
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">Higher gear ratios result in greater acceleration once speed builds up. Lower gear ratios result in a higher top speed and increased responsiveness.</p> <!-- 20250104 수정 -->
                                        </div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">03</span> <span class="txt">Gear Ratio</span></div>
                                        <div class="desc">Provides information on the race schedule, including the time slots and race grades (Entry, Excellence, Special) as well as the starting times</div>
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">Higher gear ratios result in greater acceleration once speed builds up. Lower gear ratios result in a higher top speed and increased responsiveness.</p> <!-- 20250104 수정 -->
                                        </div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">04</span> <span class="txt">200m Record</span></div>
                                        <div class="desc">Shows the fastest record from the races conducted over the most recent weekend (Friday, Saturday, Sunday) the rider participated in.</div> <!-- 20250104 수정 -->
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">05</span> <span class="txt">Number of Placement/Races Entered</span></div> <!-- 20250104 수정 -->
                                        <div class="desc">Represents the number of placings (1st, 2nd, and 3rd places) and the total number of races the rider has entered since the first round of the previous half-year period.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">06</span> <span class="txt">Training Location</span></div>
                                        <div class="desc">Indicates the place where the riders are currently training.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">07</span> <span class="txt">Winning Percentage</span></div>
                                        <div class="desc">Calculated by dividing the number of 1st place finishes in the current year (or the previous year if it&apos;s the rider&apos;s first year) by the total number of races entered.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">08</span> <span class="txt">Top Two Percentage</span></div>
                                        <div class="desc">Calculated by adding up the number of 1st and 2nd place finishes in the current year (or the previous year for first-timers) and dividing by the total number of races entered.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">09</span> <span class="txt">Top Three Percentage</span></div>
                                        <div class="desc">Calculated by adding the total number of 1st, 2nd, and 3rd place finishes in the current year (or the previous year for first-timers) and dividing by the total number of races entered.</div> <!-- 20250104 수정 -->
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">Riders with higher winning percentages, top two percentages, and top three percentages have a higher likelihood of securing a placing.</p> <!-- 20250104 수정 -->
                                        </div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">10</span> <span class="txt">Winning Strategy (Lead, Quick-timed Overtake, Late Charge, Marking)</span></div>
                                        <div class="desc">This refers to the number of times a strategy has resulted in a placing (1st, 2nd, or 3rd place) from the first round of the previous half-year to the present.</div> <!-- 20250104 수정 -->
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">11</span> <span class="txt">Grade</span></div>
                                        <div class="desc">Indicates the current and previous grades of a rider.<br/> Grades are classified into Special Grade (SS, S1, S2, S3), Excellence Grade (A1, A2, A3), and Entry Grade (B1, B2, B3). Grades may change through regular grading assessments or special promotions/demotions.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">12</span> <span class="txt">Average Score Over the Last 3 Races</span></div>
                                        <div class="desc">
                                            <div class="comBasicList">
                                                <ul class="listGroup">
                                                    <li class="item"><em>Gwangmyeong Score:</em> Refers to the average score achieved in the most recent three races at Gwangmyeong Cycling (Third-Last, Second-Last, Last Rounds). (Changwon riders are marked with <em>Changwon scores</em>, and Busan riders are marked with <em>Busan scores</em>.)</li>
                                                    <li class="item"><em>Comprehensive Score:</em> Refers to the average score achieved in the most recent three races at Gwangmyeong, Changwon, and Busan Cycling (Third-Last, Second-Last, Last Rounds).</li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">Higher scores indicate a greater chance of securing a placing!</p> <!-- 20250104 수정 -->
                                        </div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">13</span> <span class="txt">Comprehensive Ranking Over the Last 3 Races</span></div>
                                        <div class="desc">Represents the comprehensive ranking based on the average scores obtained in the most recent three races at Gwangmyeong, Changwon, and Busan cycling events.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea"><img src="../../images/contents/cont01_01_02_02_002.png" alt="Race Racecard Details Below" class="pcView"> <img src="../../images/contents/cont01_01_02_02_002_m.png" alt="Race Racecard Details Below" class="mView"></div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit"><span class="num">14</span> <span class="txt">Training Details for Riders in the Current Round</span></div>
                                        <div class="desc">Represents the comprehensive ranking based on the average scores obtained in the most recent three races at Gwangmyeong, Changwon, and Busan cycling events.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea"><img src="../../images/contents/cont01_01_02_02_003.png" alt="Race Racecard Details Below" class="pcView"> <img src="../../images/contents/cont01_01_02_02_003_m.png" alt="Race Racecard Details Below" class="mView"></div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit"><span class="num">15</span> <span class="txt">Performance in the Most Recent 3 Rounds (3rd, 2nd, and 1st)</span></div>
                                        <div class="desc">This refers to the performance of the rider for each of the last three rounds, broken down by individual days.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">16</span> <span class="txt">Current Round Performance</span></div>
                                        <div class="desc">This indicates the performance of the rider on the first and second days of the current round.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">17</span> <span class="txt">Placement and Strategy</span></div>
                                        <div class="desc">This represents the placement rankings and the strategies employed by the riders in the given race.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea"><img src="../../images/contents/cont01_01_02_02_004.png" alt="Race Racecard Details Below" class="pcView"> <img src="../../images/contents/cont01_01_02_02_004_m.png" alt="Race Racecard Details Below" class="mView"></div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit"><span class="num">18</span> <span class="txt"> Head-to-Head Records (Wins/Total Races)</span></div>
                                        <div class="desc">This shows the cumulative head-to-head win/loss record between two riders who competed in the same races, starting from the previous year to the current date.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">19</span> <span class="txt">Joint Placing Records (Place/Number)</span></div> <!-- 20250104 수정 -->
                                        <div class="desc">This represents the cumulative record of the two riders achieving 1st to 3rd place together in the same races, from the previous year to the current date.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">20</span> <span class="txt">Remaining Penalty Points for Racing Rule Violations</span></div>
                                        <div class="desc">Penalty points accrued by each rider are summed up for the most recent 3 rounds. If the total exceeds 50 points, the rider is suspended for 1 round, and the 50 points are then removed.</div>
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">Sequential deletion of penalty points from the last 3 rounds and previous rounds (last 2 rounds)</p>
                                        </div>

                                        <ul class="arwArea">
                                            <li class="arwItem">
                                                <div class="comContTable">
                                                    <table class="basic">
                                                        <caption>Table of Racing Rule Penalty Points: Table including criteria for classification by number of rounds</caption>
                                                        <colgroup>
                                                            <col>
                                                            <col>
                                                            <col>
                                                            <col>
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="4">Racing Rule Penalty Points</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Recent 2 Rounds</th>
                                                                <th>Most Recent Round</th>
                                                                <th>Current Round</th>
                                                                <th>Remaining Points</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>25</td>
                                                                <td>15</td>
                                                                <td>5</td>
                                                                <td>5</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                            <li class="arwItem">
                                                <div class="comContTable">
                                                    <table class="basic">
                                                        <caption>Penalty Point Application Table: Table including criteria for penalty point application</caption>
                                                        <colgroup>
                                                            <col>
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>Penalty Point Application</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Among the 45 penalty points accrued over 3 rounds, the penalty points from the round prior to the most recent one (25 points) are removed</td>
                                                            </tr>
                                                            <tr>
                                                                <td>20 penalty points applied for the next race (30 points remaining)</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="arwArea">
                                            <li class="arwItem">
                                                <div class="comContTable">
                                                    <table class="basic">
                                                        <caption>Table of Racing Rule Penalty Points: Table including criteria for classification by number of rounds</caption>
                                                        <colgroup>
                                                            <col>
                                                            <col>
                                                            <col>
                                                            <col>
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="4">Racing Rule Penalty Points</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Recent 2 Rounds</th>
                                                                <th>Most Recent Round</th>
                                                                <th>Current Round</th>
                                                                <th>Remaining Points</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>25</td>
                                                                <td>15</td>
                                                                <td>5</td>
                                                                <td>5</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                            <li class="arwItem">
                                                <div class="comContTable">
                                                    <table class="basic">
                                                        <caption>Penalty Point Application Table: Table including criteria for penalty point application</caption>
                                                        <colgroup>
                                                            <col>
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>Penalty Point Application</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>A total of 60 penalty points for 3 rounds -&gt; Suspension for 1 round. 50 points are removed</td>
                                                            </tr>
                                                            <tr>
                                                                <td>10 penalty points applied for the next race (40 points remaining)</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>