<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Race Information','Refereeing Decisions'],
                    subTitle: 'Referee Broadcasts',
                    subText: 'We provide <br/><b>referee broadcasts</b> to update you on <b>race conditions, such as falls or accidents</b> occurring during races.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptBoardView">
                        <div class="boardViewArea">
                            <div class="viewTop">
                                <h2 class="viewTitle">15th Race on Day 3 of the 27th Racing Series, 2024 (09 July)</h2>
                                <ul class="info">
                                    <li class="item">2024.07.05</li>
                                    <li class="item">Track Cycling Planning Team</li>
                                    <li class="item">Views: 2,000</li>
                                </ul>
                            </div>

                            <div class="viewBody">
                                <div class="viewContArea">
                                    <img src="../../images/thum/board_temp_img03.png" alt="Finish Judgement Image Resources">
                                    <p>
                                        ■ Race No. 15 <br/> 
                                        ○ Involved Riders: No. 5 (Kim Se-jun), No. 6 (Kim Man-seop)<br/> 
                                        ○ Applicable Regulations: Article 72, Paragraph 3 of the Racing Rules (Duty of Care in Racing), Article 74, Paragraph 2 (Prohibition of Obstructive Racing)<br/> 
                                        ○ Judgement Details: Near the first corner during 4th lap, the lane change by rider No. 6 and improper racing by rider No. 5 combined, resulting in a complex situation causing rider No. 5 to fall. Based on Article 72, Paragraph 3, and Article 74, Paragraph 2, both riders (No. 5 and No. 6) were issued warnings.
                                    </p>
                                </div>
                            </div>
                            
                            <div class="comPrevNext">
                                <dl>
                                    <dt>Previous Post</dt>
                                    <dd>
                                        <a href="#">Absence Update (Day 1, Gwangmyeong Racing Series No. 25)</a> 
                                        <i class="date">2024.07.05</i>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>Next Post</dt>
                                    <dd>
                                        <a href="#">There is no next post.</a>
                                        <i class="date">2024.07.05</i>
                                    </dd>
                                </dl>
                            </div>

                            <div class="comBtnGroup">
                                <div class="alignR">
                                    <div class="btnBox min">
                                        <button class="btn dkLine">View List</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>