<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs_eng/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Track Cyclist','Ranking Information'],
                    subTitle: 'Current Winning Streak Ranking',
                    subText: 'We provide the <br><b>current winning streak rankings</b> of cycling athletes.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>
				
				<div class="layoutContArea">
					
					<div class="comSubInfo">
						<h2 class="infoTit">Athletes who have won 1st place three or more times in a row in a race are displayed in the current winning streak ranking.</h2>
					</div>
					
					<div class="cptSection">
						<div class="sectArea">

							<div class="comTitH2">
								<h2>Current Winning Streak Ranking</h2>
							</div>
						
							<div class="comDataTable">
								<div class="tableArea sizeXL">
									<table>
										<caption></caption>
										<colgroup>
											<col span="5" style="width:20%;">
										</colgroup>
										<thead>
                                            <th>Ranking</th>
                                            <th>Athlete Name</th>
                                            <th>Grade</th>
                                            <th>Current Winning Streak</th>
                                            <th>Winning Streak Period</th>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
											<tr>
												<td>4</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
											<tr>
												<td>5</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
											<tr>
												<td>6</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
											<tr>
												<td>7</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
											<tr>
												<td>8</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
											<tr>
												<td>9</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
											<tr>
												<td>10</td>
												<td>Lim Chae-bin</td>
												<td>SS</td>
												<td>17</td>
												<td>2024.05.24 - 2024.07.14</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</div>

				</div>
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs_eng/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>