<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs_eng/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
				<%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Cycle Racing Guide','Understanding Cycle Racing'],
                    subTitle: 'Cycle Racing Introduction',
                    subText: 'Track cycling is <br><b>a new participatory leisure sport</b>.',
					url: "../../",
                    visualClass : "bg02",
				}) %>
				
				<div class="layoutContArea">

					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2 bk lg">
                                <h2>Track cycling is a <b>competitive race focused on ranking</b> rather than speed, making it a new type of <b>participatory leisure sport</b>.</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">Track cycling is not a time trial aimed at determining the fastest athlete. Competitors of similar abilities and skills compete in ranking-based races, employing their strategies to cross the finish line first. Participants predict the winner by analysing the athletes&rsquo; abilities, conditions, and tactics, purchase race tickets, and receive payouts upon correctly identifying the victor.</p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <div class="pcView"><img src="../../images/contents/cont01_01_01_01_001.png" alt="Image of Track Cycling"></div>
                                        <div class="mView"><img src="../../images/contents/cont01_01_01_01_001_m.png" alt="Image of Win Betting Tickets"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH2">
                                <h2>Types of Track Cycling</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>General Track Cycling</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">Track cycling is not a time trial aimed at determining the fastest athlete. Competitors of similar abilities and skills compete in ranking-based races, employing their strategies to cross the finish line first. Participants predict the winner by analysing the athletes&rsquo; abilities, conditions, and tactics, purchase race tickets, and receive payouts upon correctly identifying the victor.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>Grand Prix Track Cycling</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">Features <b>competitions with specific titles on the line</b>, involving top-ranked athletes from each grade. <br> Prizes such as trophies and other awards are given to athletes finishing in first, second, and third places.</p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Rookie Grand Prix Track Cycling</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">A race exclusively for rookie athletes who have graduated from the Cycling Training Centre and earned their athlete qualification within the year. <br> Upon completing the rookie event, athletes are graded based on their performance before participating in main events alongside experienced cyclists. <br> Prize money for rookies is set at 70% of the amount for general cycling.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>Special Track Cycling</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">Special-purpose events held for specific business objectives. Examples include qualifying events for the Sydney Olympics, charity cycling events for flood relief, and friendship cycling events between Korea and Japan.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>Other Track Cycling Events</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">Examples include the Rookie King Tournament, held to determine the best new graduate athlete of the year.</p>
                            </div>
						</div>
					</div>

					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2">
                                <h2>Methods of Track Cycling</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>Paced Races</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">In paced races, a lead guide helps competitors maintain a consistent pace while shielding them from wind resistance. The lead guide withdraws from the race approximately 700 metres before the finish, allowing competitors to sprint to the line. (The lead guide is not subject to voting or betting.)</p>
                            </div>
                            <div class="comAddGuide space">
                                <p class="guide">Other types of cycling include regular races, sprint races, and elimination races, though these are not currently in operation.</p>
                            </div>
						</div>
					</div>

                </div><!-- // layoutContArea -->
                
                <div class="cptContFull addBg01">
                    <div class="sectArea">
                        <div class="comTitH2 bk lg">
                            <h2>Track cycling is a <b>public service</b> that returns all of its profits to society.</h2>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">It is a public service project that returns all proceeds, after deducting customer refunds and statutory taxes, as well as all remaining revenue excluding event operation costs, to society through initiatives such as the National Sports Promotion Fund and local government financial support.</p>
                        </div>
                        <div class="comImgBox">
                            <div class="imgWrap"><img src="../../images/contents/cont01_01_01_01_002.png" alt="Graph of Revenue Allocation Details Below"></div>
                        </div>
                        <div class="comBasicList">
                            <ul class="listGroup">
                                <li class="item"><b>72% of total bets are paid out as winnings to customers with correct predictions</b>. <b>16% is allocated to taxes, including leisure tax, education tax, and agriculture and fisheries development tax, supporting both national and local finances</b>.</li>
                                <li class="item"><b>12%, after event costs are deducted, funds the National Sports Promotion Fund, arts and culture funds, and youth development projects</b>, contributing to the wellbeing and happiness of citizens.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
				<div class="layoutContArea">

					<div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2 bk lg">
                                <h2>As a <b>green sport</b>, <b>cycling contributes to society and promotes bicycle activity</b>.</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">Track cycling not only enhances performance in cycling competitions but also promotes bicycle riding as a widespread activity, contributing significantly to improving public health, addressing urban environmental issues, and solving traffic problems as a green sport.<br> It carries out various social contribution activities aimed at sharing and co-prosperity, such as supporting the development of amateur cycling athletes, operating bicycle safety classes for underprivileged children and youth, and providing support for disabled cycling athletes.</p>
                            </div>

                            <div class="comImgWrap col4_2">
                                <div class="imgGroup">
                                    <div class="imgArea"><img src="../../images/contents/cont01_01_01_01_003.png" alt=""></div>
                                    <div class="imgArea"><img src="../../images/contents/cont01_01_01_01_004.png" alt=""></div>
                                    <div class="imgArea"><img src="../../images/contents/cont01_01_01_01_005.png" alt=""></div>
                                    <div class="imgArea"><img src="../../images/contents/cont01_01_01_01_006.png" alt=""></div>
                                </div>
                            </div>

                            <div class="comBasicList">
                                <ul class="listGroup">
                                    <li class="item">Additionally, it supports the development of promising young athletes in sports, implements youth bicycle healing projects combining bicycle riding, and undertakes diverse social contribution activities to promote mutual growth.</li>
                                    <li class="item">Cycling organises national-scale cycling enthusiast events such as the KSPO Baekdudaegan Gran Fondo and Speedom Challenge Fest, and promotes cycling through projects like hosting the National Cycling Championship sponsored by the CEO of the Korea Sports Promotion Foundation.</li>
                                    <li class="item">It also operates sports teams in less-popular disciplines, such as fencing, supporting athletes who achieved medal success at the 2016 Rio Olympics (including fencing, cycling, marathon, canoeing, women&rsquo;s football, diving, and disabled skiing).</li>
                                </ul>
                            </div>
						</div>
					</div>

                </div><!-- // layoutContArea -->
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs_eng/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>