<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜가이드', '경륜 지식쌓기'],
                    subTitle: '경주규칙 안내',
                    subText: '경주의 짜릿함 속에 숨겨진 <br/><b>경주 규칙</b>을 알아보아요',
                    url: "../../",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경륜을 더욱 재미있게 관람하기 위해 기본적인 경주 규칙에 대해 알아봅시다.</h2>
                        <p class="info">경륜 경기를 더욱  즐겁게 관람하기 위해서는 기본적인 규칙을 이해하는 것이 중요합니다. <br/> 경륜 경주 규칙은 출발과 주행,  위반과 실격, 특이사례 별 착순판정에 대한 내용으로 분류할 수 있습니다.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경륜심판</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>심판의 역할</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    경륜 심판은 침착, 냉정하고 엄정하게 확고한 신념을 가지고 경륜경주규칙을 적용하여 경주 출발부터 진행, 순위확정 판정까지 경주진행의 전반을 총괄 운영합니다.
                                </p>
                            </div>

                            <div class="comTitH3">
                                <h3>판정심판 (종합심판실)</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    판정심판은 경기 규칙을 준수하고 선수들의 비신사적인 행위를 방지하며, 공정한 판정을 내리는 책임을 맡습니다. 
                                </p>
                            </div>

                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <b class="lineTit">심판장 : </b>
                                        <i class="lineTxt">경주진행 및 판정업무 총괄</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">부심판장 : </b>
                                        <i class="lineTxt">심판장을 보좌하여 심판업무 관장, 심판장 유고 시 직무대행, 위판행위 심의 주관, 결승선에 도달한 선수의 순위 및 도착선수 결정</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">결승기록심판 : </b>
                                        <i class="lineTxt">경륜성적표 등 경주 관련 기록 작성, 위반행위 심의</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">선두원진행심판 : </b>
                                        <i class="lineTxt">선두유도원 운영 및 교육경주진행심판경주의 진행업무 주관, 경주상황 발생시 해당 심판에게 필요한 조치를 취하도록 통보</i>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>진행심판 (인필드)</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">
                                    진행심판은 경기의 안전과 원활한 진행을 책임지는 역할을 수행합니다. 
                                </p>
                            </div>

                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <b class="lineTit">장비운영요원 : </b>
                                        <i class="lineTxt">착순 판정 장비, 심판 판정 장비, 기타 심판 운영 장비의 운영 관리</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">출발신호심판 : </b>
                                        <i class="lineTxt">주로 심판업무 총괄, 출발 신호총으로 선수 출발 신호</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">출발 겸 주회심판 : </b>
                                        <i class="lineTxt">출발 전 선수에게 주지사항 전달, 주회수 안내판으로 잔여 주회수를 선수들에게 고지</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">타종심판 : </b>
                                        <i class="lineTxt">타종을 개시하여 선수에게 잔여 주회수가 1주회임을 알림</i>
                                    </li>
                                    <li class="item">
                                        <b class="lineTit">주로진행요원 : </b>
                                        <i class="lineTxt">경주로 이상 유ㆍ무 점검, 낙차 또는 사고 발생 시 선수 구호 조치</i>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>경주 진행 순서별 심판판정 사항</h3>
                            </div>
                            
                            <div class="comImgBox">
                                <div class="pcView">
                                    <img src="../../images/contents/cont01_01_03_02_001.png" alt="경주: 경주 출발 > 경주 진행 > 결승선 도착 > 선수 퇴장 > 순위확정 및 발표 / 심판 : 재출발 여부판정 > 경주중지 사항 발생 판정 > 순위 확인 > 입상선수 실격사항 심의 판정 > 순위확정 및 발표">
                                </div>
                                <div class="mView">
                                    <img src="../../images/contents/cont01_01_03_02_001_m.png" alt="경주: 경주 출발 > 경주 진행 > 결승선 도착 > 선수 퇴장 > 순위확정 및 발표 / 심판 : 재출발 여부판정 > 경주중지 사항 발생 판정 > 순위 확인 > 입상선수 실격사항 심의 판정 > 순위확정 및 발표">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>심판판정의 기준</h2>
                            </div>

                            <div class="comBasicTxt">
                                <p class="txt">심판은, 경주 중 발생된 각종 규칙위반 사항들에 대해 행위발생의 원인과 진행경과, 파급된 결과를 종합적으로 검토하여 가해/피해에 대한 인과관계를 명확하게 규명하고 위반정도에 따라 관련 제 규정에 출처, 엄정하게 판정하고 있습니다.</p>
                                <p class="txt">경륜을 비롯한 모든 스포츠 종목에서 말하는 실격판정에 대한 사전적의미로는 경기중 발생된 중대한 위반사실에 대해 책임관계를 규명하여 가해선수에게 해당경주의 출전자격을 박탈하거나 또는 순위에 대한 결과를 인정하지 않는 심판의 제재기준으로 해석할 수 있습니다.</p>
                                <p class="txt">그러나, 경륜경기에 있어 실격의 의미는 이러한 보편적인 해석기준 이외에도 중대 위반사실로 인해 초래될 수 있는 각종 부정적인 악영향으로부터 고객 여러분들의 소중한 권익을 보호해 드리고자 하는 목적에서의 의미로 부가하여 정의될 수 있습니다.</p>
                            </div>

                            <div class="comImgWrap col3">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/conc01_01_03_02_002.png" alt="경주를 심판하는 심판 판정실의 전경1">
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/conc01_01_03_02_003.png" alt="경주를 심판하는 심판 판정실의 전경2">
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/conc01_01_03_02_004.png" alt="경주를 심판하는 심판 판정실의 전경3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경주규칙</h2>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>재출발 (제64조 제1항 제2호)</h3>
                            </div>

                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">출발선부터 100m선 이내에서 출발이 적정하지 않다고 인정한 때 다시 출발하게 한다.</li>
                                    <li class="item">재출발 후 100M선 이내에서 선수가 과도한 견제를 하여 공정한 경주진행에 중대한 지장을 준 경우 실격처리 된다.</li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>전력질주 의무위반(제72조 제2호)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 폭주나 과도한 견제를 하여서는 아니되며 승리할 의지를 가지고 전력 질주하여야 한다. 다음의 경우에는 실격처리 된다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">폭주하여 승기를 놓쳤다고 인정되는 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">과도한 견제로 승기를 놓쳤다고 인정되는 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">정당한 이유없이 경주를 포기한 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">4</span>
                                        <span class="txt">태만경주가 인정되는 경우</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_005.png" alt="폭주하여 선수그룹보다 5차신 정도 이상 뒤떨어져 골인한 경우의 이미지">
                                        <p class="imgTxt">폭주하여 선수그룹보다 5차신 정도 이상 뒤떨어져 골인한 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_006.png" alt="과도한 견제로 승기를 놓쳤다고 인정되는 경우의 이미지">
                                        <p class="imgTxt">과도한 견제로 승기를 놓쳤다고 인정되는 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_007.png" alt="정당한 이유없이 경주를 포기한 경우의 이미지">
                                        <p class="imgTxt">정당한 이유없이 경주를 포기한 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_008.png" alt="태만경주가 인정되는 경우의 이미지">
                                        <p class="imgTxt">태만경주가 인정되는 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>주행주의의무 위반(제72조 제3호)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 다른 선수의 주행에 방해가 되지 아니하도록 공정하고 안전하게 주행하여야 한다.</li>
                                    <li class="item">과실주행(부주의 주행)으로 다음의 경우에는 실격처리된다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">낙차시킨 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">자전거를 고장나게 하여 사후의 경주에 중대한 지장을 준 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">과실주행(부주의 주행)으로 자기낙차 또는 자전거 고장을 일으켜 경주를 속행하지 못한 경우 실격처리</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_009.png" alt="과실주행으로 다른 선수를 낙차시키는 경우의 이미지">
                                        <p class="imgTxt">과실주행으로 다른 선수를 낙차시키는 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_010.png" alt="과실주행으로 자전거를 고장나게 한 경우의 이미지">
                                        <p class="imgTxt">과실주행으로 자전거를 고장나게 한 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>주행의무지시 불이행(제72조 제4호)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">공정성과 안전을 확보하기 위하여 출발전 선수에게 주행의무 지시 또는 경주규칙 준수 주지사항</li>
                                    <li class="item">페달에서 발이 빠지는 등 기재장착 및 복장착용에 대한 본인 부주의로 인하여 경주에 전력을 다할 수 없었음이 분명한 경우</li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>안쪽추월 금지(제73조 제1항)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 외선 안쪽으로 주행하고 있는 다른 선수를 추월하고자 할 때에는 그 선수의 바깥쪽으로 추월하여야 한다.</li>
                                    <li class="item">선두원 퇴피 후 외선의 안쪽을 선행하고 있는 선수의 안쪽으로 추월한 경우 실격처리</li>
                                </ul>
                            </div>

                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_011.png" alt="외선의 안쪽을 선행하는 내선을 넘지 않고 추월한 경우의 이미지">
                                        <p class="imgTxt">외선의 안쪽을 선행하는 내선을 넘지 않고 추월한 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_012.png" alt="외선의 안쪽을 선행하는 선수를 내선을 넘으면서 추월한 경우의 이미지">
                                        <p class="imgTxt">외선의 안쪽을 선행하는 선수를 내선을 넘으면서 추월한 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>규제거리내 진입금지(제73조 제2항)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수가 다른 선수를 추월할 때에는 그 선수의 주행안전에 필요한 상당한 거리가 확보된 상태가 아니면 그 진로에 들어가서는 아니된다.</li>
                                    <li class="item">선행하는 선수를 추월하거나, 또는 그러한 행위로 인하여 자기낙차, 자전거고장, 비틀거림 등을 일으켜 다른 선수를 다음의 경우에는 실격처리 된다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">낙차시킨 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">자전거 고장을 고장나게 하여 사후의 경주에 중대한 지장을 준 경우 실격처리</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_013.png" alt="추월하면서 다른 선수를 낙차시키는 경우의 이미지">
                                        <p class="imgTxt">추월하면서 다른 선수를 낙차시키는 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_014.png" alt="추월하면서 자전거를 고장나게 한 경우의 이미지">
                                        <p class="imgTxt">추월하면서 자전거를 고장나게 한 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>안쪽,바깥쪽 끼어들기 금지(제73조 제3항)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 내선과 외선 사이를 선행하는 선수의 자전거 뒷바퀴의 뒤끝에서 직각으로 맺은 선을 넘어서 안쪽 또는 바깥쪽으로 끼어 들어서는 안된다. </li>
                                    <li class="item">내선과 외선 사이를 선행하는 선수의 안쪽 또는 바깥쪽에 끼어들거나 또는 그러한 행위로 인하여 자기낙차, 자전거 고장, 비틀거림등을 일으켜 다른 선수를 다음의 경우에는 실격처리 된다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">낙차시킨 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">자전거 고장을 고장나게 하여 사후의 경주에 중대한 지장을 준 경우 실격처리</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_015.png" alt="끼어들어 다른 선수를 낙차시키는 경우의 이미지">
                                        <p class="imgTxt">끼어들어 다른 선수를 낙차시키는 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_016.png" alt="끼어들어 자전거를 고장나게 한 경우의 이미지">
                                        <p class="imgTxt">끼어들어 자전거를 고장나게 한 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>외선내 진입금지(제73조 제4항)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 내선과 외선사이를 주행하고 있는 선수와 나란히 달리는 상태에서 외선의 안쪽으로 진입하거나 다른 선수로 하여금 외선의 안쪽으로 들어가게 해서는 안된다. </li>
                                    <li class="item">내선과 외선사이를 주행하는 선수와 외선사이에 스스로 들어가거나, 혹은 다른 선수를 들어가게 하거나, 또는 그러한 행위로 인하여 자기낙차, 자전거 고장, 비틀거림등을 일으켜 다른 선수를 다음의 경우에는 실격처리된다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">낙차시킨 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">자전거 고장을 고장나게 하여 사후의 경주에 중대한 지장을 준 경우 실격처리</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_017.png" alt="외선 안으로 들어가 자전거를 고장나게 한 경우의 이미지">
                                        <p class="imgTxt">외선 안으로 들어가 자전거를 고장나게 한 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_018.png" alt="다른 선수를 외선 안으로 들어가게 하여 다른 선수를 낙차 시키거나 자전거를 고장 나게 한 경우의 이미지">
                                        <p class="imgTxt">다른 선수를 외선 안으로 들어가게 하여 다른 선수를 낙차 시키거나 자전거를 고장 나게 한 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>미는행위 금지(제74조 제1항)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 신체 또는 자전거의 전부 또는 일부를 사용하여 다른 선수를 밀어 누르거나 밀어 올리거나 또는 다른 선수와 서로 미는 행위를 하여서는 아니된다.</li>
                                    <li class="item">밀어올리기, 밀어누르기, 서로밀기하여 다른 선수를 낙차시키거나 자전거를 고장나게한 경우, 타종개시후 다른 선수의 주행에 중대한 지장을 준 경우, 특히 현저한 위반 행위를 한 경우 실격처리 된다.</li>
                                </ul>
                            </div>
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_019.png" alt="밀어올리기의 이미지">
                                        <p class="imgTxt">밀어올리기</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_020.png" alt="밀어누르기의 이미지">
                                        <p class="imgTxt">밀어누르기</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_021.png" alt="서로밀기의 이미지">
                                        <p class="imgTxt">서로밀기</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_022.png" alt="특히 현저한 위반 행위를 한 경우의 이미지">
                                        <p class="imgTxt">특히 현저한 위반 행위를 한 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>주행방해 금지(제74조 제2항)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 대각선 또는 S자로 주행하여 다른 선수의 진로를 방해하여서는 아니된다.</li>
                                    <li class="item">대각선 주행하여 다른 선수를 낙차시키거나 자전거를 고장나게 한 경우, S자로 주행하여 다른 선수를 낙차시키거나 자전거를 고장나게 한 경우, 대각선 혹은 S자 주행으로 타종개시후 다른 선수의 주행에 중대한 지장을 준 경우, 대각선 혹은 S자 주행행위가 특히 현저한 경우 실격처리 된다.</li>
                                </ul>
                            </div>
                            
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_023.png" alt="대각선 주행하여 다른 선수를 낙차 시키거나 자전거를 고장 나게 한 경우의 이미지">
                                        <p class="imgTxt">대각선 주행하여 다른 선수를 낙차 시키거나 자전거를 고장 나게 한 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_024.png" alt="S자 주행하여 다른 선수를 낙차 시키거나 자전거를 고장 나게 한 경우의 이미지">
                                        <p class="imgTxt">S자 주행하여 다른 선수를 낙차 시키거나 자전거를 고장 나게 한 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_025.png" alt="대각선 혹은 S자 주행으로 타종 개시 후 다른 선수의 주행에 대한 중대한 지장을 준 경우의 이미지">
                                        <p class="imgTxt">대각선 혹은 S자 주행으로 타종 개시 후 다른 선수의 주행에 대한 중대한 지장을 준 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>중간끼어들기 금지(제74조 제3항)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 나란히 달리는 두 선수와의 사이가 주행의 안전에 필요한 상당한 간격을 유지할수 있는 때가 아니면 그 사이로 끼어들거나 추월 하여서는 아니된다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">다른 선수를 낙차시킨 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">자전거 고장을 고장나게 하여 사후의 경주에 중대한 지장을 준 경우 실격처리</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_026.png" alt="다른 선수를 낙차 시킨 경우의 이미지">
                                        <p class="imgTxt">다른 선수를 낙차 시킨 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_027.png" alt="자전거를 고장 나게 한 경우의 이미지">
                                        <p class="imgTxt">자전거를 고장 나게 한 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>내선내 주행금지(제75조)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 내선 안쪽으로 진입하여 주행하여서는 아니된다.</li>
                                    <li class="item">선두원 퇴피 후 부터 스스로 6초정도 이상 내선을 넘어 계속 주행한 경우 실격처리 된다.</li>
                                </ul>
                            </div>
        
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_028.png" alt="스스로 내선을 넘어 최종주회 B S L 도달 전 6초 정도 이상 계속 주행한 경우, 최종주회 B S L 도달 후 4초 정도 이상 계속 주행한 경우의 이미지">
                                        <p class="imgTxt">스스로 내선을 넘어 최종주회 B S L 도달 전 6초 정도 이상 계속 주행한 경우, 최종주회 B S L 도달 후 4초 정도 이상 계속 주행한 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>조력 금지(제76조)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 경주 중 어떠한 방법으로도 다른 선수에게 도움을 주거나 또는 다른 선수로부터 도움을 받아서는 아니된다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">어떠한 방법으로 특정 선수를 뒤에서 밀어준 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">어떠한 방법으로 특정 선수를 끌어 주는 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">특정 선수에게 작전적인 조언을 하는 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">4</span>
                                        <span class="txt">고의로 진로를 열어 특정 선수의 경주를 유리하게 유도하는 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">5</span>
                                        <span class="txt">폭주 또는 자기 페이스를 무시하고 특정 선수의 페이스 메이커가 되는 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">6</span>
                                        <span class="txt">다른 선수를 방해 또는 에워싸서 특정 선수를 유리하게 유도하는 경우 실격처리</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_029.png" alt="특정선수를 뒤에서 밀어준 경우의 이미지">
                                        <p class="imgTxt">특정선수를 뒤에서 밀어준 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_030.png" alt="특정선수를 앞에서 끌어준 경우의 이미지">
                                        <p class="imgTxt">특정선수를 앞에서 끌어준 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_031.png" alt="작전적인 조언을 하는 경우의 이미지">
                                        <p class="imgTxt">작전적인 조언을 하는 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_032.png" alt="기타 특정선수를 유리하게 유도한 경우의 이미지">
                                        <p class="imgTxt">기타 특정선수를 유리하게 유도한 경우</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>퇴피 의무(제77조)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        본 규정에 저촉되어 [실격]이 되는 기준 자전거 고장 또는 신체부상으로 경주속행이 불가능하게 되었음에도 불구하고 정해진 장소에 퇴피하지 않은 경우 실격처리 된다.
                                        <div class="addGuide">
                                            <p class="guide">낙차 후 재승차하였지만, 선두선수가 추월시 사고의 우려가 있어 심판(보조원)이 퇴피지시를 하였으나 이를 어기고 계속 주행한 경우 실격처리</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>경주의 속행(제78조)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수가 경주 중 어떤 사고로 낙차 하였으나, 자전거 및 신체에 별이상이 없음에도 불구하고 재승차 하여 경주를 완료하지 않은 경우 실격처리 된다.</li>
                                </ul>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>선두원 추월금지(제86조)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 선두원이 퇴피하기 전까지 선두원을 추월하여서는 아니된다.</li>
                                    <li class="item">
                                        선두원이 퇴피하기 전 경주선수가 선두원을 추월한 경우 실격처리 된다.
                                        <div class="addGuide">
                                            <p class="guide">단, 선수가 본 규정을 위반한 경우 중 다음의 면책사유에 해당하는 때에는 본 규정을 적용하지 않는다 : 선두원이 퇴피하기 전 경주선수가 선두원을 추월하였으나 신속하게 선두원의 후방으로 복귀하는 경우</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_033.png" alt="선두원이 퇴피하기 전에 경주선수가 선두원을 추월하여 신속하게 선두원의 후방으로 복귀하지 않는 경우, 선두원을 퇴피 시키는 경우의 이미지">
                                        <p class="imgTxt">선두원이 퇴피하기 전에 경주선수가 선두원을 추월하여 신속하게 선두원의 후방으로 복귀하지 않는 경우, 선두원을 퇴피 시키는 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>선두원 주행방해 금지(제87조)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수는 선두원에 대하여 제 73조와 제 74조에 위반되는 행위로 선두원의 주행을 방해하여서는 아니된다.</li>
                                    <li class="item">선두원에 대하여 방해 및 위험한 행위를 하거나, 또는 그러한 행위로 인하여 자기낙차, 자전거 고장, 비틀거림등을 일으켜 선두원 혹은 다른 선수에게 다음의 지장을 준 경우 실격처리된다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">낙차시킨 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">자전거를 고장나게 하여 사후의 유도 계속 또는 사후의 경주에 중대한 지장을 준 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">기타 유도행위 또는 다른 경주 선수의 주행에 중대한 지장을 준 경우</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">외선의 안쪽을 주행하고있는 선두원을 안쪽으로 추월한 경우 실격처리</li>
                                </ul>
                            </div>

                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_034.png" alt="선두원에 끼어들어 낙차 시키거나 자전거를 고장 나게 한 경우의 이미지">
                                        <p class="imgTxt">선두원에 끼어들어 낙차 시키거나 자전거를 고장 나게 한 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_035.png" alt="안쪽으로 추월하는 경우의 이미지">
                                        <p class="imgTxt">안쪽으로 추월하는 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>주회수 오인(제103조 제1항 제4호)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">선수가 주회수를 오인하여 경주한 때 주회수를 오인하여 자신의 전능력을 충분히 발휘 하지 못한 경우 실격처리 된다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">주회수를 적게 오인하여 자신의 전 능력을 충분히 발휘하지 못한 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">결승선 이외의 선을 결승선으로 오인하여 마치 결승선에 골인하는 것처럼 자전거 핸들을 밀어 넣은 후, 자신의 전 능력을 충분히 발휘하지 못한 경우</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">주회수를 많게 오인하여 자신의 전 능력을 충분히 발휘하지 못한 경우</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="comImgWrap col4">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_036.png" alt="주회수를 오인한 경우의 이미지">
                                        <p class="imgTxt">주회수를 오인한 경우</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_03_02_037.png" alt="결승선 이외의 선을 결승선으로 오인한 경우의 이미지">
                                        <p class="imgTxt">결승선 이외의 선을 결승선으로 오인한 경우</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>경주 불성립(제105조)</h3>
                            </div>
        
                            <div class="comBasicList space">
                                <ul class="listGroup">
                                    <li class="item">다음 사유가 발생된 경우에는 경주 불성립으로 판정하고, 경주를 중지 할 수 있다. 이 때 해당 경주에 대한 투표는 무효가 되어 원금을 환불한다.</li>
                                </ul>
                            </div>
        
                            <div class="comNumList space">
                                <ul class="listGroup">
                                    <li class="item">
                                        <span class="number">1</span>
                                        <span class="txt">결승선에 도착한 선수가 없을 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">2</span>
                                        <span class="txt">천재지변 또는 정전 등으로 정상적인 경주가 이루어지지 아니한 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">3</span>
                                        <span class="txt">사람 또는 동물 등의 방해로 정상적인 경주가 불가능하게 된 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">4</span>
                                        <span class="txt">경주 중 관객의 투석 및 기타의 방해로 인하여 경주에 중대한 지장이 초래된 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">5</span>
                                        <span class="txt">경주 중 주회통보원이 타종 또는 주회통보를 하지 아니하였거나 잘못한 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">6</span>
                                        <span class="txt">선두고정경주에 있어서 선두원이 주회수를 오인하여 잘못 유도한 때 또는 선두원이 선수의 경주에 중대한 장애를 준 때</span>
                                    </li>
                                    <li class="item">
                                        <span class="number">7</span>
                                        <span class="txt">선수의 책임이 아닌 사유로 공정한 경주가 이루어지지 아니하였다고 인정된 때 </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜심판팀',
                    name: '김태환',
                    phone: '02-2067-5935',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>