<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Cycle Racing Guide','Understanding Cycle Racing'],
                    subTitle: 'Basic Information on Cycle Racing',
                    subText: '<b>Are you new</b> to track cycling?<br>Let&rsquo;s learn about it together.',
                    url: "../../",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">Let&rsquo;s explore the fundamental information about track cycling to enjoy its unique thrill and charm.</h2>
                        <p class="info">Track cycling is a sport that uses bicycles to experience the excitement of speed. Its unpredictable outcomes make it even more exhilarating.<br> By learning basic information about track cycling, you can enjoy it even more.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2 bk">
                                <h2>Entry and Confirmation Testing Process for Fair Racing</h2>
                            </div>
            
                            <div class="comBasicTxt">
                                <p class="txt">To ensure fair competition, all cyclists <em>enter the velodrome on Thursday</em> and remain isolated from public contact until all races conclude on Sunday. Riders are subject to <em>doping tests</em> for banned substances both before and after participation. <br> During their stay, cyclists <em>undergo health examinations conducted by professional medical staff to maintain peak performance. Their bicycles are also inspected for compliance with regulations, proper assembly, and component condition. This comprehensive process is known as confirmation testing</em>. <br> <em>Once they pass these stringent evaluations, cyclists receive final approval to participate</em>. Fans can enjoy cycling with confidence, knowing the sport adheres to strict and impartial standards.</p>
                            </div>
                        </div>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2 bk">
                                <h2>Race Composition System</h2>
                            </div>
            
                            <div class="comBasicTxt">
                                <p class="txt">Races are organised with cyclists of similar abilities within the same grade. Cycling athletes are categorised into detailed levels based on their skills: <em>Special Grade (S), which consists of four groups; Excellence Grade (A), which consists of three groups; and Entry Grade (B), which consists of three groups</em>.</p>
                            </div>
                        </div>
                    </div>

                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toAll">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="Selected Tab Menu">Track Cyclist</button></li> <!-- addClass - on : 메뉴 선택됨 --><li class="tabItem swiper-slide"><button class="tabName" title="Tab Menu">Race Score</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="Tab Menu">Winning Percentage·Top Two Percentage·Top Three Percentage</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="Tab Menu">Gear Ratio</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="Tab Menu">Betting Types</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">Previous</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">Next</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"> <!-- addClass - on : 컨텐츠 노출 -->
                                <!-- 탭 컨텐츠 1 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Athlete Grades</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">Cyclists&rsquo; grades are reviewed and adjusted every six months (for each half-year) based on race results. Grade changes occur with every cycle (S1 ↔ S2).</p>
                                        </div>
                        
                                        <div class="comTitH3 mgH">
                                            <h3>Special Promotion and Demotion</h3>
                                        </div>
                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">Special promotion occurs when a cyclist finishes 1st or 2nd in three consecutive races (including the final race), leading to advancement to a higher grade.</li>
                                                <li class="item">Special demotion occurs when a cyclist finishes 6th or 7th in two consecutive races, leading to a downgrade to a lower grade.</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Cyclist Grade Classification Table</h3>
                                        </div>

                                        <div class="comContTable">
                                            <!-- PC 테이블 -->
                                            <div class="pcView">
                                                <table class="basic">
                                                    <caption>Cyclist Grade Classification Table: A table including classifications for S-grade, A-grade, and B-grade with their respective standards for grading</caption>
                                                    <colgroup>
                                                        <col>
                                                        <col>
                                                        <col>
                                                        <col>
                                                        <col>      
                                                        <col>
                                                        <col>
                                                        <col>
                                                        <col>
                                                        <col>
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th colspan="4" class="lineR"><span class="tOrange">S-Grade (Special Grade)</span></th>
                                                            <th colspan="3" class="lineR"><span class="tBlue">A-Grade (Excellence Grade)</span></th>
                                                            <th colspan="3" class="lineR"><span class="tMint">B-Grade (Entry Grade)</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><span class="mark orange">SS</span></td>
                                                            <td><span class="mark orange">S1</span></td>
                                                            <td><span class="mark orange">S2</span></td>
                                                            <td class="lineR"><span class="mark orange">S3</span></td>
                                                            <td><span class="mark blue">A1</span></td>
                                                            <td><span class="mark blue">A2</span></td>
                                                            <td class="lineR"><span class="mark blue">A3</span></td>
                                                            <td><span class="mark mint">B1</span></td>
                                                            <td><span class="mark mint">B2</span></td>
                                                            <td><span class="mark mint">B3</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Mobile 테이블 -->
                                            <div class="mView">
                                                <table class="basic">
                                                    <caption>Cyclist Grade Classification Table: A table including classifications for S-grade, A-grade, and B-grade with their respective standards for grading</caption>
                                                    <colgroup>
                                                        <col style="width: 133px;">
                                                        <col style="width:auto;">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th rowspan="4" class="lineR"><span class="tOrange">S-Grade (Special Grade)</span></th>
                                                            <td><span class="mark orange">SS</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark orange">S1</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark orange">S2</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark orange">S3</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th rowspan="3" class="lineR"><span class="tBlue">A-Grade (Excellence Grade)</span></th>
                                                            <td><span class="mark blue">A1</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark blue">A2</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark blue">A3</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th rowspan="3" class="lineR"><span class="tMint">B-Grade (Entry Grade)</span></th>
                                                            <td><span class="mark mint">B1</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark mint">B2</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark mint">B3</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Cyclist Uniform Guide</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">Cycling uniforms are designed with specific colours and numbers for easy identification.<br> The race number and colour for participating cyclists are displayed on their jersey and helmet, while their grade is marked on their trousers. This system allows fans to follow the races with ease.</p>
                                        </div>
                        
                                        <div class="comTitH3 mgH">
                                            <h3>Uniform Colours and Numbers for Jerseys and Helmets</h3>
                                        </div>
                                        
                                        <div class="comImgBox">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_001.png" alt="Uniform Colours and Numbers: 1 White, 2 Black, 3 Red, 4 Blue, 5 Yellow"> <img src="../../images/contents/cont01_01_01_02_002.png" alt="Uniform Colours and Numbers: 6 Green, 7 Pink, 8 Orange, Lead Guide Black and white mosaic"></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_001_m.png" alt="Uniform Colours and Numbers: 1 White, 2 Black, 3 Red, 4 Blue, 5 Yellow, 6 Green, 7 Pink, 8 Orange, Lead Guide Black and white mosaic"></div>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Cyclist Grades Indicated by Uniform Trousers</h3>
                                        </div>

                                        <div class="comImgBox">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_003.png" alt="Uniform Trousers Athlete Grades Super Special Grade Rainbow pattern with star stripes, Special Grade Red background with star stripes, Excellence Grade Mint background with star stripes, Entry Grade White background with black star stripes"></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_003_m.png" alt="Uniform Trousers Athlete Grades Super Special Grade Rainbow pattern with star stripes, Special Grade Red background with star stripes, Excellence Grade Mint background with star stripes, Entry Grade White background with black star stripes"></div>
                                        </div>

                                        
                                    </div>
                                </div>
                                <!-- //탭 컨텐츠 1 -->
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠 2 -->
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Race Score</h2>
                                        </div>
                        
                                        <div class="comBasicList">
                                            <ul class="listGroup">
                                                <li class="item">Race scores are <em>key indicators used to evaluate the performance and skill level of cyclists</em>.</li>
                                                <li class="item">Cyclists are <em>awarded prize money based on their race scores</em>, which also determine <em>participation in races according to their grade</em>. While cyclists may compete within the same grade, <em>the prize amounts differ depending on rank as well as the day of the race (Day 1, Day 2, or Day 3). </em></li>
                                                <li class="item">For instance, a cyclist who finishes first in a Day 1 race and then places in the finals on Day 3 will receive a significantly higher prize. <br> Consequently, <em>race scores are critically important for cyclists as they determine grades ranging from S to B.</em></li>
                                                <li class="item">However, while race scores undeniably provide insight into a cyclist&apos;s strength, they should not be overestimated. </li>
                                                <li class="item">For example, a cyclist who frequently finishes in third or fourth place may have inflated scores compared to their true ability. Conversely, a cyclist with inconsistent rankings&mdash;such as frequently finishing first or seventh&mdash;may have lower scores than their potential suggests. These factors must be considered carefully.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Calculation of Race Scores</h2>
                                        </div>
                        
                                        <div class="comTitH3 mgH">
                                            <h3>General Track Cycling</h3>
                                        </div>
                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">For Day 1 and Day 2 races, each participant&rsquo;s grade-specific standard score is used to determine an average score. This average represents the base score for fourth place. Scores for rankings higher than fourth place are calculated by adding 1 point to the average score for each higher rank. Conversely, scores for rankings below fourth place are calculated by subtracting 1 point from the average score for each lower rank.</li>
                                                <li class="item">For Day 3 races, scores are determined based on the average ranking points from the results of Day 1 and Day 2. The same calculation method as Day 1 and Day 2 is applied to determine ranking points on Day 3.</li>
                                            </ul>
                                        </div>

                                        <div class="comTitH3">
                                            <h3>Grade-specific Standard Scores</h3>
                                        </div>

                                        <div class="comContTable">
                                            <!-- PC 테이블 -->
                                            <div class="pcView">
                                                <table class="basic">
                                                    <caption>Grade-specific standard score table: A table including grade-specific standard scores, including S-grade, A-grade, and B-grade cyclists</caption>
                                                    <colgroup>
                                                        <col style="width:auto;">
                                                        <col style="width:7%;">
                                                        <col style="width:7%;">
                                                        <col style="width:7%;">
                                                        <col style="width:7%;">
                                                        <col style="width:10%;">      
                                                        <col style="width:10%;">
                                                        <col style="width:10%;">
                                                        <col style="width:10%;">
                                                        <col style="width:10%;">
                                                        <col style="width:10%;">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th rowspan="2" class="lineR">By Grade</th>
                                                            <th colspan="4" class="lineR"><span class="tOrange">S-Grade (Special Grade)</span></th>
                                                            <th colspan="3" class="lineR"><span class="tBlue">A-Grade (Excellence Grade)</span></th>
                                                            <th colspan="3"><span class="tMint">B-Grade (Entry Grade)</span></th>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark orange">SS</span></td>
                                                            <td><span class="mark orange">S1</span></td>
                                                            <td><span class="mark orange">S2</span></td>
                                                            <td class="lineR"><span class="mark orange">S3</span></td>
                                                            <td><span class="mark blue">A1</span></td>
                                                            <td><span class="mark blue">A2</span></td>
                                                            <td class="lineR"><span class="mark blue">A3</span></td>
                                                            <td><span class="mark mint">B1</span></td>
                                                            <td><span class="mark mint">B2</span></td>
                                                            <td><span class="mark mint">B3</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Standard Scores</th>
                                                            <td>102</td>
                                                            <td>100</td>
                                                            <td>98</td>
                                                            <td class="lineR">96</td>
                                                            <td>94</td>
                                                            <td>92</td>
                                                            <td class="lineR">90</td>
                                                            <td>88</td>
                                                            <td>86</td>
                                                            <td>84</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Mobile 테이블 -->
                                            <div class="mView">
                                                <table class="basic">
                                                    <caption>Grade-specific standard score table: A table of grade-specific standard scores, including S-grade, A-grade, and B-grade cyclists</caption>
                                                    <colgroup>
                                                        <col>
                                                        <col>
                                                        <col>
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th class="lineR">Athlete Grades</th>
                                                            <th>By Grade</th>
                                                            <th>Standard Scores</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th rowspan="4" class="lineR"><span class="tOrange">S-Grade (Special Grade)</span></th>
                                                            <td><span class="mark orange">SS</span></td>
                                                            <td>102</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark orange">S1</span></td>
                                                            <td>100</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark orange">S2</span></td>
                                                            <td>98</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark orange">S3</span></td>
                                                            <td>96</td>
                                                        </tr>
                                                        <tr>
                                                            <th rowspan="3" class="lineR"><span class="tBlue">A-Grade (Excellence Grade)</span></th>
                                                            <td><span class="mark blue">A1</span></td>
                                                            <td>97</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark blue">A2</span></td>
                                                            <td>92</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark blue">A3</span></td>
                                                            <td>90</td>
                                                        </tr>
                                                        <tr>
                                                            <th rowspan="3" class="lineR"><span class="tMint">B-Grade (Entry Grade)</span></th>
                                                            <td><span class="mark mint">B1</span></td>
                                                            <td>88</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark mint">B2</span></td>
                                                            <td>86</td>
                                                        </tr>
                                                        <tr>
                                                            <td><span class="mark mint">B3</span></td>
                                                            <td>84</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="comTitH3">
                                            <h3>Average Scores</h3>
                                        </div>


                                        <div class="comBasicTxt space">
                                            <p class="txt">The average score is determined by calculating the mean of race scores from track cycling events held in Gwangmyeong, Changwon, and Busan. The Gwangmyeong average score shown on the racecard refers to the average of the race scores from the cyclist&rsquo;s most recent three races in Gwangmyeong. Similarly, the overall average score represents the mean of the race scores from the cyclist&rsquo;s most recent three races in Gwangmyeong, Changwon, and Busan.</p>
                                        </div>

                                    </div>
                                </div>
                                <!-- //탭 컨텐츠 2 -->
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠 3 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Winning Percentage</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">The winning percentage is calculated by <em>dividing the number of first-place finishes by the total number of races entered, expressed as a percentage</em>.</p>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_004.png" alt="Formula: (Number of first-place finishes/Number of races entered) * 100%"></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_004_m.png" alt="Formula: (Number of first-place finishes/Number of races entered) * 100%"></div>
                                        </div>

                                    </div>
                                </div>
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Top Two Percentage</h2>
                                        </div>
                        
                                        <div class="comBasicList">
                                            <ul class="listGroup">
                                                <li class="item">The top two percentage is calculated by <em>dividing the number of first- and second-place finishes by the total number of races entered, expressed as a percentage</em>. It is also referred to as the <em>placement rate</em>.</li>
                                                <li class="item">A higher percentage indicates a greater likelihood of the participant finishing in first or second place. When purchasing race tickets, the top two percentage is often given more weight than the average finishing score.</li>
                                                <li class="item">In Straight Forecast betting, where you need to select both the first and second place finishers, the first two percentage, which reflects a cyclist&apos;s past first and second-place finishes, serves as an important reference when purchasing your race tickets.</li>
                                            </ul>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_013.png" alt="Formula: ((Number of first-place finishes + Number of second-place finishes)/Number of races entered) * 100%"></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_013_m.png" alt="Formula: ((Number of first-place finishes + Number of second-place finishes)/Number of races entered) * 100%"></div>
                                        </div>

                                    </div>
                                </div>
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Top Three Percentage</h2>
                                        </div>
                        
                                        <div class="comBasicList">
                                            <ul class="listGroup">
                                                <li class="item">The top three percentage is calculated by <em>dividing the number of first-, second-, and third-place finishes by the total number of races entered, expressed as a percentage</em>.</li>
                                                <li class="item">A higher percentage indicates a greater likelihood of the participant finishing in first, second, or third place. When purchasing race tickets, the top three percentage is often given more weight than the average finishing score.</li>
                                                <li class="item">In Combination Tricast betting, where you need to select the first, second, and third place finishers, the first three percentage, which reflects a cyclist&rsquo;s past first-, second-, and third-place finishes, serves as an important reference when purchasing your race tickets.</li>
                                            </ul>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_014.png" alt="Formula: ((Number of first-place finishes + Number of second-place finishes + Number of third-place finishes)/Number of races entered) * 100%"></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_014_m.png" alt="Formula: ((Number of first-place finishes + Number of second-place finishes + Number of third-place finishes)/Number of races entered) * 100%"></div>
                                        </div>

                                    </div>
                                </div>
                                <!-- //탭 컨텐츠 3 -->
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠 4 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Gear Ratio</h2>
                                        </div>
                        
                                        <div class="comBasicList">
                                            <ul class="listGroup">
                                                <li class="item">The gear ratio is calculated by <em>dividing the number of teeth on the larger gear (large gear)</em> attached to the inside of the pedal (gear crank) by <em>the number of teeth on the smaller gear (small gear)</em> fixed to the rear wheel hub.</li>
                                                <li class="item">Depending on the combination of larger gears (45 to 55 teeth) and smaller gears (12 to 16 teeth), <em>the ratio can range from 2.75 to 3.93</em>.</li>
                                                <li class="item"><em>The most commonly used ratios in races are 3.85, 3.92, and 3.93</em>.</li>
                                            </ul>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_015.png" alt="Formula: Number of teeth on the inside large pedal gear (large gear)/Number of teeth on the rear wheel small gear (small gear)"></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_015_m.png" alt="Formula: Number of teeth on the inside large pedal gear (large gear)/Number of teeth on the rear wheel small gear (small gear)"></div>
                                        </div>
                                         
                                        <div class="comTitH3">
                                            <h3>Large Gear and Small Gear</h3>
                                        </div>
                        
                                        <div class="comBasicTxt space">
                                            <p class="txt">Cyclists select their gear ratio based on their leg strength, physical condition, and race-day factors such as weather. <em>Once the selected ratio is registered before a race, it cannot be changed</em>.</p>
                                        </div>

                                        <div class="comImgBox narrow">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_005.png" alt="Photos of the large gears and small gears of a bicycle. The large gear refers to the larger gear attached to the pedals, while the small gear refers to the smaller gear attached to the front wheel of the bicycle."></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_005_m.png" alt="Photos of the large gears and small gears of a bicycle. The large gear refers to the larger gear attached to the pedals, while the small gear refers to the smaller gear attached to the front wheel of the bicycle."></div>
                                        </div>

                                    </div>
                                </div>

                                <!-- 정보이야기 박스 영역 -->
                                <div class="cptEtcInfo">
                                    <div class="infoBox">
                                        <dl class="info">
                                            <dt><em class="tit">Is a higher gear ratio better for racing?</em> <span class="subTit">Gear Ratios in Cycling Races</span></dt>
                                            <dd>
                                                <div class="infoList">
                                                    <ul class="listGroup">
                                                        <li class="item">Observing riders travelling in a line reveals that those using a higher gear ratio tend to have slower pedalling cadences compared to riders on lower gear ratios, even when travelling at the same speed.<br>This difference is due to the variations in the distance covered per pedal stroke depending on the gear ratio.</li>
                                                        <li class="item">Higher gear ratios require more effort per pedal stroke. In contrast, lower gear ratios demand less force. <br> Assuming constant physical strength, using a higher gear ratio may take more time to reach a certain speed but offers the advantage of maintaining that speed over a longer period.<br> Conversely, using a lower gear ratio enables quicker acceleration to the same speed, but it is more challenging to sustain that speed over time.</li>
                                                        <li class="item">Generally, cyclists adopt higher gear ratios either to mitigate fatigue or to execute short, powerful surges for strategic purposes. <br> As such, gear ratios should be considered in conjunction with the cyclist&rsquo;s tactics, and extreme judgements such as &ldquo;higher ratios should be avoided&rdquo; or &ldquo;standard ratios guarantee success.&rdquo;</li>
                                                    </ul>
                                                </div> 
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <!-- //탭 컨텐츠 4 -->
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠 5 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="sectArea">
                                            <div class="comTitH2">
                                                <h2>Betting Types</h2>
                                            </div>
                            
                                            <div class="comBasicTxt">
                                                <p class="txt">Betting types in cycling races involve predicting race outcomes and placing bets accordingly. These include seven distinct types of bets, such as predicting first place, first and second places, or first, second, and third places combined.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- 고유영역 -->
                                <div class="cptDescList">
                                    <div class="listArea">
                                        <ul class="thumList">
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont01_01_01_02_006.png" alt="Select the 1st place finisher in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Win</em><div class="ballon">Accuracy rate: <span class="detail">1/7</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st and 2nd place finishers in any order.</li>
                                                            <li class="item">It is the most basic type of bet, suitable for beginners, with modest stakes offering potential payouts.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont01_01_01_02_007.png" alt="Select the 1st and 2nd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Place</em><div class="ballon">Accuracy rate: <span class="detail">2/7</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting either the first or second place finisher.</li>
                                                            <li class="item">For races with eight or more participants, predicting a position within the top three qualifies. This betting type is not available in races with four or fewer participants.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont01_01_01_02_008.png" alt="Select the 1st and 2nd place finishers in any order"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Reverse Forecast</em><div class="ballon">Accuracy rate: <span class="detail">1/21</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st and 2nd place finishers in any order.</li>
                                                            <li class="item">It is more difficult than the Place betting, but it offers the potential for higher payouts.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont01_01_01_02_009.png" alt="Select the 1st and 2nd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Straight Forecast</em><div class="ballon">Accuracy rate: <span class="detail">1/42</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st and 2nd place finishers in the correct order.</li>
                                                            <li class="item">It is more difficult than the Reverse Forecast betting, but it offers the potential for higher payouts.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont01_01_01_02_010.png" alt="Select the 1st, 2nd, and 3rd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Combination Tricast</em><div class="ballon">Accuracy rate: <span class="detail">1/35</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st, 2nd, and 3rd place finishers in any order.</li>
                                                            <li class="item">It is a simpler betting type than the Straight Forecast.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont01_01_01_02_011.png" alt="Select the 1st, 2nd, and 3rd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Banker Tricast</em><div class="ballon">Accuracy rate: <span class="detail">1/105</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st place finisher, and the 2nd and 3rd place finishers in any order.</li>
                                                            <li class="item">It is more difficult than the Straight Forecast, but it offers the potential for higher payouts.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont01_01_01_02_012.png" alt="Select the 1st, 2nd, and 3rd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Tricast</em><div class="ballon">Accuracy rate: <span class="detail">1/210</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st, 2nd, and 3rd place finishers in the correct order.</li>
                                                            <li class="item">It is the most difficult betting type, but it offers the highest potential payout.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- 정보이야기 박스 영역 -->
                                <div class="cptEtcInfo">
                                    <div class="infoBox">
                                        <dl class="info">
                                            <dt><em class="tit">Enjoy the race properly and have fun!</em> <span class="subTit">Tips for a healthy and enjoyable track cycling culture</span></dt>
                                            <dd>
                                                <div class="infoList">
                                                    <ul class="listGroup">
                                                        <li class="item">Cycling races offer the excitement of high-speed competition with the added thrill of betting opportunities, providing both entertainment and financial rewards.</li>
                                                        <li class="item">It is advisable to place bets only on races you are confident about and to gradually increase your betting amount rather than overextending from the beginning.<br> (It is recommended to purchase around 3 to 5 betting tickets per race and to bet within a reasonable range!)</li>
                                                        <li class="item">Place bets only within an amount you can afford to lose.<br> <em>Be fully aware of the risks of gambling addiction and legal restrictions, and participate responsibly.</em></li>
                                                    </ul>
                                                </div> 
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <!-- //탭 컨텐츠 5 -->
                            </div>
                        </div>
                    </div>

                </div>

                    
                <!-- 서브 바텀 (담당자) -->
				<%- include('../_ejs_eng/sub_btm.ejs', {
					team: 'Cycling Planning Team',
					name: 'Cho Joon-ho',
					phone: '+82 2 2067 5711',
					url: "../../",
				}) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>