<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs_eng/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Track Cyclist','Prize Money Information'],
                    subTitle: 'Overall Prize Money Ranking',
                    subText: 'We provide the <br><b>overall prize money rankings</b> of cycling athletes.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>
				
				<div class="layoutContArea">
					
					<div class="comSubInfo">
						<h2 class="infoTit">The overall prize money rankings of cycle racing athletes are offered only to those who have participated in at least 20% of the total race days up to the most recent round.</h2>
						<p class="info">The prize money includes various allowances for standby and waiting days, and only results from Gwangmyeong (or Jamsil before 2006) are reflected. <br>The prize money rankings are based solely on results from races held in Gwangmyeong (excluding Changwon and Busan). These rankings apply to athletes who have participated in at least 20% of the total race days up to the most recent round. (For example: for the 20th race, athletes must have participated in at least 12 days (20%) out of a total of 60 days)</p>
					</div>
					
					<div class="cptSection">
						<div class="sectArea">

							<div class="comTitH2">
								<h2>Overall Prize Money Rankings [as of 2024]</h2>
							</div>

							<div class="comTabData">
                                <div class="tabMenuGroup tabDataSwiper">
                                    <ul class="tabMenu swiper-wrapper">
                                        <li class="tabItem swiper-slide">
                                            <button type="button" class="tabName on">All</button>
                                        </li>
                                        <li class="tabItem swiper-slide">
                                            <button type="button" class="tabName orange">Special Grade</button> <!--class 'orange' : 특선급 탭 컬러-->
										</li>
                                        <li class="tabItem swiper-slide">
                                            <button type="button" class="tabName blue">Excellence Grade</button> <!--class 'blud' : 우수급 탭 컬러-->
										</li>
                                        <li class="tabItem swiper-slide">
                                            <button type="button" class="tabName mint">Entry Grade</button> <!--class 'mint' : 선발급 탭 컬러-->
										</li>
                                    </ul>
                                </div>
						
								<div class="right">
									<div class="frmBox">
										<select class="iptSlt">
											<option value="">2024</option>
											<option value="">Dropdown</option>
										</select>
									</div>
								</div>
                            </div>

							<div class="comDataTable">
								<div class="tableArea">
									<table>
										<thead>
											<tr>
												<th>Ranking</th>
												<th>Athlete Name</th>
												<th>Grade</th>
												<th>Date of Birth</th>
												<th>Hometown</th>
												<th>Number of Competition Days</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>SS</td>
												<td>1991</td>
												<td></td>
												<td>46</td>
											</tr>
											<tr >
												<td>2</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Jeong Jong-jin</a></td>
												<td>SS</td>
												<td>1987</td>
												<td>Seoul</td>
												<td>48</td>
											</tr>
											<tr>
												<td>3</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Ryu Jae-yeol</a></td>
												<td>S1</td>
												<td>1987</td>
												<td>Daegu</td>
												<td>52</td>
											</tr>
											<tr >
												<td>4</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Yang Seung-won</a></td>
												<td>SS</td>
												<td>1990</td>
												<td>Chungbuk</td>
												<td>50</td>
											</tr>
											<tr>
												<td>5</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Gong Tae-min</a></td>
												<td>S1</td>
												<td>1989</td>
												<td>Gyeonggi</td>
												<td>48</td>
											</tr>
											<tr >
												<td>6</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Shin Eun-seop</a></td>
												<td>SS</td>
												<td>1987</td>
												<td>Seoul</td>
												<td>41</td>
											</tr>
											<tr>
												<td>7</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Hwang Seung-ho</a></td>
												<td>S1</td>
												<td>1986</td>
												<td>Gyeonggi</td>
												<td>47</td>
											</tr>
											<tr >
												<td>8</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Hwang In-hyuk</a></td>
												<td>S1</td>
												<td>1988</td>
												<td>Daejeon</td>
												<td>45</td>
											</tr>
											<tr>
												<td>9</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Park Jin-young</a></td>
												<td>S1</td>
												<td>1995</td>
												<td></td>
												<td>54</td>
											</tr>
											<tr >
												<td>10</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Park Kyung-ho</a></td>
												<td>S1</td>
												<td>1993</td>
												<td>Seoul</td>
												<td>58</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
					
							<!-- 페이징 --> <!-- 20241102 cptSection 내부로 이동 -->
							<div class="comPaging">
								<a class="start" href="#"></a>
								<a class="prev" href="#"></a>
								<ul class="numList">
									<li><a href="#">1</a></li>
									<li class="on"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
								<a class="next" href="#"></a>
								<a class="end" href="#"></a>
							</div>

						</div>
					</div>

				</div>
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs_eng/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>