<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Cycle Racing Guide','Understanding Cycle Racing'],
                    subTitle: 'Racing Process',
                    subText: 'Thrilling bicycle racing!<br/><b>How does cycling work?</b>',
                    url: "../../",
                    visualClass : "bg01",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">Track cycling is an exhilarating three-minute velodrome bicycle race where athletes of similar abilities compete strategically to determine the finishing order.</h2>
                         <p class="info">It is not a time trial aimed at determining the fastest athlete. Instead, it is a ranking competition where competitors of similar abilities and skills compete in ranking-based races, employing their strategies to cross the finish line first.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>Race Process</h2>
                            </div>

                            <div class="comBasicTxt">
                                <p class="txt">After the starting signal, riders set off from the starting line and <em>complete five laps (1,691 metres) on the track</em>. A lead guide leads the race initially, reducing wind resistance for the riders. <em>Once the lead guide exits the track, the race enters its critical stage. When the bell rings with one and a half laps remaining to the finish line, the final sprint begins in earnest</em>.</p>
                            </div>

                            <div class="comAddGuide"> 
                                <p class="guide">The race concludes in approximately three minutes, delivering a high-intensity and captivating experience throughout its duration.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptOrderGuide">
                        <div class="guideArea">
                            <div class="comTitH3">
                                <h3>Pre-Race - Rider Selection</h3>
                            </div>

                            <div class="imgGuide">
                                <ul class="guideGroup">
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">01</span> <span class="txt">Rider Confirmation</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_001.png" alt="Example image of illustrating rider confirmation."></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">02</span> <span class="txt">Pre-Race Confirmation Testing</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_002.png" alt="Example image of illustrating pre-race confirmation testing"></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">03</span> <span class="txt">Introduction of Riders</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_003.png" alt="Example image of illustrating rider introduction"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptOrderGuide">
                        <div class="guideArea">
                            <div class="comTitH3">
                                <h3>Pre-Race - Ticket Sales </h3>
                            </div>

                            <div class="imgGuide">
                                <ul class="guideGroup">
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">04</span> <span class="txt">Race Ticket Purchase</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_004.png" alt="Example image of illustrating purchase of race tickets"></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">05</span> <span class="txt">Display of Payout Odds</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_005.png" alt="Example image of illustrating display of payout odds"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptOrderGuide">
                        <div class="guideArea">
                            <div class="comTitH3">
                                <h3>Race Progression</h3>
                            </div>

                            <div class="imgGuide">
                                <ul class="guideGroup">
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">06</span> <span class="txt">Entry of Riders</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_006.png" alt="Example image of illustrating entry of riders"></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">07</span> <span class="txt">Race Start</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_007.png" alt="Example image of illustrating race start"></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">08</span> <span class="txt">Race in Progress</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_008.png" alt="Example image of illustrating race in progress"></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">09</span> <span class="txt">Lead Guide Exit</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_009.png" alt="Example image of illustrating lead guide exit"></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">10</span> <span class="txt">Bell Ring</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_010.png" alt="Example image of illustrating bell ring"></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">11</span> <span class="txt">Spurt</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_011.png" alt="Example image of illustrating the spurt"></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">12</span> <span class="txt">arrival at the Finish Line</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_012.png" alt="Example image of illustrating arrival at the finish line"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptOrderGuide">
                        <div class="guideArea">
                            <div class="comTitH3">
                                <h3>End of Race</h3>
                            </div>

                            <div class="imgGuide">
                                <ul class="guideGroup">
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">13</span> <span class="txt">Confirmation of Results and Display of Confirmed Payout Odds</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_013.png" alt="Example image of illustrating confirmation of results and display of confirmed payout odds"></div>
                                    </li>
                                    <li class="guideItem">
                                        <p class="tit"><span class="num">14</span> <span class="txt">Collection of Winnings</span></p>
                                        <div class="imgArea"><img src="../../images/contents/cont01_01_01_03_014.png" alt="Example image of illustrating collection of winnings"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                    
                <!-- 서브 바텀 (담당자) -->
				<%- include('../_ejs_eng/sub_btm.ejs', {
					team: 'Cycling Planning Team',
					name: 'Cho Joon-ho',
					phone: '+82 2 2067 5711',
					url: "../../",
				}) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>