<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Track Cyclist'],
                    subTitle: 'Racer Lookup',
                    subText: 'You can lookup<br/>detailed athlete information <b>including athlete profiles</b>and race records.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>

                <div class="layoutContArea">
                    <div class="cptWordFilter eng">
                        <div class="sectArea">
                            <div class="btnArea">
                                <ul class="btnGroup">
                                    <li class="btnItem">
                                        <button type="button" class="btn Primary">All</button> <!--선택 탭 class : Primary-->
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">A</button> 
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">B</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">C</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine" disabled>D</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine" disabled>E</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">F</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">G</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">H</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">I</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">J</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">K</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">L</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">M</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">N</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">O</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">P</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">Q</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">R</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">S</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">T</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">U</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">V</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">W</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">X</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">Y</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">Z</button>
                                    </li>
                                </ul>
                            </div>

                            <div class="comSearchBox">
                                <div class="searchLine col4">
                                    <dl class="condition">
                                        <dt class="title">선수</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <select class="iptSlt">
                                                        <option value="">현역선수</option>
                                                        <option value="">드롭다운</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="condition">
                                        <dt class="title">등급</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <select class="iptSlt">
                                                        <option value="">조회</option>
                                                        <option value="">드롭다운</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="condition">
                                        <dt class="title">기수</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <select class="iptSlt">
                                                        <option value="">조회</option>
                                                        <option value="">드롭다운</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="condition">
                                        <dt class="title">훈련지</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <select class="iptSlt">
                                                        <option value="">선택하세요</option>
                                                        <option value="">드롭다운</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="searchLine">
                                    <dl class="condition">
                                        <dt class="title">검색어</dt>
                                        <dd class="conBox">
                                            <div class="frmGroup">
                                                <div class="frmBox">
                                                    <input type="text" class="iptText" placeholder="내용을 입력하세요">
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <button class="btn Primary search">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptPersonList">
                        <div class="sectArea">
                            <div class="listTit">
                                <h2>ㄱ</h2>
                            </div>

                            <ul class="prsnList">
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <!-- to Dev : 이미지 자료 없을 시에는 하단의 basic 이미지가 들어가도록 해주세요 -->
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span> <!--기본 gray / class : 'blue', 'mint', 'orange'-->
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/thum/thum_person_list.png" alt="선수 강동국 사진">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate mint">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate orange">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                            <div class="listTit">
                                <h2>ㄴ</h2>
                            </div>

                            <ul class="prsnList">
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <!-- to Dev : 이미지 자료 없을 시에는 하단의 basic 이미지가 들어가도록 해주세요 -->
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/thum/thum_person_list.png" alt="선수 강동국 사진">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate mint">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate orange">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="prsnItem">
                                    <a href="#" class="prsn">
                                        <div class="thumWrap">
                                            <img src="../../images/common/thum_person_basic.png" alt="인물사진 기본 썸네일">
                                        </div>
                                        <div class="txtWrap">
                                            <b class="name">강동국</b>
                                            <div class="cateGroup">
                                                <span class="cate blue">A1</span>
                                                <span class="cate">06기</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs_eng/sub_btm.ejs', {
                    team: '경륜운영팀',
                    name: '조준호',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>