<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Cycle Racing Guide','Build Track Cycling Knowledge'],
                    subTitle: 'Track Cycling Referee Equipment',
                    subText: '<b>Eyes and ears for a fair race</b><br/>&ndash; Introducing <b>cycling referee equipment</b>.',
                    url: "../../",
                    visualClass : "bg02",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">Referee equipment is essential to support accurate judgements and ensure fair race operations.</h2> <!--20241031 텍스트 수정-->
                        <p class="info">To guarantee fair race management in cycling, strict rules are enforced by referees, and various equipment allows for precise rulings.</p> <!--20241031 텍스트 수정--></div>
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>Finish Judgement Equipment</h2>
                            </div>
                            <div class="comTitH3">
                                <h3>Structure of the Finish Judgement System</h3>
                            </div>
            
                            <div class="comImgBox">
                                <div class="imgWrap"><img src="../../images/contents/cont01_03_04_001.png" alt="Image of Structure of the Finish Judgement System"> <!--20241031 이미지 파일명 수정--></div><!-- 20241031 추가 --><div class="btnGroup cameraEquip">
                                    <button type="button" class="ballon num01" onclick="openPopup('equip01')">Finish Line Judgement Camera<img src="../../images/common/ic_16_glass.svg" alt="View Details"></button>
                                    <button type="button" class="ballon num02" onclick="openPopup('equip02')">Illusory Mirror<img src="../../images/common/ic_16_glass.svg" alt="View Details"></button>
                                    <button type="button" class="ballon num03" onclick="openPopup('equip03')">Optical Sensor<img src="../../images/common/ic_16_glass.svg" alt="View Details"></button>
                                </div>
                            </div>
            
                            <div class="comTitH3">
                                <h3>Principle of filming the Finish Judgement System</h3>
                            </div>
            
                            <div class="comBasicTxt">
                                <p class="txt">A line-scan camera fitted with a &quot;slit lens,&quot; allowing light to pass through a 0.01mm fine gap, <em>captures digital images of the 4cm-wide finish line at intervals of 1/2,000 of a second (2,000 frames per second)</em>.</p>
                            </div>

                            <!-- 20250123 변경 -->
                            <div class="comGifWrap">
                                <div class="gifGroup">
                                    <div class="gifBox">
                                        <div class="image"><img src="../../images/contents/gif_01_03_04_001.gif" alt="방송용 카메라 영상 단계별 사이클 움직임"></div>
                                        <span class="text">방송용 카메라 영상</span>
                                    </div>
                                </div>
                                <div class="downArr">아래화살표</div>
                                <div class="gifGroup division">
                                    <div class="alignL">
                                        <div class="gifBox">
                                            <div class="image"><img src="../../images/contents/gif_01_03_04_002.gif" alt="방송용 카메라 영상 단계별 사이클 움직임"></div>
                                            <span class="text"><b>측면</b> 착순판정 완성과정</span>
                                        </div>
                                    </div>
                                    <div class="alignR">
                                        <div class="gifBox">
                                            <div class="image"><img src="../../images/contents/gif_01_03_04_003.gif" alt="방송용 카메라 영상 단계별 사이클 움직임"></div>
                                            <span class="text"><b>윗면</b> 착순판정 완성과정</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 20250123 수정 -->

                            <!-- <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_03_04_001.png" alt="Finish Judgement Process Animation">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            
                            <div class="comTitH2">
                                <h2>Standards for Finish Judgement</h2>
                            </div>
                            
                            <div class="comBasicTxt">
                                <p class="txt">In cycling races, the standard for determining a rider&apos;s finish line crossing point is <em>defined as the moment the foremost part of the wheel contacts the vertical plane of the finish line</em>, except in cases where the rider and bicycle are fully separated due to a fall. <em>(Cycling Enforcement Regulations Article 106, Paragraph 1)</em></p>
                            </div>
                            <div class="comTitH3">
                                <h3>Determining the Moment of Crossing the Finish Line</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">If the rider and bicycle reach the finish line as a single entity, the determination is made based on the moment the foremost part of the wheel reaches the vertical plane.</p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_03_04_002.png" alt="Image of judgement examples for crossing the finish line" class="pcView"> 
                                        <img src="../../images/contents/cont01_03_04_002_m.png" alt="Image of judgement examples for crossing the finish line" class="mView"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cptSection">
                        <div class="sectArea">
                            
                            <div class="comTitH2">
                                <h2>Special Cases in Finish Judgement</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>Reaching the finish line as a single entity after a fall</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">If a fall occurs, but the rider and bicycle remain a single entity and reach the finish line, the determination is based on the foremost part of the wheel at the moment of crossing.</p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_03_04_003.png" alt="Image of a judgement example where the body and bicycle reach the finish line as a single entity after a fall" class="pcView"> 
                                        <img src="../../images/contents/cont01_03_04_003_m.png" alt="Image of a judgement example where the body and bicycle reach the finish line as a single entity after a fall" class="mView">
                                    </div>
                                </div>
                            </div>

                            
                            <div class="comTitH3">
                                <h3>Reaching the finish line with the rider and bicycle separated after a fall</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">If a fall occurs, and the rider and bicycle are separated and reach the finish line, the determination is based on the foremost part of the trailing entity, whether it is the rider or the bicycle.</p>
                            </div>

                            <div class="comImgWrap col2">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_03_04_004.png" alt="Example image of a trailing rider after a fall">
                                        <p class="imgTxt center">When <em class="tKey">the rider trails</em>, the <em>foremost part of the rider&apos;s body</em> is used as the judgement point</p>
                                    </div>
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_03_04_005.png" alt="Example image of a trailing bicycle after a fall">
                                        <p class="imgTxt center">When <em class="tKey">the bicycle trails</em>, <em>the foremost part of the wheel</em> is used as the judgement point, regardless of whether it is the front or rear wheel</p>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH3">
                                <h3>Tie in Finishing Time</h3>
                            </div>
                            
                            <div class="comBasicTxt space">
                                <p class="txt">When the time difference between riders arriving at the finish line is 1/1,000 of a second or greater, the placement is determined by order. However, if the time difference is less than 1/1,000 of a second (up to 1/2,000 of a second), it is judged as a tie.</p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_03_04_006.png" alt="Example image of tie judgement" class="pcView"> 
                                        <img src="../../images/contents/cont01_03_04_006_m.png" alt="Example image of tie judgement" class="mView"> 
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="cptEtcInfo col2">
                        <div class="infoBox">
                            <dl class="info">
                                <dt><em class="tit">Cursor Line on Finish Judgement Photo</em></dt>
                                <dd>
                                    <div class="thumArea"><img src="../../images/contents/cont01_03_04_007.png" alt="Example image of cursor line"> <!-- //20241031 이미지 경로 수정 --></div>
                                    <div class="infoList">
                                        <ul class="listGroup">
                                            <li class="item">To distinguish the subtle time differences in placements that are difficult to discern with the naked eye, the finish judgement photo highlights and displays &quot;frame images (lines)&quot; for comparison. The completed photo, taken after shooting, cannot be artificially manipulated. Each cursor line appearing on the screen corresponds to the size of <em>one frame, captured at 1/2,000-second intervals</em>, and this serves as the reference line for determining the time difference between placements.<div class="comAddGuide">
                                                    <p class="guide">For ease of recognition, cursor lines are shown as solid coloured lines, and the colours may vary.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> 
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="cptCol3Section">
                        <div class="sectArea">
                            
                            <div class="comTitH2">
                                <h2>Race Operation Equipment</h2>
                            </div>

                            <ul class="sectGroup">
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea"><img src="../../images/contents/cont01_03_04_008.png" alt="Image of the starting gate equipment"> <!--20241031 이미지 경로 수정--></div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>Starting Gate</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">The starting gate operates via an electric signal triggered by the starting signal gun. This equipment ensures all riders commence the race simultaneously in a fair and safe manner.</p>
                                    </div>                                    
                                </li>
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea"><img src="../../images/contents/cont01_03_04_009.png" alt="Image of the lap counter board equipment"><!--20241031 이미지 경로 수정--></div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>Lap Counter Board</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">This board is used to indicate the number of laps remaining during the race.</p>
                                    </div>                                    
                                </li>
                                <li class="sectItem">
                                    <div class="comImgWrap">
                                        <div class="imgGroup">
                                            <div class="imgArea"><img src="../../images/contents/cont01_03_04_010.png" alt="Image of the bell equipment"><!--20241031 이미지 경로 수정--></div>
                                        </div>
                                    </div>

                                    <div class="comTitH3 mgH">
                                        <h3>Bell</h3>
                                    </div>
                                    
                                    <div class="comBasicTxt space">
                                        <p class="txt">The bell signals the final lap during the race.</p>
                                    </div>

                                    <div class="comAddGuide space">
                                        <p class="guide">It rings from the backstretch line before the final lap to the home stretch line where the final lap begins.</p> <!--20241031 텍스트 수정--></div>                                    
                                </li>
                            </ul>
                        </div> 
                    </div>
                    <div id="equip01" class="modMdPopup"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">Dim Area</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('equip01');">Close</button>
                                    <div class="popTitle">1. Finish Line Judgement Camera</div>
                                    <div class="popCont">
                                        <div class="cptSection">
                                            <div class="sectArea">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont01_03_04_011.png" alt="Actual photo of the finish line judgement camera"></div>
                                                    </div>
                                                </div>

                                                <div class="comBasicList mgH">
                                                    <ul class="listGroup">
                                                        <li class="item"><b class="sTit">Line Scan Digital Finish Camera</b></li>
                                                        <li class="item"><b class="sTit">Installation Location&nbsp;</b> <i class="sTxt">Positioned approximately 23m (two cameras), 30m (one camera), and 35m (one camera) vertically above the finish line, fixed at different angles</i></li>
                                                        <li class="item"><b class="sTit">Features and Functionality</b> <i class="sTxt">Equipped with ultra-high-speed scanning sensors capable of capturing resolutions exceeding 4K (up to 33,000/sec), shooting objects crossing the finish line exclusively at 1/2,000-second intervals (2,000 frames per second)</i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="equip02" class="modMdPopup"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">Dim Area</div>
                        <div class="popupArea"> 
                            <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('equip02');">Close</button>
                                    <div class="popTitle">2. Illusory Mirror</div>
                                    <div class="popCont">
                                        <div class="cptSection">
                                            <div class="sectArea">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont01_03_04_012.png" alt="Actual photo of the illusory mirror"></div>
                                                    </div>
                                                </div>

                                                <div class="comBasicList mgH">
                                                    <ul class="listGroup">
                                                        <li class="item"><b class="sTit">Installation Location&nbsp;</b> <i class="sTxt">Positioned along the extended line of the finish line within the escapeway</i></li>
                                                        <li class="item"><b class="sTit">Features and Functionality</b> <i class="sTxt">Reflects the reverse image (virtual image) of the surface visible to the camera (real image) during shooting</i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="equip03" class="modMdPopup"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">Dim Area</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupContainer">
                                <div class="popupContArea">
                                    <button class="btnPopClose" onclick="closePopup('equip03');">Close</button>
                                    <div class="popTitle">3. Optical Sensor</div>
                                    <div class="popCont">
                                        <div class="cptSection">
                                            <div class="sectArea">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont01_03_04_013.png" alt="Actual photo of the optical sensor"></div>
                                                    </div>
                                                </div>

                                                <div class="comBasicList mgH">
                                                    <ul class="listGroup">
                                                        <li class="item"><b class="sTit">Installation Location&nbsp;</b> <i class="sTxt">Positioned approximately 21m behind the finish line on the top and bottom of the track, facing each other</i></li>
                                                        <li class="item"><b class="sTit">Features and Functionality</b> <i class="sTxt">Laser-based sensor equipment divided into an emitter for transmitting optical signals and a receiver for detecting them</i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>