<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Track Cyclist'],
                    subTitle: 'Racer Lookup',
                    subText: 'You can lookup<br/>detailed athlete information <b>including athlete profiles</b>and race records.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>

                <div class="layoutContArea">
                    <div class="cptWordFilter eng">
                        <div class="sectArea">
                            <div class="btnArea">
                                <ul class="btnGroup">
                                    <li class="btnItem">
                                        <button type="button" class="btn Primary">All</button> <!--선택 탭 class : Primary-->
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">A</button> 
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">B</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">C</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine" disabled>D</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine" disabled>E</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">F</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">G</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">H</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">I</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">J</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">K</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">L</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">M</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">N</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">O</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">P</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">Q</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">R</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">S</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">T</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">U</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">V</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">W</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">X</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">Y</button>
                                    </li>
                                    <li class="btnItem">
                                        <button type="button" class="btn gLine">Z</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cptPersonList">
                        <div class="sectArea">
                            <div class="comNoneData">
                                <p class="noneTxt">No athletes found.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>