<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Cycle Racing Guide','Understanding Cycle Racing'],
                    subTitle: 'Velodrome Guide',
                    subText: 'The stage of cycling <b>track races</b>!<br/>Let&apos;s learn about the <b>velodrome</b>!',
                    url: "../../",
                    visualClass : "bg02",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">Velodrome, a venue where the thrills of track cycling racing come to life</h2>
                        <p class="info">A velodrome is a racing venue specifically designed for cycling track events, typically oval or circular in shape. <br/> The velodrome ensures the safety of both the cyclists and spectators as its top priority. It is equipped with various facilities and advanced judging equipment necessary for the race.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>Velodrome Standards</h2>
                            </div>
            
                            <div class="comBasicList">
                                <ul class="listGroup">
                                    <li class="item">The specifications for cycling venues in accordance with the relevant laws governing cycling races <em>typically align with the international standards set by the Union Cycliste Internationale (UCI)</em>, which governs amateur cycling races and events at the international level.</li>
                                    <li class="item">Additionally, due to the specialized nature of operating cycling races professionally, separate facility standards for the operation of the race, including the fair and safe management of the race for participants, referees, broadcasters, etc., have been established. The basic requirements for the installation of spectator stands and amenities to provide a more comfortable viewing environment for the audience are also specified in the relevant laws and regulations.</li>
                                </ul>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <img src="../../images/contents/cont01_01_01_04_001.png" alt="Front View of the Velodrome">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cptEtcInfo">
                        <div class="infoBox">
                            <dl class="info">
                                <dt><em class="tit">A cycling track is not entirely flat. It has an inwardly sloped, oval shape.</em> <span class="subTit">Key Specifications for Track Facilities and Equipment (according to the Enforcement Decree of the Track Cycling and Boat Racing Law)</span></dt>
                                <dd>
                                    <div class="infoList">
                                        <ul class="listGroup">
                                            <li class="item">The Gwangmyeong Speedom features a <em>333.3m long track</em>, <em>9.8m wide</em>, with the <em>slope of the track ranging from 4 to 34°</em>.</li>
                                            <li class="item">Each lap must be <em>at least 300 metres</em> in length, and the track width should <em>exceed 7 metres</em>. It is not flat all over, but is <em>circular or oval with an inward slope</em>. The track&rsquo;s turns have a <em>sloping angle of between 25° and 45°, while the straight sections slope at between 2° and 15°</em>.</li>
                                            <li class="item"><em>The materials used are wood, asphalt, and concrete</em>, and a <em>escapeway of at least 4 metres must be secured</em> inside the track. Barrier facilities for the safety of spectators must also be provided.</li>
                                        </ul>
                                    </div> 
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>Velodrome Structure</h2>
                            </div>

                            <div class="comImgBox">
                                <div class="imgWrap"><img src="../../images/contents/cont01_01_01_04_002.png" alt="Sketch Map of the Velodrome Structure Refer to below for details"></div>
                            </div> 
                                        
                            <div class="comBasicList mgH">
                                <ul class="listGroup">
                                    <li class="item"><b class="sTit">Inner Lane</b> <i class="sTxt">A white line drawn on the innermost lane of the track serves as the standard measurement line for the track&apos;s total length (333.33 metres).</i><div class="addGuide">
                                            <p class="guide">Cyclists must remain to the outside of this line during the race.</p>
                                        </div>
                                    </li>
                                    <li class="item"><b class="sTit">Outer Lane</b> <i class="sTxt">The white line located on the outside of the inner lane, where a rider who occupies the position between the inner and outer lanes has the right of way for their race, protecting them from interference such as blocking the path of other riders or overtaking on the inside.</i></li>
                                    <li class="item"><b class="sTit">Stayer Line</b> <i class="sTxt">A blue line located about a third of the way across the width of the track.</i></li>
                                    <li class="item"><b class="sTit">100m Line</b> <i class="sTxt">This marks the first 100 metres of the race from the starting point. This line is used as a reference for potential restarts.</i></li>
                                    <li class="item"><b class="sTit">200m Line</b> <i class="sTxt">It indicates the 200m section leading up to the finish line in the final lap, and the 200m section record for the race is automatically measured from the point when the front wheel of the leading rider reaches this line.</i></li>
                                    <li class="item"><b class="sTit">30m Line</b> <i class="sTxt">A line 30 metres before the finish line. Cyclists who suffer falls or mechanical failures beyond this line may complete the race by carrying or pushing their bicycle.</i></li>
                                    <li class="item"><b class="sTit">Bell Line (Backstretch Line)</b> <i class="sTxt">It is a line drawn at the exact opposite point of the finish line (home stretch line), and the bell ringing is initiated from the moment when the leading rider of the final lap reaches this line. It is also referred to as the bell line.</i></li>
                                    <li class="item"><b class="sTit">Finish Line (Home Stretch Line)</b> <i class="sTxt">It is located 25m ahead of the starting position and is the line used as the reference for the change of laps. It is a 4cm thick line drawn in the centre of a 72cm wide white background.</i><div class="addGuide">
                                            <p class="guide">In the final lap, it refers to the finish line, which is the basis for determining the ranking.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>