<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KCYCLE 경륜",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
				<%- include('../_ejs/sub_top.ejs', {
					location: ['경륜가이드', '순위정보'],
					subTitle: '전체성적순위',
					subText: '경륜선수의 <br><b>전체성적순위</b>를 알려드려요.',
					url: "../../",
					visualClass: "bg03",
				}) %> 
				
				<div class="layoutContArea">
					
					<div class="comSubInfo">
						<h2 class="infoTit">각 경륜 시행체에 따라 경륜선수의 전체 성적의 순위를 확인하실 수 있습니다.</h2>
						<p class="info">전체, 광명, 창원, 부산의 평균득점, 최근 3회득점을 선택하시면 각 시행체별로 기준 순위리스트를 보실 수 있으며, 최근3회득점 순위는 당해년도 순위이오니 참고하시기 바랍니다.
						선수의 성적순위는 선수조회 메뉴에서 조회 가능한 선수만 제공합니다.</p>
					</div>
					
					<div class="cptSection">
						<div class="sectArea">

							<div class="comTitH2">
								<h2>경륜선수 전체성적순위</h2>
								<div class="right">
									<div class="frmBox">
										<select class="iptSlt">
											<option value="">2024년</option>
											<option value="">드롭다운</option>
										</select>
									</div>
								</div>
							</div>

							<div class="comDataTable">
								<div class="tableArea sizeXL">
									<table>
										<caption></caption>
										<colgroup>
											<col span="13" style="width:auto;">
										</colgroup>
										<thead>
											<tr>
												<th rowspan="2" class="btmLine">순위</th>
												<th rowspan="2" class="btmLine">선수명</th>
												<th rowspan="2" class="btmLine">기수</th>
												<th rowspan="2" class="btmLine">등급</th>
												<th colspan="4">평균득점</th>
												<th colspan="4">최근 3회득점</th>
												<th rowspan="2" class="btmLine">승률<br>(%)</th>
												<th rowspan="2" class="btmLine">연대율<br>(%)</th>
												<th rowspan="2" class="btmLine">삼연대율<br>(%)</th>
											</tr>
											<tr>
												<th><button type="button" class="sortIco tRed" title="내림차순으로 정렬">종합</button></th>
												<th><button type="button" class="sortIco" title="내림차순으로 정렬">부산</button></th><!-- class="sortIco up" title="오름차순으로 정렬" -->
												<th><button type="button" class="sortIco" title="내림차순으로 정렬">광명</button></th>
												<th><button type="button" class="sortIco" title="내림차순으로 정렬">창원</button></th>
												<th><button type="button" class="sortIco" title="내림차순으로 정렬">종합</button></th>
												<th><button type="button" class="sortIco" title="내림차순으로 정렬">부산</button></th>
												<th><button type="button" class="sortIco" title="내림차순으로 정렬">광명</button></th>
												<th><button type="button" class="sortIco" title="내림차순으로 정렬">창원</button></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>2</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>3</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>4</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>5</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>6</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>7</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>8</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>9</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>10</td>
												<td>임채빈</td>
												<td>25</td>
												<td>SS</td>
												<td>106.84</td>
												<td>106.66</td>
												<td>0</td>
												<td>108.83</td>
												<td>107.87</td>
												<td>106.91</td>
												<td>0</td>
												<td>105.97</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<!-- 순위 리스트는 50개로 노출 -->
										</tbody>
									</table>
								</div>
							</div>
					
							<!-- 페이징 --> <!-- 20241102 cptSection 내부로 이동 -->
							<div class="comPaging">
								<a class="start" href="#"></a>
								<a class="prev" href="#"></a>
								<ul class="numList">
									<li><a href="#">1</a></li>
									<li class="on"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
								<a class="next" href="#"></a>
								<a class="end" href="#"></a>
							</div>

						</div>
					</div>

				</div>
					
				<!-- 서브 바텀 (담당자) -->
				<%- include('../_ejs/sub_btm.ejs', {
					team: '경륜기획팀',
					name: '조준호',
					phone: '02-2067-5711',
					url: "../../",
				}) %>
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>