<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs_eng/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Track Cyclist','Ranking Information'],
                    subTitle: 'Top 30 Wins',
                    subText: 'We provide the <br><b>top 30 wins</b> of cycling athletes.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>
				
				<div class="layoutContArea">
					
					<div class="comSubInfo">
						<h2 class="infoTit">We provide a ranked list of athletes who have achieved the most 1st, 2nd, and 3rd place finishes in each grade.</h2>
						<p class="info">The race performance data for each round includes results from Gwangmyeong (Jamsil before 2006), Changwon, and Busan races.</p>
					</div>
					
					<div class="cptSection">
						<div class="sectArea">
							<div class="comTitH2">
								<h2>Information of Wins Ranking</h2>
							</div>

							<div class="comTabData">
                                <div class="tabMenuGroup tabDataSwiper">
                                    <ul class="tabMenu swiper-wrapper">
                                        <li class="tabItem swiper-slide">
                                            <button type="button" class="tabName orange on">Special Grade</button> <!--class 'orange' : 특선급 탭 컬러--></li>
                                        <li class="tabItem swiper-slide">
                                            <button type="button" class="tabName blue">Excellence Grade</button> <!--class 'blud' : 우수급 탭 컬러--></li>
                                        <li class="tabItem swiper-slide">
                                            <button type="button" class="tabName mint">Entry Grade</button> <!--class 'mint' : 선발급 탭 컬러--></li>
                                    </ul>
                                </div>
						
								<div class="right">
									<div class="frmBox">
										<select class="iptSlt">
											<option value="">2024</option>
											<option value="">Dropdown</option>
										</select>
									</div>
								</div>
                            </div>
							
                            <div class="comTitH3">
                                <h3>Special Grade</h3>
                            </div>

							<div class="comDataTable">
								<div class="tableArea sizeXL">
									<table>
										<caption></caption>
										<colgroup>
											<col span="11" style="width:auto;">
										</colgroup>
										<thead>
											<tr>
												<th>Ranking</th>
												<th>Athlete Name</th>
												<th>Date of Birth</th>
												<th>Hometown</th>
												<th>1st place</th>
												<th>2nd place</th>
												<th>3rd place</th>
												<th>Number of Competition Days</th>
												<th>Winning Percentage (%)</th>
												<th>Top Two Percentage (%)</th>
												<th>Top Three Percentage (%)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>2</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>3</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>4</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>5</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>6</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>7</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>8</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>9</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr>
											<tr>
												<td>10</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
												<td>1991</td>
												<td>Seoul</td>
												<td>34th</td>
												<td>2nd</td>
												<td>-</td>
												<td>36</td>
												<td>94</td>
												<td>100</td>
												<td>100</td>
											</tr><!-- 순위 리스트는 30개로 노출 --></tbody>
									</table>
								</div>
							</div>
							<!-- 페이징 --> 
							<div class="comPaging">
								<a class="start" href="#"></a> 
								<a class="prev" href="#"></a>
								<ul class="numList">
									<li><a href="#">1</a></li>
									<li class="on"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
								<a class="next" href="#"></a> 
								<a class="end" href="#"></a>
							</div>
						</div>
					</div>

				</div>
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs_eng/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>