<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KCYCLE 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경륜가이드', '경륜 즐기기'],
                    subTitle: '출주표 보는법',
                    subText: '경기의 모든 것을 담은 지도, <br/><b>출주표</b>란 무엇일까요?',
                    url: "../../",
                    visualClass : "bg01",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">출주표는 경주의 흐름과 다양한 선수들의 정보를 한눈에 확인할 수 있는 필수 데이터 입니다.</h2>
                        <p class="info">출주표는 각 경주에 출전하는 선수들의 정보, 과거 경기 결과, 현재 기세 등을 한눈에 확인할 수 있는 필수적인 정보 도구입니다.<br/>
                            출주표를 이용해 베팅 전략을 수립하고 선수나 경주를 비교 분석해 경주결과를 예측하는데 도움이 될 수 있습니다.</p>
                    </div>
                    
                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea">
                                <img src="../../images/contents/cont01_01_02_02_001.png" alt="경주 출주표. 상세 하단 참조" class="pcView">
                                <img src="../../images/contents/cont01_01_02_02_001_m.png" alt="경주 출주표. 상세 하단 참조" class="mView">
                            </div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">01</span>
                                            <span class="txt">경주정보구분</span>
                                        </div>
                                        <div class="desc">시간대별로 경주를 안내하고 경주 등급(선발, 우수, 특선)과 출발시간을 안내합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">02</span>
                                            <span class="txt">AI 우승예측</span>
                                        </div>
                                        <div class="desc">선수의 경주 기록, 전력, 입상 등 수집된 데이터를 분석하여 예측한 정보를 안내합니다.</div>
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">기어배수가 높을수록 속도가 붙으면 가속도가 높아지고 기어배수가 낮을수록 빠른스피드와 순발력이 높아집니다.</p>
                                        </div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">03</span>
                                            <span class="txt">기어배수</span>
                                        </div>
                                        <div class="desc">시간대별로 경주를 안내하고 경주 등급(선발, 우수, 특선)과 출발시간을 안내합니다</div>
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">기어배수가 높을수록 속도가 붙으면 가속도가 높아지고 기어배수가 낮을수록 빠른스피드와 순발력이 높아집니다.</p>
                                        </div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">04</span>
                                            <span class="txt">200m 기록</span>
                                        </div>
                                        <div class="desc">출전선수의 최근 출전 경주 회차의 3일(금,토,일요일) 경주기록 중 가장 빠른 기록을 안내합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">05</span>
                                            <span class="txt">입상/출전횟수</span>
                                        </div>
                                        <div class="desc">직전반기 첫 회차부터 현재까지 입상(1,2,3위)/출전횟수를 말합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">06</span>
                                            <span class="txt">훈련지</span>
                                        </div>
                                        <div class="desc">선수들이 현재 훈련하고 있는 장소를 안내합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">07</span>
                                            <span class="txt">승률</span>
                                        </div>
                                        <div class="desc">당해 연도 (당해 연도가 첫 출전인 경우 직전연도)에 1위 횟수를 출주한 총 횟수로 나눈 수치를 말합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">08</span>
                                            <span class="txt">연대율</span>
                                        </div>
                                        <div class="desc">당해 연도(당해 연도 첫전인 경우 직전연도)에 1위, 2위 횟수를 출주한 총 횟수를 나눈 수치를 말합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">09</span>
                                            <span class="txt">삼연대율</span>
                                        </div>
                                        <div class="desc">당해 연도(당해 연도 첫전인 경우 직전연도)에 1위, 2위, 3위 횟수를 더해 출주한 총 횟수를 나눈 수치를 말합니다.</div>
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">선수의 승률,연대율,삼연대율이 높을수록 입상 확률이 높아집니다.</p>
                                        </div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">10</span>
                                            <span class="txt">입상전법(선행, 젖히기, 추입, 마크)</span>
                                        </div>
                                        <div class="desc">직전반기 첫 회차부터 현재까지 입상(1,2,3위)한 전법의 횟수를 말합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">11</span>
                                            <span class="txt">등급</span>
                                        </div>
                                        <div class="desc">현재 선수의 전, 현 선수등급을 나타냅니다.<br/>
                                            등급은 특선급(SS,S1,S2,S3), 우수급(A1,A2,A3), 선발급(B1,B2,B3)으로 구분되며 정기등급 심사나 특별 승ㆍ강급에 의해 변경됩니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">12</span>
                                            <span class="txt">최근 3회 평균득점</span>
                                        </div>
                                        <div class="desc">
                                            <div class="comBasicList">
                                                <ul class="listGroup">
                                                    <li class="item"><em>광명득점 :</em> 광명 경륜에 출전하여 획득한 최근 3회(전전전회차,전전회차,전회차) 경주득점의 평균을 말합니다. (창원 경륜 출전자는 <em>창원득점,</em> 부산 경륜 출전자는 <em>부산득점</em>으로 표기됩니다.)</li>
                                                    <li class="item"><em>종합득점 :</em> 광명ㆍ창원ㆍ부산 경륜에 출전하여 획득한 최근 3회(전전전회차,전전회차,전회차) 경주득점의 평균을 말합니다.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">득점이 높을수록 입상확률이 높아요!</p>
                                        </div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">13</span>
                                            <span class="txt">최근 3회 종합순위</span>
                                        </div>
                                        <div class="desc">광명ㆍ창원ㆍ부산경륜에 최근 3회(전전전회차,전전회차,전회차) 출전하여 획득한 경주득점 평균의 종합순위를 말합니다.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea">
                                <img src="../../images/contents/cont01_01_02_02_002.png" alt="경주 출주표. 상세 하단 참조" class="pcView">
                                <img src="../../images/contents/cont01_01_02_02_002_m.png" alt="경주 출주표. 상세 하단 참조" class="mView">
                            </div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">14</span>
                                            <span class="txt">당 회차 선수 훈련내용</span>
                                        </div>
                                        <div class="desc">광명ㆍ창원ㆍ부산경륜에 최근 3회(전전전회차,전전회차,전회차) 출전하여 획득한 경주득점 평균의 종합순위를 말합니다.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea">
                                <img src="../../images/contents/cont01_01_02_02_003.png" alt="경주 출주표. 상세 하단 참조" class="pcView">
                                <img src="../../images/contents/cont01_01_02_02_003_m.png" alt="경주 출주표. 상세 하단 참조" class="mView">
                            </div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">15</span>
                                            <span class="txt">최근 3회차, 2회차, 1회차 회전 성적</span>
                                        </div>
                                        <div class="desc">최근 3회차, 2회차, 1회차 일차별 성적을 말합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">16</span>
                                            <span class="txt">금회성적</span>
                                        </div>
                                        <div class="desc">해당선수의 금회 1일차, 2일차 성적을 말합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">17</span>
                                            <span class="txt">입상순위 및 전법</span>
                                        </div>
                                        <div class="desc">해당경주의 입상순위 및 전법을 말합니다.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea">
                                <img src="../../images/contents/cont01_01_02_02_004.png" alt="경주 출주표. 상세 하단 참조" class="pcView">
                                <img src="../../images/contents/cont01_01_02_02_004_m.png" alt="경주 출주표. 상세 하단 참조" class="mView">
                            </div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">18</span>
                                            <span class="txt">상대전적(승/횟수)</span>
                                        </div>
                                        <div class="desc">직전 연도부터 현재까지 상대되는 두 선수가 동반 출전한 경주의 순위상 승패 기록의 누계를 말합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">19</span>
                                            <span class="txt">동반입상전적(입상/횟수)</span>
                                        </div>
                                        <div class="desc">직전 연도부터 현재까지 상대되는 두 선수의 동반 출전 경주에서 1위~3위로 동반입상한 횟수의 누계를 말합니다.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit">
                                            <span class="num">20</span>
                                            <span class="txt">경주규칙위반점 잔여점수</span>
                                        </div>
                                        <div class="desc">선수 개인별 위반점을 3회차 합산하여 50점 초과시 1회차 출전정지 처분을 받게되며, 50점은 소멸됩니다.</div>
                                        
                                        <div class="comAddGuide"> 
                                            <p class="guide">최근 3회차 외 전전회차 위반점(최근2회) 순차적 소멸 적용</p>
                                        </div>

                                        <ul class="arwArea">
                                            <li class="arwItem">
                                                <div class="comContTable">
                                                    <table class="basic">
                                                        <caption>경주규칙위반점 표 : 횟수별 별 구분기준을 포함한 표</caption>
                                                        <colgroup>
                                                            <col>
                                                            <col>
                                                            <col>
                                                            <col>
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="4">경주규칙위반점</th>
                                                            </tr>
                                                            <tr>
                                                                <th>최근 2회</th>
                                                                <th>최근 1회</th>
                                                                <th>금회</th>
                                                                <th>잔여점수</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>25</td>
                                                                <td>15</td>
                                                                <td>5</td>
                                                                <td>5</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                            <li class="arwItem">
                                                <div class="comContTable">
                                                    <table class="basic">
                                                        <caption>위반점 적용 표 : 위반점 적용 기준을 포함한 표</caption>
                                                        <colgroup>
                                                            <col>
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>위반점 적용</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>3회 위반점 45점 중 전전회차 위반점(25점) 소멸</td>
                                                            </tr>
                                                            <tr>
                                                                <td>차회출전 시 위반점 20점 적용 (잔여점수 30점)</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="arwArea">
                                            <li class="arwItem">
                                                <div class="comContTable">
                                                    <table class="basic">
                                                        <caption>경주규칙위반점 표 : 횟수별 별 구분기준을 포함한 표</caption>
                                                        <colgroup>
                                                            <col>
                                                            <col>
                                                            <col>
                                                            <col>
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th colspan="4">경주규칙위반점</th>
                                                            </tr>
                                                            <tr>
                                                                <th>최근 2회</th>
                                                                <th>최근 1회</th>
                                                                <th>금회</th>
                                                                <th>잔여점수</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>25</td>
                                                                <td>15</td>
                                                                <td>5</td>
                                                                <td>5</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                            <li class="arwItem">
                                                <div class="comContTable">
                                                    <table class="basic">
                                                        <caption>위반점 적용 표 : 위반점 적용 기준을 포함한 표</caption>
                                                        <colgroup>
                                                            <col>
                                                        </colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>위반점 적용</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>3회 위반점 합계 60점 -> 1회차 출전정지, 50점 소멸</td>
                                                            </tr>
                                                            <tr>
                                                                <td>차회출전 시 위반점 10점 적용 (잔여점수 40점)</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경륜기획팀',
                    name: '조준호',
                    phone: '02-2067-5711',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>