<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
	title: "KCYCLE Racing",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
			<%- include('../_ejs_eng/header.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Cycling','Track Cyclist','Ranking Information'],
                    subTitle: 'Cumulative Ranking for Most 1st Place Finishes',
                    subText: 'We provide <br><b>the cumulative ranking for most 1st place finishes</b> among cycling athletes.',
                    url: "../../",
                    visualClass: "bg02",
                }) %>
				
				<div class="layoutContArea">
					
					<div class="comSubInfo">
						<h2 class="infoTit">The cumulative ranking for most wins is provided for active athletes only.</h2>
						<p class="info">Please note that this data excludes wins from special races.</p>
					</div>
					
					<div class="cptSection">
						<div class="sectArea">

							<div class="comTitH2">
								<h2>Guide to Overall Cumulative Ranking for 1st Place Finishes</h2>
							</div>

							<div class="comDataTable">
								<div class="tableArea sizeXL">
									<table>
										<caption></caption>
										<colgroup>
											<col span="8" style="width:auto;">
										</colgroup>
										<thead>
											<th>Ranking</th>
											<th>Athlete Name</th>
											<th>Generation</th>
											<th><button type="button" class="sortIco tRed" title="Sort in descending order">Total Cumulative Wins</button></th>
											<th><button type="button" class="sortIco" title="Sort in descending order">Total Lead Cumulative Wins</button></th><!-- class="sortIco up" title="오름차순으로 정렬" --><th><button type="button" class="sortIco" title="Sort in descending order">Total Quick-timed Overtake Cumulative Wins</button></th>
											<th><button type="button" class="sortIco" title="Sort in descending order">Total Late Charge Cumulative Wins</button></th>
											<th><button type="button" class="sortIco" title="Sort in descending order">Total Mark Cumulative Wins</button></th>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>4</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>5</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>6</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>7</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>8</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>9</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<tr>
												<td>10</td>
												<td>Lim Chae-bin</td>
												<td>8</td>
												<td>547</td>
												<td>113</td>
												<td>162</td>
												<td>272</td>
												<td>-</td>
											</tr>
											<!-- 순위 리스트는 30개로 노출 -->
										</tbody>
									</table>
								</div>
							</div>
					
							<!-- 페이징 --> <!-- 20241102 cptSection 내부로 이동 -->
							<div class="comPaging">
								<a class="start" href="#"></a>
								<a class="prev" href="#"></a>
								<ul class="numList">
									<li><a href="#">1</a></li>
									<li class="on"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
								<a class="next" href="#"></a>
								<a class="end" href="#"></a>
							</div>

						</div>
					</div>

				</div>
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
			<%- include('../_ejs_eng/footer.ejs', {
				url: "../../"
			}) %>
		</div>
		<!-- //하단영역 -->

	</div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>