<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
    title: "KCYCLE Racing",
    url: "../../"
}) %>

<div class="cptErrorPage">
    <div class="sectArea">
        <div class="errorTitle error">
            <h1>An unexpected error has occurred.</h1>
            <p>Currently, we are unable to load the page<br class="mView"> you requested due to a system error. <br>We apologise for any inconvenience caused.<br class="mView"> Please try again later.</p>
        </div>
        
        <div class="comBtnGroup">
            <div class="alignC">
                <div class="btnBox min">
                    <button class="btn lg gLine pcW180">Refresh</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>